@import '../lux-file-style/lux-file-common';

lux-form-control {
  display: block;
}

.lux-file-container {
  input {
    width: auto !important;
  }

  lux-menu {
    height: 40px;
    margin-top: 0;

    ::ng-deep {
      > div {
        height: 40px;
      }

      .lux-menu-extended {
        justify-content: end;
        overflow: unset;

        lux-button {
          height: 15px;

          button {
            width: unset;
            min-width: 24px;
            margin-bottom: $outline-width;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
