@import '../lux-file-style/lux-file-common';

lux-form-control {
  display: block;
}

.lux-file-container {
  input {
    width: auto !important;
  }

  lux-menu {
    height: 40px;
    margin-top: 0;

    ::ng-deep {
      > div {
        height: 40px;
      }

      .lux-menu-extended {
        justify-content: end;
        overflow: unset;

        lux-button {

          button {
            width: unset;
            min-width: 24px;
            margin-right: 4px;
            margin-bottom: var(--lux-theme-outline-width);

            &:last-of-type {
              margin-right: 0px;
            }
            lux-icon.lux-button-icon mat-icon.lux-lx-icon-no-size {
              height: 14px !important;
              width: 14px !important;
              vertical-align: super;
            }
          }
        }
      } 
    }
  }
}
