<lux-master-detail-light>
  <lux-master-header-light>
    <lux-filter-form
      [luxShowAsCard]="true"
    >
      <lux-input-ac luxLabel="TestFilter" luxPlaceholder="Filteroption eingeben..."></lux-input-ac>
    </lux-filter-form>
  </lux-master-header-light>

  <lux-master-content-light>
    <lux-list>
      <ng-container *ngFor="let listItem of listItems">
        <lux-list-item [luxTitle]="listItem.title" [luxSubTitle]="listItem.subtitle" [luxSelected]="listItem.selected"
                       (luxClicked)="onClick(listItem)">
          <lux-list-item-icon>
            <lux-icon luxIconName="lux-cogs"></lux-icon>
          </lux-list-item-icon>
          <lux-list-item-content>
            Value: {{ listItem.value }}
          </lux-list-item-content>
        </lux-list-item>
    </ng-container>
    </lux-list>
  </lux-master-content-light>

  <lux-master-footer-light>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="row" fxLayoutGap="8px">
        <lux-button luxLabel="Sortieren" luxColor="primary" luxIconName="lux-amount-up-asc" [luxFlat]="false"></lux-button>
        <lux-button luxLabel="Aktualisieren" luxColor="primary" luxIconName="lux-interface-arrows-synchronize"[luxFlat]="false"></lux-button>
      </div>
      
      <lux-button luxLabel="Hinzufügen" luxTagId="add" luxIconName="lux-interface-add-1" luxColor="primary" [luxFlat]="false"></lux-button>
    </div>
  </lux-master-footer-light>

  <lux-detail-header-light class="header-example">
      <lux-list>
      
        <lux-list-item [luxTitle]="listItems[0].title" [luxSubTitle]="listItems[0].subtitle" 
                       >
          <lux-list-item-icon>
            <lux-icon luxIconName="lux-cogs"></lux-icon>
          </lux-list-item-icon>
          <lux-list-item-content>
            Value: {{ listItems[0].value }}
          </lux-list-item-content>
        </lux-list-item>
    
    </lux-list>
  </lux-detail-header-light>
  <lux-detail-content-light>
    <lux-tabs [luxTabAnimationActive]="false" [luxActiveTab]="0">
      <lux-tab luxTitle="Beispiel" luxIconName="lux-interface-setting-cog">
        <ng-template>Lorem Ipsum...</ng-template>
        
      </lux-tab>
      <lux-tab luxIconName="lux-interface-text-formatting-list-bullets">
        <ng-template>Lorem Ipsum...</ng-template>
      </lux-tab>
      <lux-tab luxIconName="lux-interface-delete-bin-2">
        <ng-template>Lorem Ipsum...</ng-template>
      </lux-tab>
    </lux-tabs>
  </lux-detail-content-light>
</lux-master-detail-light>