<example-base-structure
  exampleTitle="List"
  exampleIconName="fas fa-list-ul"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90list"
>
  <example-base-content>
    <lux-list
      [luxEmptyLabel]="emptyLabel"
      [luxEmptyIconName]="emptyIconName"
      [luxEmptyIconSize]="emptyIconSize"
      [(luxSelectedPosition)]="selectedPosition"
      (luxFocusedItemChange)="log(showOutputEvents, 'luxFocusedItemChange', $event)"
      (luxFocusedPositionChange)="log(showOutputEvents, 'luxFocusedPositionChange', $event)"
      (luxSelectedPositionChange)="log(showOutputEvents, 'luxSelectedPositionChange', $event)"
    >
      <lux-list-item
        [luxTitle]="item.title"
        [luxSubTitle]="item.subTitle"
        [luxTitleLineBreak]="item.lineBreak"
        [luxSelected]="item.selected"
        (luxClicked)="click($event)"
        *ngFor="let item of items"
      >
        <lux-list-item-icon>
          <lux-icon [luxIconName]="item.iconName"></lux-icon>
        </lux-list-item-icon>
        <lux-list-item-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
            commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
          </p>
        </lux-list-item-content>
      </lux-list-item>
    </lux-list>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="example-highlight-config-option"
      [(luxValue)]="emptyLabel"
      luxName="list_luxEmptyLabel"
      luxLabel="luxEmptyLabel"
      luxHint="Diese Property stellt das Label ein, welches bei einer leeren Liste angezeigt werden soll."
    >
    </lux-input>
    <div class="example-highlight-config-option" fxLayout="column">
      <lux-input
        [(luxValue)]="emptyIconName"
        luxName="list_luxEmptyIconName"
        luxLabel="luxEmptyIconName"
        luxHint="Über diese Property wird das Icon bestimmt, das in einer leeren Liste angezeigt werden soll."
      >
      </lux-input>
      <lux-select
        [(luxSelected)]="emptyIconSize"
        [luxOptions]="['1x', '2x', '3x', '4x', '5x']"
        luxLabel="luxEmptyIconSize"
        luxHint="Über diese Property wird die Größe es luxEmptyIcons bestimmt."
      >
      </lux-select>
    </div>
    <lux-input
      class="example-highlight-config-option"
      [(luxValue)]="selectedPosition"
      luxName="list_luxSelectedPosition"
      luxLabel="luxSelectedPosition"
      luxHint="Diese Property bestimmt welches ListItem selektiert werden soll."
      luxType="number"
    >
    </lux-input>
  </example-base-simple-options>
  <example-base-advanced-options *ngIf="items.length > 0">
    <lux-accordion [luxMulti]="false" [luxMode]="'flat'">
      <lux-panel *ngFor="let item of items">
        <lux-panel-header-title>
          {{ item.title }}
        </lux-panel-header-title>
        <lux-panel-content>
          <div class="example-highlight-config-option" fxLayout="column">
            <lux-input
              [(luxValue)]="item.title"
              luxName="list_luxTitle"
              luxLabel="luxTitle"
              luxHint="Diese Property bestimmt den Titel des Items."
            >
            </lux-input>
            <lux-input
              [(luxValue)]="item.subTitle"
              luxName="list_luxSubTitle"
              luxLabel="luxSubTitle"
              luxHint="Diese Property bestimmt den Untertitel (grau) des Items."
            >
            </lux-input>
          </div>
          <lux-input luxName="list_luxIconName" class="example-highlight-config-option" [(luxValue)]="item.iconName" luxLabel="luxIconName">
            <lux-form-hint>
              Der Name des Icons für dieses Item.<br />
              Das Icon wird über Content-Projection eingebunden, die restlichen Properties hierfür entfallen der
              Einfachheit halber für das Beispiel.
            </lux-form-hint>
          </lux-input>
          <lux-toggle
            class="example-highlight-config-option"
            luxLabel="luxTitleLineBreak"
            luxHint="Dieser Flag bestimmt ob die Titel-Zeilen umgebrochen oder mit '...' abgekürzt werden."
            [(luxChecked)]="item.lineBreak"
          >
          </lux-toggle>
          <lux-toggle class="example-highlight-config-option" luxLabel="luxSelected" [(luxChecked)]="item.selected">
            <lux-form-hint>
              Mithilfe dieses Flags kann das Item hervorgehoben dargestellt werden.<br />
              In diesem Beispiel sorgt ein Klick auf ein Item dafür, dass dieses dann als selektiert gekennzeichnet
              wird.
            </lux-form-hint>
          </lux-toggle>
        </lux-panel-content>
      </lux-panel>
    </lux-accordion>
  </example-base-advanced-options>
  <example-base-options-actions>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="end start">
      <lux-button
        luxLabel="Leeren"
        luxColor="warn"
        [luxRaised]="true"
        [luxDisabled]="items.length === 0"
        (luxClicked)="clear()"
      >
      </lux-button>
      <lux-button luxLabel="Füllen" luxColor="primary" [luxRaised]="true" (luxClicked)="fill(5)"> </lux-button>
    </div>
  </example-base-options-actions>
</example-base-structure>
