<example-base-structure
  exampleTitle="Image"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90image-v18"
>
  <example-base-content [exampleCentered]="true">
    <lux-image
      [ngClass]="{ 'show-frame': showImageFrame }"
      [luxImageSrc]="imgSrc"
      [luxImageWidth]="imgWidth"
      [luxImageHeight]="imgHeight"
      [luxRawSrc]="imgRawSrc"
    >
    </lux-image>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac luxLabel="Frame anzeigen" [(luxChecked)]="showImageFrame" [luxNoTopLabel]="true">
      <lux-form-hint>
        Frame für das HTML-Element des Bildes anzeigen.<br />
        Kann veranschaulichen, ob das Bild selbst komplett mit dem umgebenden Element skaliert.
      </lux-form-hint>
    </lux-toggle-ac>

    <lux-select-ac
      [(luxSelected)]="imgSrc"
      [luxOptions]="imgSrcArr"
      luxLabel="luxImageSrc"
      luxHint="Diese Property bestimmt den Pfad zum Bild."
    >
    </lux-select-ac>
    <lux-toggle-ac luxLabel="luxRawSrc" [(luxChecked)]="imgRawSrc" [luxNoTopLabel]="true">
      <lux-form-hint>
        Mithilfe dieses Flags kann die Bearbeitung/Prüfung des übergebenen <i>luxImgSrc</i> deaktiviert werden.<br />
        Dadurch ist es z.B. möglich, relative Links (siehe letzte Option in dem Select-Feld) darzustellen.<br />
        Hinweis: Weil es kein Backend gibt, wird das Bild hier nicht korrekt dargestellt.Ein Blick in die Developer-Tools zeigt aber eine
        theoretisch korrekte Image-Source an.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-input-ac
      [(luxValue)]="imgWidth"
      luxLabel="luxImageWidth"
      luxHint="Bestimmt die Breite des Bildes, kann dabei einen beliebigen Wert enthalten (z.B. 100px oder 20%)."
    >
    </lux-input-ac>
    <lux-input-ac
      [(luxValue)]="imgHeight"
      luxLabel="luxImageHeight"
      luxHint="Bestimmt die Höhe des Bildes, kann dabei einen beliebigen Wert enthalten (z.B. 100px oder 20%)."
    >
    </lux-input-ac>
  </example-base-simple-options>
</example-base-structure>
