<example-base-structure
  exampleTitle="Tabs"
  exampleIconName="fas fa-columns"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90tabs"
>
  <example-base-content>
    <div [ngStyle]="{ backgroundColor: backgroundColor }">
      <lux-tabs
        [luxActiveTab]="activeTab"
        [luxTabAnimationActive]="animationActive"
        [luxIconSize]="iconSize"
        [luxDisplayDivider]="displayDivider"
        [luxLazyLoading]="lazyLoading"
        (luxActiveTabChanged)="activeTabChanged($event)"
      >
        <lux-tab
          [luxTitle]="tab.title"
          [luxDisabled]="tab.disabled"
          [luxIconName]="tab.iconName"
          [luxImageSrc]="tab.imageSrc"
          [luxImageAlign]="tab.imageAlign"
          [luxImageHeight]="tab.imageHeight"
          [luxImageWidth]="tab.imageWidth"
          [luxShowNotification]="tab.showNotification"
          [luxCounterCap]="tab.counterCap"
          [luxCounter]="tab.counter"
          [luxTagIdHeader]="tab.title + 'header'"
          [luxTagIdContent]="tab.title + '-content'"
          *ngFor="let tab of tabs; let i = index"
        >
          <ng-template>
            <div class="lux-highlight-section column">
              <lux-input
                luxLabel="Beispiel Eingabefeld #{{ 1 + i * 3 }}"
                luxTagId="BE_{{ 1 + i * 3 }}"
                luxAutocomplete="off"
                [luxNoBottomLabel]="true"
              ></lux-input>
              <lux-input
                luxLabel="Beispiel Eingabefeld #{{ 2 + i * 3 }}"
                luxTagId="BE_{{ 1 + i * 3 }}"
                luxAutocomplete="off"
                [luxNoBottomLabel]="true"
              ></lux-input>
              <lux-textarea
                luxLabel="Beispiel Eingabefeld #{{ 3 + i * 3 }}"
                luxTagId="BE_{{ 1 + i * 3 }}"
                luxAutocomplete="off"
                [luxNoBottomLabel]="true"
              ></lux-textarea>
              <br>
              <app-tabs-content (created)="tabContentCreated(tab)"></app-tabs-content>
            </div>
          </ng-template>
        </lux-tab>
      </lux-tabs>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="lux-highlight-section"
      luxLabel="luxActiveTab"
      luxHint="Diese Property ermöglicht es, das aktuell aktive Tab zu setzen."
      luxType="number"
      [luxNumberAlignLeft]="true"
      [(luxValue)]="activeTab"
    >
    </lux-input>
    <lux-select
      class="lux-highlight-section"
      luxLabel="luxIconSize"
      luxHint="Die Property setzt die (relative) Icon-Größe für alle Tabs."
      [(luxSelected)]="iconSize"
      [luxOptions]="['1x', '2x', '3x', '4x', '5x']"
    >
    </lux-select>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxTabAnimationActive"
      luxHint="Dieser Flag aktiviert die horizontale Animation des Tab-Contents."
      [(luxChecked)]="animationActive"
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxDisplayDivider"
      luxHint="Dieser Flag schaltet die Trennlinie zwischen Tab-Header und Tab-Content ein."
      [(luxChecked)]="displayDivider"
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxLazyLoading"
      luxHint="Wenn dieser Flag den Wert 'true' besitzt, werden die Inhalte der einzelnen Tabs erst zum Aktivierungszeitpunkt erzeugt."
      [(luxChecked)]="lazyLoading"
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <lux-input
      luxName="button_background_Color"
      class="lux-highlight-section"
      [(luxValue)]="backgroundColor"
      luxLabel="Hintergrundfarbe"
    >
      <lux-form-hint>Kontrast zwischen Element und Hintergrund prüfen.</lux-form-hint>
    </lux-input>
  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-accordion [luxMulti]="false" luxMode="flat">
      <lux-panel *ngFor="let tab of tabs; let i = index">
        <lux-panel-header-title> Tab #{{ i + 1 }} </lux-panel-header-title>
        <lux-panel-content fxLayout="column" fxLayoutGap="0">
          <lux-input
            class="lux-highlight-section"
            luxLabel="luxTitle"
            luxHint="Diese Property ermöglicht es, den Titel des Tabs festzulegen."
            [(luxValue)]="tab.title"
          >
          </lux-input>
          <div class="lux-highlight-section column">
            <lux-input
              luxLabel="luxIconName"
              luxHint="Diese Property legt das Icon für den Tab fest."
              [(luxValue)]="tab.iconName"
            >
            </lux-input>
            <lux-input
              luxLabel="luxImageSrc"
              [luxDisabled]="!!tab.iconName"
              luxHint="Diese Property greift nur, wenn es kein luxIconName gibt."
              [(luxValue)]="tab.imageSrc"
            >
            </lux-input>
            <lux-input
              luxLabel="luxImageAlign"
              luxHint="Werte: left, center oder right"
              [(luxValue)]="tab.imageAlign"
            >
            </lux-input>
            <lux-layout-form-row>
              <lux-input
                luxLabel="luxImageWidth"
                [(luxValue)]="tab.imageWidth"
                *luxLayoutRowItem="{}"
              >
              </lux-input>
              <lux-input
                luxLabel="luxImageHeight"
                [(luxValue)]="tab.imageHeight"
                *luxLayoutRowItem="{}"
              >
              </lux-input>
            </lux-layout-form-row>
          </div>
          <lux-toggle
            class="lux-highlight-section"
            luxLabel="luxDisabled"
            luxHint="Dieses Flag ermöglicht es, den Tab zu deaktivieren."
            [(luxChecked)]="tab.disabled"
            [luxNoTopLabel]="true"
          >
          </lux-toggle>
          <lux-toggle
            class="lux-highlight-section"
            luxLabel="luxShowNotification"
            [(luxChecked)]="tab.showNotification"
            [luxNoTopLabel]="true"
          >
            <lux-form-hint>
              Diese Property aktiviert eine Notifizierungsansicht an dem Tab.<br />
              Wenn 'undefined', wird nichts angezeigt. Bei 'true' wird ein blauer Kreis dargestellt und bei 'false' ein
              ausgegrauter Kreis.
            </lux-form-hint>
          </lux-toggle>
          <div class="lux-highlight-section column">
            <lux-toggle
              luxLabel="luxCounter aktiv"
              (luxCheckedChange)="$event ? (tab.counter = 0) : (tab.counter = undefined)"
              [luxNoTopLabel]="true"
            >
              <lux-form-hint>
                Wenn der luxCounter einen Zahlenwert besitzt, wird dieser auch an dem Tab angezeigt.<br />
                Erhält er den Wert null/undefined, wird kein Counter dargestellt.
              </lux-form-hint>
            </lux-toggle>
            <lux-input
              luxLabel="luxCounter"
              [(luxValue)]="tab.counter"
              luxType="number"
              [luxNumberAlignLeft]="true"
              [luxDisabled]="tab.counter === undefined"
            >
              <lux-form-hint>
                Die Property definiert den aktuellen Zähler für den Tab.<br />
                Wenn der Wert den luxCounterCap überschreitet, wird die Zahl abgekürzt.
              </lux-form-hint>
            </lux-input>
            <lux-input
              luxLabel="luxCounterCap"
              luxHint="Diese Property bestimmt die Obergrenze für luxCounter."
              luxType="number"
              [luxNumberAlignLeft]="true"
              [(luxValue)]="tab.counterCap"
            >
            </lux-input>
          </div>
        </lux-panel-content>
      </lux-panel>
    </lux-accordion>
  </example-base-advanced-options>
</example-base-structure>
