@import '../../../../../../theming/luxtheme';

$offset-size: 40px;
$offset: 8px;
$sideNavZIndex: 10000;
$colorActive: #335c85;
$colorDisabled: gray;

.lux-side-nav {
  position: fixed;
  top: 65px;
  left: -200%;
  bottom: 0;
  background: white;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);

  .lux-side-nav-header {
    padding: $offset;
    position: relative;
    border-bottom: 1px solid $dark-dividers;
  }

  .lux-side-nav-content {
    overflow-y: auto;
    min-height: 100px;
    min-width: 300px;

    .lux-side-nav-dashboard-link {
      margin-top: 8px;
    }

    ::ng-deep {
      lux-button button {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
      }

      lux-button button:not([disabled]) {
        &:hover {
          background-color: unset !important;
        }

        &:focus {
          background-color: unset !important;
          outline-width: 0 !important;
          outline-style: none !important;
        }
      }

      .lux-side-nav-item {
        height: 40px;
        min-height: 40px;
        margin: 2px 8px;

        cursor: pointer;
        &.lux-side-nav-disabled {
          cursor: default;
        }

        .lux-side-nav-item-icon {
          flex: 1 1 $offset-size;
          max-width: $offset-size;
          min-width: $offset-size;
          box-sizing: border-box;
          margin: 0;
          text-align: center;

          color: $colorActive;
          &.lux-side-nav-disabled {
            color: $colorDisabled;
          }
        }

        .lux-side-nav-label {
          color: $colorActive;

          &.lux-side-nav-disabled {
            color: $colorDisabled;
          }
        }

        .lux-side-nav-item-expansion-icon {
          color: $colorActive;

          &.lux-side-nav-disabled {
            color: $colorDisabled;
          }
        }
      }

      .lux-side-nav-sub-item {
        margin-left: $offset-size - $offset;
      }

      .lux-side-nav-sub-item-last-child {
        padding-bottom: 24px;
      }
    }
  }

  .lux-side-nav-footer {
    padding: $offset;
    position: relative;
    border-top: 1px solid $dark-dividers;
  }
}

.lux-side-nav-overlay {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: $black-12-opacity;
}

.lux-side-nav-z-index {
  z-index: $sideNavZIndex;
}

.lux-side-nav-overlay-z-index {
  z-index: $sideNavZIndex - 1;
}
