<div [ngStyle]="{ visibility: visibility }">
  <div
    class="lux-side-nav lux-side-nav-z-index"
    [@expandHide]="{ value: sideNavExpanded ? 'expanded' : 'void', params: { width: width + 'px' } }"
    (@expandHide.done)="updateSideNavAfterAnimationIsFinished()"
    [luxAriaRole]="luxAriaRoleNavigationLabel ? 'navigation' : undefined"
    [luxAriaLabel]="luxAriaRoleNavigationLabel"
    [ngStyle]="{ top: top, left: left, bottom: bottom }"
    #sideNav
  >
    <div class="lux-side-nav-header" #sideNavHeader>
      <ng-content select="lux-side-nav-header"></ng-content>
    </div>
    <div class="lux-side-nav-content lux-flex lux-flex-col" [ngStyle]="{ height: height + 'px', visibility: visibility }">
      <ng-container *ngIf="luxDashboardLink">
        <div class="lux-side-nav-item lux-nowrap lux-side-nav-dashboard-link lux-flex lux-place-content-center">
          <lux-icon
            luxIconName="lux-interface-edit-grid"
            luxIconSize="40px"
            luxPadding="9px"
            luxMargin="0 0 0 4px"
            class="lux-side-nav-item-icon"
          >
          </lux-icon>

          <lux-link
            class="lux-flex lux-flex-grow-1 lux-flex-grow-1 lux-flex-shrink-1 lux-flex-basis-auto"
            [luxLabel]="luxDashboardLinkTitle"
            [luxBlank]="luxOpenLinkBlank"
            [luxHref]="luxDashboardLink"
          ></lux-link>
        </div>
        <lux-divider></lux-divider>
      </ng-container>
      <ng-container *ngFor="let sideNavItem of directSideNavItems">
        <ng-container [ngTemplateOutlet]="sideNavItem.templateRef ?? null"></ng-container>
      </ng-container>
      <ng-content select="lux-side-nav-item"></ng-content>
    </div>
    <div class="lux-side-nav-footer" #sideNavFooter>
      <ng-content select="lux-side-nav-footer"></ng-content>
    </div>
  </div>
  <div
    class="lux-side-nav-overlay lux-side-nav-overlay-z-index"
    [ngStyle]="{ top: top, left: left, bottom: bottom, right: right }"
    *ngIf="sideNavExpanded"
    [@expandHideOverlay]="sideNavExpanded ? 'expanded' : 'void'"
    (click)="close()"
  ></div>
</div>
