<div [ngStyle]="{ visibility: visibility }">
  <div
    class="lux-side-nav lux-side-nav-z-index"
    [@expandHide]="{ value: sideNavExpanded ? 'expanded' : 'void', params: { width: width + 'px' } }"
    (@expandHide.done)="updateSideNavAfterAnimationIsFinished()"
    [luxAriaRole]="luxAriaRoleNavigationLabel ? 'navigation' : undefined"
    [luxAriaLabel]="luxAriaRoleNavigationLabel"
    #sideNav
  >
    <div class="lux-side-nav-header" #sideNavHeader>
      <ng-content select="lux-side-nav-header"></ng-content>
    </div>
    <div class="lux-side-nav-content" fxLayout="column" [ngStyle]="{ height: height + 'px', visibility: visibility }">
      <ng-container *ngIf="luxDashboardLink">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="lux-side-nav-item lux-nowrap lux-side-nav-dashboard-link"
        >
          <lux-icon luxIconName="fa-th" class="lux-side-nav-item-icon"> </lux-icon>

          <lux-link
            fxFlex="1 1 auto"
            [luxLabel]="luxDashboardLinkTitle"
            [luxBlank]="luxOpenLinkBlank"
            [luxHref]="luxDashboardLink"
          ></lux-link>
        </div>
        <lux-divider></lux-divider>
      </ng-container>
      <ng-container *ngFor="let sideNavItem of directSideNavItems">
        <ng-container [ngTemplateOutlet]="sideNavItem.templateRef"></ng-container>
      </ng-container>
      <ng-content select="lux-side-nav-item"></ng-content>
    </div>
    <div class="lux-side-nav-footer" #sideNavFooter>
      <ng-content select="lux-side-nav-footer"></ng-content>
    </div>
  </div>
  <div
    class="lux-side-nav-overlay lux-side-nav-overlay-z-index"
    *ngIf="sideNavExpanded"
    [@expandHideOverlay]="sideNavExpanded ? 'expanded' : 'void'"
    (click)="close()"
  ></div>
</div>
