$offset-size: 40px;
$offset: 8px;
$sideNavZIndex: 11000;

.lux-side-nav {
  position: fixed;

  .lux-side-nav-header {
    padding: $offset;
    position: relative;
  }

  .lux-side-nav-content {
    overflow-y: auto;
    min-height: 100px;
    min-width: 300px;

    .lux-side-nav-dashboard-link {
      margin-top: 8px;
    }

    ::ng-deep {
      lux-button button {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
      }

      lux-button button:not([disabled]) {
        &:hover {
          background-color: unset !important;
        }

        &:focus {
          background-color: unset !important;
          outline-width: 0 !important;
          outline-style: none !important;
        }
      }

      .lux-side-nav-item {
        height: 40px;
        min-height: 40px;
        margin: 2px 8px;
        vertical-align: middle;
        cursor: pointer;
        &.lux-side-nav-disabled {
          cursor: default;
        }

        .lux-side-nav-item-icon {
          flex: 1 1 $offset-size;
          max-width: $offset-size;
          min-width: $offset-size;
          box-sizing: border-box;
          margin: 0;
          text-align: center;

          mat-icon.lux-lx-icon-no-size ::ng-deep {
            width: 18px;
            height: 18px;
            vertical-align: middle;
          }
        }
      }

      .lux-side-nav-sub-item {
        margin-left: $offset-size - $offset;
      }

      .lux-side-nav-sub-item-last-child {
        padding-bottom: 24px;
      }
    }
  }

  .lux-side-nav-footer {
    padding: $offset;
    position: relative;
  }
}

.lux-side-nav-overlay {
  position: fixed;
  opacity: 0;
}

.lux-side-nav-z-index {
  z-index: $sideNavZIndex;
}

.lux-side-nav-overlay-z-index {
  z-index: $sideNavZIndex - 1;
}
