::ng-deep { 
  .lux-theme-authentic {
    .example-base-structure {
      max-height: calc(100vh - 178px);
    }
  }

  .lux-theme-green {
    .example-base-structure {
      max-height: calc(100vh - 131px);
    }
  }
} 

.example-lux-stepper-large {
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.60);
  &.authentic-example {
    box-shadow: none;
  }
}

lux-stepper-large {
  background-color: var(--lux-theme-app-data-bg);
  &.authentic-example {
    background-color: transparent;
  }
}

::ng-deep .example-lux-stepper-large-h2 {
  margin-top: 4px;
}
