.example-lux-stepper-large {
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.60);
}

lux-stepper-large {
  background-color: var(--lux-theme-app-data-bg);
}

::ng-deep .example-lux-stepper-large-h2 {
  margin-top: 4px;
}
