@import '../lux-file-style/lux-file-common';

.lux-file-list {
  width: 100%;
  border-radius: 4px;
  position: relative;

  lux-button {
    ::ng-deep {
      button:not([disabled]) {
        .mat-button-focus-overlay {
          display: none;
        }
      }
    }
  }

  lux-card-actions ::ng-deep,
  .lux-file-icon-hint mat-hint {
    font-size: 12px;
  }

  ::ng-deep mat-card-title {
    @include minified-button;

    > div {
      min-height: 45px;
    }
  }

  .lux-file-list-entries {
    .lux-file-list-entry {
      min-height: 60px;

      .lux-file-list-entry-label:not(.lux-file-list-entry-label-disabled) {
        -ms-word-break: break-all;
        word-break: break-all;
      }
    }
  }

  // Für den disabled-Zustand entsprechend die Elemente umstylen
  &.lux-file-list-disabled {
    pointer-events: none;
  }
}
