<example-base-structure exampleTitle="Breadcrumbs" exampleDocumentationHref="TODO">
  <example-base-content>
    <lux-breadcrumbs [luxEntries]="entries" [luxEmitEntry]="toggleEntryEvent" (luxClicked)="onClickedEntry($event)"></lux-breadcrumbs>
    <example-value *ngIf="toggleEntryEvent" [value]="clickedEntry"></example-value>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac luxLabel="Event ausgeben" [(luxChecked)]="toggleEntryEvent" [luxNoTopLabel]="true" ></lux-toggle-ac>
    <div *ngFor="let item of entries; index as i">
      <h3>Breadcrumbs Eintrag #{{i+1}}</h3>
      <lux-input-ac [(luxValue)]="item.name"
      luxLabel="Name"
      (luxValueChange)="updateView()"></lux-input-ac>
      <lux-input-ac [(luxValue)]="item.url"
      luxLabel="Url"
      (luxValueChange)="updateView()"></lux-input-ac>
    </div>
    <lux-button  luxIconName="lux-interface-add-circle" [luxRounded]="true" luxColor="primary" (luxClicked)="addEntry()"></lux-button>
  </example-base-simple-options>
</example-base-structure>
