<example-base-structure
  exampleTitle="Badge"
  exampleIconName="fas fa-ribbon"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90badge"
>
  <example-base-content [exampleCentered]="true" fxLayout="column">
    <div [ngStyle]="{ backgroundColor: backgroundColor }">
      <lux-badge [luxIconName]="iconName" [luxColor]="color" [luxUppercase]="uppercase" *ngFor="let color of colors">
        <lux-label luxId="bsp-badge-label">
          {{ text }}
        </lux-label>
      </lux-badge>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-input
      class="example-highlight-config-option"
      luxLabel="Badge Text"
      luxHint="Der Text-Inhalt der Badge wird über Content-Projection mithilfe der lux-label Component eingebunden."
      [(luxValue)]="text"
    >
    </lux-input>
    <lux-input
      class="example-highlight-config-option"
      luxLabel="luxIconName"
      luxHint="Diese Property definiert das Icon, welches in dem Badge angezeigt wird."
      [(luxValue)]="iconName"
    >
    </lux-input>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="uppercase"
      luxLabel="luxUppercase"
      luxHint="Die Property ermöglicht eine Uppercase-Darstellung des Textes in der Badge einzuschalten."
    >
    </lux-toggle>
    <lux-input
      luxName="button_background_Color"
      class="example-highlight-config-option"
      [(luxValue)]="backgroundColor"
      luxLabel="Hintergrundfarbe"
    >
      <lux-form-hint>Kontrast zwischen Element und Hintergrund prüfen.</lux-form-hint>
    </lux-input>
  </example-base-simple-options>
</example-base-structure>
