:host {
  position: relative;

  ::ng-deep {
    .mat-checkbox-label {
      -ms-word-break: break-word;
      word-break: break-word;
      white-space: normal;
    }

    .mat-checkbox-ripple {
      display: none;
    }

    .mat-checkbox-inner-container {
      width: 20px;
      height: 20px;
      margin-top: -2px;
    }
  }
}



.lux-checkbox-wrapper {
  padding-bottom: 12px;
}

.lux-form-label {
  cursor: pointer;
}
