.toggle-agb-container {
  height: 75px;
  display: flex;
  place-content: center start;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column;
  gap: 16px;
  flex: 1 1 100%;
}

lux-button.info-btn ::ng-deep mat-icon {
  width: 30px !important;
  height: 30px !important;
}
