::ng-deep .lux-autocomplete-panel-ac {
  // zusätzliche Regeln, damit mat-option auch mehrzeilig sein kann
  mat-option.lux-option-multiline {
    padding: 16px;
    height: unset;
    
    .mat-option-text {
      white-space: pre-line;
      text-overflow: unset;
      word-wrap: break-word;
      line-height: normal;
    }
  }
}
