<lux-dialog-structure>
  <lux-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="0 0 auto"> {{nachricht.betreff}} </span>
      <span fxFlex="0 0 auto">
        <lux-icon luxIconName="fas fa-comments"></lux-icon>
      </span>
    </div>
  </lux-dialog-title>
  <lux-dialog-content>
    <div [innerHTML]="nachricht.message | parselink"></div>
    <div class="messageValidity"> Gültig: {{nachricht.validFrom | date: 'dd.MM.y HH:mm' }} - {{nachricht.validTo | date: 'dd.MM.y HH:mm'}}</div>
  </lux-dialog-content>
  <lux-dialog-actions>
    <div fxLayout="row" fxLayoutGap="10px">
      <lux-button luxLabel="OK" luxColor="primary" luxRaised="true" (luxClicked)="confirm()"></lux-button>
    </div>
  </lux-dialog-actions>
</lux-dialog-structure>
