<!-- Navigations-Menu -->
<lux-menu
  [luxDisplayExtended]="!mobileView"
  [luxMaximumExtended]="luxNavMenuMaximumExtended"
  class="lux-header-ac-nav-menu"
  [ngClass]="{ 'lux-mobile': mobileView }"
  luxClassName="lux-header-ac-nav"
  luxTagId="app_header_nav_menu"
  (luxMenuClosed)="onNavMenuClosed()"
  (luxMenuOpened)="onNavMenuOpend()"
>
  <ng-container *ngFor="let navMenuItem of menuItemComponents; let navIndex = index">
    <lux-menu-item
      [luxLabel]="navMenuItem.luxLabel"
      [luxIconName]="navMenuItem.luxIconName"
      [luxTagId]="navMenuItem.luxLabel"
      [luxAlwaysVisible]="navMenuItem.luxAlwaysVisible"
      [luxDisabled]="navMenuItem.luxDisabled"
      [luxFlat]="false"
      [luxRaised]="false"
      [luxStroked]="false"
      [luxRounded]="false"
      luxColor="primary"
      [luxClass]="navMenuItem.luxSelected ? 'nav-item-selected' : ''"
      [luxPrio]="navMenuItem.luxPrio"
      [luxButtonBadge]="navMenuItem.luxButtonBadge"
      [luxButtonBadgeColor]="navMenuItem.luxButtonBadgeColor"
      class="nav-item"
      (luxClicked)="navMenuItemClicked(navMenuItem, $event)"
    >
    </lux-menu-item
    >>
  </ng-container>
  <lux-menu-trigger>
    <lux-button
      [luxRounded]="true"
      luxIconName="lux-interface-setting-menu-1"
      luxColor="primary"
      class="nav-menu-trigger-ac"
      [ngClass]="{ 'lux-mobile': mobileView, 'menu-opened': navMenuOpened }"
      luxAriaLabel="Benutzermenü"
      i18n-luxAriaLabel="@@luxc.app-header.user.menu.trigger"
      aria-haspopup="true"
      #customTrigger
      luxTagId="lux-nav-menu-trigger-ac"
    >
    </lux-button>
  </lux-menu-trigger>
</lux-menu>
