@import '../../../../../theming/luxtheme';

@mixin minified-button {
  lux-button {
    cursor: pointer !important;
    display: flex;
    align-items: center;

    ::ng-deep button {
      padding: 0;
      width: 45px;
      min-width: 45px;
      height: 30px;
      display: flex;
      justify-content: center;

      &:focus {
        background: mat-color($lux-primary, 0.1);
      }
    }
  }
}

/* Gemeinsames Stylen der einzelnen File-Components */
:host {
  display: flex;
  position: relative;

  &.lux-file-highlight {
    // Hart alle Events für alle Kind-Elemente unterbinden, weil sonst kaskadierend die drag-Events aufgerufen werden
    ::ng-deep *,
    * {
      pointer-events: none;
    }

    // Pseudo-Element zum Highlighten des Drop-Bereichs
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px dashed $dark-disabled-text;
      background: $dark-focused;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      pointer-events: none;
    }
  }

  /* Anpassungen am LuxMenu, u.a. blenden wir hier das Label im Extended-Menu aus */
  lux-menu ::ng-deep {
    .lux-menu-extended {
      .lux-menu-trigger,
      > lux-button {
        margin: 0 !important;
      }
    }

    // Lux-Menu überschreibt die normale Größe der Icons, wir setzen das hier wieder zurück
    i,
    mat-icon {
      width: auto !important;
    }

    @include minified-button;
  }
}

/* Die eigentliche File-Inputs und den Download-Anchor blenden wir aus */
.lux-file-input,
.lux-file-download-anchor {
  display: none;
}
