<div
  class="lux-master-detail-ac"
  fxLayout="row"
  fxFlex="grow"
  fxLayoutGap.gt-sm="30px"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  fxFill
>
  <div
    [fxFlex]="flexMaster"
    fxLayout="column"
    class="lux-master-ac-container"
    tabindex="1"
    luxTagIdHandler
    [luxTagId]="luxTagIdMaster"
    [ngClass]="{
      'lux-hidden': !luxOpen && isMobile,
      'lux-0-width': !luxOpen && isMobile,
      'lux-master-ac-container-mobile': isMobile,
      'lux-empty-elements-aligned': alignEmptyIndicators,
      'lux-master-closed': !luxOpen && !isMobile
    }"
    #masterContainer
  >
    <!-- Header Element über der Master-Liste -->
    <lux-master-header-ac
      (luxOpened)="toggleList($event)"
      [luxToggleHidden]="
        (isMobile && !this.luxSelectedDetail && !luxOpen) || isMobile
      "
      [ngClass]="{
        'lux-not-open': !luxOpen,
        'lux-hidden': (!luxOpen && isMobile),
        'lux-empty-master-header': !showMasterHeader && !isMobile && luxOpen
      }"
    >
      <ng-content select="lux-master-header-content-ac" *ngIf="luxOpen"></ng-content>
    </lux-master-header-ac>

    <!-- Master Simple Component gesetzt? -> Standard Lux Liste als Master nutzen  (window:keydown)="handleMasterKeyInput($event)" -->
    <lux-master-view fxFlex="grow" [ngClass]="{ 'lux-hidden': !luxOpen && !isMobile }" class="lux-master-view-ac">
      <lux-list
        fxFlex="grow"
        class="lux-overflow-y-auto lux-overflow-wrap-break-word"
        luxInfiniteScroll
        [luxScrollPercent]="85"
        [luxImmediateCallback]="true"
        [luxIsLoading]="luxMasterIsLoading"
        [luxEmptyIconSize]="luxEmptyIconMasterSize"
        [luxEmptyLabel]="luxEmptyLabelMaster"
        [luxEmptyIconName]="luxEmptyIconMaster"
        [luxSelectedPosition]="selectedPosition"
        (luxSelectedPositionChange)="onSelectedChange($event)"
        (luxScrolled)="onInfiniteScrollingLoad()"
      >
        <lux-list-item
          *ngFor="let masterElement of luxMasterList"
          [luxTitleLineBreak]="luxTitleLineBreak"
          luxTitle="{{ masterElement | luxPropertyFromObject: masterSimple?.luxTitleProp ?? '' }}"
          luxSubTitle="{{ masterElement | luxPropertyFromObject: masterSimple?.luxSubTitleProp ?? '' }}"
        >
          <lux-list-item-icon>
            <ng-container
              *ngTemplateOutlet="masterSimple?.iconTempRef ?? null; context: { $implicit: masterElement }"
            ></ng-container>
          </lux-list-item-icon>
          <lux-list-item-content>
            <ng-container
              *ngTemplateOutlet="masterSimple?.contentTempRef ?? null; context: { $implicit: masterElement }"
            ></ng-container>
          </lux-list-item-content>
        </lux-list-item>

        <div
          fxLayout="row"
          fxLayoutAlign="center"
          #masterSpinnerCard
          [@masterIsLoadingChanged]="luxMasterIsLoading"
          [ngClass]="{ 'lux-spinner-hidden': !luxMasterIsLoading }"
        >
          <br *ngIf="luxMasterIsLoading" />
          <mat-progress-spinner class="lux-m-3" color="primary" mode="indeterminate" diameter="48" fxFlex="0 0 auto">
          </mat-progress-spinner>
          <br *ngIf="luxMasterIsLoading" />
        </div>
      </lux-list>
    </lux-master-view>

    <!-- Footer Element unter der Master-Liste -->
    <ng-content select="lux-master-footer-ac" *ngIf="luxOpen"></ng-content>
  </div>
  <!-- Detail - Container -->
  <div
    [fxFlex]="flexDetail"
    fxFill
    luxTagIdHandler
    class="lux-detail-ac-container lux-overflow-y-auto"
    [ngClass]="{ 'lux-display-none': isDetailInvisible(), 'lux-detail-ac-container-mobile': isMobile }"
    [luxTagId]="luxTagIdDetail"
    tabindex="2"
  >
    <!-- Button für die Mobile Ansicht -->
    <div
      class="back-to-master-button-container lux-mb-3"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      (click)="onOpenMaster()"
      *ngIf="!luxOpen && isMobile"
    >
      <lux-button
        [luxRounded]="true"
        class="back-to-master-button"
        luxIconName="lux-interface-arrows-button-left"
        luxTagId="back-to-master-btn"
      ></lux-button>
      <span class="back-to-master-label" i18n="@@luxc.master-detail.back-to-master-label">Zurück zur Liste</span>
    </div>
    <!-- Detail-Header -->
    <div class="detail-header-container"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
    <lux-card
      *ngIf="!detailHeader && luxDefaultDetailHeader"
      luxTitle ="{{ luxMasterList[selectedPosition] | luxPropertyFromObject: masterSimple?.luxTitleProp ?? '' }}"
      luxSubTitle="{{ luxMasterList[selectedPosition] | luxPropertyFromObject: masterSimple?.luxSubTitleProp ?? '' }}"
      [luxTitleLineBreak]="luxTitleLineBreak"
      fxFlex="1 1 100"
      class="lux-detail-header-ac lux-mb-4"
      luxTagId="defaultDetailHeader"
    >
      <lux-card-content *ngIf="luxMasterList[selectedPosition]">
        <ng-container
          *ngTemplateOutlet="masterSimple?.contentTempRef ?? null; context: { $implicit: luxMasterList[selectedPosition] }"
        ></ng-container>
      </lux-card-content>
    </lux-card>
    <ng-content select="lux-detail-header-ac" *ngIf="detailHeader"></ng-content>
    </div>
    <div class="lux-detail-view-container">
    <ng-template #detailViewContainerRef></ng-template>
  </div>
    <!-- Das Empty-Icon und Empty-Label, wenn kein Detail gegeben ist -->
    <div
      class="lux-detail-empty"
      [ngClass]="{ 'lux-display-none': isDetailInvisible() || selectedPosition > -1 }"
      fxLayout="column"
      fxLayoutAlign="center center"
      #detailEmpty
    >
      <lux-icon class="lux-detail-empty-icon" [luxIconName]="luxEmptyIconDetail" [luxIconSize]="luxEmptyIconDetailSize">
      </lux-icon>
      <span class="lux-detail-empty-icon-text">
        <strong>{{ luxEmptyLabelDetail }}</strong>
      </span>
    </div>
  </div>
</div>
