:focus {
  outline: none;
}

.lux-master-ac-container {
  // Wenn das passende Flag gesetzt ist und keine Mobilansicht vorliegt,
  // für die Zentrierung der Empty-Elemente der Masterliste die relative Position des Master-Containers nutzen
  // Folge: Empty-Elemente von Master und Detail sind gleich hoch
  &:not(.lux-master-container-mobile).lux-empty-elements-aligned {
    lux-list {
      position: static !important;
    }
  }
}

.lux-master-view-ac {
  .lux-master-progress-container {
    display: flex;
    justify-content: center;
    overflow-y: auto;

    ::ng-deep mat-progress-spinner {
      flex: 0 0 auto;
    }
  }
}

.lux-detail-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  > * {
    display: flex;
  }
}
.lux-spinner-hidden {
  display: none !important;
}

.lux-display-none {
  display: none !important;
}
