
  ::ng-deep{

    lux-card.example-base-container {

      .mat-card {
        
        
          background-color: transparent;
          box-shadow: none;
       
          
        
        .mat-card:not([class*=mat-elevation-z]) {
          background-color: white;
          box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

        }
      }
    }
  }
  
  