<example-base-structure exampleTitle="Card" exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90card-v16">
  <example-base-content class="lux-flex lux-flex-col lux-row-gap-8">
    <lux-card
      [luxTitle]="title"
      [luxSubTitle]="subTitle"
      [luxExpanded]="expanded"
      [luxDisabled]="disabled"
      [luxHeading]="heading"
      [luxTitleLineBreak]="titleLineBreak"
      (luxClicked)="onCardClicked()"
      [luxExpandedLabelClose]="closeLabel"
      [luxExpandedLabelOpen]="openLabel"
    >
      <lux-icon luxIconName="lux-cogs" *ngIf="showIcon"></lux-icon>
      <lux-card-info *ngIf="showInfo">
        <lux-icon luxIconName="lux-interface-home-3"></lux-icon>
      </lux-card-info>
      <lux-card-content>
        <h3>H3 - Lorem ipsum</h3>
        <p>
          Diese Karte enthält für Testzwecke alle möglichen Konfigurationen auf einmal. Auch wenn dieses technisch möglich ist, soll es
          nicht zur Nachahmung annimieren. Bitte entscheidet euch, je nach Anwendungsfall, wie ihr eure Karte gestaltet. Weniger ist Besser!
        </p>
      </lux-card-content>
      <lux-card-content-expanded *ngIf="useExpandableContent">
        <h4>H4 - Lorem ipsum</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
        <h5>H5 - Lorem ipsum</h5>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
        <h6>H6 - Lorem ipsum</h6>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </lux-card-content-expanded>
      <lux-card-actions *ngIf="showActions">
        <lux-button luxLabel="Button 1" [luxRaised]="true" luxIconName="lux-interface-user-single" luxColor="primary"></lux-button>
        <lux-button luxLabel="Button 2" [luxRaised]="btn2Raised"></lux-button>
      </lux-card-actions>
    </lux-card>
    <h3>Einfaches Anwendungsbeispiel</h3>
    <lux-card luxTitle="Suche nach Identnummer">
      <lux-card-content>
        <lux-input-ac luxLabel="Identnummer" luxPlaceholder="ID123456"></lux-input-ac>
      </lux-card-content>
      <lux-card-actions>
        <lux-button [luxStroked]="true" luxColor="primary" luxLabel="ZURÜCKSETZEN"></lux-button>
        <lux-button [luxFlat]="true" luxColor="primary" luxLabel="SUCHEN"></lux-button>
      </lux-card-actions>
    </lux-card>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac luxLabel="luxTitle" luxHint="Diese Property enthält den Textinhalt für den Titel der Card." [(luxValue)]="title">
    </lux-input-ac>
    <lux-input-ac
      luxLabel="luxHeading"
      luxHint="Gültige Werte sind 1-6 (verändert nur die Überschriftenstruktur, aber nicht die Darstellung (Barrierefreiheit)."
      [(luxValue)]="heading"
      [luxControlValidators]="headingValidator"
    ></lux-input-ac>
    <lux-input-ac
      luxLabel="luxSubTitle"
      luxHint="Diese Property enthält den Textinhalt für den Untertitel der Card."
      [(luxValue)]="subTitle"
    >
    </lux-input-ac>
    <lux-toggle-ac luxLabel="luxDisabled" [(luxChecked)]="disabled" [luxDisabled]="showActions" [luxNoTopLabel]="true">
      <lux-form-hint>
        Über diese Property werden die Klick-Events der Card unterbunden.<br />
        Diese Property greift nicht, wenn Card-Actions dargestellt werden.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxTitleLineBreak" [(luxChecked)]="titleLineBreak" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieser Flag aktiviert den Zeilenumbruch bei zu langen Titeln. <br />
        Wenn 'false', wird der Titel mit '...' abgekürzt.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRaised (Button 2)" [(luxChecked)]="btn2Raised" [luxNoLabels]="true"></lux-toggle-ac>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="luxIcon anzeigen"
      luxHint="Das linksbündige Icon für die Card darstellen."
      [(luxChecked)]="showIcon"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxCardActions anzeigen"
      luxHint="Die Card-Action für das Beispiel darstellen."
      [(luxChecked)]="showActions"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxCardInfo anzeigen" [(luxChecked)]="showInfo" [luxNoTopLabel]="true">
      <lux-form-hint> Die Component für die Darstellung von Zusatzinfos rechts vom Titel anzeigen. </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxCardContentExpanded aktivieren" [(luxChecked)]="useExpandableContent" [luxNoTopLabel]="true">
      <lux-form-hint>
        Den ausklappbaren Inhalt für die Card aktivieren.<br />
        Dieser wird dann unterhalb des eigentlichen Inhalts dargestellt.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-input-ac
      luxLabel="luxExpandedLabelOpen"
      luxHint="Diese Property steuert den Labeltext auf dem Button zum Ausklappen des erweiterten Card-Contents."
      [(luxValue)]="openLabel"
    ></lux-input-ac>
    <lux-input-ac
      luxLabel="luxExpandedLabelClose"
      luxHint="Diese Property steuert den Labeltext auf dem Button zum Einklappen des erweiterten Card-Contents."
      [(luxValue)]="closeLabel"
    ></lux-input-ac>
  </example-base-advanced-options>
</example-base-structure>
