<div class="lux-highlight-section column">
  <lux-toggle luxLabel="luxMultiSelect" [(luxChecked)]="tableExample.multiSelect" [luxNoTopLabel]="true">
    <lux-form-hint>Ermöglicht es, diese Tabelle mit Multiselection-Funktionalitäten zu versehen.</lux-form-hint>
  </lux-toggle>
  <lux-toggle luxLabel="luxMultiSelectOnlyCheckboxClick" [(luxChecked)]="tableExample.multiSelectOnlyCheckboxClick" [luxNoTopLabel]="true">
    <lux-form-hint>Dieses Flag steuert, ob auch ein Klick auf die Zeile die Checkbox aktiviert oder ausschließlich ein Klick auf die Checkbox selbst.</lux-form-hint>
  </lux-toggle>
</div>
<lux-input luxLabel="luxNoDataText" class="lux-highlight-section" [(luxValue)]="tableExample.noDataText">
  <lux-form-hint
    >Diese Property enthält den Text der angezeigt wird wenn keine Datensätze gefunden werden konnten.
  </lux-form-hint>
</lux-input>
<lux-toggle luxLabel="luxShowFilter" class="lux-highlight-section" [(luxChecked)]="tableExample.filter" [luxNoTopLabel]="true">
  <lux-form-hint>Mit diesem Flag lässt sich das Filter-Inputfeld aus-/einblenden.</lux-form-hint>
</lux-toggle>
<lux-input
  luxLabel="luxFilterText"
  class="lux-highlight-section"
  [(luxValue)]="tableExample.filterText"
  [luxDisabled]="!tableExample.filter"
>
  <lux-form-hint>Diese Property definiert das Label des Filter-Inputfelds.</lux-form-hint>
</lux-input>
<div class="lux-highlight-section column">
  <lux-toggle luxLabel="luxShowPagination" [(luxChecked)]="tableExample.pagination" [luxNoTopLabel]="true">
    <lux-form-hint>Diese Property aktiviert/deaktiviert die Pagination für die Tabelle.</lux-form-hint>
  </lux-toggle>
  <lux-input luxLabel="luxPageSize" [(luxValue)]="tableExample.pageSize" luxType="number" [luxNumberAlignLeft]="true" [luxDisabled]="!tableExample.pagination">
    <lux-form-hint>Hiermit kann die aktuelle Anzahl an Einträgen für die Pagination eingestellt werden. </lux-form-hint>
  </lux-input>
  <lux-select
    luxLabel="luxPageSizeOptions"
    [(luxSelected)]="tableExample.pageSizeOption"
    [luxOptions]="tableExample.pageSizeOptions"
    luxOptionLabelProp="label"
    [luxDisabled]="!tableExample.pagination"
    [luxPickValue]="tableExample.pickPageSize"
  >
    <lux-form-hint
      >Diese Property enthält ein Array mit den möglichen Optionen für die Anzahl an Einträgen.
    </lux-form-hint>
  </lux-select>
  <lux-toggle luxLabel="luxPagerFirstLastButton" [(luxChecked)]="tableExample.pagerFirstLastButton" [luxNoTopLabel]="true">
    <lux-form-hint>Diese Property steuert die Anzahl der Buttons im Paginator.</lux-form-hint>
  </lux-toggle>
</div>
