<lux-form-control
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [luxScalableHeight]="true"
  [luxCounterLabel]="counterLabel"
  [luxHideCounterLabel]="luxHideCounterLabel"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [formGroup]="formGroup"
  [luxLabelLongFormat]="luxLabelLongFormat"
>
  <textarea
    matInput
    luxTagIdHandler
    [luxNameAttr]="luxName"
    [luxTagId]="luxTagId"
    [placeholder]="luxPlaceholder"
    [formControl]="formControl"
    [luxMaxLengthAttr]="luxMaxLength"
    [cdkTextareaAutosize]="true"
    [cdkAutosizeMinRows]="luxMinRows"
    [cdkAutosizeMaxRows]="luxMaxRows"
    [required]="luxRequired"
    [readonly]="luxReadonly"
    (blur)="luxBlur.emit($event)"
    (focus)="luxFocus.emit($event)"
    (focusin)="luxFocusIn.emit($event)"
    (focusout)="luxFocusOut.emit($event)"
    [id]="uid"
    [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
  ></textarea>
</lux-form-control>
