<div class="container">
  <lux-accordion>
    <lux-panel>
      <lux-panel-header-title>Formularelement</lux-panel-header-title>
      <lux-panel-header-description>Darstellung aller möglichen Zustände</lux-panel-header-description>
      <lux-panel-content>
        <div class="demo-grid lux-mt-5 lux-mb-5" [formGroup]="stateForm">
          <div class="grid-item">
            <span class="grid-item-headline">Default mit Placeholder</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              luxControlBinding="defaultItem"
              [luxReadonly]="true"
              luxHint="Beispieltext für die unterschiedlichen States."
            ></lux-input-ac>
          </div>
          <div class="grid-item">
            <span class="grid-item-headline">Default mit Eintrag</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              luxControlBinding="activeItem"
              [luxReadonly]="true"
              luxHint="Beispieltext für die unterschiedlichen States."
            ></lux-input-ac>
          </div>
          <div class="grid-item">
            <span class="grid-item-headline">Hover</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              luxControlBinding="hoverItem"
              luxHint="Beispieltext für die unterschiedlichen States."
              [luxReadonly]="true"
              class="demo-hover-item"
            ></lux-input-ac>
          </div>
          <div class="grid-item">
            <span class="grid-item-headline">Active/Focused</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              luxControlBinding="activeItem"
              luxHint="Beispieltext für die unterschiedlichen States."
              [luxReadonly]="true"
              class="demo-active-item"
              ngClass="{{ themeName === 'green' ? 'green' : '' }}"
            ></lux-input-ac>
          </div>
          <div class="grid-item">
            <span class="grid-item-headline">Error</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              luxControlBinding="errorItem"
              luxErrorMessage="Bitte die Ausweisnummer angeben!"
              [luxReadonly]="true"
              luxHint="Beispieltext für die unterschiedlichen States."
            ></lux-input-ac>
          </div>
          <div class="grid-item">
            <span class="grid-item-headline">Disabled</span>
            <lux-input-ac
              luxLabel="Ausweisnummer"
              luxPlaceholder="XY 1234567"
              [luxDisabled]="true"
              luxControlBinding="disabledItem"
              luxHint="Beispieltext für die unterschiedlichen States."
            ></lux-input-ac>
          </div>
        </div>
        <p>Dieses Beispiel dient zur Visualisierung der einzelnen States, daher sind die Formularelemente deaktiviert.</p>
      </lux-panel-content>
    </lux-panel>
    <lux-panel>
      <lux-panel-header-title>Formularbeispiel</lux-panel-header-title>
      <lux-panel-header-description>Ausrichtung über LUX-Layout-Form-Rows</lux-panel-header-description>
      <lux-panel-content class="lux-flex lux-flex-col">
        <lux-textbox
          luxTitle="Hinweis"
          luxIcon="lux-interface-alert-information-circle"
          luxColor="blue"
          class="lux-mt-5 lux-mb-5"
          style="max-width: 600px"
        >
          <p>
            In dem unteren Beispiel ist das Formular mit der luxLayoutRow gestaltet worden. Die gestrichelten Linien zeigen die einzelnen
            Rows an. Der Abstand der Rows zu einander ist dabei individuell gesetzt, bei den Row-Items wurde er gleich gewählt.
          </p>
        </lux-textbox>

        <div class="lux-grid gt-sm:lux-grid-cols-8 lt-md:lux-grid-cols-1 lux-gap-6" [formGroup]="addressForm">
          <lux-select-ac
            luxLabel="Anrede"
            luxHint="Bitte wählen Sie die Anrede aus."
            luxControlBinding="title"
            [luxOptions]="prefixOptions"
          ></lux-select-ac>
          <div class="lux-col-span-7 lt-md:lux-display-none"></div>
          <lux-input-ac
            luxLabel="Vorname"
            luxHint="Bitte geben Sie Ihren Vornamen an."
            luxPlaceholder="Lorema"
            luxControlBinding="firstname"
            class="gt-sm:lux-col-span-4"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="Nachname"
            luxHint="Bitte geben Sie Ihren Nachnamen an."
            luxPlaceholder="Ipsum"
            luxControlBinding="lastname"
            class="gt-sm:lux-col-span-4"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="Straße"
            luxHint="Bitte geben Sie Ihre Anschrift an."
            luxPlaceholder="Hörder Hafenstr."
            luxControlBinding="streetAddress"
            class="gt-sm:lux-col-span-7"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="Nr."
            luxControlBinding="streetNumber"
            luxType="number"
            luxPlaceholder="5"
            [luxNumberAlignLeft]="true"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="Adress-Zusatz (optional)"
            [luxMaxLength]="100"
            luxControlBinding="addressInfo"
            class="gt-sm:lux-col-span-8"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="PLZ"
            luxHint="Bitte geben Sie Ihre PLZ an."
            luxPlaceholder="44263"
            luxControlBinding="postalCode"
            luxType="number"
            [luxNumberAlignLeft]="true"
            [luxHideCounterLabel]="true"
            class="gt-sm:lux-col-span-2"
          ></lux-input-ac>
          <lux-input-ac
            luxLabel="Ort"
            luxHint="Bitte geben Sie Ihren Wohnohrt an."
            luxPlaceholder="Dortmund"
            luxControlBinding="city"
            class="gt-sm:lux-col-span-6"
          ></lux-input-ac>
          <lux-autocomplete-ac
            luxLabel="Land"
            luxHint="Bitte geben Sie Ihr Land an."
            [luxOptions]="countries"
            luxControlBinding="country"
            class="gt-sm:lux-col-span-8"
          ></lux-autocomplete-ac>
          <div class="lux-col-span-2 lt-md:lux-display-none"></div>
          <lux-textarea-ac
            luxName="Accordion_Kommentar"
            luxLabel="Kommentar"
            luxControlBinding="comment"
            luxHint="Hier ist Platz für deine Meinung."
            luxPlaceholder="Lorem ipsum ..."
            [luxMaxLength]="100"
            [luxMinRows]="1"
            [luxMaxRows]="-1"
            luxAutocomplete="false"
            class="gt-sm:lux-col-span-8"
          ></lux-textarea-ac>
        </div>
      </lux-panel-content>
    </lux-panel>
    <lux-panel>
      <lux-panel-header-title>Checkboxlabel</lux-panel-header-title>
      <lux-panel-header-description>Darstellung der unterschiedlichen Labelhöhen</lux-panel-header-description>
      <lux-panel-content class="lux-flex lux-flex-col lux-gap-2">
        <lux-textbox luxColor="blue" class="lux-mt-5 lux-mb-5" style="max-width: 600px">
          <p>
            In diesem Panel werden die neuen Varianten der Check-Boxen vorgestellt. Zur Visualisierung der unterschiedlichen Höhen, wurde
            eine andere Hintergrundfarbe für die Komponenten gewählt.<br />
            Diese Form der Gestaltung ist ausschließlich für Testzwecke und nicht für die weitere Verwendung gedacht.
          </p>
        </lux-textbox>
        <p>
          Siehe auch
          <lux-link-plain
            luxLabel="lux-checkbox-container-ac"
            (luxClicked)="router.navigate(['components-overview', 'example', 'checkbox-container-ac'])"
            >.</lux-link-plain
          >
        </p>
        <div [formGroup]="form" class="test-box lux-flex lux-flex-col lux-gap-3">
          <lux-checkbox-ac luxLabel="Default: {{ loremIpsum }}" [luxRequired]="true"></lux-checkbox-ac>
          <lux-checkbox-ac luxLabel="luxNoBottomLabel: {{ loremIpsum }}" [luxNoBottomLabel]="true" [luxRequired]="true"></lux-checkbox-ac>
          <lux-checkbox-ac luxLabel="luxNoTopLabel: {{ loremIpsum }}" [luxNoTopLabel]="true" [luxRequired]="true"></lux-checkbox-ac>
          <lux-checkbox-ac luxLabel="luxNoLabels: {{ loremIpsum }}" [luxNoLabels]="true" [luxRequired]="true"></lux-checkbox-ac>
        </div>
      </lux-panel-content>
    </lux-panel>
  </lux-accordion>
</div>
