<lux-layout>
  <form [formGroup]="myGroup">
    <lux-layout-card-row luxTitle="3 Karten pro Zeile">
      <lux-card luxTitle="Kunde" *luxLayoutRowItem="{}">
        <lux-card-content>
          <lux-layout formGroupName="customer">
            <lux-layout-form-row>
              <lux-input luxName="first-name" luxLabel="Vorname" luxControlBinding="name" *luxLayoutRowItem="{}"></lux-input>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-input
                luxName="given-name"
                luxLabel="Nachname"
                luxControlBinding="surname"
                *luxLayoutRowItem="{}"
              ></lux-input>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-radio
                [luxOrientationVertical]="false"
                [luxOptions]="genders"
                luxControlBinding="gender"
                luxLabel="Geschlecht"
                *luxLayoutRowItem="{}"
              >
                <ng-template let-option>
                  {{ option.name }}
                </ng-template>
              </lux-radio>
            </lux-layout-form-row>
          </lux-layout>
        </lux-card-content>
      </lux-card>
      <lux-card luxTitle="Adresse" *luxLayoutRowItem="{}">
        <lux-card-content>
          <lux-layout formGroupName="address">
            <lux-layout-form-row luxWrapAt="none">
              <lux-input
                luxName="postal-code"
                luxLabel="PLZ"
                luxType="number"
                luxNumberAlignLeft="true"
                luxControlBinding="zip"
                *luxLayoutRowItem="{}"
              ></lux-input>
              <lux-input
                luxName="form-three_Stadt"
                luxLabel="Stadt"
                luxType="text"
                luxControlBinding="town"
                *luxLayoutRowItem="{ colSpan: 3 }"
              ></lux-input>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-input
                luxName="street-address"
                luxLabel="Straße"
                luxType="text"
                luxControlBinding="street"
                *luxLayoutRowItem="{ colSpan: 4 }"
              ></lux-input>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-autocomplete
                [luxOptions]="countries"
                luxOptionLabelProp="name"
                luxLabel="Land"
                [luxLookupDelay]="100"
                luxHint="Wählen Sie ein Land aus"
                [luxSelectAllOnClick]="false"
                luxControlBinding="country"
                *luxLayoutRowItem="{ colSpan: 4 }"
              >
              </lux-autocomplete>
            </lux-layout-form-row>
          </lux-layout>
        </lux-card-content>
      </lux-card>
      <lux-card luxTitle="Feedbaack" *luxLayoutRowItem="{}">
        <lux-card-content>
          <lux-layout formGroupName="feedback">
            <lux-layout-form-row luxWrapAt="none">
              <lux-input
                luxName="form-three_Bewertung"
                luxLabel="Bewertung"
                luxControlBinding="rating"
                luxType="text"
                *luxLayoutRowItem="{}"
              ></lux-input>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-checkbox luxLabel="Anonymisieren" luxControlBinding="anonymous" *luxLayoutRowItem="{}"></lux-checkbox>
            </lux-layout-form-row>
          </lux-layout>
        </lux-card-content>
      </lux-card>
    </lux-layout-card-row>
    <lux-layout-card-row>
      <lux-card luxTitle="Formulardaten" *luxLayoutRowItem="{}">
        <lux-card-content>
          <lux-layout>
            <lux-layout-form-row>
              <div *luxLayoutRowItem="{}">
                <pre>{{ myGroup.value | json }}</pre>
              </div>
            </lux-layout-form-row>
          </lux-layout>
        </lux-card-content>
      </lux-card>
    </lux-layout-card-row>
  </form>
</lux-layout>


