<div luxAriaRole="main" class="container">
  <lux-card luxTitle="Optionen" class="baseline-options">
    <lux-card-content>
      <div class="lux-flex lux-flex-row lux-gap-3">
        <lux-toggle-ac class="lux-flex lux-flex-basis-52" luxLabel="Fehler anzeigen" (luxCheckedChange)="toggleErrors($event)">
        </lux-toggle-ac>
        <div class="lux-flex lux-flex-col lux-flex-basis-52">
          <lux-toggle-ac luxLabel="Frames anzeigen" (luxCheckedChange)="showFrames = $event"> </lux-toggle-ac>
          <i class="lux-label">Grau -> FormComponent</i>
          <i class="lux-label">Grün -> Label</i>
          <i class="lux-label">Blau -> Content</i>
          <i class="lux-label">Rosa -> Misc</i>
        </div>
        <lux-toggle-ac luxLabel="Als Column darstellen" (luxCheckedChange)="showAsColumn = $event" class="lux-flex lux-flex-basis-52">
        </lux-toggle-ac>
        <lux-toggle-ac luxLabel="Deaktivieren" (luxCheckedChange)="disabled = $event" class="lux-flex lux-flex-basis-52"> </lux-toggle-ac>
        <lux-toggle-ac luxLabel="Denseformat anzeigen" (luxCheckedChange)="denseFormat = $event" class="lux-flex lux-flex-basis-52">
        </lux-toggle-ac>
      </div>
    </lux-card-content>
  </lux-card>
  <lux-card luxTitle="Formularkomponenten" class="baseline" [luxExpanded]="false">
    <lux-card-content>
      <div class="baseline-row lux-flex" [ngClass]="showAsColumn ? 'lux-flex-col lux-gap-6' : 'lux-flex-wrap lux-gap-6'" [formGroup]="form">
        <lux-input-ac
          luxPlaceholder="Input"
          luxControlBinding="input"
          luxAutocomplete="off"
          luxErrorMessage="Füllen Sie bitte dieses Feld aus. Es handelt sich um eine Pflichtangabe nach §1.2 Absatz 3 in der Verordnung A 38."
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Input</lux-form-label>
          <lux-form-hint>Input<br />Auch gerne mehrzeilig.</lux-form-hint>
          <lux-input-ac-prefix> <lux-icon luxIconName="lux-cogs"></lux-icon>&nbsp; </lux-input-ac-prefix>
          <lux-input-ac-suffix> .00 EUR </lux-input-ac-suffix>
        </lux-input-ac>
        <lux-file-input-ac
          luxLabel="Fileupload"
          luxHint="Fileupload"
          luxControlBinding="file"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
        </lux-file-input-ac>
        <lux-select-ac
          [luxOptions]="['Test1', 'Test2']"
          luxPlaceholder="Select"
          luxControlBinding="select"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Select</lux-form-label>
          <lux-form-hint>Select</lux-form-hint>
        </lux-select-ac>
        <lux-toggle-ac luxControlBinding="toggle" [luxDisabled]="disabled" [luxDense]="denseFormat">
          <lux-form-label>Toggle</lux-form-label>
          <lux-form-hint>Toggle</lux-form-hint>
        </lux-toggle-ac>
        <lux-checkbox-ac luxControlBinding="checkbox" luxHint="Checkbox" [luxDisabled]="disabled" [luxDense]="denseFormat">
          <lux-form-label>Checkbox</lux-form-label>
        </lux-checkbox-ac>
        <lux-radio-ac
          [luxOptions]="['Test1', 'Test2']"
          luxControlBinding="radio"
          [luxOrientationVertical]="false"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Radio</lux-form-label>
          <lux-form-hint>Hallo Hint!<br />Bin sogar mehrzeilig!</lux-form-hint>
        </lux-radio-ac>
        <lux-datepicker-ac luxPlaceholder="Datepicker" luxControlBinding="datepicker" [luxDisabled]="disabled" [luxDense]="denseFormat">
          <lux-form-label>Datepicker</lux-form-label>
          <lux-form-hint>Datepicker</lux-form-hint>
        </lux-datepicker-ac>
        <lux-autocomplete-ac
          [luxOptions]="[{ label: 'Test1' }, { label: 'Test2' }]"
          luxOptionLabelProp="label"
          luxPlaceholder="Autocomplete"
          luxControlBinding="autocomplete"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Autocomplete</lux-form-label>
          <lux-form-hint>Autocomplete</lux-form-hint>
        </lux-autocomplete-ac>
        <lux-slider-ac
          luxLabel="Slider"
          luxControlBinding="slider"
          luxHint="Slider"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        ></lux-slider-ac>
        <lux-textarea-ac
          luxName="baseline_Textarea"
          luxControlBinding="textarea"
          luxLabel="Textarea"
          luxHint="Hinweis"
          luxPlaceholder="Platzhalter"
          [luxDisabled]="disabled"
          [luxMinRows]="1"
          [luxMaxRows]="-1"
          luxAutocomplete="false"
          [luxDense]="denseFormat"
        >
        </lux-textarea-ac>
      </div>
    </lux-card-content>

    <lux-card-content-expanded class="lux-flex lux-flex-col">
      <lux-textbox luxTitle="Information" luxIcon="lux-interface-alert-information-circle" luxColor="blue" style="max-width: 800px">
        <p>
          Im folgenden Abschnitt werden die neuen Varianten der Formularkomponenten getestet. <br />
          Die "Baseline" bleibt erhalten, wenn die Komponenten einer Reihe die selben Attribute haben. <br />
          Komponenten mit unterschiedlichen Attributen/Höhen sollten daher in einer Spalte angeordnet werden! <br />
        </p>
      </lux-textbox>

      <h3>Komponenten ohne Top- und Bottom-Label</h3>
      <h4>[luxNoLabels]="true"</h4>
      <div class="baseline-row lux-flex" [ngClass]="showAsColumn ? 'lux-flex-col lux-gap-6' : 'lux-flex-wrap lux-gap-6'" [formGroup]="form">
        <lux-input-ac
          luxPlaceholder="Input"
          luxControlBinding="input"
          luxAutocomplete="off"
          [luxNoLabels]="true"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Input</lux-form-label>
          <lux-form-hint>Input<br />Auch gerne mehrzeilig.</lux-form-hint>
          <lux-input-ac-prefix> <lux-icon [luxIconName]="'lux-cogs'"></lux-icon>&nbsp; </lux-input-ac-prefix>
          <lux-input-ac-suffix> .00 EUR </lux-input-ac-suffix>
        </lux-input-ac>
        <lux-file-input-ac
          luxLabel="Fileupload"
          luxHint="Fileupload"
          [luxNoLabels]="true"
          luxControlBinding="file"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        ></lux-file-input-ac>
        <lux-select-ac
          [luxOptions]="['Test1', 'Test2']"
          luxPlaceholder="Select"
          luxControlBinding="select"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Select</lux-form-label>
          <lux-form-hint>Select</lux-form-hint>
        </lux-select-ac>
        <lux-toggle-ac
          luxControlBinding="toggle"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
          class="baseline-row"
        >
          <lux-form-label>Toggle</lux-form-label>
          <lux-form-hint>Toggle</lux-form-hint>
        </lux-toggle-ac>
        <lux-checkbox-ac
          luxControlBinding="checkbox"
          luxHint="Checkbox"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
          [luxNoLabels]="true"
        >
          <lux-form-label>Checkbox</lux-form-label>
        </lux-checkbox-ac>
        <lux-textarea-ac
          luxName="baseline_Textarea"
          luxControlBinding="textarea"
          luxLabel="Textarea"
          luxPlaceholder="Textarea"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-hint>Textarea</lux-form-hint>
        </lux-textarea-ac>
        <lux-radio-ac
          [luxOptions]="['Test1', 'Test2']"
          luxControlBinding="radio"
          [luxOrientationVertical]="false"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Radio</lux-form-label>
          <lux-form-hint>Hallo Hint!<br />Bin sogar mehrzeilig!</lux-form-hint>
        </lux-radio-ac>
        <lux-datepicker-ac
          luxPlaceholder="Datepicker"
          luxControlBinding="datepicker"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Datepicker</lux-form-label>
          <lux-form-hint>Datepicker</lux-form-hint>
        </lux-datepicker-ac>
        <lux-autocomplete-ac
          [luxOptions]="['Test1', 'Test2']"
          luxPlaceholder="Autocomplete"
          luxControlBinding="autocomplete"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Autocomplete</lux-form-label>
          <lux-form-hint>Autocomplete</lux-form-hint>
        </lux-autocomplete-ac>
        <lux-slider-ac
          luxLabel="Slider"
          luxControlBinding="slider"
          luxHint="Slider"
          [luxDisabled]="disabled"
          [luxNoLabels]="true"
          [luxDense]="denseFormat"
        ></lux-slider-ac>
      </div>
      <h3 style="margin-top: 64px">Komponenten ohne Top-Label</h3>
      <h4>[luxNoTopLabel]="true"</h4>
      <div class="baseline-row lux-flex" [ngClass]="showAsColumn ? 'lux-flex-col lux-gap-6' : 'lux-flex-wrap lux-gap-6'" [formGroup]="form">
        <lux-input-ac
          luxPlaceholder="Input"
          luxControlBinding="input"
          luxAutocomplete="off"
          [luxNoTopLabel]="true"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Input</lux-form-label>
          <lux-form-hint>Input<br />Auch gerne mehrzeilig.</lux-form-hint>
          <lux-input-ac-prefix> <lux-icon [luxIconName]="'lux-cogs'"></lux-icon>&nbsp; </lux-input-ac-prefix>
          <lux-input-ac-suffix> .00 EUR </lux-input-ac-suffix>
        </lux-input-ac>
        <lux-file-input-ac
          luxLabel="Fileupload"
          luxHint="Fileupload"
          [luxNoTopLabel]="true"
          luxControlBinding="file"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        ></lux-file-input-ac>
        <lux-select-ac
          [luxOptions]="['Test1', 'Test2']"
          luxPlaceholder="Select"
          luxControlBinding="select"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Select</lux-form-label>
          <lux-form-hint>Select</lux-form-hint>
        </lux-select-ac>
        <lux-toggle-ac luxControlBinding="toggle" [luxDisabled]="disabled" [luxNoTopLabel]="true" [luxDense]="denseFormat">
          <lux-form-label>Toggle</lux-form-label>
          <lux-form-hint>Toggle</lux-form-hint>
        </lux-toggle-ac>
        <lux-checkbox-ac
          luxControlBinding="checkbox"
          luxHint="Checkbox"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Checkbox</lux-form-label>
        </lux-checkbox-ac>
        <lux-textarea-ac
          luxName="baseline_Textarea"
          luxControlBinding="textarea"
          luxLabel="Textarea"
          luxPlaceholder="Textarea"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-hint>Textarea</lux-form-hint>
        </lux-textarea-ac>
        <lux-radio-ac
          [luxOptions]="['Test1', 'Test2']"
          luxControlBinding="radio"
          [luxOrientationVertical]="false"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Radio</lux-form-label>
          <lux-form-hint>Hallo Hint!<br />Bin sogar mehrzeilig!</lux-form-hint>
        </lux-radio-ac>
        <lux-datepicker-ac
          luxPlaceholder="Datepicker"
          luxControlBinding="datepicker"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Datepicker</lux-form-label>
          <lux-form-hint>Datepicker</lux-form-hint>
        </lux-datepicker-ac>
        <lux-autocomplete-ac
          [luxOptions]="[{ label: 'Test1' }, { label: 'Test2' }]"
          luxOptionLabelProp="label"
          luxPlaceholder="Autocomplete"
          luxControlBinding="autocomplete"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Autocomplete</lux-form-label>
          <lux-form-hint>Autocomplete</lux-form-hint>
        </lux-autocomplete-ac>
        <lux-slider-ac
          luxLabel="Slider"
          luxControlBinding="slider"
          luxHint="Slider"
          [luxDisabled]="disabled"
          [luxNoTopLabel]="true"
          [luxDense]="denseFormat"
        ></lux-slider-ac>
      </div>
      <h3 style="margin-top: 64px">Komponenten ohne Bottom-Label</h3>
      <h4>[luxNoBottomLabel]="true"</h4>
      <div class="baseline-row lux-flex" [ngClass]="showAsColumn ? 'lux-flex-col lux-gap-6' : 'lux-flex-wrap lux-gap-6'" [formGroup]="form">
        <lux-input-ac
          luxPlaceholder="Input"
          luxControlBinding="input"
          luxAutocomplete="off"
          [luxNoBottomLabel]="true"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Input</lux-form-label>
          <lux-form-hint>Input<br />Auch gerne mehrzeilig.</lux-form-hint>
          <lux-input-ac-prefix> <lux-icon [luxIconName]="'lux-cogs'"></lux-icon>&nbsp; </lux-input-ac-prefix>
          <lux-input-ac-suffix> .00 EUR </lux-input-ac-suffix>
        </lux-input-ac>
        <lux-file-input-ac
          luxLabel="Fileupload"
          luxHint="Fileupload"
          [luxNoBottomLabel]="true"
          luxControlBinding="file"
          [luxDisabled]="disabled"
          [luxDense]="denseFormat"
        ></lux-file-input-ac>
        <lux-select-ac
          [luxOptions]="['Test1', 'Test2']"
          luxPlaceholder="Select"
          luxControlBinding="select"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Select</lux-form-label>
          <lux-form-hint>Select</lux-form-hint>
        </lux-select-ac>
        <lux-toggle-ac luxControlBinding="toggle" [luxDisabled]="disabled" [luxNoBottomLabel]="true" [luxDense]="denseFormat">
          <lux-form-label>Toggle</lux-form-label>
          <lux-form-hint>Toggle</lux-form-hint>
        </lux-toggle-ac>
        <lux-checkbox-ac
          luxControlBinding="checkbox"
          luxHint="Checkbox"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Checkbox</lux-form-label>
        </lux-checkbox-ac>
        <lux-textarea-ac
          luxName="baseline_Textarea"
          luxControlBinding="textarea"
          luxLabel="Textarea"
          luxPlaceholder="Textarea"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-hint>Textarea</lux-form-hint>
        </lux-textarea-ac>
        <lux-radio-ac
          [luxOptions]="['Test1', 'Test2']"
          luxControlBinding="radio"
          [luxOrientationVertical]="false"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Radio</lux-form-label>
          <lux-form-hint>Hallo Hint!<br />Bin sogar mehrzeilig!</lux-form-hint>
        </lux-radio-ac>
        <lux-datepicker-ac
          luxPlaceholder="Datepicker"
          luxControlBinding="datepicker"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Datepicker</lux-form-label>
          <lux-form-hint>Datepicker</lux-form-hint>
        </lux-datepicker-ac>
        <lux-autocomplete-ac
          [luxOptions]="[{ label: 'Test1' }, { label: 'Test2' }]"
          luxOptionLabelProp="label"
          luxPlaceholder="Autocomplete"
          luxControlBinding="autocomplete"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        >
          <lux-form-label>Autocomplete</lux-form-label>
          <lux-form-hint>Autocomplete</lux-form-hint>
        </lux-autocomplete-ac>
        <lux-slider-ac
          luxLabel="Slider"
          luxControlBinding="slider"
          luxHint="Slider"
          [luxDisabled]="disabled"
          [luxNoBottomLabel]="true"
          [luxDense]="denseFormat"
        ></lux-slider-ac>
      </div>
      <br />
    </lux-card-content-expanded>
  </lux-card>
</div>
