.baseline-row > * {
  box-sizing: border-box;
  display: flex;
  min-width: 150px !important;
}

.message-box {
  border-left: 8px solid var(--lux-theme-primary-color);
  border-radius: 4px;
  background-color: var(--lux-theme-primary-50);
  padding: 12px 24px;
  margin: 32px 0;
  max-width: fit-content;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  max-width: 1400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

lux-card-content-expanded h4 {
  margin-top: 0;
  margin-bottom: 2em;
}

:host {
  &.show-frames {
    ::ng-deep {
      .baseline lux-card-content, .baseline lux-card-content-expanded {
        
        .lux-form-control-wrapper {
          background: lightslategray !important;
        }
        .lux-form-control-label-authentic {
          background: lightgreen !important;
        }
        .lux-form-control-container-authentic, .lux-form-control-borderless .lux-form-control-container-authentic {
          background: skyblue !important;
        }
        .lux-form-control-misc-authentic {
          background: pink !important;
        }
      }
    }
  }
}
