<button
  *ngIf="luxRaised && !luxRounded && !luxFlat && !luxStroked"
  mat-raised-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="!luxRaised && !luxRounded && luxFlat && !luxStroked"
  mat-flat-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>
<button
  *ngIf="!luxRaised && !luxRounded && !luxFlat && luxStroked"
  mat-stroked-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="!luxRaised && !luxRounded && !luxFlat && !luxStroked"
  mat-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="luxRounded"
  mat-fab
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-button-rounded"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container  *ngTemplateOutlet="iconTemplateRoundButton"></ng-container>
</button>

<ng-template #iconTemplate>
  <lux-icon [luxIconName]="luxIconName" luxPadding="0px" luxMargin="0px" class="lux-button-icon"></lux-icon>
</ng-template>
<ng-template #iconTemplateRoundButton>
  <lux-icon [luxIconName]="luxIconName" luxPadding="0px" class="lux-button-icon-round"></lux-icon>
</ng-template>

<ng-template #noIconTemplate></ng-template>
