.lux-button-rounded {
  width: 45px;
  ::ng-deep {
    lux-icon {

      i,
      mat-icon {
        line-height: 1;
        font-size: 1.5em !important;
        display: inline-block;
      }
    }
    .mat-button-wrapper {
      padding: 0;
      display: inline-flex;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

// .lux-icon-button.mat-fab ::ng-deep .mat-button-wrapper {
//   padding: 0;
//   line-height: 24px;
// }

.lux-button {
  &.mat-raised-button, 
  &.mat-button, 
  &.mat-flat-button, 
  &.mat-stroked-button { 
    line-height: normal;
    
    ::ng-deep {
      .mat-button-wrapper {
        height: 100%;
        display: inline-flex;
        align-items: center;
      }
      lux-icon {
        i,
        mat-icon {
          line-height: 1;
          font-size: 1.2em !important;
          vertical-align: middle;
        }
      }
    }
  }
}