<button
  *ngIf="luxRaised && !luxRounded"
  mat-raised-button
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-bold lux-align-center"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-align-baseline': luxIconAlignWithLabel && !!luxIconName, 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="luxStroked && !luxRounded"
  mat-stroked-button
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-bold lux-align-center"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-align-baseline': luxIconAlignWithLabel && !!luxIconName, 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="!luxRaised && !luxRounded && !luxStroked"
  mat-button
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-bold lux-align-center"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-align-baseline': luxIconAlignWithLabel && !!luxIconName, 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight ? iconTemplate : noIconTemplate"></ng-container>
</button>

<button
  *ngIf="luxRounded"
  mat-fab
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-bold lux-align-center lux-button-rounded mat-elevation-z1"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-align-baseline': luxIconAlignWithLabel && !!luxIconName, 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxIconName && !luxIconShowRight? iconTemplate : noIconTemplate"></ng-container>
  <span class="lux-button-label" [ngClass]="{ 'lux-ml-3': !!luxIconName && !luxIconShowRight, 'lux-mr-3': !!luxIconName && luxIconShowRight }" *ngIf="luxLabel">
    {{ luxLabel }}
  </span>
  <ng-container *ngTemplateOutlet="luxIconName && luxIconShowRight? iconTemplate : noIconTemplate"></ng-container>
</button>

<ng-template #iconTemplate>
  <lux-icon [luxIconName]="luxIconName" [luxIconSize]="iconSize" luxMargin="0" luxPadding="0"></lux-icon>
</ng-template>
<ng-template #noIconTemplate></ng-template>
