<button
  *ngIf="luxRaised && !luxRounded && !luxFlat && !luxStroked"
  mat-raised-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxButtonContent"></ng-container>
</button>

<button
  *ngIf="!luxRaised && !luxRounded && luxFlat && !luxStroked"
  mat-flat-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxButtonContent"></ng-container>
</button>
<button
  *ngIf="!luxRaised && !luxRounded && !luxFlat && luxStroked"
  mat-stroked-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxButtonContent"></ng-container>
</button>

<button
  *ngIf="!luxRaised && !luxRounded && !luxFlat && !luxStroked"
  mat-button
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName }"
  [attr.aria-label]="luxLabel ? luxLabel : ''"
>
  <ng-container *ngTemplateOutlet="luxButtonContent"></ng-container>
</button>

<button
  *ngIf="luxRounded && !luxStroked"
  mat-fab
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-button-rounded"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName, 'lux-fab-rounded-default': !luxColor  }"
  [attr.aria-label]="luxLabel ? luxLabel : luxIconName"
>
  <lux-icon [luxIconName]="luxIconName" luxPadding="0px" luxMargin="0px" luxIconSize="1.125rem" class="lux-button-icon-round"></lux-icon>
</button>

<button
  *ngIf="luxRounded && luxStroked"
  mat-fab
  [disableRipple]="true"
  [color]="luxColor"
  (click)="clicked($event)"
  (auxclick)="auxClicked($event)"
  [disabled]="luxDisabled"
  [type]="luxType"
  class="lux-button lux-button-rounded lux-stroked"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  [ngClass]="{ 'lux-icon-button': !!luxIconName, 'lux-fab-stroked-default': !luxColor  }"
  [attr.aria-label]="luxLabel ? luxLabel : luxIconName"
>
  <lux-icon [luxIconName]="luxIconName" luxPadding="0px" luxMargin="0px" luxIconSize="1.125rem" class="lux-button-icon-round"></lux-icon>
</button>

<ng-template #luxButtonContent>
  <div class="lux-button-content-container">
    <lux-icon
      *ngIf="luxIconName && !luxIconShowRight"
      [luxIconName]="luxIconName"
      luxPadding="0px"
      luxMargin="0px"
      luxIconSize="0.875rem"
      class="lux-button-icon"
    ></lux-icon>
    <span class="lux-button-label" *ngIf="luxLabel">
      {{ luxLabel }}
    </span>
    <span
      class="lux-button-badge lux-bg-color-primary-500"
      [ngClass]="{
        'lux-bg-color-primary-500': luxButtonBadgeColor === 'primary',
        'lux-bg-color-warn-500': luxButtonBadgeColor === 'warn',
        'lux-bg-color-accent-500': luxButtonBadgeColor === 'accent',
        'lux-mr-3': !!luxIconName && luxIconShowRight
      }"
      *ngIf="luxButtonBadge && !luxDisabled"
    >
      {{ luxButtonBadge }}
    </span>
    <lux-icon
      *ngIf="luxIconName && luxIconShowRight"
      [luxIconName]="luxIconName"
      luxPadding="0px"
      luxMargin="0px"
      luxIconSize="0.875rem"
      class="lux-button-icon"
    ></lux-icon>
  </div>
</ng-template>
