<div 
  class="link-wrapper" 
  tabindex="0"
  luxAriaRole="link" 
  [ngClass]="{ 'lux-disabled': luxDisabled }"
  (click)="!luxDisabled ? redirectToHref($event) : null" 
  (auxclick)="!luxDisabled ? auxClicked($event) : null" 
  >
  <lux-icon 
    [luxIconName]="luxIconName" 
    luxIconSize="1x"
    *ngIf="!luxIconShowRight && luxIconName" 
  ></lux-icon>
  <span 
    class="lux-link-plain-text"
    [ngClass]="{ 'lux-ml-2': !luxIconShowRight && luxIconName, 'lux-mr-2': luxIconShowRight && luxIconName }"
  >
    {{ luxLabel }}
  </span>
  <lux-icon 
    [luxIconName]="luxIconName" 
    luxIconSize="1x"
    *ngIf="luxIconShowRight && luxIconName"
  ></lux-icon>
</div>