<div
  class="link-wrapper"
  tabindex="{{ luxDisabled ? -1 : 0 }}"
  luxAriaRole="link"
  luxAriaLabel="{{ luxLabel }}"
  [ngClass]="[luxDisabled ? 'lux-disabled' : '']"
  (click)="!luxDisabled ? redirectToHref($event) : null"
  (auxclick)="!luxDisabled ? auxClicked($event) : null"
>
  <lux-icon [luxIconName]="luxIconName" *ngIf="!luxIconShowRight && luxIconName"></lux-icon>
  <span class="lux-link-plain-text">
    {{ luxLabel }}
  </span>
  <lux-icon [luxIconName]="luxIconName" *ngIf="luxIconShowRight && luxIconName"></lux-icon>
</div>
