<lux-select-ac
  luxLabel="luxClasses"
  [(luxSelected)]="tableExample.cssClass"
  [luxOptions]="tableExample.tableCSS"
  luxOptionLabelProp="class"
>
  <lux-form-hint>
    Dieses Property enthält ein Objekt/Array welches das Interface ICustomCSSConfig implementiert.<br />
    Das Interface bietet einen Klassennamen und eine Callback-Funktion an, um auf spezielle Elemente in der Tabelle angewendet zu werden.
  </lux-form-hint>
</lux-select-ac>
<lux-input-ac luxLabel="luxMinWidthPx" luxType="number" [luxNumberAlignLeft]="true" [(luxValue)]="tableExample.minWidthPx">
  <lux-form-hint>Bestimmt die Minimalbreite der Tabelle in PX (greift erst ab dem nächsten Resize des Fensters). </lux-form-hint>
</lux-input-ac>
<lux-toggle-ac luxLabel="Höhe festlegen" [(luxChecked)]="tableExample.calculateProportions" [luxNoTopLabel]="true">
  <lux-form-hint>
    Die Höhe des Parent-Divs dieser Tabelle auf eine bestimmte Höhe festlegen.<br />
    Wenn mehr Einträge vorhanden sind, als durch die Höhe darstellbar, wird die Tabelle automatisch scrollbar.
  </lux-form-hint>
</lux-toggle-ac>
<lux-input-ac luxLabel="Höhe" luxType="number" [(luxValue)]="tableExample.tableHeightPx" [luxDisabled]="!tableExample.calculateProportions">
  <lux-form-hint>Höhe des Parent-Elements für die LuxTable.</lux-form-hint>
</lux-input-ac>
<lux-toggle-ac luxLabel="luxAutoPaginate" [(luxChecked)]="tableExample.autoPagination" [luxNoTopLabel]="true">
  <lux-form-hint>
    Diese Property aktiviert/deaktiviert die automatische Freischaltung der Pagination ab 100 auf einmal dargestellten Einträgen.
  </lux-form-hint>
</lux-toggle-ac>
<lux-toggle-ac luxLabel="luxHideBorders" [(luxChecked)]="tableExample.hideBorders" [luxNoTopLabel]="true">
  <lux-form-hint>Mithilfe dieser Property können die Borders der Table ausgeschaltet werden.</lux-form-hint>
</lux-toggle-ac>
<lux-select-ac
  luxLabel="luxColWidthsPercent"
  [(luxSelected)]="tableExample.columnWidthOption"
  [luxOptions]="tableExample.columnWidthOptions"
  luxOptionLabelProp="label"
  [luxPickValue]="tableExample.pickColWidth"
>
  <lux-form-hint>Enthält ein Array von Strings, welche einen %-Wert für die Breite der jeweiligen Spalte beinhalten. </lux-form-hint>
</lux-select-ac>
<div class="lux-simple-form column">
  <h3>Optionen der Spalten</h3>
  <lux-accordion class="lux-mt-3" luxMode="flat">
    <lux-panel *ngFor="let config of tableExample.columnConfigs">
      <lux-panel-header-title> Spalte "{{ config.label }}" </lux-panel-header-title>
      <lux-panel-content>
        <lux-toggle-ac luxLabel="Sortierbar" [(luxChecked)]="config.sortable" [luxNoTopLabel]="true"> </lux-toggle-ac>
        <lux-toggle-ac
          luxTagId="table-advanced-options-sticky"
          [(luxChecked)]="config.sticky"
          [luxDisabled]="config.sticky === undefined"
          [luxNoTopLabel]="true"
        >
          <lux-form-label>Sticky</lux-form-label>
        </lux-toggle-ac>
        <lux-select-ac
          luxLabel="Responsive Verhalten"
          [luxOptions]="BEHAVIOURS | responsiveBehaviourFiltered: config"
          luxOptionLabelProp="label"
          [(luxSelected)]="config.responsiveBehaviour"
        >
        </lux-select-ac>
        <lux-select-ac
          luxLabel="Responsive MediaQueries"
          [luxMultiple]="true"
          [luxOptions]="tableExample.mediaQueryOptions"
          [(luxSelected)]="config.responsiveAt"
          [luxDisabled]="config.responsiveBehaviour.value === null ? true : false"
          [luxRequired]="true"
        >
        </lux-select-ac>
      </lux-panel-content>
    </lux-panel>
  </lux-accordion>
</div>
