<lux-form-control-wrapper
  *ngIf="formGroup"
  [luxNoInputRow]="true"
  [luxFormComponent]="this"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [formGroup]="formGroup"
  [luxLabelLongFormat]="luxLabelLongFormat"
  luxTagId="luxSliderWrapper"
>
  <mat-slider
    [luxTabIndex]="luxReadonly ? '-1' : '0'"
    [luxPotentialChildren]="['input']"
    luxTagIdHandler
    [luxTagId]="luxTagId"
    [color]="luxColor"
    [max]="luxMax"
    [min]="luxMin"
    [step]="luxStep"
    [discrete]="luxShowThumbLabel"
    [displayWith]="_luxDisplayWith"  
    class="lux-slider-ac"
    [id]="uid"
    [luxAriaDescribedby]="descripedBy()"
    [luxAriaInvalid]="'' + formControl.invalid"
    [luxAriaRequired]="luxRequired"
    [luxAriaLabel]="luxLabel"
    tabIndex="-1"
   #ngSlider><input matSliderThumb [ngClass]="{'lux-readonly': luxReadonly}"  [formControl]="formControl" [value]="luxValue" (valueChange)="onChange($event)" #ngSliderThumb="matSliderThumb" (input)="onInput(ngSliderThumb.value)" [readOnly]="luxReadonly" />
  </mat-slider>
</lux-form-control-wrapper>
