<ng-template #content>
  <h2 class="example-lux-stepper-large-h2">{{ luxTitle }}</h2>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
    ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
    sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>

  <div [formGroup]="form" class="lux-grid lux-grid-cols-2 lt-lg:lux-grid-cols-1 lux-gap-6">
    <lux-input-ac luxLabel="Bezeichnung" luxName="stepper-large.example.label" luxControlBinding="label"></lux-input-ac>
    <lux-input-ac
      luxLabel="Farbe"
      luxName="stepper-large.example.color"
      luxControlBinding="color"
      luxHint="(primary, accent, warn)"
    ></lux-input-ac>

    <lux-input-ac luxLabel="Iconname" luxName="stepper-large.example.iconname" luxControlBinding="iconName"></lux-input-ac>
    <lux-toggle-ac
      luxLabel="Icon rechts anzeigen"
      luxName="stepper-large.example.iconShowRight"
      luxControlBinding="iconShowRight"
    ></lux-toggle-ac>
  </div>

  <p>
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
    vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
    volutpat.
  </p>
  <lux-stepper-large-example-error-message-box class="lux-mt-5" [luxTitle]="luxTitle" [luxCompleted]="luxCompleted">
  </lux-stepper-large-example-error-message-box>
</ng-template>
