<ng-template #content>
  <h2 class="example-lux-stepper-large-h2">{{ luxTitle }}</h2>
  <p>
    Dieser Tab soll zeigen, dass für jeden Schritt eine Veto-Funktion hinterlegt werden kann, die aufgerufen wird, bevor zum nächsten
    Schritt navigiert wird. Wenn <strong>keine</strong> Veto-Funktion angegeben wird, hängt das Navigieren vom <i>luxCompleted</i>-Property
    ab. Das <i>luxCompleted</i>-Property ist bei diesem speziellen Veto-Schritt aktiv. Hier in der Demo wird ein Dialog geöffnet, welcher
    bestimmt, ob weiter navigiert wird oder nicht. Normalerweise würde die Veto-Funktion übergreifende Validierungen durchführen oder
    Anfragen an ein Backend (z.B. Berechtigung, BPM,..) stellen.
  </p>
</ng-template>
