.master-detail-light-container {
  height: 100%;
  padding: 10px;
  overflow: hidden;
  &.master-light-closed {
    padding-left: 0px;
  }
}

.master-light-container {
  border: 1px solid lime;
  border-radius: 4px;
  height: 100%;
  &.master-light-closed {
    width: 30px;
    left: -100px;
    height: 100%;
  }
}

.master-light-header{
  background-color: lavenderblush;
  height: 30px;
}
.master-light-content{
  background-color: papayawhip;
  height: 50px;
}
.detail-light-container {
  border: 1px solid blue;
  border-radius: 4px;
  height: 100%;
}

.detail-light-header{
  background-color: lavenderblush;
  height: 30px;
}
.detail-light-content{
  background-color: papayawhip;
  height: 50px;
}
.master-light-toggle {

}