<div
  class="lux-form-control"
  [ngClass]="{
    'lux-form-control-error': shouldDisplayError(),
    'lux-form-control-scalable-height': luxScalableHeight,
    'lux-form-control-disabled': luxFormComponent.luxDisabled,
    'lux-form-control-readonly': luxFormComponent.luxReadonly,
    'lux-focused': focused
  }"
  fxLayout="column"
  (focusin)="focusin()"
  (focusout)="focusout()"
>
  <!-- Container für das Label -->
  <div class="lux-form-control-label">
    <!-- Hier wird entweder das luxLabel oder das übergebene Tag heraus gerendert -->
    <div class="lux-label" *ngIf="!luxIgnoreDefaultLabel">
      <label
        class="lux-form-label"
        [id]="luxFormComponent.uid + '-label'"
        [for]="luxFormComponent.uid"
        *ngIf="luxFormComponent.formLabelComponent || luxFormComponent.luxLabel"
      >
        <ng-container *ngIf="luxFormComponent.luxLabel; else formLabelTemplate">
          {{ luxFormComponent.luxLabel }}
        </ng-container>
        <ng-template #formLabelTemplate>
          <ng-container *ngTemplateOutlet="luxFormComponent.formLabelComponent.templateRef"></ng-container>
        </ng-template>
        {{ luxFormComponent.luxRequired ? ' *' : '' }}
      </label>
    </div>
  </div>
  <!-- Container für das FormControl -->
  <div class="lux-form-control-container" fxFlex="auto">
    <ng-content></ng-content>
  </div>
  
  <!-- Container fürw Hint/Error und Character-Counter-->
  <div class="lux-form-control-misc-container" fxLayout="row" fxLayoutAlign="space-between start">
    <!-- Container für das Hint und den Error -->
    <div class="lux-form-control-misc" *ngIf="shouldDisplayMisc()">
      <ng-container [ngSwitch]="shouldDisplayError()">
        <mat-error [id]="luxFormComponent.uid + '-error'" *ngSwitchCase="true">
          {{ luxFormComponent.errorMessage }}
        </mat-error>
        <ng-container *ngSwitchDefault>
          <!-- Hier wird entweder das luxHint oder das übergebene Tag heraus gerendert -->
          <mat-hint
            *ngIf="(luxFormComponent.formHintComponent || luxFormComponent.luxHint) && (!luxFormComponent.luxHintShowOnlyOnFocus || (luxFormComponent.luxHintShowOnlyOnFocus && focused))"
            [id]="luxFormComponent.uid + '-hint'"
          >
            <ng-container *ngIf="luxFormComponent.luxHint; else formHintTemplate">
              {{ luxFormComponent.luxHint }}
            </ng-container>
            <ng-template #formHintTemplate>
              <ng-container *ngTemplateOutlet="luxFormComponent.formHintComponent.templateRef"></ng-container>
            </ng-template>
          </mat-hint>
        </ng-container>
      </ng-container>
    </div>
    <!-- Container für Character-Counter -->
    <div class="lux-form-control-character-counter"><ng-container *ngIf="focused">{{ luxCounterLabel }}</ng-container></div>
  </div>
</div>