:host {
  position: relative;

  ::ng-deep {
    .mat-checkbox-label {
      -ms-word-break: break-word;
      word-break: break-word;
      white-space: normal;
    }

    .mat-checkbox-ripple {
      display: none;
    }

    .mat-checkbox-inner-container {
      // die Checkbox soll größer sein, als von Material vorgegeben
      width: 1.25em;
      height: 1.25em;
      margin-top: 0px; //bei mehrzeiligen Labels wird die Checkbox oben und nicht zentriert angezeigt
    }
  }
}

.lux-form-label {
  cursor: pointer;
}
