<lux-form-control-wrapper
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [formGroup]="formGroup"
  [luxNoInputRow]="true"
  [luxIgnoreDefaultLabel]="true"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  luxTagId="luxCheckboxWrapper"
  (click)="formControl.markAsTouched()"
>
  <mat-checkbox
    [formControl]="formControl"
    [disableRipple]="true"
    [required]="luxRequired"
    color="primary"
    luxTagIdHandler
    [luxTagId]="luxTagId"
    [id]="uid"
    [luxAriaDescribedby]="descripedBy()"
    luxAriaDescribedbySelector=".mat-checkbox-input"
    [luxAriaRequired]="luxRequired"
    luxAriaRequiredSelector=".mat-checkbox-input"
    [luxAriaInvalid]="'' + formControl.invalid"
    luxAriaInvalidSelector=".mat-checkbox-input"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
    tabIndex="{{ luxReadonly ? -1 : 0 }}"
  >
    <span class="lux-form-label" *ngIf="formLabelComponent || luxLabel">
      <ng-container *ngIf="luxLabel; else formLabelTemplate">{{ luxLabel }}</ng-container><!-- Einzeilig lassen, sonst bricht das Label an dem Leerzeichen um. -->
      <ng-template #formLabelTemplate>
        <ng-container *ngTemplateOutlet="formLabelComponent?.templateRef ?? null"></ng-container>
      </ng-template>{{ luxRequired ? '&nbsp;*' : '' }}<!-- Nicht in die nächste Zeile verschieben, sonst bricht das Label an dem Leerzeichen um. -->
    </span>
  </mat-checkbox>
</lux-form-control-wrapper>
