.overlay-content {
  overflow: auto;
  background-color: gray;
  padding: 8px;
  border-radius: 4px;
}

pdf-viewer {
  height: 100%;
}

.message-box-pdf {
  position: absolute;
  overflow: hidden;
}

.zoom-select ::ng-deep div.lux-form-control {
  min-height: 30px !important;
}
