<lux-file-preview-toolbar>
  <lux-select
    fxFlex="80px"
    [luxOptions]="options"
    [(luxSelected)]="zoom"
    luxOptionLabelProp="label"
    luxAriaLabel="Zoom"
  ></lux-select>
  <lux-button
    fxFlex="none"
    luxIconName="fas fa-arrow-left"
    *ngIf="!showAll"
    (luxClicked)="onPrevPage()"
    [luxDisabled]="page === 1"
    [ngClass]="{ 'lux-button-disabled': page === 1 }"
    luxRaised="true"
    luxTagId="file-preview-zoomin-btn"
    luxAriaLabel="Hinein zoomen"
  ></lux-button>
  <lux-button
    fxFlex="none"
    luxIconName="fas fa-arrow-right"
    (luxClicked)="onNextPage()"
    [luxDisabled]="page === numPages"
    [ngClass]="{ 'lux-button-disabled': page === numPages }"
    *ngIf="!showAll"
    luxRaised="true"
    luxTagId="file-preview-zoomout-btn"
    luxAriaLabel="Heraus zoomen"
  ></lux-button>
  <lux-button
    fxFlex="none"
    [luxIconName]="downloadIconName"
    (luxClicked)="onDownload()"
    luxColor="accent"
    luxRaised="true"
    [luxTagId]="downloadTagId"
    [luxAriaLabel]="downloadAriaLabel"
  ></lux-button>
  <lux-button
    fxFlex="none"
    [luxIconName]="closeIconName"
    (luxClicked)="onClose()"
    luxRaised="true"
    [luxTagId]="closeTagId"
    [luxAriaLabel]="closeAriaLabel"
  ></lux-button>
</lux-file-preview-toolbar>

<div class="overlay-content" [ngStyle]="{ width: width + 'px', height: height + 'px' }">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="loading"
    class="message-box message-box-pdf"
    [ngStyle]="{
      left: this.loadingDivLeft + 'px',
      top: this.loadingDivTop + 'px',
      width: loadingDivWidth + 'px',
      height: loadingDivHeight + 'px'
    }"
  >
    <p>Lade...</p>
  </div>
  <pdf-viewer
    *ngIf="url"
    [src]="url"
    [show-all]="showAll"
    [page]="page"
    [zoom]="zoom.value"
    [render-text]="false"
    [c-maps-url]="'assets/cmaps/'"
    (page-rendered)="pageRendered($event)"
    (after-load-complete)="callBackFn($event)"
    (error)="onError($event)"
    (on-progress)="onProgress($event)"
    style="display: block;"
  ></pdf-viewer>
</div>
