// Einstellung der Höhe des Progresses
$sizes: 'small', 'medium', 'large';
$sizesPx: '6px', '12px', '24px';
$sizesPxSpinner: '24px', '48px', '96px';

@for $i from 1 through length($sizes) {
  .lux-progress-#{nth($sizes, $i)} ::ng-deep {

    mat-progress-bar {
      min-height: #{nth($sizesPx, $i)};
    }
    
    .mdc-linear-progress__bar {
      min-height: #{nth($sizesPx, $i)};
    }

    .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
      background-color: #bcc8d5;
    }

    .mdc-linear-progress__buffer{
      min-height: #{nth($sizesPx, $i)};
    }

    .mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
      border-top-width: #{nth($sizesPx, $i)};
    }

    mat-progress-spinner,
    mat-progress-spinner > svg {
      height: #{nth($sizesPxSpinner, $i)} !important;
      width: #{nth($sizesPxSpinner, $i)} !important;
    }
  }
}
