<div
  [class]="animDurationCSS"
  [ngSwitch]="luxType"
  [ngClass]="['lux-progress-' + luxSize, luxType === 'Spinner' ? 'spinner-padding' : '']"
>
  <ng-container *ngSwitchCase="'Progressbar'">
    <mat-progress-bar
      luxTagIdHandler
      [luxTagId]="luxTagId"
      [luxCustomTagId]="luxTagId"
      [ngClass]="[typeCSS, 'lux-bg-color-' + luxColor]"
      [mode]="luxMode"
      [value]="luxValue"
    >
    </mat-progress-bar>
  </ng-container>
  <ng-container *ngSwitchCase="'Spinner'">
    <mat-progress-spinner
      luxTagIdHandler
      [luxTagId]="luxTagId"
      [luxCustomTagId]="luxTagId"
      [ngClass]="[typeCSS, 'lux-bg-color-' + luxColor]"
      [mode]="luxMode"
      [value]="luxValue"
    >
    </mat-progress-spinner>
  </ng-container>
</div>
