<div
  fxLayout="row"
  class="lux-app-footer lux-p-footer footerFont"
  fxFlexFill
  [luxAriaRole]="luxAriaRoleFooterLabel ? 'contentinfo' : undefined"
  [luxAriaLabel]="luxAriaRoleFooterLabel"
>
  <div *ngIf="luxVersion" fxFlex="none" fxLayoutAlign="left center" fxShow="false" fxShow.gt-lg="true" class="version" i18n="@@luxc.app-footer.version">
    Version {{ luxVersion }}
  </div>

  <div *ngIf="linkInfos" fxFlex="none" fxLayoutAlign="left center" fxLayout="row" class="lux-app-footer-links">
    <ng-container *ngFor="let linkItem of linkInfos">
      <lux-link
        [luxLabel]="linkItem.label"
        *ngIf="linkItem.alwaysVisible || desktopView"
        [luxHref]="linkItem.path"
        [luxBlank]="linkItem.blank"
      >
      </lux-link>
    </ng-container>
  </div>

  <div fxFlex="auto" fxLayoutAlign="right center" class="lux-app-footer-buttons">
    <lux-menu
      [luxDisplayExtended]="true"
      [luxDisplayMenuLeft]="false"
      [luxMaximumExtended]="10"
      luxMenuIconName="fa-ellipsis-v"
      luxTagId="app_footer_menu"
      #buttonMenu
    >
      <ng-container *ngFor="let menuItem of buttonInfos">
        <lux-menu-item
          [luxLabel]="menuItem.label"
          [luxIconName]="menuItem.iconName"
          [luxTagId]="menuItem.label"
          [luxPrio]="menuItem.prio"
          [luxHidden]="menuItem.hidden"
          [luxAlwaysVisible]="menuItem.alwaysVisible"
          [luxDisabled]="menuItem.disabled"
          [luxRaised]="menuItem.raised"
          [luxColor]="menuItem.color"
          [luxButtonTooltip]="menuItem.tooltip"
          (luxClicked)="sendButtonCommand(menuItem.cmd)"
        >
        </lux-menu-item>
      </ng-container>
    </lux-menu>
  </div>
</div>
