<div
  class="lux-app-footer lux-p-3 lt-md:lux-p-2"
  [luxAriaRole]="luxAriaRoleFooterLabel ? 'contentinfo' : undefined"
  [luxAriaLabel]="luxAriaRoleFooterLabel"
>
  <div *ngIf="luxVersion" class="version lt-lg:lux-display-none" i18n="@@luxc.app-footer.version">Version {{ luxVersion }}</div>

  <div *ngIf="linkInfos" class="lux-app-footer-links">
    <ng-container *ngFor="let linkItem of linkInfos">
      <lux-link
        [luxLabel]="linkItem.label"
        *ngIf="linkItem.alwaysVisible || desktopView"
        [luxHref]="linkItem.path"
        [luxBlank]="linkItem.blank"
      >
      </lux-link>
    </ng-container>
  </div>

  <div class="lux-app-footer-buttons">
    <lux-menu
      [luxDisplayExtended]="true"
      [luxDisplayMenuLeft]="false"
      [luxMaximumExtended]="10"
      luxMenuIconName="lux-interface-setting-menu-vertical"
      luxTagId="app_footer_menu"
      #buttonMenu
    >
      <ng-container *ngFor="let menuItem of buttonInfos">
        <lux-menu-item
          [luxLabel]="menuItem.label"
          [luxIconName]="menuItem.iconName"
          [luxTagId]="menuItem.label"
          [luxPrio]="menuItem.prio"
          [luxHidden]="menuItem.hidden"
          [luxAlwaysVisible]="menuItem.alwaysVisible"
          [luxDisabled]="menuItem.disabled"
          [luxRaised]="menuItem.raised"
          [luxFlat]="menuItem.flat"
          [luxStroked]="menuItem.stroked"
          [luxColor]="menuItem.color"
          [luxButtonTooltip]="menuItem.tooltip"
          [luxMenuTooltip]="menuItem.tooltipMenu"
          (luxClicked)="sendButtonCommand(menuItem.cmd)"
        >
        </lux-menu-item>
      </ng-container>
    </lux-menu>
  </div>
</div>
