:host {
  flex: 0 0 auto;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}

.lux-app-footer {
  overflow: hidden;
  background-color: var(--lux-theme-primary-50);
  border-bottom: 6px solid var(--lux-theme-primary-500);
}

.lux-app-footer-buttons {
  min-width: 0;
}

.footerFont {
  font-size: 14px;
  font-weight: 500;
}

.version {
  padding: 0 16px;
}
