<example-base-structure exampleTitle="Link" exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90link-v18">
  <example-base-content [exampleCentered]="true">
    <lux-link
      [luxLabel]="label"
      [luxColor]="color"
      [luxIconName]="iconName"
      [luxIconShowRight]="iconShowRight"
      [luxFlat]="flat"
      [luxRaised]="raised"
      [luxRounded]="round"
      [luxDisabled]="disabled"
      luxTagId="demo-link"
      [luxHref]="href"
      [luxBlank]="blank"
      (luxClicked)="click($event)"
    >
    </lux-link>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-input-ac luxName="link_luxHref" [(luxValue)]="href" luxLabel="luxHref">
      <lux-form-hint>
        Bestimmt die URL, zu der der Link routet.<br />
        Wenn die URL nicht mit <i>http</i> beginnt, wird automatisch der Angular-Router für Routing innerhalb der Applikation genommen.
      </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac
      [(luxChecked)]="blank"
      luxLabel="luxBlank"
      luxHint="Diese Property bestimmt ob (externe) Links in einem neuen Tab geöffnet werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>

    <lux-input-ac [(luxValue)]="label" luxLabel="luxLabel" luxHint="Bestimmt den Text, der für den Link angezeigt wird."></lux-input-ac>
    <lux-input-ac luxName="button_luxIconName" [(luxValue)]="iconName" luxLabel="luxIconName">
      <lux-form-hint>
        Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
        <i>luxLabel</i> gesetzt ist).<br />
        Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
      </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac luxLabel="luxIconShowRight" [(luxChecked)]="iconShowRight" [luxNoLabels]="true"></lux-toggle-ac>
    <lux-select-ac [(luxSelected)]="color" [luxOptions]="colors" luxLabel="luxColor" [luxPickValue]="pickValue" luxOptionLabelProp="label">
      <lux-form-hint>
        Bestimmt die Farbe des Buttons.<br />
        Die möglichen Werte sind 'primary', 'warn', 'accent', 'default' / undefined.
      </lux-form-hint>
    </lux-select-ac>
    <lux-toggle-ac
      [(luxChecked)]="flat"
      (luxCheckedChange)="onFlat($event)"
      luxLabel="luxFlat"
      luxHint="Über diese Property kann der Link flach und ohne Schatten dargestellt werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="raised"
      (luxCheckedChange)="onRaised($event)"
      luxLabel="luxRaised"
      luxHint="Über diese Property kann der Link hervorgehoben dargestellt werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="round"
      (luxCheckedChange)="onRounded($event)"
      luxLabel="luxRounded"
      luxHint="Diese Property aktiviert eine runde Darstellung des Links."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac [(luxChecked)]="disabled" luxLabel="luxDisabled" luxHint="Diese Property deaktiviert den Link." [luxNoTopLabel]="true">
    </lux-toggle-ac>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Label Uppercase"
      [(luxChecked)]="config.labelConfiguration!.allUppercase"
      (luxCheckedChange)="updateConfiguration()"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Über den <i>LuxComponentsConfigService</i> kann für alle LuxLinks applikationsweit eine Uppercase-Darstellung forciert werden.
      </lux-form-hint>
    </lux-toggle-ac>
  </example-base-advanced-options>
</example-base-structure>
