<example-base-structure
  exampleTitle="Lookup-Label"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90lookup%E2%80%90label"
>
  <example-base-content>
    <lux-lookup-label
      [luxBezeichnung]="bezeichnung"
      [luxLookupKnr]="knr"
      [luxTableNo]="tableNo"
      [luxTableKey]="'' + tableKey"
      [luxLookupId]="'label-example'"
    >
    </lux-lookup-label>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac luxName="lookup-label_knr" luxLabel="Knr" [(luxValue)]="knr" luxType="number" [luxNumberAlignLeft]="true"></lux-input-ac>
    <lux-input-ac
      luxName="lookup-label_luxTableNo"
      luxLabel="luxTableNo"
      [luxNumberAlignLeft]="true"
      [(luxValue)]="tableNo"
      luxType="number"
      [luxDisabled]="true"
    >
      <lux-form-hint> Die Property bestimmt die Schlüsseltabelle aus der die Daten geladen werden sollen. </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac
      luxName="lookup-label_luxTableKey"
      luxLabel="luxTableKey"
      [luxNumberAlignLeft]="true"
      [(luxValue)]="tableKey"
      luxType="number"
    >
      <lux-form-hint> Diese Property legt den einzelnen Key des gesuchten Schlüsseltabelleneintrags fest (z.B. 4, 5, 6). </lux-form-hint>
    </lux-input-ac>
    <lux-select-ac
      luxLabel="luxBezeichnung"
      [(luxSelected)]="bezeichnung"
      [luxOptions]="['kurz', 'lang']"
      luxHint="Diese Property bestimmt welche Bezeichnung benutzt wird, um den Schlüsseltabelleneintrag darzustellen."
    >
    </lux-select-ac>
  </example-base-simple-options>
</example-base-structure>
