@import '../lux-file-style/lux-file-common';

lux-form-control-wrapper {
  display: block;
}

.lux-file-container {
  max-height: 24px;
  display: flex;
  box-sizing: border-box;

  ::ng-deep input.lux-file-visible-input {
    width: auto !important;
    flex: 1 0 100px;
  }
  .lux-file-menu-container {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 0 65px;
  }
  lux-menu {
    ::ng-deep {
      .lux-menu-extended {
        justify-content: end;
        overflow: unset;
        gap: 2px;

        lux-button {
          button {
            width: 30px;
            min-width: 30px !important;
          }
        }
      }
    }
  }
}
