@import '../lux-file-style/lux-file-common';

lux-form-control-wrapper {
  display: block;
}

.lux-file-container {
  max-height: 24px;
  input {
    width: auto !important;
  }

  lux-menu {
    ::ng-deep {
      .lux-menu-extended {
        justify-content: end;
        overflow: unset;
        gap: 2px;

        lux-button {
          button {
            width: 30px;
            min-width: 30px !important;
          }
        }
      }
    }
  }
}
