<h1 class="lux-sr-only">Testseite für Formulare</h1>
<lux-tabs luxTagId="form-tabs" [luxDisplayDivider]="true" luxAriaRole="main">
  <lux-tab luxTitle="Allgemein">
    <ng-template>
      <app-form-common></app-form-common>
    </ng-template>
  </lux-tab>
  <lux-tab luxTitle="1 Karte">
    <ng-template>
      <app-form-single-col></app-form-single-col>
    </ng-template>
  </lux-tab>
  <lux-tab luxTitle="2 Karten">
    <ng-template>
      <app-form-dual-col></app-form-dual-col>
    </ng-template>
  </lux-tab>
  <lux-tab luxTitle="3 Karten">
    <ng-template>
      <app-form-three-col></app-form-three-col>
    </ng-template>
  </lux-tab>
  <lux-tab luxTitle="WebFonts">
    <ng-template>
      <app-web-font-demo></app-web-font-demo>
    </ng-template>
  </lux-tab>
</lux-tabs>
