@import './../lux-lookup-model/lux-lookup-component';

::ng-deep .lux-autocomplete-panel {
  padding: var(--lux-theme-outline-width);

  mat-option {
    &.information-option {
      position: fixed;
      background: white;
      z-index: 1000;
      line-height: 24px;
      pointer-events: none;
    }

    &.lux-option-multiline {
      padding: 16px;
      height: unset;

      .mat-option-text {
        white-space: pre-line;
        text-overflow: unset;
        word-wrap: break-word;
        line-height: normal;
      }
    }
  }
}
