@import './../lux-lookup-model/lux-lookup-component';

::ng-deep .lux-autocomplete-panel {
  padding: $outline-width;

  mat-option:not(:last-of-type) {
    margin-bottom: $outline-width;
  }

  mat-option {
    &.information-option {
      position: fixed;
      background: white;
      z-index: 1000;
      line-height: 24px;
      pointer-events: none;
    }
  }
}
