<lux-card luxTitle="{{ title }}">
  <lux-icon luxIconName="fas fa-edit"></lux-icon>
  <lux-card-content>
    <form [formGroup]="formGroup" #myForm fxLayoutGap="5px">
      <lux-select luxLabel="Empfänger" luxControlBinding="empfaenger" [luxOptions]="empfaengerliste" [luxSelected]="selectedEmpaenger" luxMultiple="true">
        <ng-template let-option>
          {{ option.bezeichnung }}
        </ng-template>
      </lux-select>

      <lux-select luxLabel="IHKs" luxControlBinding="ihk" [luxOptions]="luxAuthorizedIhks" [luxSelected]="selectedIhk" luxMultiple="true">
        <ng-template let-option>
          {{ option.name }}
        </ng-template>
      </lux-select>

      <lux-textarea luxLabel="Betreff" luxPlaceholder="Ihr Betreff" luxMinRows="1" luxMaxRows="2" luxControlBinding="betreff"></lux-textarea>

      <lux-textarea luxLabel="Nachricht" luxPlaceholder="Ihre Nachricht" luxMinRows="3" luxMaxRows="6" luxControlBinding="message"></lux-textarea>
      <span> Hinweis: Ein Link kann im folgenden Format hinzugefügt werden: [link|Text|URL] </span>

      <lux-datepicker [luxReadonly]="luxEditMode" luxLabel="Gültig von" luxPlaceholder="Gültig von" luxLocale="de-DE" luxControlBinding="validFrom"></lux-datepicker>
      <lux-input [luxReadonly]="luxEditMode" luxType="time" luxControlBinding="timeFrom" luxLabel="Zeit" luxPlaceholder="hh:mm"></lux-input>

      <lux-datepicker luxLabel="Gültig bis" luxPlaceholder="Gültig bis" luxLocale="de-DE" luxControlBinding="validTo"></lux-datepicker>
      <lux-input luxType="time" luxControlBinding="timeTo" luxLabel="Zeit" luxPlaceholder="hh:mm"></lux-input>

      <p fxLayoutGap="10px" fxLayout="row" *ngIf="formGroup.errors?.invalidDate">
        Das 'Gültig bis' muss nach dem 'Gültig von' liegen.
      </p>
      <p fxLayoutGap="10px" fxLayout="row" *ngIf="formGroup.errors?.invalidTime">
        Die Zeit von 'Gültig bis' muss nach der Zeit von 'Gültig von' liegen.
      </p>

      <lux-checkbox luxLabel="Nachricht bei jedem Login erneut anzeigen" luxControlBinding="erneutAnzeigen"></lux-checkbox>
    </form>
  </lux-card-content>
  <lux-card-actions>
    <div fxLayout="row" fxLayoutGap="10px">
      <lux-button luxLabel="Speichern" luxColor="primary" luxRaised="true" (luxClicked)="speichern()" [luxDisabled]="!formGroup.valid"></lux-button>
      <lux-button luxLabel="Abbrechen" luxRaised="true" (luxClicked)="abbrechen()"></lux-button>
    </div>
  </lux-card-actions>
</lux-card>
