<lux-dialog-structure>
  <lux-dialog-title>Filter speichern</lux-dialog-title>
  <lux-dialog-content>
    <div fxLayout="column" fxLayoutGap="8px" class="lux-filter-save-dialog-form-container">
      <lux-input
        luxLabel="Name"
        [(luxValue)]="filterName"
        [luxRequired]="true"
        [luxControlValidators]="validateForbiddenName()"
        [luxErrorCallback]="filterErrorCallback"
        luxAutocomplete="off"
        (keydown.enter)="onSave()"
      ></lux-input>
    </div>
  </lux-dialog-content>
  <lux-dialog-actions fxLayout="row" fxLayoutGap="12px grid">
    <lux-button
      luxLabel="Speichern"
      luxColor="primary"
      [luxDisabled]="!filterName"
      [luxRaised]="true"
      (luxClicked)="onSave()"
    ></lux-button>
    <lux-button
      luxLabel="Abbrechen"
      luxColor="default"
      [luxRaised]="true"
      (luxClicked)="luxDialogRef.closeDialog(false)"
    ></lux-button>
  </lux-dialog-actions>
</lux-dialog-structure>
