<mat-card
  appearance="outlined"
  (click)="clicked()"
  (keydown.enter)="clicked()"
  (keydown.space)="clicked()"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  tabindex="0"
  class="lux-cursor lux-highlight lux-tile-small-font lux-m-2 gt-sm:lux-m-3"
  [ngClass]="{ 'lux-tile-normal-font': !mobileView }"
  [luxBadgeNotification]="luxCounter ? '' + luxCounter : ''"
  luxBadgeColor="accent"
  [luxBadgeCap]="luxCounterCap"
  [luxBadgeOverlap]="true"
>
  <mat-card-content>
    <div class="lux-tile-content-container lux-flex lux-flex-col">
      <div class="lux-tile-content lux-flex lux-place-content-center lux-items-center">
        <ng-content select="lux-icon"></ng-content>
        <ng-content select="lux-image"></ng-content>
      </div>
      <lux-divider *ngIf="luxLabel" aria-hidden="true"></lux-divider>

      <h2 class="lux-tile-label lux-flex lux-place-content-center lux-items-center" [attr.aria-label]="luxLabel">
        <span>{{ luxLabel }}</span>
      </h2>
    </div>
  </mat-card-content>
</mat-card>

<div
  class="lux-flex lux-flex-grow-1 lux-flex-shrink-1 lux-flex-basis-full"
  [ngClass]="[
    'lux-tile-notification-icon',
    getNotificationIconColorClass(),
    luxCounter !== null && luxCounter !== undefined ? 'lux-badge-notification-visible' : '',
    mobileView ? 'lux-tile-notification-mobile' : ''
  ]"
  *ngIf="luxShowNotification !== undefined && luxShowNotification !== null"
></div>
