@import '../../../../theming/luxcommon';

:host {
  position: relative;
  display: flex;
}

mat-card {
  padding: 0;
}

lux-divider {
  margin-bottom: 0 !important;
}

h2 {
  margin: 0;
}

.lux-highlight {
  color: map-get($lux-palette_darkblue, A400);
}

.lux-tile-small-font {
  flex: 0 0 140px;
  max-width: 140px !important;
  min-width: 140px !important;

  ::ng-deep h2 > * {
    font-size: 0.75em;
  }
}

.lux-tile-normal-font {
  flex: 0 0 240px;
  max-width: 240px !important;
  min-width: 240px !important;

  ::ng-deep h2 > * {
    font-size: 1em;
  }
}

.lux-tile-content,
.lux-tile-content ::ng-deep lux-image {
  height: 100px;
}

.lux-tile-content {
  ::ng-deep lux-icon {
    i,
    mat-icon {
      font-size: 4em;
    }
  }
}

.lux-tile-notification-icon {
  margin-top: -4px;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  border-radius: 9px;
}

.lux-tile-notification-icon {
  position: absolute;

  right: 2px;
  top: 6px;

  &.lux-badge-notification-visible {
    top: 0;
    right: -8px;
    z-index: 1;

    &.lux-tile-notification-mobile {
      top: 1px;
      right: -4px;
    }
  }

  &.lux-tile-notification-mobile {
    top: 4px;
    right: 0;
  }
}

.lux-tile-label {
  padding: 24px;
  text-align: center;
}

.lux-notification-read {
  visibility: hidden;
}

.lux-notification-new {
  background-color: map-get($lux-palette_accentgreen, 500);
}

.lux-tile-small-font ::ng-deep .mat-badge-content {
  top: -4px !important;
  right: -4px !important;
}
