<div class="lux-flex lux-place-content-end lux-items-stretch">
  <div class="lux-menu-extended lux-flex lux-flex-auto lux-place-content-end lux-items-center" #menuExtendedContainer>
    <!-- Trigger, wenn luxDisplayMenuLeft === false -->
    <ng-container *ngIf="!luxDisplayMenuLeft">
      <ng-container [ngTemplateOutlet]="menuTriggerTemplate"></ng-container>
    </ng-container>
    <ng-container *ngFor="let menuItem of visibleMenuItems">
      <lux-button
        class="lux-menu-item"
        [luxLabel]="menuItem.luxHideLabelIfExtended ? '' : menuItem.luxLabel"
        [luxColor]="menuItem.luxColor"
        [luxRaised]="menuItem.luxRaised"
        [luxFlat]="menuItem.luxFlat"
        [luxStroked]="menuItem.luxStroked"
        [luxIconName]="menuItem.luxIconName"
        [luxDisabled]="menuItem.luxDisabled"
        [luxTagId]="menuItem.luxTagId"
        [luxRounded]="menuItem.luxRounded"
        [luxButtonBadge]="menuItem.luxButtonBadge"
        [luxButtonBadgeColor]="menuItem.luxButtonBadgeColor"
        (luxClicked)="menuItemClicked(menuItem, $event)"
        luxAriaLabel="{{ menuItem.luxLabel }}"
        luxAriaLabelSelector="button"
        luxTabIndex="0"
        [luxTooltip]="menuItem.luxButtonTooltip"
        [luxApplyToChildren]="true"
        [ngClass]="menuItem.luxClass ?? ''"
        [ngStyle]="{ display: !menuItem.extended || menuItem.luxHidden ? 'none' : 'inline-block' }"
      >
      </lux-button>
    </ng-container>
    <!-- Trigger, wenn luxDisplayMenuLeft === true -->
    <ng-container *ngIf="luxDisplayMenuLeft">
      <ng-container [ngTemplateOutlet]="menuTriggerTemplate"></ng-container>
    </ng-container>
  </div>
</div>

<!-- Das eigentliche Material-Menu -->
<mat-menu [classList]="'lux-menu-panel ' + luxClassName" (closed)="onMenuClosed()" #menu="matMenu">
  <!-- Alle darin angezeigten MenuItems (Vorausgesetzt diese sind nicht als extended gekennzeichnet) -->
  <ng-container *ngFor="let menuItem of menuItems">
    <button
      mat-menu-item
      [disableRipple]="true"
      class="lux-menu-item"
      [class.with-badge]="menuItem.luxButtonBadge"
      [luxTooltip]="menuItem.luxMenuTooltip"
      [disabled]="menuItem.luxDisabled"
      luxTagIdHandler
      [luxTagId]="menuItem.luxTagId"
      [ngClass]="menuItem.luxClass ?? ''"
      (click)="menuItemClicked(menuItem, $event)"
      *ngIf="!menuItem.extended && !menuItem.luxHidden"
    >
      <lux-icon
        [luxIconName]="menuItem.luxIconName"
        luxPadding="0"
        [luxMargin]="menuItem.luxIconShowRight ? '0 0 0 16px' : '0 16px 0 0'"
        luxIconSize="20px"
        class="lux-menu-item-icon"
        *ngIf="menuItem.luxIconName"
      ></lux-icon>
      <span class="lux-button-label">
        {{ menuItem.luxLabel }}
      </span>
      <span class="lux-button-badge-container" *ngIf="menuItem.luxButtonBadge">
        <span class="lux-button-badge lux-bg-color-primary-500 lux-m-2" [ngClass]="{
                'lux-bg-color-primary-500': menuItem.luxButtonBadgeColor === 'primary',
                'lux-bg-color-warn-500': menuItem.luxButtonBadgeColor === 'warn',
                'lux-bg-color-accent-500': menuItem.luxButtonBadgeColor === 'accent'
              }" *ngIf="menuItem.luxButtonBadge && !menuItem.luxDisabled">
          {{ menuItem.luxButtonBadge }}
        </span>
      </span>
    </button>
  </ng-container>
</mat-menu>

<!-- Der Trigger des Menus -->
<ng-template #menuTriggerTemplate>
  <div
    [matMenuTriggerFor]="menu"
    role="button"
    [luxAriaLabel]="luxAriaMenuTriggerLabel"
    class="lux-menu-trigger lux-color-primary-500"
    [ngClass]="{ 'lux-display-none-important': hideToggle }"
    #menuTrigger
    (menuOpened)="onMenuOpened()"
    (click)="menuTriggerStopPropagation($event)"
    (keydown.enter)="menuTriggerStopPropagation($event)"
    #triggerdiv
  >
  </div>

  <!-- Custom-Trigger, der über Content-Projection geladen werden kann -->
   <ng-container *ngIf="!hideToggle">
     <ng-content select="lux-menu-trigger"> </ng-content>
   </ng-container>

  <!-- Default-Trigger -->
  <lux-button
    class="lux-menu-trigger-default"
    luxTagId="lux-menu-default-trigger"
    [luxLabel]="luxMenuLabel"
    [luxIconName]="luxMenuIconName"
    [luxAriaLabel]="luxAriaMenuTriggerLabel"
    luxAriaLabelSelector="button"
    luxTabIndex="0"
    [luxApplyToChildren]="true"
    [luxIconShowRight]="luxMenuTriggerIconShowRight"
    [luxDisabled]="luxToggleDisabled"
    (luxClicked)="triggerdiv.click()"
    #defaultTrigger
    *ngIf="!luxMenuTriggerComponent && hasVisibleMenuItems()"
  >
  </lux-button>
</ng-template>
