@import '~@ihk-gfi/lux-components-theme/src/public/global';

/* Host-Component anpassen */
:host {
  display: block;
  width: 100%;
}

/* Menu-Overlay-Panel anpassen */
::ng-deep .lux-menu-panel {
  padding: 0 $outline-width;

  .lux-menu-item {
    padding: 0 8px;
    font-size: 16px;

    lux-icon {
      min-width: 25px;
      max-width: 25px;
    }
  }
}

/* Zusätzliche CSS-Klassen */
.lux-display-none {
  display: none !important;
}

.lux-menu-extended {
  overflow: hidden;
  min-width: 0;
  padding: 4px 0;
  position: relative;

  > lux-button {
    margin-right: 8px;
  }
}

.lux-menu-trigger {
  ::ng-deep button {
    height: 45px;
    min-width: 45px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-left: $outline-width !important;
    margin-right: $outline-width !important;

    .mat-button-wrapper {
      font-weight: normal;
      i,
      mat-icon {
        padding: 0;
        font-size: 18px !important;
      }
    }
  }
}

::ng-deep {
  .lux-menu-item {
    margin-top: $outline-width;
    margin-bottom: $outline-width;
    lux-icon {
      i,
      mat-icon {
        font-size: 15px;
      }
    }
  }
}
