/* Host-Component anpassen */
:host {
  display: block;
  width: 100%;
}

/* Zusätzliche CSS-Klassen */
.lux-display-none {
  display: none !important;
}

.lux-menu-extended {
  overflow: hidden;
  min-width: 0;
  padding: 4px 0;
  position: relative;

  > lux-button {
    margin-right: 8px;
  }
}

::ng-deep {
  .lux-menu-item {
    margin-top: var(--lux-theme-outline-width);
    margin-bottom: var(--lux-theme-outline-width);
  }
}
