<div fxLayout="row" fxLayoutAlign="end">
  <div class="lux-menu-extended" fxFlex="auto" fxLayout="row" fxLayoutAlign="end center" #menuExtendedContainer>
    <!-- Trigger, wenn luxDisplayMenuLeft === false -->
    <ng-container *ngIf="!luxDisplayMenuLeft">
      <ng-container [ngTemplateOutlet]="menuTriggerTemplate"></ng-container>
    </ng-container>
    <ng-container *ngFor="let menuItem of visibleMenuItems">
      <lux-button
        class="lux-menu-item"
        [luxLabel]="menuItem.luxHideLabelIfExtended ? '' : menuItem.luxLabel"
        [luxColor]="menuItem.luxColor"
        [luxRaised]="menuItem.luxRaised"
        [luxFlat]="menuItem.luxFlat"
        [luxStroked]="menuItem.luxStroked"
        [luxIconName]="menuItem.luxIconName"
        [luxDisabled]="menuItem.luxDisabled"
        [luxTagId]="menuItem.luxTagId"
        [luxRounded]="menuItem.luxRounded"
        (luxClicked)="menuItemClicked(menuItem, $event)"
        luxAriaLabel="{{ menuItem.luxLabel }}"
        luxAriaLabelSelector="button"
        luxTabIndex="0"
        [luxTooltip]="menuItem.luxButtonTooltip"
        [luxApplyToChildren]="true"
        [ngClass]="{ 'lux-display-none': !menuItem.extended || menuItem.luxHidden }"
      >
      </lux-button>
    </ng-container>
    <!-- Trigger, wenn luxDisplayMenuLeft === true -->
    <ng-container *ngIf="luxDisplayMenuLeft">
      <ng-container [ngTemplateOutlet]="menuTriggerTemplate"></ng-container>
    </ng-container>
  </div>
</div>

<!-- Das eigentliche Material-Menu -->
<mat-menu [classList]="'lux-menu-panel ' + luxClassName" (closed)="onMenuClosed()" #menu="matMenu">
  <!-- Alle darin angezeigten MenuItems (Voraussgesetzt diese sind nicht als extended gekennzeichnet) -->
  <ng-container *ngFor="let menuItem of menuItems">
    <button
      mat-menu-item
      class="lux-menu-item"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      [disabled]="menuItem.luxDisabled"
      luxTagIdHandler
      [luxTagId]="menuItem.luxTagId"
      (click)="menuItemClicked(menuItem, $event)"
      *ngIf="!menuItem.extended && !menuItem.luxHidden"
    >
      <lux-icon
        [luxIconName]="menuItem.luxIconName"
        luxPadding="0"
        luxIconSize="2x"
        fxFlex="0 0 30px"
        fxLayout="row"
        fxLayoutAlign="center center"
      ></lux-icon>
      <span class="lux-button-label" fxFlex="auto">
        {{ menuItem.luxLabel }}
      </span>
    </button>
  </ng-container>
</mat-menu>

<!-- Der Trigger des Menus -->
<ng-template #menuTriggerTemplate>
  <div
    [matMenuTriggerFor]="menu"
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    class="lux-menu-trigger lux-color-primary-500"
    [ngClass]="{ 'lux-display-none': hideToggle }"
    #menuTrigger
    (click)="menuTriggerStopPropagation($event)" 
    (keydown.enter)="menuTriggerStopPropagation($event)"
  >
    <!-- Custom-Trigger, der über Content-Projection geladen werden kann -->
    <ng-content select="lux-menu-trigger"> </ng-content>
    <!-- Default-Trigger -->
    <lux-button
      class="lux-menu-trigger-default"
      luxTagId="lux-menu-default-trigger"
      [luxLabel]="luxMenuLabel"
      [luxIconName]="luxMenuIconName"
      [luxAriaLabel]="luxAriaMenuTriggerLabel"
      luxAriaLabelSelector="button"
      luxTabIndex="0"
      [luxApplyToChildren]="true"
      [luxIconShowRight]="luxMenuTriggerIconShowRight"
      [luxDisabled]="luxToggleDisabled"
      #defaultTrigger
      *ngIf="!luxMenuTriggerComponent && hasVisibleMenuItems()"
    >
    </lux-button>
  </div>
</ng-template>

<ng-content select="lux-menu-item"></ng-content>
