<div class="lux-container lux-grid lux-grid-cols-3 lt-md:lux-grid-cols-1 lux-col-gap-4 lux-row-gap-8" style="overflow: auto; height: 100%">
  <lux-card luxTitle="Formular (1 Spalte)" class="lux-flex">
    <lux-card-content>
      <div class="lux-grid lux-grid-cols-1 lux-gap-4">
        <lux-input-ac luxLabel="Lorem ipsum 1.1" luxName="Lorem_ipsum_1.1"></lux-input-ac>
        <lux-select-ac luxLabel="Lorem ipsum 1.2" luxName="Lorem_ipsum_1.2" [luxOptions]="options"></lux-select-ac>
        <div class="lux-flex lux-gap-2 lux-items-center">
          <lux-input-ac luxLabel="Lorem ipsum 1.1" luxName="Lorem_ipsum_1.1" class="lux-flex-grow-1"></lux-input-ac>
          <lux-button luxIconName="lux-info" luxTagId="btnEdit" [luxRounded]="true" luxColor="primary"> </lux-button>
        </div>
      </div>
    </lux-card-content>
  </lux-card>
  <lux-card luxTitle="Formular (2 Spalten)" class="lux-flex lux-col-span-2">
    <lux-card-content class="lux-grid lux-grid-cols-2 lt-md:lux-grid-cols-1 lux-row-gap-4 lt-md:lux-row-gap-2 lux-col-gap-8">
      <lux-input-ac luxLabel="Lorem ipsum 2.1" luxName="Lorem_ipsum_2.1" class="lux-col-span-2"></lux-input-ac>
      <lux-input-ac luxLabel="Lorem ipsum 2.2" luxName="Lorem_ipsum_2.2"></lux-input-ac>
      <lux-select-ac luxLabel="Lorem ipsum 2.3" luxName="Lorem_ipsum_2.3" [luxOptions]="options"></lux-select-ac>
      <lux-input-ac luxLabel="Lorem ipsum 2.4" luxName="Lorem_ipsum_2.4" class="lux-col-span-2"></lux-input-ac>
      <h3 class="lux-col-span-full">Lorem ipsum dolor sit</h3>
      <lux-toggle-ac luxLabel="Lorem ipsum 2.5" luxName="Lorem_ipsum_2.5" [luxNoLabels]="true"></lux-toggle-ac>
      <lux-toggle-ac luxLabel="Lorem ipsum 2.6" luxName="Lorem_ipsum_2.6" [luxNoLabels]="true"></lux-toggle-ac>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="Formular (3 Spalten)" class="lux-col-span-full">
    <lux-card-content class="lux-grid lux-grid-cols-3 lt-md:lux-grid-cols-1 lux-row-gap-4 lux-col-gap-8">
      <p class="lux-col-span-full">
        Mit der Version 13.0.0 wurde bei den Lux-Form-Controls das Margin entfernt. Damit kann und muss der Abstand in einem Formular
        individuell festgelegt werden. <br />
        Für die Lux-Layout-Form-Row, lässt sich das über das Attribut luxGap regeln. <br />
        Wichtig ist es auch den Abstand zwischen zwei Reihen zu definieren, damit die Lesbarkeit der Formulare erhalten bleibt.
      </p>
      <h3 class="lux-col-span-full">Lorem ipsum 1</h3>
      <lux-input-ac luxLabel="Lorem ipsum 3.1" luxName="Lorem_ipsum_3.1" class="lux-col-span-2"></lux-input-ac>
      <lux-input-ac luxLabel="Lorem ipsum 3.2" luxName="Lorem_ipsum_3.2" class="lux-row-start-4"></lux-input-ac>
      <lux-input-ac luxLabel="Lorem ipsum 3.3" luxName="Lorem_ipsum_3.3" class="lux-row-start-4"></lux-input-ac>
      <lux-input-ac luxLabel="Lorem ipsum 3.4" luxName="Lorem_ipsum_3.4" class="lux-row-start-4"></lux-input-ac>
      <h3 class="lux-col-span-full">Lorem ipsum 2</h3>
      <lux-radio-ac luxLabel="Lorem ipsum 3.5" luxName="Lorem_ipsum_3.5" [luxOptions]="options" class="lux-row-start-6"></lux-radio-ac>
      <lux-radio-ac luxLabel="Lorem ipsum 3.6" luxName="Lorem_ipsum_3.6" [luxOptions]="options" class="lux-row-start-6"></lux-radio-ac>
      <lux-radio-ac luxLabel="Lorem ipsum 3.7" luxName="Lorem_ipsum_3.7" [luxOptions]="options" class="lux-row-start-6"></lux-radio-ac>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="Formular mit Buttons in einer Reihe mit Inputs" class="lux-col-span-full">
    <lux-card-content>
      <p>
        In einer Layout-Form-Row können neben den Formularelementen auch Buttons eingefügt werden. Diese werden neben den Default-Ac
        Komponenten zentriert angezeigt. Werden mehrere Buttons eingefügt, sollten diese in einem div platziert werden. Dieses div ist dann
        das eigentliche Row-Item und kann zusätzlich über eine individuelle Klasse die Abstände zwischen den Buttons regeln.
      </p>
      <div class="lux-grid lux-grid-cols-2 lt-md:lux-grid-cols-1 lux-row-gap-4 lux-col-gap-8">
        <h3 class="lux-col-span-full">Input-Ac Standard</h3>
        <lux-input-ac luxLabel="Lorem ipsum 4.1" luxHint="Lorem ipsum 4.1"></lux-input-ac>
        <div class="lux-flex lux-gap-2 lux-items-center">
          <lux-input-ac luxLabel="Lorem ipsum 4.2" luxHint="Lorem ipsum 4.2" class="lux-flex-grow-1"></lux-input-ac>
          <lux-button luxIconName="lux-info" luxTagId="btnEdit" [luxRounded]="true" luxColor="primary"> </lux-button>
          <lux-button luxIconName="lux-interface-delete-bin-5" luxTagId="btnRemove" [luxRounded]="true" luxColor="warn"> </lux-button>
        </div>
      </div>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="Formular (3 Spalten) im Theme-Authentic" class="lux-col-span-full">
    <lux-card-content class="lux-grid lux-grid-cols-3 lt-md:lux-grid-cols-1 lux-row-gap-4 lux-col-gap-8">
      <h3 class="lux-col-span-full">Lorem ipsum 1</h3>
      <lux-input-ac luxLabel="Lorem ipsum 3.1" luxName="Lorem_ipsum_3.1" [luxNoBottomLabel]="true" class="lux-col-span-2"></lux-input-ac>
      <lux-input-ac luxLabel="Lorem ipsum 3.2" luxName="Lorem_ipsum_3.2" [luxNoBottomLabel]="true" class="lux-row-start-3"></lux-input-ac>
      <lux-select-ac
        luxLabel="Lorem ipsum 3.3"
        luxName="Lorem_ipsum_3.3"
        [luxNoBottomLabel]="true"
        [luxOptions]="options"
        class="lux-row-start-3"
      ></lux-select-ac>
      <lux-autocomplete-ac
        luxLabel="Lorem ipsum 3.4"
        luxName="Lorem_ipsum_3.4"
        [luxNoBottomLabel]="true"
        [luxOptions]="options"
        [(luxValue)]="selected"
        class="lux-row-start-3"
      ></lux-autocomplete-ac>
      <h3 class="lux-col-span-full">Lorem ipsum 2</h3>
      <lux-radio-ac luxLabel="Lorem ipsum 3.5" luxName="Lorem_ipsum_3.5" [luxOptions]="options" class="lux-row-start-5"></lux-radio-ac>
      <lux-radio-ac luxLabel="Lorem ipsum 3.6" luxName="Lorem_ipsum_3.6" [luxOptions]="options" class="lux-row-start-5"></lux-radio-ac>
      <lux-radio-ac luxLabel="Lorem ipsum 3.7" luxName="Lorem_ipsum_3.7" [luxOptions]="options" class="lux-row-start-5"></lux-radio-ac>
      <lux-chips-ac
        luxInputLabel="lux-Chips-Authentic"
        [luxInputAllowed]="true"
        [luxAutocompleteOptions]="chipsOptions"
        (luxChipAdded)="chipAdded($event)"
        class="lux-col-span-full"
      >
        <lux-chip-ac
          [luxDisabled]="chip.disabled"
          [luxColor]="chip.color"
          [luxRemovable]="chip.removable"
          [luxSelected]="chip.selected"
          (luxChipRemoved)="chipRemoved($event)"
          *ngFor="let chip of chips; let i = index"
        >
          {{ chip.label }}
        </lux-chip-ac>
      </lux-chips-ac>
    </lux-card-content>
  </lux-card>
</div>
