@media only screen and (max-width: 599px) {
  lux-accordion.tip-panel lux-panel ::ng-deep{
    margin: 0 4px;
    padding-right: 0;
    padding-left: 0;
  }
  .accordion-wrapper {
    margin: 0 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1279px) {
  lux-accordion.tip-panel lux-panel ::ng-deep{
    margin: 0 4px;
    padding-right: 0;
    padding-left: 0;
  }
  .accordion-wrapper {
    margin: 0 2.5%
  }
}
@media only screen and (min-width: 1280px) {
  lux-accordion.tip-panel lux-panel ::ng-deep{
    margin: 0 8px;
    padding-right: 0;
    padding-left: 0;
  }
  .accordion-wrapper {
    margin: 0 10%
  }
}

lux-accordion.tip-panel lux-panel ::ng-deep {
  mat-expansion-panel-header .mat-content {
    align-items: center;
  }
  .mat-expansion-panel-body{
    padding: 0 54px 40px 78px;
  }
}

.dont {
  border:  1px solid var(--lux-theme-primary-300);
  border-bottom: 0px;
  padding-top: 24px;
  .bottom {
    width: 100%;
    content: '';
    border-bottom: 8px solid var(--lux-theme-warn-400);
  }
  .text {
    color: var(--lux-theme-warn-400);
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: 0px;
  }
}
.do {
  border:  1px solid var(--lux-theme-primary-300);
  border-bottom: 0px;
  padding-top: 32px;
  .bottom {
    width: 100%;
    content: '';
    border-bottom: 8px solid var(--lux-theme-accent-400);
  }
  .text {
    color: var(--lux-theme-accent-400);
    font-weight: bold;
    padding-right: 8px;
    margin-bottom: 0px;
  }
}

.code-section {
  padding: 4px 24px;
  border-radius: 4px;
  background-color: var(--lux-theme-primary-50);
  overflow: auto;
}

a {
  color: var(--lux-theme-primary-color);
  text-decoration-line: none;
  font-weight: bold;
}
