<div class="configContainer">

  <lux-toggle-ac
    luxLabel="Logo-Clicked loggen"
    luxHint="(Console --> F12/CMD+ALT+I)"
    (luxCheckedChange)="onShowLogoClickedEvents($event)"
    [luxNoTopLabel]="true"
  ></lux-toggle-ac>

  <lux-select-ac
    class=""
    [(luxSelected)]="tenantLogoConfig.luxTenantKey"
    [luxOptions]="tenantKeyArr"
    luxLabel="luxTenantKey"
    luxHint="Diese Property legt den Schlüssel für den Tenant fest, dessen Image gezeigt werden soll."
  ></lux-select-ac>

  <lux-select-ac
    [(luxSelected)]="tenantLogoConfig.luxTenantVariant"
    [luxOptions]="tenantVariantArr"
    luxLabel="luxTenantVariant"
  >
    <ng-template let-option>{{option}}</ng-template>
    <lux-form-hint>
      Diese Property legt die Variante für den Tenant fest.<br>
      Wenn der Variant leer gelassen wird, wechselt die Komponente je nach Media Query die Variante
      <span [style]="{'font-weight': (tenantLogoConfig.luxTenantVariant ? '' : 'bold')}">automatisch</span>.

      <div *ngIf="!tenantLogoConfig.luxTenantVariant">
        <br>
        Automatisch ausgewählt: <b>{{actualTenantVariant}}</b>
      </div>
    </lux-form-hint>
  </lux-select-ac>

  <lux-input-ac
    luxName="luxTenantLogoHeight"
    luxLabel="luxTenantLogoHeight"
    luxHint="Diese Property legt die Höhe des Tenant Logos fest."
    [(luxValue)]="tenantLogoConfig.luxTenantLogoHeight"
  ></lux-input-ac>

  <lux-input-ac
    luxName="luxTenantLogoSrc"
    luxLabel="Benutzte Tenant Lookup Url"
    [luxDisabled]="true"
    [luxValue]="logoTenantSrc"
  ></lux-input-ac>

</div>

