<div fxLayout="column" id="Home">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="0 1 auto">
    <ng-container *ngFor="let component of navigationService.components | luxAlphabeticallySorted">
      <lux-tile
        [luxLabel]="component.label"
        (luxClicked)="component.onclick()"
        [luxTagId]="component.label"
        fxFlex="0 0 auto"
      >
        <lux-icon [luxIconName]="component.icon" luxIconSize="5x" *ngIf="!component.useImage"></lux-icon>
        <lux-image
          [luxImageSrc]="component.icon"
          luxImageWidth="100%"
          luxImageHeight="100%"
          *ngIf="component.useImage"
        ></lux-image>
      </lux-tile>
    </ng-container>
  </div>
</div>
