@import '../../../theming/luxtheme';

lux-card.lux-card-mobile ::ng-deep mat-card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .lux-card-title-container {
    margin-left: 8px;
  }
}
