:host{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

lux-card.lux-card-mobile ::ng-deep mat-card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .lux-card-title-container {
    margin-left: 8px;
  }
}

.page-content {
  margin: 32px 24px;
  .page-title {
    margin: 32px 0;
  }
}

.lux-tile-ac-wrapper-demo ::ng-deep {
  .lux-tile-ac {
    width: 260px;
    min-height: 120px;
  }
}
