<lux-form-control [luxFormComponent]="this" [formGroup]="formGroup" *ngIf="formGroup" [luxCounterLabel]="counterLabel">
  <div class="lux-input-row" fxLayout="row">
    <span class="lux-input-prefix-container" fxFlex="auto" matPrefix *ngIf="inputPrefix">
      <ng-content select="lux-input-prefix"></ng-content>
    </span>
    <input
      fxFlex="auto"
      matInput
      luxTagIdHandler
      [luxNameAttr]="luxName"
      [luxTagId]="luxTagId"
      [placeholder]="luxPlaceholder"
      [type]="luxType"
      [luxMaxLengthAttr]="luxMaxLength"
      [formControl]="formControl"
      [required]="luxRequired"
      [readonly]="luxReadonly"
      [autocomplete]="luxAutocomplete"
      (blur)="luxBlur.emit($event)"
      (focus)="luxFocus.emit($event)"
      (focusin)="luxFocusIn.emit($event)"
      (focusout)="luxFocusOut.emit($event)"
      [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
      [id]="uid"
      #input
      *ngIf="luxType !== 'number'"
    />
    <input
      fxFlex="auto"
      matInput
      luxTagIdHandler
      [luxNameAttr]="luxName"
      [luxTagId]="luxTagId"
      [placeholder]="luxPlaceholder"
      type="number"
      [luxMaxLengthAttr]="luxMaxLength"
      [formControl]="formControl"
      [required]="luxRequired"
      [readonly]="luxReadonly"
      [autocomplete]="luxAutocomplete"
      [ngClass]="{
        'lux-number ': luxType === 'number',
        'lux-number-left': luxType !== 'number' || (luxType === 'number' && luxNumberAlignLeft)
      }"
      (blur)="luxBlur.emit($event)"
      (focus)="luxFocus.emit($event)"
      (focusin)="luxFocusIn.emit($event)"
      (focusout)="luxFocusOut.emit($event)"
      [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
      (keydown)="onKeyDown($event)"
      [id]="uid"
      #input
      *ngIf="luxType === 'number'"
    />
    <span class="lux-input-suffix-container" fxFlex="auto" matSuffix *ngIf="inputSuffix">
      <ng-content select="lux-input-suffix"></ng-content>
    </span>
  </div>
</lux-form-control>
