.lux-label-long {
  display: block;
  margin-bottom: 2px;
}

input.lux-number {
  text-align: right !important;
}

input.lux-number-left {
  text-align: left !important;
}

input.lux-number::-webkit-outer-spin-button,
input.lux-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.lux-number::-ms-clear {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Fix für Chrome, dieser zeigt bei autocomplete Inputs ab und zu eine blaue Box an. */
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
