<div [ngClass]="{'lux-tabs-show-border': luxShowBorder}">
<mat-tab-group
  [dynamicHeight]="false"
  [selectedIndex]="luxActiveTab"
  (selectedTabChange)="tabChange$.next($event)"
  class="lux-tab-group"
  [ngClass]="{
    'lux-tabs-no-divider': !luxDisplayDivider,
    'lux-tabs-no-anim': !luxTabAnimationActive,
    'lux-tabs-mobile': smallDevice
  }"
  #matTabs
  luxTagIdHandler
  [luxTagId]="luxTagId"
>
  <ng-container *ngIf="luxTabAnimationActive">
    <!-- Lazy Loading
         ============
         Durch die Property "luxLazyLoading" musste der mat-tab-Teil gedoppelt werden,
         da ein *ngIf im <ng-template matTabLabel> nicht möglich war.
         Der Testcase "luxLazyLoading=true mit Animation" war rot, da der Inhalt beim
         Testen der Nachbedingung noch nicht zur Verfügung stand.
    -->
    <ng-container *ngIf="luxLazyLoading">
      <mat-tab *ngFor="let luxTab of luxTabs" [label]="luxTab.luxTitle" [disabled]="luxTab.luxDisabled">
        <ng-template matTabLabel>
          <ng-container *ngTemplateOutlet="tabLabelTemplate; context: { $implicit: luxTab }"></ng-container>
        </ng-template>
        <ng-template matTabContent>
          <div luxTagIdHandler [luxTagId]="luxTab.luxTagIdContent" class="lux-mt-3 lux-tab-content">
            <ng-container *ngTemplateOutlet="luxTab.contentTemplate"></ng-container>
            <span>&nbsp;</span>
          </div>
        </ng-template>
      </mat-tab>
    </ng-container>
    <ng-container *ngIf="!luxLazyLoading">
      <mat-tab *ngFor="let luxTab of luxTabs" [label]="luxTab.luxTitle" [disabled]="luxTab.luxDisabled">
        <ng-template matTabLabel>
          <ng-container *ngTemplateOutlet="tabLabelTemplate; context: { $implicit: luxTab }"></ng-container>
        </ng-template>
        <div luxTagIdHandler [luxTagId]="luxTab.luxTagIdContent" class="lux-mt-3 lux-tab-content">
          <ng-container *ngTemplateOutlet="luxTab.contentTemplate"></ng-container>
          <span>&nbsp;</span>
        </div>
      </mat-tab>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!luxTabAnimationActive">
    <mat-tab *ngFor="let luxTab of luxTabs" [label]="luxTab.luxTitle" [disabled]="luxTab.luxDisabled">
      <ng-template matTabLabel>
        <ng-container *ngTemplateOutlet="tabLabelTemplate; context: { $implicit: luxTab }"></ng-container>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<ng-container *ngIf="!luxTabAnimationActive">
  <ng-container *ngFor="let luxTab of luxTabs; trackBy: trackTab; let i = index">
    <section
      luxTagIdHandler
      [luxTagId]="luxTab.luxTagIdContent"
      *ngIf="!luxLazyLoading"
      [class.lux-display-none]="i !== luxActiveTab"
      class="lux-mt-3 lux-tab-content"
    >
      <ng-container *ngTemplateOutlet="luxTab.contentTemplate"></ng-container>
      <span>&nbsp;</span>
    </section>
    <section
      luxTagIdHandler
      [luxTagId]="luxTab.luxTagIdContent"
      *ngIf="luxLazyLoading && i === luxActiveTab"
      class="lux-mt-3 lux-tab-content"
    >
      <ng-container *ngTemplateOutlet="luxTab.contentTemplate"></ng-container>
      <span>&nbsp;</span>
    </section>
  </ng-container>
</ng-container>
</div>
<ng-template #tabLabelTemplate let-luxTab>
  <div luxTagIdHandler [luxTagId]="luxTab.luxTagIdHeader" class="lux-mt-3 lux-mb-3">
    <div fxFlex="auto" fxLayout.gt-sm="column" fxLayout.xs="row">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto">
        <div fxFlex="1 1 100%" class="lux-tab-header-image-container" fxLayout="row" *ngIf="luxTab.luxImageSrc && !luxTab.luxIconName">
          <div
            fxFlex="1 1 auto"
            class="lux-tab-header-image-left"
            *ngIf="luxTab.luxImageAlign === 'right' || luxTab.luxImageAlign === 'center'"
          ></div>
          <lux-image class="lux-tab-header-image" fxFlex="none"
                     [luxBadgeNotification]="smallDevice || (!smallDevice && !luxTab.luxTitle) ? luxTab.luxCounter : ''"
                     [luxBadgeNoBorder]="true"
                     luxBadgeColor="primary"
                     [luxBadgeDisabled]="luxTab.luxDisabled"
                     [luxBadgeCap]="luxTab.luxCounterCap"
                     [luxBadgeOverlap]="false"
                     [luxImageSrc]="luxTab.luxImageSrc"
                     [luxImageWidth]="luxTab.luxImageWidth"
                     [luxImageHeight]="luxTab.luxImageHeight">
          </lux-image>
          <div
            fxFlex="1 1 auto"
            class="lux-tab-header-image-right"
            *ngIf="luxTab.luxImageAlign === 'left' || luxTab.luxImageAlign === 'center'"
          ></div>
        </div>
        <lux-icon
          class="lux-tab-icon"
          fxFlex="none"
          [luxIconName]="luxTab.luxIconName"
          [luxIconSize]="luxIconSize"
          [luxBadgeNotification]="smallDevice || (!smallDevice && !luxTab.luxTitle) ? luxTab.luxCounter : ''"
          [luxBadgeNoBorder]="true"
          luxBadgeColor="primary"
          [luxBadgeDisabled]="luxTab.luxDisabled"
          [luxBadgeCap]="luxTab.luxCounterCap"
          [luxBadgeOverlap]="false"
          *ngIf="luxTab.luxIconName"
        ></lux-icon>
        <span
          fxFlex="none"
          [ngClass]="[
            'lux-tabs-notification-icon',
            'lux-tabs-notification-icon-position-after-icon',
            getNotificationIconColorClassForTab(luxTab),
            luxTab.luxCounter !== null && luxTab.luxCounter !== undefined ? 'lux-counter-visible' : ''
          ]"
          *ngIf="smallDevice || (!smallDevice && !luxTab.luxTitle)"
        ></span>
      </div>
      <div fxLayout="row" ngClass.gt-md="lux-label-lower">
        <div
          class="lux-tab-title"
          [ngClass]="{ 'lux-uppercase': labelUppercase }"
          fxShow.sm="false"
          fxShow.xs="false"
          fxShow="true"
          [luxBadgeNotification]="!smallDevice && luxTab.luxTitle ? luxTab.luxCounter : ''"
          [luxBadgeNoBorder]="true"
          luxBadgeColor="primary"
          [luxBadgeDisabled]="luxTab.luxDisabled"
          [luxBadgeCap]="luxTab.luxCounterCap"
          [luxBadgeOverlap]="false"
          *ngIf="luxTab.luxIconName || luxTab.luxImageSrc"
        >
          {{ luxTab.luxTitle }}
          <span
            fxFlex="none"
            [ngClass]="[
              'lux-tabs-notification-icon',
              'lux-tabs-notification-icon-position-after-label',
              getNotificationIconColorClassForTab(luxTab),
              luxTab.luxCounter !== null && luxTab.luxCounter !== undefined ? 'lux-counter-visible' : ''
            ]"
            *ngIf="luxTab.luxShowNotification && !smallDevice && luxTab.luxTitle"
          ></span>
        </div>

        <div
          class="lux-tab-title"
          [ngClass]="{ 'lux-uppercase': labelUppercase }"
          fxShow="true"
          [luxBadgeNotification]="!luxTab.luxIconName ? luxTab.luxCounter : ''"
          [luxBadgeNoBorder]="true"
          luxBadgeColor="primary"
          [luxBadgeDisabled]="luxTab.luxDisabled"
          [luxBadgeCap]="luxTab.luxCounterCap"
          [luxBadgeOverlap]="false"
          *ngIf="!luxTab.luxIconName && !luxTab.luxImageSrc"
        >
          {{ luxTab.luxTitle }}
          <span
            fxFlex="none"
            [ngClass]="[
              'lux-tabs-notification-icon',
              'lux-tabs-notification-icon-position-after-label',
              getNotificationIconColorClassForTab(luxTab),
              luxTab.luxCounter !== null && luxTab.luxCounter !== undefined ? 'lux-counter-visible' : ''
            ]"
            *ngIf="luxTab.luxShowNotification && !smallDevice && luxTab.luxTitle"
          ></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
