@import '~@ihk-gfi/lux-components-theme/src/public/global';

mat-tab-group.lux-tabs-no-divider ::ng-deep mat-tab-header {
  border-bottom: none;
}

mat-tab-group ::ng-deep div[role="tab"] {
  margin: $outline-width;

  &:not(.mat-tab-disabled) {
    opacity: 1;
  }
}

.lux-tab-title {
  margin-top: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.lux-notification-read {
  visibility: hidden;
}

.lux-counter-offset {
  margin-right: -7px;
}

.lux-label-lower {
  padding-top: 4px;
}

.lux-tabs-no-anim {
  &.lux-tabs-mobile {
  }

  ::ng-deep .mat-ink-bar {
    transition: none !important;
  }
}

.lux-locked {
  pointer-events: none;
  background: red;
  color: red;
}

:host ::ng-deep {
  .mat-tab-label {
    min-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    position: relative;

    @media (max-width: 959px) {
      padding-left: 40px;
      padding-right: 40px;

      min-width: 125px;
      width: 125px;
    }

    @media (max-width: 599px) {
      padding-left: 30px;
      padding-right: 30px;

      min-width: 90px;
      width: 90px;
    }

    mat-chip {
      background: white !important;
    }
  }
}

// luxCounter (z.B. 10) neben dem Tablabel auf normalen bis großen Auflösungen
.lux-tab-group ::ng-deep .lux-tab-title.lux-badge-notification {
  &.mat-badge.lux-badge-no-border .mat-badge-content {
    top: -5px;
    right: -30px;
  }
}

// luxCounter (z.B. 10) neben dem Icon auf kleineren Auflösungen
.lux-tab-group ::ng-deep lux-icon.lux-badge-notification, .lux-tab-group ::ng-deep lux-image.lux-badge-notification {
  &.mat-badge.lux-badge-no-border .mat-badge-content {
    top: 5px;
  }
}

.lux-tabs-notification-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 9px;

  &.lux-counter-visible {
    z-index: 1;
  }
}

// Notificationicon neben dem Tablabel auf normalen bis großen Auflösungen
.lux-tabs-notification-icon-position-after-label {
  top: 0;
  right: -18px;

  &.lux-counter-visible {
    top: -10px;
    right: -39px;
  }
}

// Notificationicon neben dem Icon auf kleineren Auflösungen
.lux-tabs-notification-icon-position-after-icon {
  top: 10px;
  right: 30px;

  @media (max-width: 959px) {
    top: 10px;
    right: 30px;
  }

  @media (max-width: 599px) {
    top: 10px;
    right: 15px;
  }

  &.lux-counter-visible {
    top: 10px;
    right: 0;

    @media (max-width: 959px) {
      top: 10px;
      right: 17px;
    }

    @media (max-width: 599px) {
      top: 10px;
      right: 0;
    }
  }
}
