:host {
  position: relative;
  display: inline-block;

  &.lux-no-size {
    display: unset;
  }
}

i.lux-fa-icon,
.lux-material-icon {
  text-align: center;
}

.lux-icon-rounded {
  border-radius: 0.9em;
  width: 1.3em;
  line-height: 1.3em;
}

mat-icon.mat-icon {
  :not(.lux-lx-icon){
    &.lux-icon-rounded {
      height: unset !important;
    }

    &:not(.lux-icon-rounded) {
      height: unset !important;
      width: unset !important;
    }
  }

  &.lux-lx-icon-no-size {
    width: 100%;
    height: 100%;
  }
}

.lux-lx-icon-rounded-1em {
  border-radius: 50%;
  padding: 4px !important;  
}
.lux-lx-icon-rounded-2em {
  border-radius: 50%;
  padding: 8px !important;  
}
.lux-lx-icon-rounded-3em {
  border-radius: 50%;
  padding: 12px !important;  
}
.lux-lx-icon-rounded-4em {
  border-radius: 50%;
  padding: 16px !important;  
}
.lux-lx-icon-rounded-5em {
  border-radius: 50%;
  padding: 20px !important;  
}