<example-base-structure
  exampleTitle="Autocomplete Authentic"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90autocomplete-v16"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-autocomplete-ac
        [luxLabel]="label"
        [luxPlaceholder]="placeholder"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxOptionLabelProp]="renderProperty"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption"
        [luxOptions]="getOptions()"
        [luxOptionBlockSize]="optionBlockSize"
        [luxPickValue]="usePickValueFn && strict ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn ? onFilter : undefined"
        [(luxValue)]="value"
        [luxSelectAllOnClick]="selectAllOnClick"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [luxStrict]="strict"
        [luxDense]="denseFormat"
        [luxLookupDelay]="delay"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators"
        [luxPanelWidth]="luxPanelWidth"
        [luxLabelLongFormat]="labelLongFormat"
        [luxOptionMultiline]="optionMultiline"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents, 'luxOptionSelected', $event)"
        luxTagId="autocomplete-non-reactive"
      >
        <lux-input-ac-prefix *ngIf="showPrefix"> <lux-icon luxIconName="lux-tasks"></lux-icon>&nbsp; </lux-input-ac-prefix>
        <lux-input-ac-suffix *ngIf="showSuffix">ABC</lux-input-ac-suffix>
      </lux-autocomplete-ac>
      <example-value [value]="value"></example-value>
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-autocomplete-ac
        [luxLabel]="label"
        [luxPlaceholder]="placeholder"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxOptionLabelProp]="renderProperty"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption"
        [luxOptions]="getOptions()"
        [luxOptionBlockSize]="optionBlockSize"
        [luxPickValue]="usePickValueFn && strict ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn ? onFilter : undefined"
        [luxSelectAllOnClick]="selectAllOnClick"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxStrict]="strict"
        [luxDense]="denseFormat"
        [luxLookupDelay]="delay"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlBinding]="controlBinding"
        [luxPanelWidth]="luxPanelWidth"
        [luxLabelLongFormat]="labelLongFormat"
        [luxOptionMultiline]="optionMultiline"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
        (luxOptionSelected)="log(showOutputEvents, 'luxOptionSelected', $event)"
        luxTagId="autocomplete-reactive"
      >
        <lux-input-ac-prefix *ngIf="showPrefix"> <lux-icon [luxIconName]="'lux-tasks'"></lux-icon>&nbsp; </lux-input-ac-prefix>
        <lux-input-ac-suffix *ngIf="showSuffix">ABC</lux-input-ac-suffix>
      </lux-autocomplete-ac>
      <example-form-value [form]="form" [controlBinding]="controlBinding"></example-form-value>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac
      luxName="autocomplete_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
      [luxNoTopLabel]="true"
    >
    </lux-input-ac>
    <lux-input-ac
      luxName="autocomplete_luxHint"
      luxLabel="luxHint"
      luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
      [(luxValue)]="hint"
    >
    </lux-input-ac>
    <lux-input-ac
      luxName="autocomplete_luxPlaceholder"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input-ac>
    <lux-select-ac
      [luxSelected]="renderProperties[0]"
      (luxSelectedChange)="onRenderProperty($event)"
      [luxOptions]="renderProperties"
      luxOptionLabelProp="label"
      [luxDisabled]="useStringValues"
      luxLabel="luxOptionLabelProp"
      luxHint="Über die Property wird eingestellt, woraus der anzuzeigende Label bezogen wird."
    >
    </lux-select-ac>
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxHintShowOnlyOnFocus"
      luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
      [(luxChecked)]="hintShowOnlyOnFocus"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="useStringValues"
      luxLabel="String-Werte verwenden"
      luxHint="Anstatt Objekte, String-Werte verwenden"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac [(luxChecked)]="strict" luxLabel="luxStrict" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieses Flag aktiviert den strikten Modus dieser Component´.<br />
        Das bedeutet, dass nur Eingaben die einer Option entsprechen als valide gelten.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="usePickValueFn"
      luxLabel="luxPickValue"
      [luxDisabled]="!strict || useStringValues"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Dieses Flag aktiviert die PickValue-Funktion. Erfordert luxStrict = true. <br />
        Das bedeutet, es wird der von der PickValue-Funktion zurückgelieferte Wert selektiert und nicht die Option als ganzes. <br />
        Wenn String-Werte verwendet werden, kann diese Funktion nicht verwendet werden.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac [(luxChecked)]="useFilterFn" luxLabel="luxFilterFn" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieses Flag aktiviert die Filterfunktion. <br />
        Diese Beispielfilterfunktion trennt die Eingabe anhand von Leerzeichen und prüft, ob alle Teile enthalten sind.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac [(luxChecked)]="toggleOptions" luxLabel="Optionen austauschen" [luxNoTopLabel]="true">
      <lux-form-hint> Dieses Toggle tauscht die Optionen aus. </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="showPrefix"
      luxLabel="Präfix einblenden"
      luxHint="Blendet einen 'lux-input-prefix' ein."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="showSuffix"
      luxLabel="Suffix einblenden"
      luxHint="Blendet einen 'lux-input-suffix' ein."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <example-form-disable [form]="form" [controlBinding]="controlBinding" [(disabled)]="disabled"></example-form-disable>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac
      luxName="autocomplete_luxDelay"
      luxLabel="luxDelay"
      luxHint="Über diese Property kann die zeitliche Verzögerung für die Filterung eingestellt werden. Kann nur initial gesetzt werden und ist deshalb hier deaktiviert."
      [luxDisabled]="true"
      [(luxValue)]="delay"
      luxType="number"
      [luxNumberAlignLeft]="true"
    >
    </lux-input-ac>
    <lux-input-ac
      luxName="autocomplete_luxPanelWidth"
      luxLabel="luxPanelWidth"
      luxHint="Über diese Property kann die Optionpanelbreite angepasst werden"
      [(luxValue)]="luxPanelWidth"
    >
    </lux-input-ac>
    <lux-input-ac luxLabel="luxOptionBlockSize" [(luxValue)]="optionBlockSize" luxType="number" [luxNumberAlignLeft]="true">
      <lux-form-hint> Lädt die Optionen in der eingestellten Blockgröße nach, wenn gescrollt wird. </lux-form-hint>
    </lux-input-ac>
    <lux-select-ac
      [luxOptions]="validatorOptions"
      luxOptionLabelProp="label"
      [luxMultiple]="true"
      [luxPickValue]="pickValidatorValueFn"
      luxLabel="luxControlValidators"
      [(luxSelected)]="controlValidators"
    >
      <lux-form-hint>
        Diese Property ermöglicht es einer Component die <b>nicht in einer Reactive-Form</b> ist, auf einfache Art und Weise trotzdem
        Validatoren zu übergeben.<br />
        Diese Property funktioniert nicht für Components in Reactive-Forms, da diese ihre Validatoren über die entsprechende FormControl
        setzen.
      </lux-form-hint>
    </lux-select-ac>
    <lux-input-ac
      luxName="autocomplete_luxErrorMessageNotAnOption"
      luxLabel="luxErrorMessageNotAnOption"
      luxHint="Die Property kann die Fehlermeldung für invalide Optionen einstellen."
      [(luxValue)]="errorMessageNotAnOption"
      *ngIf="strict"
    >
      <lux-form-hint> Die Property kann die Fehlermeldung für invalide Optionen einstellen. </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac
      luxName="autocomplete_luxErrorMessage"
      luxLabel="luxErrorMessage"
      luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
      [(luxValue)]="errorMessage"
      *ngIf="useErrorMessage"
    >
    </lux-input-ac>
    <pre class="lux-label" *ngIf="!useErrorMessage">{{ errorCallbackString }}</pre>
    <lux-toggle-ac
      luxLabel="luxErrorMessage verwenden"
      luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
      [(luxChecked)]="useErrorMessage"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="optionMultiline"
      [luxNoTopLabel]="true"
      luxLabel="luxOptionMultiline"
      luxHint="Mit diesem Flag kann aktiviert werden, dass der Text in einer Option mehrzeilig wird."
    ></lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="selectAllOnClick"
      luxLabel="luxSelectAllOnClick"
      luxHint="Mit diesem Flag kann aktiviert werden, dass beim Klick auf das Feld der
                  gesamte Eingabewert direkt selektiert wird."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="Lange Labeltexte mit Zeilenumbruch zulassen"
      luxHint="Nur für die Darstellung in Spalten empfohlen, da eine Ausrichtung im Raster nicht gewährleistet werden kann."
      [luxNoTopLabel]="true"
      [(luxChecked)]="labelLongFormat"
    >
    </lux-toggle-ac>
  </example-base-advanced-options>
</example-base-structure>
