<example-base-structure
  exampleTitle="Badge-Notification"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/luxbadgenotification-v18"
>
  <example-base-content [exampleCentered]="true">
    <div class="lux-flex lux-flex-col lux-items-end lux-gap-6">
      <span
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        >Lorem ipsum&nbsp;&nbsp;&nbsp;</span
      >
      <div>
        <lux-icon
          luxIconName="lux-interface-user-single"
          luxIconSize="2x"
          [luxBadgeNotification]="notification"
          [luxBadgeColor]="color"
          [luxBadgeNoBorder]="noBorder"
          [luxBadgeDisabled]="disabled"
          [luxBadgeHidden]="hidden"
          [luxBadgeOverlap]="overlap"
          [luxBadgeCap]="cap"
          [luxBadgePosition]="position"
          [luxBadgeSize]="size"
        ></lux-icon>
      </div>
      <lux-button
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        luxLabel="Lux-Button"
        [luxRaised]="true"
      >
      </lux-button>
      <lux-button
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        luxLabel="Lux-Button"
        [luxRaised]="true"
        luxColor="primary"
      >
      </lux-button>
      <lux-button
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        luxLabel="Lux-Button"
        [luxRaised]="true"
        luxColor="warn"
      >
      </lux-button>
      <lux-button
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        luxLabel="Lux-Button"
        [luxRaised]="true"
        luxColor="accent"
      >
      </lux-button>
      <lux-button
        [luxRounded]="true"
        [luxBadgeNotification]="notification"
        [luxBadgeColor]="color"
        [luxBadgeNoBorder]="noBorder"
        [luxBadgeDisabled]="disabled"
        [luxBadgeHidden]="hidden"
        [luxBadgeOverlap]="overlap"
        [luxBadgeCap]="cap"
        [luxBadgePosition]="position"
        [luxBadgeSize]="size"
        luxLabel="Lux-Button"
        luxIconName="lux-interface-alert-alarm-bell-2"
        luxColor="primary"
      >
      </lux-button>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac
      [(luxValue)]="notification"
      luxName="badge-notification_luxBadgeNotification"
      luxLabel="luxBadgeNotification"
      luxHint="Diese Property definiert den Text-Inhalt der Badge-Notification"
    >
    </lux-input-ac>
    <lux-select-ac
      [(luxSelected)]="color"
      luxLabel="luxBadgeColor"
      luxHint="Diese Property definiert die Farbe der Notification"
      [luxOptions]="['primary', 'warn', 'accent', 'default']"
    >
    </lux-select-ac>
    <lux-select-ac
      [(luxSelected)]="position"
      luxLabel="luxBadgePosition"
      luxHint="Diese Property definiert die Position der Notification"
      [luxOptions]="['above after', 'above before', 'below before', 'below after']"
    >
    </lux-select-ac>
    <lux-select-ac
      [(luxSelected)]="size"
      luxLabel="luxBadgeSize"
      luxHint="Diese Property definiert die Größe der Notification"
      [luxOptions]="['small', 'medium', 'large']"
    >
    </lux-select-ac>
    <lux-input-ac
      [(luxValue)]="cap"
      luxName="badge-notification_luxBadgeCap"
      luxLabel="luxBadgeCap"
      luxHint="Diese Property legt fest, ob eine Maximalzahl nicht überschritten werden darf (Vorausgesetzt das der Inhalt eine Zahl ist)."
    >
    </lux-input-ac>
    <lux-toggle-ac
      [(luxChecked)]="noBorder"
      luxLabel="luxBadgeNoBorder"
      luxHint="Dieses Flag bestimmt, ob die Border transparent ist."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="disabled"
      luxLabel="luxBadgeDisabled"
      luxHint="Dieses Flag bestimmt ob die Notification deaktiviert ist oder nicht."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="hidden"
      luxLabel="luxBadgeHidden"
      luxHint="Dieses Flag bestimmt ob die Notification versteckt ist oder nicht."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="overlap"
      luxLabel="luxBadgeOverlap"
      luxHint="Dieses Flag bestimmt ob die Notification hinter dem Quellelement liegt oder nicht."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
  </example-base-simple-options>
</example-base-structure>
