::ng-deep .lux-datetimepicker-overlay {
  & lux-card {
    & mat-card {
      padding: 0 4px 0 0;
      min-width: 300px;
      min-height: 480px;

      mat-card-content {
        padding: 0 0 10px 0;
        margin: 0;
      }
    }
  }
}

.lux-datetime-overlay-calendar {
  min-height: 350px;
}

.lux-datetime-error-message-container {
  min-height: 18px;
}

lux-input.lux-datetime-no-label ::ng-deep .lux-form-control div.lux-form-control-container {
  width: 30px;
}

.lux-datetime-no-label ::ng-deep div.lux-form-control-label {
  min-height: 0 !important;
  height: 0 !important;
  padding-top: 0 !important;
}
