lux-progress ::ng-deep mat-progress-bar {
  margin-bottom: 8px;
}

:host {
  display: block;
  height: 100%;
}

.lux-table {
  height: 100%;

  .lux-table-filter {
    width: 100%;
    max-width: 350px;
  }

  .lux-table-content {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;

    table {
      width: 100%;
      border-spacing: 0 var(--lux-theme-outline-width);

      th {
        vertical-align: top;
        height: 30px;
      }

      .lux-table-header-no-data th {
        height: 30px;
        vertical-align: top;
      }

      td,
      th {
        padding: 8px 16px;
      }
      th {
        padding-top: 16px;
      }
      td.mat-footer-cell {
        padding-bottom: 16px;
      }

      ::ng-deep tr.mat-header-row {
        height: auto;
      }

      .lux-header-title,
      .lux-moved-header-title {
        font-size: 12px;
        margin-top: 4px;

        &:first-of-type {
          margin-top: 8px;
        }
      }

      ::ng-deep tbody tr:last-of-type td {
        border-bottom: none;
      }

      .mat-footer-row > td {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }

  &.lux-hide-borders {
    td,
    th,
    .lux-multiselect-td,
    .lux-multiselect-tf {
      border: unset !important;
    }
  }

  th.lux-table-column-header-empty {
    display: none;
  }
}

.lux-table-overlay {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  position: absolute;
}

.lux-table-overlay-active {
  pointer-events: none;
  z-index: 1003;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.lux-hide {
  display: none !important;
}

.lux-multiselect-th,
.lux-multiselect-td,
.lux-multiselect-tf {
  max-width: 70px;
  min-width: 70px;
  width: 70px;

  lux-checkbox {
    pointer-events: none;

    ::ng-deep {
      .lux-form-control-label {
        display: none;
      }
    }
  }

  ::ng-deep .lux-form-field {
    margin-bottom: 0;
  }
}

.lux-multiselect-th {
  width: 1% !important;

  span {
    text-align: start;
  }
}

.lux-table-header-no-data th {
  border: unset !important;
}

.lux-multiselect-toggle-all-wrapper {
  position: relative;
}

::ng-deep {
  .lux-multiselect-toggle,
  .lux-multiselect-toggle-all {
    ::ng-deep {
      .lux-form-control-label {
        display: none;
      }
    }
  }
}

.lux-paginator-xs:not(.lux-hide) ::ng-deep {
  .mat-paginator-container {
    justify-content: space-between;
  }
  .mat-paginator-range-actions {
    display: block;
    margin-top: 10px;
    button:first-of-type {
      margin-left: -10px;
    }
  }
  .mat-paginator-range-label {
    margin: 0;
  }
}

.lux-aria-visible {
  position: absolute;
  font-size: 0;
  color: transparent;
  width: 0;
  height: 0;
}

.reset-icon {
  height: 24px;
  width: 24px;
  display: inline-block;

  &:hover {
    border-radius: 50%;
    background-color: var(--lux-theme-hover-color);
    cursor: pointer;
  }
}
