<example-base-structure
  exampleTitle="Toggle-Authentic"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90toggle-v18"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-toggle-ac
        [(luxChecked)]="value"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [luxDense]="denseFormat"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
      >
      </lux-toggle-ac>
      <example-value [value]="value"></example-value>
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-toggle-ac
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxDense]="denseFormat"
        [luxControlBinding]="controlBinding"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
      >
      </lux-toggle-ac>
      <example-form-value [form]="form" [controlBinding]="controlBinding"></example-form-value>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac
      luxName="toggle_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input-ac>
    <lux-input-ac
      luxName="toggle_luxHint"
      luxLabel="luxHint"
      luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
      [(luxValue)]="hint"
    >
    </lux-input-ac>
    <lux-toggle-ac
      luxName="toggle_luxHintShowOnlyOnFocus"
      luxLabel="luxHintShowOnlyOnFocus"
      luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
      [(luxChecked)]="hintShowOnlyOnFocus"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <example-form-disable [form]="form" [controlBinding]="controlBinding" [(disabled)]="disabled"></example-form-disable>
    <lux-toggle-ac
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
  </example-base-simple-options>
</example-base-structure>
