<example-base-structure
  exampleTitle="Chips-Authentic"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90chips-v16"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <h4>Chips (ohne Group)</h4>
      <lux-chips-ac
        [luxStrict]="strict"
        [luxDisabled]="disabled"
        [luxInputAllowed]="inputAllowed"
        [luxInputLabel]="inputLabel"
        [luxPlaceholder]="placeholder"
        [luxOrientation]="chipOrientation"
        [luxMultiple]="multiple"
        [luxAutocompleteOptions]="autocomplete ? autocompleteNoGroupOptions : []"
        [luxOptionBlockSize]="optionBlockSize"
        [luxLabelLongFormat]="labelLongFormat"
        [luxOptionMultiline]="optionMultiline"
        [luxDense]="denseFormat"
        [luxHideBorder]="hideBorder"
        (luxChipAdded)="chipAdded($event)"
      >
        <lux-chip-ac
          [luxDisabled]="chip.disabled"
          [luxColor]="chip.color"
          [luxRemovable]="chip.removable"
          [luxSelected]="chip.selected"
          (luxChipSelected)="log(showOutputEvents, 'Chip selected', $event)"
          (luxChipClicked)="log(showOutputEvents, 'Chip clicked', $event)"
          (luxChipRemoved)="chipRemoved($event)"
          *ngFor="let chip of chips; let i = index"
        >
          {{ chip.label }}
        </lux-chip-ac>
      </lux-chips-ac>
    </div>
    <div class="lux-flex lux-flex-col">
      <h4>Chips (mit Group)</h4>
      <lux-chips-ac
        [luxRequired]="required"
        [luxControlValidators]="requiredValidatorFn"
        [luxStrict]="strict"
        [luxDisabled]="disabled"
        [luxInputAllowed]="inputAllowed"
        [luxInputLabel]="inputLabel"
        [luxPlaceholder]="placeholder"
        [luxOrientation]="chipOrientation"
        [luxMultiple]="multiple"
        [luxNewChipGroup]="chipGroup"
        [luxOptionMultiline]="optionMultiline"
        (luxChipAdded)="chipAdded($event)"
        [luxAutocompleteOptions]="autocomplete ? autocompleteOptions : []"
        [luxOptionBlockSize]="optionBlockSize"
        [luxLabelLongFormat]="labelLongFormat"
        [luxDense]="denseFormat"
        [luxHideBorder]="hideBorder"
      >
        <lux-chip-ac-group
          [luxRemovable]="groupRemovable"
          [luxColor]="groupColor"
          [luxLabels]="groupLabels"
          [luxDisabled]="groupDisabled"
          [luxSelected]="groupSelected"
          (luxChipRemoved)="log(showOutputEvents, '[GROUP] Chip removed', $event)"
          (luxChipAdded)="log(showOutputEvents, '[GROUP] Chip added', $event)"
          (luxChipClicked)="log(showOutputEvents, '[GROUP] Chip clicked', $event)"
          (luxChipSelected)="log(showOutputEvents, '[GROUP] Chip selected', $event)"
          #chipGroup
        >
        </lux-chip-ac-group>
      </lux-chips-ac>

      <h3>Beispiel in Reactive-Form</h3>
      <ng-container [formGroup]="form">
        <lux-chips-ac
          [luxControlBinding]="controlBinding"
          [luxStrict]="strict"
          [luxDisabled]="disabled"
          [luxInputAllowed]="inputAllowed"
          [luxInputLabel]="inputLabel"
          [luxPlaceholder]="placeholder"
          [luxOrientation]="chipOrientation"
          [luxMultiple]="multiple"
          [luxNewChipGroup]="chipGroupForm"
          [luxOptionMultiline]="optionMultiline"
          [luxAutocompleteOptions]="autocomplete ? autocompleteOptions : []"
          [luxOptionBlockSize]="optionBlockSize"
          [luxLabelLongFormat]="labelLongFormat"
          [luxDense]="denseFormat"
          [luxHideBorder]="hideBorder"
        >
          <lux-chip-ac-group
            [luxRemovable]="groupRemovable"
            [luxColor]="groupColor"
            [luxLabels]="groupLabels"
            [luxDisabled]="groupDisabled"
            [luxSelected]="groupSelected"
            (luxChipRemoved)="log(showOutputEvents, '[GROUP] Chip removed', $event)"
            (luxChipAdded)="log(showOutputEvents, '[GROUP] Chip added', $event)"
            (luxChipClicked)="log(showOutputEvents, '[GROUP] Chip clicked', $event)"
            (luxChipSelected)="log(showOutputEvents, '[GROUP] Chip selected', $event)"
            #chipGroupForm
          >
          </lux-chip-ac-group>
        </lux-chips-ac>
      </ng-container>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac luxLabel="luxInputAllowed" [(luxChecked)]="inputAllowed" [luxNoTopLabel]="true">
      <lux-form-hint>
        Aktiviert das Eingabefeld für die Chips, darüber lassen sich dann neue Chips hinzufügen.<br />
        Bei Chip-Groups werden diese automatisch hinzugefügt, bei einzelnen Chips muss der Aufrufer über den Callback "luxChipAdded"
        selbstständig den neuen Chip ergänzen.
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-input-ac
      luxLabel="luxInputLabel"
      [(luxValue)]="inputLabel"
      luxHint="Über diese Property kann das Label für das Eingabefeld dieser Component gesetzt werden."
    >
    </lux-input-ac>

    <lux-input-ac
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input-ac>
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxAutocompleteOptions übergeben"
      [(luxChecked)]="autocomplete"
      [luxDisabled]="!inputAllowed"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Wenn der LuxChipComponent Autocomplete-Options übergeben werden, wird automatisch die Autocomplete-Funktionalität freigeschaltet.<br />
        Voraussetzung: luxInputAllowed = true
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxStrict"
      [luxDisabled]="!inputAllowed"
      luxHint="Gibt an, ob nur Werte aus den vorhandenen Optionen ausgewählt werden dürfen."
      [(luxChecked)]="strict"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxHideBorder"
      [luxDisabled]="inputAllowed"
      luxHint="Mit dieser Property kann die Border um die Chip-Elemente ausgeblendet werden, wenn kein Input vorhanden ist."
      [(luxChecked)]="hideBorder"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="optionMultiline"
      [luxNoTopLabel]="true"
      [luxDisabled]="!inputAllowed"
      luxLabel="luxOptionMultiline"
      luxHint="Erlaubt es, mehrzeilige Texte in der Auswahlliste des Select-Panels anzuzeigen."
    >
    </lux-toggle-ac>
    <lux-input-ac
      luxLabel="luxOptionBlockSize"
      [luxDisabled]="!inputAllowed"
      [(luxValue)]="optionBlockSize"
      luxType="number"
      [luxNumberAlignLeft]="true"
    >
      <lux-form-hint> Lädt die Optionen in der eingestellten Blockgröße nach, wenn gescrollt wird. </lux-form-hint>
    </lux-input-ac>

    <lux-select-ac
      luxLabel="luxOrientation"
      [(luxSelected)]="chipOrientation"
      luxHint="Über diese Property kann eine horizontale oder vertikale Darstellung gewählt werden."
      [luxOptions]="['horizontal', 'vertical']"
    >
    </lux-select-ac>
    <lux-toggle-ac
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Erlaubt es, die Component zu deaktivieren."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components mit Groups, die nicht in einer Reactive-Form
        sind. D.h. das luxRequired funktioniert nicht für das erste Beispiel "Chips (ohne Group)".<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="multiple"
      luxLabel="luxMultiple"
      luxHint="Erlaubt es, mehrere Chips zu selektieren (mithilfe der Leertaste)."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
  </example-base-simple-options>
  <example-base-advanced-options>
    <div class="lux-flex lux-flex-col lux-gap-4">
      <h3>Einzelne Chips</h3>
      <lux-accordion [luxMulti]="false">
        <lux-panel (luxOpened)="openedPanel = i" *ngFor="let chip of chips; let i = index">
          <lux-panel-header-title> Chip #{{ i + 1 }} </lux-panel-header-title>
          <lux-panel-content *ngIf="openedPanel === i" class="lux-flex lux-flex-col lux-mt-4">
            <lux-input-ac
              luxLabel="luxLabel"
              luxHint="Bestimmt das Label des einzelnen Chips"
              [luxValue]="chip.label"
              (luxValueChange)="chip.label = $event"
            >
            </lux-input-ac>
            <lux-select-ac
              luxLabel="luxColor"
              luxHint="Bestimmt die Farbe der Chips für eine LuxChipGroup."
              [(luxSelected)]="chip.color"
              [luxOptions]="colors"
            >
            </lux-select-ac>
            <lux-toggle-ac
              luxLabel="luxDisabled"
              luxHint="Mit dieser Property können die Chips einer Group deaktiviert werden."
              [(luxChecked)]="chip.disabled"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="luxRemovable"
              luxHint="Diese Property markiert die Chips in einer Group als entfernbar."
              [(luxChecked)]="chip.removable"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="luxSelected"
              luxHint="Diese Property selektiert die Chip."
              [(luxChecked)]="chip.selected"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
          </lux-panel-content>
        </lux-panel>
      </lux-accordion>
    </div>
    <div class="lux-flex lux-flex-col lux-gap-4">
      <h3>Chip-Group</h3>
      <lux-select-ac
        luxLabel="luxColor"
        luxHint="Bestimmt die Farbe der Chips für eine LuxChipGroup."
        [(luxSelected)]="groupColor"
        [luxOptions]="colors"
      >
      </lux-select-ac>
      <lux-toggle-ac
        luxLabel="luxDisabled"
        luxHint="Mit dieser Property können die Chips einer Group deaktiviert werden."
        [(luxChecked)]="groupDisabled"
        [luxNoTopLabel]="true"
      >
      </lux-toggle-ac>
      <lux-toggle-ac
        luxLabel="luxRemovable"
        luxHint="Diese Property markiert die Chips in einer Group als entfernbar."
        [(luxChecked)]="groupRemovable"
        [luxNoTopLabel]="true"
      >
      </lux-toggle-ac>
      <lux-toggle-ac
        luxLabel="luxSelected"
        luxHint="Diese Property selektiert die Chips in dieser Group."
        [(luxChecked)]="groupSelected"
        [luxNoTopLabel]="true"
      >
      </lux-toggle-ac>
    </div>
    <lux-toggle-ac
      luxLabel="Lange Labeltexte mit Zeilenumbruch zulassen"
      luxHint="(Gilt hier für das luxInputLabel) Nur für die Darstellung in Spalten empfohlen, da eine Ausrichtung im Raster nicht gewährleistet werden kann."
      [luxNoTopLabel]="true"
      [(luxChecked)]="labelLongFormat"
    >
    </lux-toggle-ac>
  </example-base-advanced-options>
</example-base-structure>
