:host{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.page-content {
  margin: 32px 24px;

  .page-title {
    margin: 32px 0;
  }
}

.lux-tile-ac-wrapper-demo ::ng-deep {
  .lux-tile-ac {
    width: 260px;
    min-height: 120px;
  }
}
