<example-base-structure
  exampleTitle="Icon"
  exampleIconName="fas fa-image"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90icon"
>
  <example-base-content>
    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" class="lux-app-data-bg lux-highlight-section" [ngStyle]="{ backgroundColor: backgroundColor }">
        <h3 class="lux-highlight-section-label">Default</h3>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            [luxColor]="color"
          >
          </lux-icon>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors; let i = index"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            class="{{ 'lux-color-' + (colors[i % colors.length]) }}"
          >
          </lux-icon>
        </div>
      </div>
      <div fxLayout="column" class="lux-hover-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Hover</h3>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            [luxColor]="color"
          >
          </lux-icon>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors; let i = index"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            class="{{ 'lux-color-' + (colors[i % colors.length]) }}"
          >
          </lux-icon>
        </div>
      </div>
      <div fxLayout="column" class="lux-selected-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Focus</h3>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            [luxColor]="color"
          >
          </lux-icon>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="12px">
          <lux-icon
            *ngFor="let color of colors; let i = index"
            [luxIconName]="iconName"
            [luxIconSize]="iconSize"
            [luxPadding]="padding"
            [luxMargin]="margin"
            [luxRounded]="rounded"
            class="{{ 'lux-color-' + (colors[i % colors.length]) }}"
          >
          </lux-icon>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <i class="lux-mb-3">
      Wichtig: In FontAwesome ab <b>v.5</b> gibt es 4 Icon-Typen: <br />
      <b>'fab'</b> (Brand-Icons, kostenlos), <b>'fas'</b> (Solid-Icons, kostenlos), <br />
      <b>'far'</b> (Regular-Icons, kostenpflichtig), <b>'fal'</b> (Light-Icons, kostenpflichtig)
    </i>
    <lux-divider [luxInset]="true"></lux-divider>
    <div class="lux-highlight-section" fxLayout="column">
      <lux-input [(luxValue)]="iconName" luxLabel="luxIconName">
        <lux-form-hint>
          Diese Property bestimmt das Icon selbst (z.B. 'fab fa-android' für FontAwesome oder 'android' für
          Material).<br />
          Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
        </lux-form-hint>
      </lux-input>
      <lux-select [(luxSelected)]="iconSize" [luxOptions]="iconSizes" luxLabel="luxIconSize">
        <lux-form-hint>
          Über diese Property kann die Größe des Icons festgelegt werden.<br />
          Die Größen sind relative 'em'-Werte.
        </lux-form-hint>
      </lux-select>
      <lux-checkbox [(luxChecked)]="rounded" luxLabel="luxRounded">
        <lux-form-hint>
          Diese Property aktiviert eine abgerundete Darstellung des Icons<br />
          Ist nur in Kombination mit einer 'luxColor' sichtbar.
        </lux-form-hint>
      </lux-checkbox>
    </div>
    <lux-input
      luxName="button_background_Color"
      class="lux-highlight-section"
      [(luxValue)]="backgroundColor"
      luxLabel="Hintergrundfarbe"
    >
      <lux-form-hint>Kontrast zwischen Element und Hintergrund prüfen. <br/> Z.B. #f0f0f2 oder </lux-form-hint>
    </lux-input>
  </example-base-simple-options>
  <example-base-advanced-options>
    <div class="lux-highlight-section" fxLayout="column">
      <lux-input [(luxValue)]="margin" luxLabel="luxMargin">
        <lux-form-hint>
          Die Property ermöglicht es, die Margins für das Icon festzulegen<br />
          (z.B. '4px', '10px, 5em' oder '1px, 2px, 3px, 4px').
        </lux-form-hint>
      </lux-input>
      <lux-input [(luxValue)]="padding" luxLabel="luxPadding">
        <lux-form-hint>
          Die Property ermöglicht es, die Paddings für das Icon festzulegen<br />
          (z.B. '4px', '10px, 5em' oder '1px, 2px, 3px, 4px').
        </lux-form-hint>
      </lux-input>
    </div>
  </example-base-advanced-options>
</example-base-structure>
