<lux-menu
  class="lux-lang-select-menu-ac"
  luxAriaMenuTriggerLabel="Sprachmenü"
  i18n-luxAriaMenuTriggerLabel="@@luxc.lang-select.aria.langmenu.btn"
  [luxDisplayExtended]="false"
  (luxMenuOpened)="onMenuOpened()"
  (luxMenuClosed)="onMenuClosed()"
  >
  <lux-menu-item
    class="lux-lang-select-menu-item"
    *ngFor="let item of localeOptions"
    [luxLabel]="item.label"
    [luxClass]="item === selectedLocale ? 'lux-selected-item-ac' : ''"
    [luxDisabled]="item === selectedLocale"
    (luxClicked)="onLocaleChanged(item)"
  ></lux-menu-item>
  <lux-menu-trigger>
    <lux-button
      [luxRounded]="true"
      luxColor="primary"
      luxIconName="lux-programming-web"
      class="lang-select-trigger-ac"
      ngClass.lt-md="lang-select-trigger-mobile"
      luxAriaLabel="Spracheinstellungen"
      i18n-luxAriaLabel="@@luxc.app-header.lang.select.trigger"
      aria-haspopup="true"
      luxTagId="lang-select-trigger-btn"
      [ngClass]="menuOpened ? 'menu-opened' : ''"
      luxTagId="lang-select-trigger-btn"
      luxTooltip="Sprache wechseln"
      [luxTooltipShowDelay]="1500"
      #customTrigger
    ></lux-button>
  </lux-menu-trigger>
</lux-menu>
