<lux-input-ac
  luxLabel="luxLabel"
  luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
  [(luxValue)]="fileExample.label"
>
</lux-input-ac>
<lux-input-ac
  luxLabel="luxHint"
  luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
  [(luxValue)]="fileExample.hint"
>
</lux-input-ac>
<lux-toggle-ac
  luxLabel="luxHintShowOnlyOnFocus"
  luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
  [(luxChecked)]="fileExample.hintShowOnlyOnFocus"
  [luxNoTopLabel]="true"
></lux-toggle-ac>
<example-form-disable
  [form]="fileExample.form"
  [controlBinding]="fileExample.controlBinding"
  [(disabled)]="fileExample.disabled"
></example-form-disable>
<lux-toggle-ac
  [(luxChecked)]="fileExample.readonly"
  luxLabel="luxReadonly"
  luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
  [luxNoTopLabel]="true"
>
</lux-toggle-ac>
<lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="fileExample.changeRequired($event)" [luxNoTopLabel]="true">
  <lux-form-hint>
    Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
    <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
  </lux-form-hint>
</lux-toggle-ac>
<lux-toggle-ac
  [(luxChecked)]="fileExample.dndActive"
  luxLabel="luxDnDActive"
  luxHint="Diese Eigenschaft legt fest ob Dateien via Drag-And-Drop in das Input gegeben werden können."
  [luxNoTopLabel]="true"
>
</lux-toggle-ac>
<lux-toggle-ac
  [(luxChecked)]="fileExample.contentAsBlob"
  luxLabel="luxContentAsBlob"
  luxHint="Diese Eigenschaft bestimmt ob die Dateien als Blob gespeichert werden sollen oder als Base64-String."
  [luxNoTopLabel]="true"
>
</lux-toggle-ac>
<lux-toggle-ac
  [(luxChecked)]="fileExample.reportProgress"
  luxLabel="luxUploadReportProgress"
  luxHint="Diese Eigenschaft legt fest ob beim Upload Progressbar mit festen Fortschrittswerten oder nicht angezeigt werden soll."
  [luxNoTopLabel]="true"
>
</lux-toggle-ac>
<lux-input-ac
  luxLabel="luxUploadUrl"
  luxHint="Diese Property bestimmt die URL, zu der die selektierten Dateien hochgeladen werden sollen."
  [(luxValue)]="fileExample.uploadUrl"
>
</lux-input-ac>
<lux-input-ac
  luxLabel="luxMaxSizeMB"
  luxHint="Die Property bestimmt die maximale erlaubte Dateigröße in MB."
  [(luxValue)]="fileExample.maxSize"
  luxType="number"
>
  <lux-input-ac-suffix>MB</lux-input-ac-suffix>
</lux-input-ac>
<lux-select-ac
  luxLabel="luxCapture"
  luxHint="Diese Property stellt ein ob für Mobilgeräte die Front- oder Rück-Kamera und Mikrophone verwendet werden sollen."
  [luxOptions]="['', 'user', 'environment']"
  [(luxSelected)]="fileExample.capture"
>
</lux-select-ac>
<lux-input-ac
  luxLabel="luxAccept"
  luxHint="Über diese Eigenschaft lässt sich einstellen, welche Dateiarten erlaubt sind (z.B. image/*,.pdf)."
  [(luxValue)]="fileExample.accept"
>
</lux-input-ac>
