lux-button {
  ::ng-deep button {
    padding: 0;
    min-width: 30px;
    max-height: 30px !important;
    min-height: 30px !important;
  }

  &.lux-button-with-label ::ng-deep button {
    padding: 0 4px;
    max-height: 45px !important;
    min-height: 45px !important;
  }
}
