<lux-form-control
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [formGroup]="formGroup"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [luxLabelLongFormat]="luxLabelLongFormat"
>
  <div class="lux-input-row" fxLayout="row">
    <input
      fxFlex="auto"
      matInput
      luxTagIdHandler
      [luxTagId]="luxTagId"
      [matDatepicker]="datepicker"
      [min]="min"
      [max]="max"
      [matDatepickerFilter]="luxCustomFilter"
      [placeholder]="luxPlaceholder"
      [required]="luxRequired"
      [readonly]="luxReadonly"
      [formControl]="formControl"
      [autocomplete]="luxAutocomplete"
      (blur)="luxBlur.emit($event)"
      (focus)="luxFocus.emit($event)"
      (focusin)="luxFocusIn.emit($event)"
      (focusout)="luxFocusOut.emit($event)"
      [id]="uid"
      [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
      #datepickerInput
    />
    <mat-datepicker-toggle
      [disabled]="luxDisabled || luxReadonly"
      [for]="datepicker"
      *ngIf="luxShowToggle"
      fxFlex="auto"
      matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker
      [startView]="luxStartView"
      [startAt]="start"
      [touchUi]="luxTouchUi"
      [disabled]="luxDisabled || luxReadonly"
      [panelClass]="'lux-datepicker-panel'"
      [calendarHeaderComponent]="getHeaderByTheme()"
      #datepicker
    >
    </mat-datepicker>
  </div>
</lux-form-control>
