<lux-dialog-structure>
  <lux-dialog-title class="file-upload-dialog-title-container file-replace-dialog-title-container">
    <div
      *ngIf="luxDialogRef.data.multiple"
      class="file-upload-dialog-title file-replace-dialog-title"
      i18n="@@luxc.file.replace.dialog.title.multiple"
    >
      Wollen Sie fortfahren und die Dateien mit gleichen Namen ersetzen?
    </div>
    <div
      *ngIf="!luxDialogRef.data.multiple"
      class="file-upload-dialog-title file-replace-dialog-title"
      i18n="@@luxc.file.replace.dialog.title"
    >
      Wollen Sie fortfahren und die Datei ersetzen?
    </div>
  </lux-dialog-title>
  <lux-dialog-content class="file-upload-dialog-content-container file-replace-dialog-content-container">
    <p
      *ngIf="luxDialogRef.data.multiple"
      class="file-upload-dialog-content-text file-replace-dialog-content-text"
      i18n="@@luxc.file.replace.dialog.content.multiple"
    >
      Wenn Sie Dateien mit gleichen Namen hochladen, werden diese ersetzt.
    </p>
    <p
      *ngIf="!luxDialogRef.data.multiple"
      class="file-upload-dialog-content-text file-replace-dialog-content-text"
      i18n="@@luxc.file.replace.dialog.content"
    >
      Wenn Sie eine neue Datei auswählen, wird die vorhandene Datei ersetzt.
    </p>
  </lux-dialog-content>
  <lux-dialog-actions class="lux-flex lux-flex-wrap">
    <lux-button
      luxLabel="Abbrechen"
      i18n-luxLabel="@@luxc.file.replace.dialog.cancel.lbl"
      [luxRaised]="true"
      (luxClicked)="luxDialogRef.closeDialog(false)"
      class="lux-mr-4"
    ></lux-button>
    <lux-button
      luxLabel="Ersetzen"
      i18n-luxLabel="@@luxc.file.replace.dialog.replace.lbl"
      luxColor="primary"
      [luxRaised]="true"
      (luxClicked)="luxDialogRef.closeDialog(true)"
    ></lux-button>
  </lux-dialog-actions>
</lux-dialog-structure>
