:host {
  min-height: 100%;
}

.lux-dialog {
  // Das Element kann fokussiert werden, das muss aber nicht zwingend mit der Outline gezeigt werden
  outline-width: 0;

  // der Mat-Dialog-Content hat negativen Margin und einen passenden Padding (wieso auch immer)
  // wir schalten das ab, damit das Fokus-Highlighting passend zum Header aussieht
  .lux-dialog-content {
    margin: 0;
    padding: 0;
  }

  // Leichten Abstand zum Content setzen
  .lux-dialog-actions {
    margin: 20px 0 0 0;
  }

  .lux-icon-close {
    margin: -15px -15px 0 0;
    width: 24px;
    height: 24px;
    font-size: 1em;
  }

  .lux-dialog-icon ::ng-deep {
    mat-icon.mat-icon.lux-material-icon {
      height: unset;
      width: unset;
    }
  }
}

@mixin small-dialog {
  ::ng-deep .mat-dialog-container {
    padding: 8px;
  }

  ::ng-deep .mat-dialog-title {
    margin-bottom: 8px;
  }

  .lux-dialog {
    .lux-dialog-actions {
      margin: 8px 0 0 0;
    }
    .lux-icon-close {
      margin: -5px -5px 0 0
    }
  }
}

@media (max-width: 599px) {
  @include small-dialog;
}

@media (max-width: 959px) {
  @include small-dialog;
}
