<lux-form-control-wrapper
  [luxFormComponent]="this"
  [luxNoInputRow]="true"
  [formGroup]="formGroup"
  [luxIgnoreDefaultLabel]="true"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  (click)="formControl.markAsTouched()"
  luxTagId="luxToggleWrapper"
  *ngIf="formGroup"
>
  <mat-slide-toggle
    luxTagIdHandler
    [luxTagId]="luxTagId"
    [disableRipple]="true"
    [required]="luxRequired"
    [formControl]="formControl"
    color="primary"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
    [id]="uid"
    [luxAriaDescribedby]="descripedBy()"
    luxAriaDescribedbySelector=".mat-slide-toggle-input"
    [luxAriaRequired]="luxRequired"
    luxAriaRequiredSelector=".mat-slide-toggle-input"
    [luxAriaInvalid]="'' + formControl.invalid"
    luxAriaInvalidSelector=".mat-slide-toggle-input"
    tabIndex="{{ luxReadonly ? -1 : 0 }}"
    #slidetoggle
  >
    <span class="lux-form-label" *ngIf="formLabelComponent || luxLabel">
      <ng-container *ngIf="luxLabel; else formLabelTemplate">{{ luxLabel }}</ng-container><!-- Einzeilig lassen, sonst bricht das Label an dem Leerzeichen um. -->
      <ng-template #formLabelTemplate>
        <ng-container *ngTemplateOutlet="formLabelComponent?.templateRef ?? null"></ng-container>
      </ng-template>{{ luxRequired ? '&nbsp;*' : '' }}<!-- Nicht in die nächste Zeile verschieben, sonst bricht das Label an dem Leerzeichen um. -->
    </span>
  </mat-slide-toggle>
</lux-form-control-wrapper>
