<example-base-structure exampleTitle="Tenant-Logo" exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90button">
  <example-base-content>
    <lux-tenant-logo
      [luxTenantKey]="localTenantLogoConfig.luxTenantKey"
      [luxTenantVariant]="localTenantLogoConfig.luxTenantVariant"
      [luxTenantLogoHeight]="localTenantLogoConfig.luxTenantLogoHeight"
      (luxTenantLogoClicked)="onTenenatLogoClicked(localTenantLogoConfig)"
      #exampleLogo
      *ngIf="localTenantLogoConfig"
    ></lux-tenant-logo>
  </example-base-content>
  <example-base-simple-options>
    <lux-checkbox-ac (luxCheckedChange)="onChangeUseTenantLogoForHeader($event)" luxLabel="Nutze diese Komponente für den Header" [luxNoTopLabel]="true">

    </lux-checkbox-ac>

    <ng-container *ngIf="useTenantLogoForHeader">
      <app-tenant-logo-example-config title="Header-Beispiel Konfiguration" [tenantLogoConfig]="headerTenantLogoConfig"></app-tenant-logo-example-config>
    </ng-container>

    <lux-divider [luxInset]="true"></lux-divider>

    <app-tenant-logo-example-config title="Beispiel Konfiguration" [tenantLogoConfig]="localTenantLogoConfig"></app-tenant-logo-example-config>

  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-checkbox-ac (luxCheckedChange)="onChangeShowBorderForImages($event)" luxLabel="Zeige Rahmen"></lux-checkbox-ac>
  </example-base-advanced-options>
</example-base-structure>
