<example-base-structure
  exampleTitle="Filter"
  exampleIconName="fas fa-filter"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90filter%E2%80%90form"
>
  <example-base-content>
    <div fxLayout="column">
      <lux-filter-form
        fxFlex="1 1 auto"
        (luxOnFilter)="onFilter($event)"
        [(luxFilterExpanded)]="expanded"
        [luxFilterValues]="initFilter"
        (luxOnSave)="onSave($event)"
        (luxOnLoad)="onLoad($event)"
        (luxOnReset)="onReset()"
        (luxOnDelete)="onDelete($event)"
        [luxShowChips]="showFilterChips"
        [luxStoredFilters]="storedFilters"
        [luxButtonRaised]="buttonRaised"
        [luxButtonFilterColor]="buttonFilterColor"
        [luxButtonDialogSave]="buttonDialogSave"
        [luxButtonDialogLoad]="buttonDialogLoad"
        [luxButtonDialogDelete]="buttonDialogDelete"
        [luxButtonDialogCancel]="buttonDialogCancel"
        [luxButtonDialogClose]="buttonDialogClose"
        [luxDisableShortcut]="disableShortcut"
        class="lux-ml-1 lux-mr-1 lux-mb-3"
      >
        <lux-layout-form-row luxWrapAt="md">
          <lux-lookup-autocomplete
            luxLabel="Lookup Autocomplete"
            luxLookupId="filter_lookup_autocomplete"
            luxControlBinding="autocompleteLookup"
            luxTableNo="1002"
            luxRenderProp="kurzText"
            [luxParameters]="parameters"
            [luxFilterDisabled]="autoCompleteLookupDisabled"
            [luxFilterHidden]="autoCompleteLookupHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-lookup-autocomplete>
          <lux-lookup-combobox
            luxLabel="Lookup Combobox"
            luxLookupId="filter_lookup_combobox"
            luxControlBinding="comboboxLookup"
            [luxMultiple]="true"
            luxTableNo="1002"
            luxRenderProp="kurzText"
            [luxParameters]="parameters"
            [luxFilterDisabled]="selectLookupDisabled"
            [luxFilterHidden]="selectLookupHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-lookup-combobox>
          </lux-layout-form-row>
          <lux-layout-form-row luxWrapAt="md">
          <lux-input
            luxLabel="Input"
            luxName="filter_input"
            luxAutocomplete="off"
            luxControlBinding="input"
            [luxRequired]="true"
            [luxFilterDisabled]="inputDisabled"
            [luxFilterHidden]="inputHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-input>
          <lux-autocomplete
            luxLabel="Autocomplete"
            [luxOptions]="autoCompleteOptions"
            luxControlBinding="autocomplete"
            [luxFilterDisabled]="autoCompleteDisabled"
            [luxFilterHidden]="autoCompleteHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-autocomplete>
          </lux-layout-form-row>
        <lux-layout-form-row luxWrapAt="md">
          <lux-datepicker
            luxLabel="Datepicker"
            luxName="filter_datepicker"
            luxControlBinding="datepicker"
            [luxFilterDisabled]="datepickerDisabled"
            [luxFilterHidden]="datepickerHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-datepicker>
          <lux-datetimepicker
            luxLabel="Datetimepicker"
            luxName="filter_datetimepicker"
            luxControlBinding="datetimepicker"
            [luxFilterDisabled]="datetimepickerDisabled"
            [luxFilterHidden]="datetimepickerHidden"
            luxFilterItem
            *luxLayoutRowItem="{}"
          ></lux-datetimepicker>
        </lux-layout-form-row>
        <lux-layout-form-row [luxGap]="{ row: '24px', rowItem: '24px', column: '8px'}" luxWrapAt="md">
          <lux-select
            luxLabel="Single-Select"
            luxControlBinding="singleSelect"
            luxOptionLabelProp="label"
            [luxMultiple]="false"
            [luxOptions]="singleSelectOptions"
            [luxCompareWith]="compareValueFn"
            [luxFilterDisabled]="singleSelectDisabled"
            [luxFilterHidden]="singleSelectHidden"
            luxFilterColor="accent"
            luxFilterItem
            [luxNoBottomLabel]="true"
            *luxLayoutRowItem="{}"
          ></lux-select>
          <lux-select
            luxLabel="Multi-Select"
            luxControlBinding="multiSelect"
            luxOptionLabelProp="label"
            [luxMultiple]="true"
            [luxOptions]="multiSelectOptions"
            [luxCompareWith]="compareValueFn"
            [luxFilterDisabled]="multiSelectDisabled"
            [luxFilterHidden]="multiSelectHidden"
            luxFilterColor="accent"
            luxFilterItem
            [luxNoBottomLabel]="true"
            *luxLayoutRowItem="{}"
          ></lux-select>
        </lux-layout-form-row>
        <lux-layout-form-row luxWrapAt="md">
          <lux-toggle
            luxLabel="Toggle"
            luxControlBinding="toggle"
            [luxFilterRenderFn]="renderToggleFn"
            [luxFilterDisabled]="toggleSelectDisabled"
            [luxFilterHidden]="toggleSelectHidden"
            luxFilterColor="warn"
            luxFilterItem
            [luxNoTopLabel]="true"
            *luxLayoutRowItem="{}"
          ></lux-toggle>
        </lux-layout-form-row>
      </lux-filter-form>
     <div class="lux-highlight-section column lux-ml-2 lux-mr-2">
        <h3 class="lux-highlight-section-label">Filter</h3>
        <pre>{{ currentFilter | json }}</pre>
     </div>
    </div>
    <div ngClass="message-box" ngClass.lt-md="message-box-small">
      <div fxLayout="row" fxLayoutAlign="start start" class="box-header">
        <lux-icon luxIconName="far fa-hand-point-right" luxIconSize="2x"></lux-icon>
        <div fxLayout="column" class="lux-mt-2">
          <h2>Tipp</h2>
          <h3>Formcontrols im Filter anpassen</h3>
        </div>
      </div>
      <p>
        Die Lux-Form-Controls haben standardmäßig einen Label- und einen Hint/Error-Container. Meistens werden die Fehlermeldungen und Hinweistexte im Filterformular jedoch nicht benötigt. <br>
        Für diesen Anwendungsfall kann ab Version 13.0.0 das Attribut <strong>luxNoBottomLabels</strong> bei den Form-Controls genutzt werden.
        Dabei wird der Hint/Error-Container vom Form-Control entfernt. Mit der Lux-Layout-Form-Row können dann die Zeilenabstände individuell bestimmt werden.
      </p>
      <div class="code-section">
        <lux-markdown [luxData]="markdownData"></lux-markdown>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <div class="lux-highlight-section column">
      <h3 class="lux-highlight-section-label">Button</h3>
      <lux-toggle luxLabel="luxButtonFilterRaised" [(luxChecked)]="buttonRaised" [luxNoLabels]="true"></lux-toggle>
      <lux-select luxLabel="luxButtonFilterColor" [(luxSelected)]="buttonFilterColor" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
      <lux-select luxLabel="luxButtonDialogSave" [(luxSelected)]="buttonDialogSave" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
      <lux-select luxLabel="luxButtonDialogCancel" [(luxSelected)]="buttonDialogCancel" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
      <lux-select luxLabel="luxButtonDialogLoad" [(luxSelected)]="buttonDialogLoad" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
      <lux-select luxLabel="luxButtonDialogDelete" [(luxSelected)]="buttonDialogDelete" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
      <lux-select luxLabel="luxButtonDialogClose" [(luxSelected)]="buttonDialogClose" [luxOptions]="buttonColorOptions" [luxNoBottomLabel]="true"></lux-select>
    </div>
    <div class="lux-highlight-section filter-config-item" fxLayout="column">
      <h3 class="lux-highlight-section-label">Tastaturkürzel</h3>
      <lux-toggle luxLabel="luxDisableShortcut" [(luxChecked)]="disableShortcut" luxHint="Über dieses Property kann das Tastaturkürzel &quot;Shift + Enter&quot; zum Auslösen des Filters abgeschaltet werden."></lux-toggle>
    </div>
    <div class="lux-highlight-section filter-config-item" fxLayout="column">
      <h3 class="lux-highlight-section-label">Filterwert</h3>
      <lux-textarea [luxNoTopLabel]="true" [(luxValue)]="replaceFilterJson" luxHint="JSON-Format"></lux-textarea>
      <lux-button luxLabel="Filterwert ersetzen" luxColor="primary" (luxClicked)="onSetFilter()"></lux-button>
    </div>
  </example-base-simple-options>
  <example-base-advanced-options>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Input</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="inputDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="inputHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Lookup-Autocomplete</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle
          luxLabel="luxFilterDisabled"
          [(luxChecked)]="autoCompleteLookupDisabled"
          [luxNoLabels]="true"
          *luxLayoutRowItem="{}"
        ></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="autoCompleteLookupHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Lookup-Combobox</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="selectLookupDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="selectLookupHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Autocomplete</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="autoCompleteDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="autoCompleteHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Datepicker</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="datepickerDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="datepickerHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Datetimepicker</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="datetimepickerDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="datetimepickerHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Single-Select</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="singleSelectDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="singleSelectHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Multi-Select</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="multiSelectDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="multiSelectHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxFlex="1 1 auto" class="lux-pb-3">Toggle</div>
      <lux-layout-form-row luxWrapAt="md">
        <lux-toggle luxLabel="luxFilterDisabled" [(luxChecked)]="toggleSelectDisabled" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
        <lux-toggle luxLabel="luxFilterHidden" [(luxChecked)]="toggleSelectHidden" [luxNoLabels]="true" *luxLayoutRowItem="{}"></lux-toggle>
      </lux-layout-form-row>
    </div>
  </example-base-advanced-options>
</example-base-structure>
