<lux-layout>
  <lux-layout-card-row luxTitle="1 Karte pro Zeile">
    <lux-card luxTitle="Einstellungen" luxTagId="form1row" *luxLayoutRowItem="{}">
      <lux-card-content>
        <form [formGroup]="myGroup">
          <div formGroupName="userInformation">
            <lux-layout>
              <lux-layout-form-row luxTitle="Benutzer">
                <lux-input
                  luxName="username"
                  luxLabel="Username"
                  luxControlBinding="username"
                  *luxLayoutRowItem="{}"
                ></lux-input>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-input
                  luxName="current-password"
                  luxLabel="Passwort"
                  luxType="password"
                  luxControlBinding="password"
                  *luxLayoutRowItem="{}"
                >
                  <lux-input-suffix>
                    <lux-icon luxIconName="lux-interface-lock"></lux-icon>
                  </lux-input-suffix>
                </lux-input>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-autocomplete
                  [luxOptions]="salutations"
                  luxLabel="Anrede"
                  [luxLookupDelay]="100"
                  [luxSelectAllOnClick]="true"
                  [luxStrict]="false"
                  luxControlBinding="salutation"
                  *luxLayoutRowItem="{}"
                >
                </lux-autocomplete>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-input luxName="email" luxLabel="E-Mail" luxControlBinding="email" *luxLayoutRowItem="{}">
                  <lux-input-suffix>
                    <lux-icon luxIconName="fa-at"></lux-icon>
                  </lux-input-suffix>
                </lux-input>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-input
                  luxName="form-single_DeaktiviertesElement"
                  luxLabel="Deaktiviertes Element"
                  luxControlBinding="deactivated"
                  [luxDisabled]="true"
                  *luxLayoutRowItem="{}"
                >
                </lux-input>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-radio
                  [luxOrientationVertical]="false"
                  [luxOptions]="genders"
                  luxControlBinding="gender"
                  luxLabel="Geschlecht"
                  *luxLayoutRowItem="{}"
                >
                  <ng-template let-option>
                    {{ option.name }}
                  </ng-template>
                </lux-radio>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-input
                  luxName="form-single_Alter"
                  luxLabel="Alter"
                  luxControlBinding="age"
                  luxType="number"
                  [luxNumberAlignLeft]="true"
                  *luxLayoutRowItem="{}"
                >
                </lux-input>
              </lux-layout-form-row>
              <lux-layout-form-row>
                <lux-autocomplete
                  [luxOptions]="countries"
                  luxOptionLabelProp="name"
                  luxLabel="Land"
                  [luxLookupDelay]="100"
                  luxHint="Wählen Sie ein Land aus"
                  [luxSelectAllOnClick]="false"
                  luxControlBinding="country"
                  *luxLayoutRowItem="{}"
                >
                </lux-autocomplete>
              </lux-layout-form-row>
            </lux-layout>
          </div>

          <lux-layout>
            <lux-layout-form-row luxTitle="Sonstiges" class="lux-mt-4">
              <lux-select
                luxLabel="Rollen auswählen"
                [luxOptions]="roles"
                luxOptionLabelProp="name"
                luxOptionValueProp="name"
                [luxMultiple]="true"
                luxControlBinding="roles"
                *luxLayoutRowItem="{}"
              ></lux-select>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-chips
                [luxInputAllowed]="true"
                luxInputLabel="Neue Rolle..."
                luxOrientation="horizontal"
                (luxChipAdded)="addRole($event)"
                *luxLayoutRowItem="{}"
              >
                <lux-chip (luxChipRemoved)="removeRole(i)" *ngFor="let role of roles; let i = index">
                  {{ role.name }}
                </lux-chip>
              </lux-chips>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-toggle luxLabel="EULA zugestimmt" luxControlBinding="eula" *luxLayoutRowItem="{}"></lux-toggle>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-datepicker luxControlBinding="date" luxLabel="Läuft ab am" *luxLayoutRowItem="{}"></lux-datepicker>
            </lux-layout-form-row>
          </lux-layout>
        </form>
      </lux-card-content>
    </lux-card>
  </lux-layout-card-row>
  <lux-layout-card-row>
    <lux-card luxTitle="Formulardaten" *luxLayoutRowItem="{}">
      <lux-card-content>
        <lux-layout>
          <lux-layout-form-row>
            <div *luxLayoutRowItem="{}">
              <pre>{{ myGroup.value | json }}</pre>
            </div>
          </lux-layout-form-row>
        </lux-layout>
      </lux-card-content>
    </lux-card>
  </lux-layout-card-row>
</lux-layout>
