::ng-deep  .is-Nachricht-Expired {
  .mat-cell {
    color: rgb(148, 148, 148);
  }
  .mat-cell:hover {
    color: black;
  }
}

::ng-deep .mat-column-validFrom {
  min-width: 75px;
}

::ng-deep .mat-column-vaidTo {
  min-width: 75px;
}

::ng-deep .mat-column-betreff {
  min-width: 125px;
}
