.row-title {
  margin-block-start: 0;
  margin-block-end: 8px;
  margin-top: 0;
  margin-bottom: 8px;
}

.row-item-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

.row-items-container {
  align-items: center;
  &.mobile {
    align-items: stretch;
  }
}

:host ::ng-deep {
  .row-item-container {
    & lux-input,
    lux-toggle,
    lux-checkbox,
    lux-radio,
    lux-autocomplete,
    lux-datepicker,
    lux-datetimepicker,
    lux-file-input,
    lux-slider,
    lux-select,
    lux-textarea,
    lux-lookup-autocomplete,
    lux-lookup-combobox,
    lux-input-ac,
    lux-toggle-ac,
    lux-checkbox-ac,
    lux-radio-ac,
    lux-autocomplete-ac,
    lux-datepicker-ac,
    lux-datetimepicker-ac,
    lux-file-input-ac,
    lux-slider-ac,
    lux-select-ac,
    lux-textarea-ac,
    lux-lookup-autocomplete-ac,
    lux-lookup-combobox-ac {
      display: flex;
      flex: 1 1 auto;
      min-width: 0;
    }

    & lux-datepicker input {
      width: calc(100% - 18px);
    }

    > div {
      display: flex;
      width: 100%;
      align-items: center;
    }

    &.row-item-no-top-label {
      lux-button {
        margin-bottom: 17px;
      }

      .lux-form-control .lux-form-control-label,
      .lux-form-control-wrapper .lux-form-control-label-authentic {
        display: none !important;
      }
    }

    &.row-item-no-bottom-label {
      lux-button {
        margin-top: 17px;
      }
      .lux-form-control .lux-form-control-misc,
      lux-form-control-wrapper .lux-form-control-wrapper .lux-form-control-misc-authentic {
        display: none !important;
      }
    }
  }

  & lux-chips,
  lux-chips-ac {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;

    & mat-chip {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  & lux-file-list {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
  }
}
