.row-title {
  margin-block-start: 0;
  margin-block-end: 4px;
  margin-top: 0;
  margin-bottom: 4px;
}

.row-item-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

:host ::ng-deep {
  .row-item-container {
    & lux-input,
    lux-toggle,
    lux-checkbox,
    lux-radio,
    lux-autocomplete,
    lux-datepicker,
    lux-datetimepicker,
    lux-file-input,
    lux-slider,
    lux-select,
    lux-textarea,
    lux-lookup-autocomplete,
    lux-lookup-combobox {
      display: flex;
      flex: 1 1 auto;
      min-width: 0;
      min-height: 70px;
    }

    & lux-datepicker input {
      width: calc(100% - 18px);
    }
  }

  & lux-chips {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;

    & mat-chip {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  & lux-file-list {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
  }
}
