.no-filter-active {
  padding: 8px 25px;
}

.no-filter-active-sm {
  padding: 8px 12px;
}

.filterItem ::ng-deep {
  .mat-standard-chip {
    min-height: 24px;
  }

  div.lux-form-control-label {
    min-height: 0 !important;
  }
}

.filterPanel ::ng-deep .mat-action-row {
  padding: 0 !important;
  border: none;
}

lux-panel-header-title ::ng-deep .mat-expansion-panel-header-title {
  align-items: center;
  margin: 0px;
}

.filterPanel {
  ::ng-deep mat-expansion-panel-header.mat-expansion-panel-header {
    padding-right: 6px;
  }
}