<example-base-structure
  exampleTitle="File-List"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90file%E2%80%90list-v18"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-file-list
        [luxLabel]="label"
        [luxHeading]="heading"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [(luxDisabled)]="disabled"
        [luxShowPreview]="showPreview"
        [luxUploadUrl]="uploadUrl"
        [luxMultiple]="multiple"
        [luxMaxSizeMB]="maxSize"
        [luxUploadActionConfig]="uploadActionConfig"
        [luxCustomActionConfigs]="customActionConfigs"
        [luxViewActionConfig]="viewActionConfig"
        [luxDeleteActionConfig]="deleteActionConfig"
        [luxDownloadActionConfig]="downloadActionConfig"
        [luxMaximumExtended]="maximumExtended"
        [luxCapture]="capture"
        [luxAccept]="accept"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxDnDActive]="dndActive"
        [luxSelected]="selected"
        [luxContentsAsBlob]="contentAsBlob"
        [luxUploadReportProgress]="reportProgress"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxSelectedChange)="onSelectedChange($event)"
        #filelistexamplewithoutform
      >
      </lux-file-list>
    </div>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel in Reactive-Form</h3>
      <div [formGroup]="form">
        <lux-file-list
          [luxLabel]="label"
          [luxHeading]="heading"
          [luxReadonly]="readonly"
          [(luxDisabled)]="disabled"
          [luxShowPreview]="showPreview"
          [luxUploadUrl]="uploadUrl"
          [luxMultiple]="multiple"
          [luxMaxSizeMB]="maxSize"
          [luxCustomActionConfigs]="customActionConfigs"
          [luxUploadActionConfig]="uploadActionConfig"
          [luxViewActionConfig]="viewActionConfigForm"
          [luxDeleteActionConfig]="deleteActionConfig"
          [luxDownloadActionConfig]="downloadActionConfig"
          [luxMaximumExtended]="maximumExtended"
          [luxCapture]="capture"
          [luxAccept]="accept"
          [luxHint]="hint"
          [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
          [luxDnDActive]="dndActive"
          [luxControlBinding]="controlBinding"
          [luxContentsAsBlob]="contentAsBlob"
          [luxUploadReportProgress]="reportProgress"
          (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
          (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
          #filelistexamplewithform
        >
        </lux-file-list>
        <example-form-value [form]="form" [controlBinding]="controlBinding" [showValue]="false"></example-form-value>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="Backend mocken"
      [luxChecked]="mockBackend"
      (luxCheckedChange)="changeMockBackend($event)"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Mockt den Http-Client um das Uploaden der Dateien zu simulieren.<br />
        Dafür muss aber auch "luxUploadUrl" gesetzt sein (beliebiger Wert).
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="showPreview"
      luxLabel="luxShowPreview"
      luxHint="Diese Eigenschaft definiert, ob einzelne Bilder in einer Vorschau angezeigt werden sollen."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-input-ac
      luxLabel="luxHeading"
      luxHint="Gültige Werte sind 1-6"
      [(luxValue)]="heading"
      [luxControlValidators]="headingValidator"
    ></lux-input-ac>
    <app-file-example-simple-options [fileExample]="this" class="lux-flex lux-flex-col lux-gap-4"></app-file-example-simple-options>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <app-file-example-advanced-options [fileExample]="this" [showHeaderConfigProperties]="true"></app-file-example-advanced-options>
    <h4>Dialogaktion "Akzeptieren"</h4>
    <div class="lux-flex lux-flex-col lux-gap-4">
      <lux-input-ac
        luxLabel="Präfix"
        luxName="filelist_prefix_accept"
        [(luxValue)]="namePrefixAccept"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Präfixfarbe"
        luxName="filelist_prefix_color_accept"
        [(luxValue)]="namePrefixColorAccept"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Suffix"
        luxName="filelist_suffix_accept"
        [(luxValue)]="nameSuffixAccept"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Suffixfarbe"
        luxName="filelist_suffix_color_accept"
        [(luxValue)]="nameSuffixColorAccept"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
    </div>
    <h4>Dialogaktion "Ablehnen"</h4>
    <div class="lux-flex lux-flex-col lux-gap-4">
      <lux-input-ac
        luxLabel="Präfix"
        luxName="filelist_prefix_decline"
        [(luxValue)]="namePrefixDecline"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Präfixfarbe"
        luxName="filelist_prefix_color_decline"
        [(luxValue)]="namePrefixColorDecline"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Suffix"
        luxName="filelist_suffix_decline"
        [(luxValue)]="nameSuffixDecline"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
      <lux-input-ac
        luxLabel="Suffixfarbe"
        luxName="filelist_suffix_color_decline"
        [(luxValue)]="nameSuffixColorDecline"
        [luxNoBottomLabel]="true"
      ></lux-input-ac>
    </div>
  </example-base-advanced-options>
</example-base-structure>
