:host {
  display: flex;
  max-height: 100%;
  height: 100%;
}

.lux-error-icon {
  font-size: 5em;
}

.lux-error-icon-sm {
  font-size: 4em;
}

.lux-error-icon-xs {
  font-size: 3em;
}

.lux-error-page-container {
  border: 0 solid transparent;
}

lux-card.lux-error-page-desktop {
  ::ng-deep {
    h2 {
      margin-left: 50px;
      margin-right: 0;
    }

    lux-card-content > * {
      max-width: 600px;
    }

    mat-card {
      height: 100%;
      margin: 0 !important;

      > .lux-card-content {
        align-items: center;
        justify-content: center;
      }
    }
  }
}

lux-card:not(.lux-error-page-desktop) {
  ::ng-deep {
    mat-card {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    lux-card-content > * {
      max-width: 100%;
    }
  }
}
