@import '../../../../theming/luxtheme';

:host {
  ::ng-deep {
    .mat-radio-label {
      width: 100%;

      .mat-radio-label-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .mat-radio-button .mat-radio-ripple {
      display: none;
    }

    .mat-radio-container {
      margin-top: -2px;
    }
  }
}

.lux-vertical mat-radio-button:first-child {
  margin-top: 0;
}

.lux-horizontal mat-radio-button:first-child {
  margin-left: 0;
}

.mat-radio-checked {
  & ::ng-deep label div.mat-radio-container {
    div.mat-radio-inner-circle {
      background-color: mat-color($lux-primary, 500);
    }

    div.mat-radio-outer-circle {
      border-color: mat-color($lux-primary, 500);
    }
  }

  &.mat-radio-disabled ::ng-deep label div.mat-radio-container {
    div.mat-radio-inner-circle {
      background-color: $dark-disabled-text;
    }

    div.mat-radio-outer-circle {
      border-color: $dark-disabled-text;
    }
  }
}

.mat-radio-disabled ::ng-deep label.mat-radio-label .mat-radio-container {
  div.mat-radio-inner-circle {
    background-color: rgba(black, 0.15);
  }

  div.mat-radio-outer-circle {
    border-color: rgba(black, 0.15);
  }
}
