<div class="lux-app-container">
  <lux-app-header
    luxAppTitle="LUX Components"
    luxAppTitleShort="Components"
    luxUserName="Max Mustermann"
    luxIconName="far fa-lightbulb"
    luxImageSrc="assets/png/example.png"
    luxAriaTitleIconLabel="Titelicon  / Zur Hauptseie"
    luxAriaTitleImageLabel="Titelbild  / Zur Hauptseie"
    luxAriaTitleLinkLabel="LUX Components / Zur Hauptseie"
    [luxLocaleSupported]="['de', 'en']"
    *ngIf="this.luxAppHeader !== 'none' && themeName !== 'authentic'"
    (luxClicked)="router.navigate(['/'])"
  >
    <lux-side-nav
      luxDashboardLink="https://github.com/IHK-GfI/lux-components/wiki"
      [luxOpenLinkBlank]="true"
      (luxSideNavExpandedChange)="onSideNavExpandedChange($event)"
    >
      <lux-side-nav-header>
        <h3 class="lux-side-nav-header-greeting">Navigation</h3>
      </lux-side-nav-header>
      <lux-side-nav-item
        luxLabel="Home"
        luxIconName="lux-interface-home-3"
        (luxClicked)="goToHome()"
        luxTagId="home-side-nav-item"
        [luxSelected]="url.endsWith('home')"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Formulare"
        luxIconName="lux-interface-file-text"
        (luxClicked)="goToForm()"
        luxTagId="form-side-nav-item"
        [luxSelected]="url.endsWith('form')"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Baseline"
        luxIconName="lux-interface-text-formatting-left-align"
        (luxClicked)="goToBaseline()"
        luxTagId="baseline-side-nav-item"
        [luxSelected]="url.endsWith('baseline')"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Konfiguration"
        luxIconName="lux-interface-setting-slider-horizontal"
        (luxClicked)="goToConfig()"
        luxTagId="config-side-nav-item"
        [luxSelected]="url.endsWith('configuration')"
      >
      </lux-side-nav-item>
      <lux-side-nav-item
        luxLabel="Komponenten"
        luxIconName="lux-interface-setting-tool-box"
        (luxClicked)="goToComponents()"
        luxTagId="cmp-side-nav-item"
        [luxSelected]="url.includes('components-overview')"
      >
        <lux-side-nav-item
          [luxLabel]="'lux-' + moduleName"
          [luxExpandable]="true"
          [luxExpanded]="navigationService.currentModules.get(moduleName)!"
          [luxCloseOnClick]="false"
          luxIconName="lux-programming-module-puzzle"
          [luxTagId]="'lux-' + moduleName + '-module'"
          (luxClicked)="onModuleClicked(moduleName)"
          *ngFor="let moduleName of navigationService.currentModuleNames"
        >
          <ng-container *ngFor="let component of navigationService.sortedComponentEntries.get(moduleName)! | luxAlphabeticallySorted">
            <lux-side-nav-item
              [luxLabel]="component.label"
              [luxTagId]="component.label + '-side-nav-item'"
              luxIconName="lux-interface-geometric-circle"
              [luxSelected]="url.endsWith('/' + component.label.toLowerCase())"
              (luxClicked)="component.onclick()"
            >
            </lux-side-nav-item>
          </ng-container>
        </lux-side-nav-item>
      </lux-side-nav-item>
      <lux-side-nav-footer>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <lux-button luxLabel="Aufklappen" [luxRaised]="true" (luxClicked)="navigationService.onExpandAll()"></lux-button>
          <lux-button luxLabel="Zuklappen" [luxRaised]="true" (luxClicked)="navigationService.onCollapseAll()"></lux-button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" class="lux-mt-3">
          <lux-link-plain luxLabel="Impressum" [luxRaised]="true" (luxClicked)="goToImpressum()"></lux-link-plain>
          <lux-link-plain luxLabel="Lizenzhinweis" [luxRaised]="true" (luxClicked)="goToLicenseHint()"></lux-link-plain>
        </div>
      </lux-side-nav-footer>
    </lux-side-nav>
    <lux-app-header-action-nav>
      <lux-app-header-action-nav-item
        fxShow="true"
        fxShow.xs="false"
        luxIconName="lux-interface-alert-alarm-bell-2"
        luxColor="accent"
        luxAriaLabel="Nachrichten anzeigen"
        luxTagId="action0"
        (luxClicked)="actionClicked('#0 Action clicked!')"
      >
      </lux-app-header-action-nav-item>
      <lux-app-header-action-nav-item
        fxShow="true"
        fxShow.xs="false"
        luxIconName="lux-interface-delete-bin-2"
        luxColor="warn"
        luxAriaLabel="Nachrichten löschen"
        luxTagId="action1"
        [luxDisabled]="true"
        (luxClicked)="actionClicked('#1 Action clicked!')"
      >
      </lux-app-header-action-nav-item>
      <lux-app-header-action-nav-item>
        <lux-app-header-action-nav-item-custom>
          <lux-menu
            luxMenuLabel="IHK"
            luxMenuIconName="lux-interface-arrows-button-down"
            [luxMenuTriggerIconShowRight]="true"
            [luxDisplayExtended]="false"
          >
            <lux-menu-item
              luxLabel="IHK 101"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 101-Action clicked!')"
            ></lux-menu-item>
            <lux-menu-item
              luxLabel="IHK 106"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 106-Action clicked!')"
            ></lux-menu-item>
            <lux-menu-item
              luxLabel="IHK 189"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 189-Action clicked!')"
            ></lux-menu-item>
          </lux-menu>
        </lux-app-header-action-nav-item-custom>
      </lux-app-header-action-nav-item>
    </lux-app-header-action-nav>
    <lux-app-header-right-nav *ngIf="luxMode === 'stand-alone'">
      <lux-menu-item luxLabel="Abmelden" luxIconName="lux-control-button-power-1" luxTagId="abmelden-menu-item"></lux-menu-item>
      <lux-menu-item
        luxLabel="Theme - blue"
        [luxDisabled]="themeName === 'blue'"
        luxTagId="theme-blue-menu-item-ac"
        (luxClicked)="onChangeTheme('blue')"
      ></lux-menu-item>
      <lux-menu-item
        luxLabel="Theme - green"
        [luxDisabled]="themeName === 'green'"
        luxTagId="theme-green-menu-item-ac"
        (luxClicked)="onChangeTheme('green')"
      ></lux-menu-item>
      <lux-menu-item
        luxLabel="Theme - authentic"
        [luxDisabled]="false"
        luxTagId="theme-authentic-menu-item-ac"
        (luxClicked)="onChangeTheme('authentic')"
      ></lux-menu-item>
    </lux-app-header-right-nav>
  </lux-app-header>

  <lux-app-header-ac
    luxAppTitle="LUX Components"
    luxAppTitleShort="Components"
    [luxUserName]="demoUserName"
    luxAppIconName="dashboard_customize"
    luxBrandLogoSrc="assets/svg/IHK_GfI.svg"
    luxAppLogoSrc="assets/favicons/favicon.svg"
    luxAriaTitleIconLabel="Appicon / Zur Startseite"
    luxAriaTitleImageLabel="Brandlogo / Zur Homepage"
    [luxLocaleSupported]="['de', 'en']"
    (luxClicked)="router.navigate(['/'])"
    (luxAppLogoClicked)="goToHome()"
    (luxBrandLogoClicked)="goToHomepage()"
    *ngIf="this.luxAppHeader !== 'none' && themeName === 'authentic'"
  >
    <lux-app-header-ac-user-menu *ngIf="luxMode === 'stand-alone'" luxTooltip="Usermenü">
      <lux-menu-item [luxLabel]="demoLoginBtn" (luxClicked)="toggleLogin()" luxTagId="abmelden-menu-item"></lux-menu-item>
      <lux-menu-item luxLabel="Theme - blue" luxTagId="theme-blue-menu-item-ac" (luxClicked)="onChangeTheme('blue')"></lux-menu-item>
      <lux-menu-item luxLabel="Theme - green" luxTagId="theme-green-menu-item-ac" (luxClicked)="onChangeTheme('green')"></lux-menu-item>
      <lux-menu-item
        luxLabel="Theme - authentic"
        [luxDisabled]="true"
        luxClass="lux-selected-item-ac"
        luxTagId="theme-authentic-menu-item-ac"
        (luxClicked)="onChangeTheme('authentic')"
      ></lux-menu-item>
    </lux-app-header-ac-user-menu>

    <lux-app-header-ac-nav-menu [luxNavMenuMaximumExtended]="5">
      <lux-app-header-ac-nav-menu-item
        luxLabel="Komponenten"
        luxAriaLabel="Komponenten Übersicht"
        luxTagId="navItem0"
        [luxSelected]="url.includes('components-overview') && !url.includes('icon-overview')"
        (luxClicked)="goToComponents()"
      >
      </lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        luxLabel="Iconsuche"
        luxAriaLabel="Lux-Icons suchen"
        luxTagId="navItem4"
        [luxSelected]="url.endsWith('components-overview/example/icon-overview')"
        (luxClicked)="goToIconSearch()"
      ></lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        luxLabel="Formulare"
        luxAriaLabel="Beispielformulare"
        luxTagId="navItem1"
        [luxSelected]="url.endsWith('form')"
        (luxClicked)="goToForm()"
      >
      </lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        luxLabel="Baseline"
        luxAriaLabel="Baseline Beispiele"
        luxTagId="navItem2"
        [luxSelected]="url.endsWith('baseline')"
        (luxClicked)="goToBaseline()"
      >
      </lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        luxLabel="Konfiguration"
        luxAriaLabel="Konfiguration einstellen"
        luxTagId="navItem3"
        [luxSelected]="url.endsWith('configuration')"
        (luxClicked)="goToConfig()"
      >
      </lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        *ngIf="mobileView"
        luxLabel="Impressum"
        luxAriaLabel="Impressum"
        [luxSelected]="url.endsWith('impressum')"
        (luxClicked)="router.navigate(['impressum'])"
      >
      </lux-app-header-ac-nav-menu-item>
      <lux-app-header-ac-nav-menu-item
        *ngIf="mobileView"
        luxLabel="Lizenzhinweis"
        luxAriaLabel="Lizenzhinweis"
        [luxSelected]="url.endsWith('license-hint')"
        (luxClicked)="router.navigate(['license-hint'])"
      >
      </lux-app-header-ac-nav-menu-item>
    </lux-app-header-ac-nav-menu>

    <lux-app-header-ac-action-nav>
      <lux-app-header-ac-action-nav-item>
        <lux-app-header-ac-action-nav-item-custom>
          <lux-menu
            luxMenuLabel="IHK"
            luxMenuIconName="lux-interface-arrows-button-down"
            [luxMenuTriggerIconShowRight]="true"
            [luxDisplayExtended]="false"
            luxTooltip="IHK wechseln"
            [luxTooltipShowDelay]="1000"
          >
            <lux-menu-item
              luxLabel="IHK 101"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 101-Action clicked!', 'lux-factory')"
            ></lux-menu-item>
            <lux-menu-item
              luxLabel="IHK 106"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 106-Action clicked!', 'lux-factory')"
            ></lux-menu-item>
            <lux-menu-item
              luxLabel="IHK 189"
              luxIconName="lux-factory"
              (luxClicked)="actionClicked('IHK 189-Action clicked!', 'lux-factory')"
            ></lux-menu-item>
          </lux-menu>
        </lux-app-header-ac-action-nav-item-custom>
      </lux-app-header-ac-action-nav-item>

      <lux-app-header-ac-action-nav-item
        luxIconName="lux-interface-alert-alarm-bell-2"
        luxColor="primary"
        luxAriaLabel="Actionbeispiel-Button"
        luxTagId="action0"
        luxTooltip="Test für Action-Nav-Item"
        [luxTooltipShowDelay]="1000"
        (luxClicked)="actionClicked('Ihre Bestellung wird nun zubereitet!', 'lux-food-pizza')"
      ></lux-app-header-ac-action-nav-item>
    </lux-app-header-ac-action-nav>
  </lux-app-header-ac>
  <lux-app-content luxAriaRoleMainLabel=""></lux-app-content>
  <lux-app-footer *ngIf="this.luxAppFooter !== 'none'" luxVersion="14.4.0"></lux-app-footer>
</div>
