<div class="lux-app-container">
  <lux-app-header-next
    luxAppTitle="LUX Components"
    luxAppTitleShort="Components"
    luxUserName="Max Mustermann"
    luxAppIconName="dashboard_customize"
    luxBrandLogoSrc="/assets/png/Brand_logo_platzhalter.png"
    [luxLocaleSupported]="['de', 'en']"
    (luxClicked)="router.navigate(['/']);"
  >
    <lux-app-header-next-user-menu *ngIf="luxMode === 'stand-alone'">
      <lux-menu-item luxLabel="Abmelden" luxIconName="power_settings_new" luxTagId="abmelden-menu-item"></lux-menu-item>
      <lux-menu-item luxLabel="Theme (blue)" luxIconName="brush" luxTagId="theme-blue-menu-item" (luxClicked)="onChangeTheme('blue')"></lux-menu-item>
      <lux-menu-item luxLabel="Theme (green)" luxIconName="imagesearch_roller" luxTagId="theme-green-menu-item" (luxClicked)="onChangeTheme('green')"></lux-menu-item>
      <lux-menu-item luxLabel="Theme (authentic)" luxIconName="format_shapes" luxTagId="theme-authentic-menu-item" (luxClicked)="onChangeTheme('authentic')"></lux-menu-item>
    </lux-app-header-next-user-menu>

    <lux-app-header-next-nav-menu [luxNavMenuMaximumExtended]="5">
      <lux-menu-item
        luxLabel="Komponenten"
        luxAriaLabel="Komponenten Übersicht"
        luxTagId="navItem0"
        (luxClicked)="goToComponents()"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Formulare"
        luxAriaLabel="Beispielformulare"
        luxTagId="navItem1"
        (luxClicked)="goToForm()"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Baseline"
        luxAriaLabel="Baseline Beispiele"
        luxTagId="navItem2"
        (luxClicked)="goToBaseline()"
      >
      </lux-menu-item>
      <lux-menu-item 
        luxLabel="Konfiguration"
        luxAriaLabel="Konfiguration einstellen"
        luxTagId="navItem3"
        (luxClicked)="goToConfig()"
      >
      </lux-menu-item>
    </lux-app-header-next-nav-menu>
  </lux-app-header-next>
  <lux-app-content luxAriaRoleMainLabel=""></lux-app-content>
  <lux-app-footer *ngIf="this.luxAppFooter !== 'none'" luxVersion="13.1.0"></lux-app-footer>
</div>
