<example-base-structure
  exampleTitle="Markdown"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90markdown-v18"
>
  <example-base-content [exampleCentered]="false">
    <lux-markdown
      [luxData]="markdownData"
      [luxSanitizeConfig]="sanitizeConfig"
      [luxStyle]="style"
      [luxClass]="class"
      luxName="markdown_data"
    ></lux-markdown>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-textarea-ac luxLabel="Markdown-Daten" [(luxValue)]="markdownData" luxName="markdown_data">
      <lux-form-hint> Hier kann man beliebige Markdown-Daten einfügen und ausprobieren. </lux-form-hint>
    </lux-textarea-ac>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac luxLabel="luxStyle" luxName="markdown_luxStyle" [(luxValue)]="style">
      <lux-form-hint> Beliebige Styles (z.B. color: red; background-color: blue) </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac luxLabel="luxClass" luxName="markdown_luxClass" [(luxValue)]="class">
      <lux-form-hint> Beliebige CSS-Classen (z.B. lux-mt-3) </lux-form-hint>
    </lux-input-ac>

    <lux-toggle-ac luxLabel="Folgendes verbieten" [(luxChecked)]="forbiddenTagsToggle" [luxNoLabels]="true"></lux-toggle-ac>
    <lux-input-ac
      luxLabel="Verbotene Tags"
      luxName="markdown_forbiddenTags"
      [luxDisabled]="!forbiddenTagsToggle"
      [(luxValue)]="forbiddenTags"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Tags (z.B. a,h1,p) </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac
      luxLabel="Verbotene Attriubte"
      luxName="markdown_forbiddenAttributes"
      [luxDisabled]="!forbiddenTagsToggle"
      [(luxValue)]="forbiddenAttributes"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Attributen (z.B. href,target) </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac
      class="lux-pt-3"
      luxLabel="Nur folgendes erlauben"
      [(luxChecked)]="allowedTagsToggle"
      [luxNoLabels]="true"
    ></lux-toggle-ac>
    <lux-input-ac
      luxLabel="Erlaubte Tags"
      luxName="markdown_allowedTags"
      [luxDisabled]="!allowedTagsToggle"
      [(luxValue)]="allowedTags"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Tags (z.B. a,h1,p) </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac
      luxLabel="Erlaubte Attribute"
      luxName="markdown_allowedAttributes"
      [luxDisabled]="!allowedTagsToggle"
      [(luxValue)]="allowedAttributes"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Attributen (z.B. href,target) </lux-form-hint>
    </lux-input-ac>

    <lux-toggle-ac
      class="lux-pt-3"
      luxLabel="Zusätzlich erlauben"
      [(luxChecked)]="addAllowedTagsToggle"
      [luxNoLabels]="true"
    ></lux-toggle-ac>
    <lux-input-ac
      luxLabel="Zusätzlich erlaubte Tags"
      luxName="markdown_addAllowedTags"
      [luxDisabled]="!addAllowedTagsToggle"
      [(luxValue)]="addAllowedTags"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Tags (z.B. a,h1,p) </lux-form-hint>
    </lux-input-ac>
    <lux-input-ac
      luxLabel="Zusätzlich erlaubte Attribute"
      luxName="markdown_addAllowedAttributes"
      [luxDisabled]="!addAllowedTagsToggle"
      [(luxValue)]="addAllowedAttributes"
      (luxValueChange)="updateTags()"
    >
      <lux-form-hint> Kommaseparierte Liste von Attributen (z.B. href,target) </lux-form-hint>
    </lux-input-ac>
  </example-base-advanced-options>
</example-base-structure>
