<example-base-structure
  exampleTitle="Message-Box"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90message%E2%80%90box-v16"
>
  <example-base-content>
    <lux-message-box
      [luxMessages]="messages"
      [luxIndex]="messageIndex"
      [luxMaximumDisplayed]="maximumDisplayed"
      (luxMessageClosed)="logClosed($event)"
      (luxMessageBoxClosed)="logBoxClosed()"
      (luxMessageChanged)="logChanged($event)"
    >
    </lux-message-box>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-input-ac
      luxName="message-box_luxIndex"
      luxLabel="luxIndex"
      luxHint="Diese Property bestimmt die aktuell angezeigte Page aus dem Paginator (maximal die letzte mögliche Seite)."
      luxType="number"
      [(luxValue)]="messageIndex"
    >
    </lux-input-ac>
    <lux-input-ac luxName="message-box_luxMaximumDisplayed" luxLabel="luxMaximumDisplayed" luxType="number" [(luxValue)]="maximumDisplayed">
      <lux-form-hint>
        Die Property legt fest wie viele Nachrichten gleichzeitig dargestellt werden können.<br />
        Wenn mehr Nachrichten vorhanden sind, sind diese über eine Pagination erreichbar.
      </lux-form-hint>
    </lux-input-ac>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <h3>Neue Message</h3>
    <div class="lux-flex lux-flex-col lux-gap-4">
      <lux-textarea-ac
        luxName="message-box_text"
        luxLabel="text"
        luxHint="Die Property bestimmt den Text für die neue Nachricht."
        [(luxValue)]="newMessage.text"
      >
      </lux-textarea-ac>
      <lux-input-ac
        luxName="message-box_iconName"
        luxLabel="iconName"
        luxHint="Über diese Property wird optional ein Icon festgelegt."
        [(luxValue)]="newMessage.iconName"
      >
      </lux-input-ac>
      <lux-select-ac
        luxLabel="color"
        [luxOptions]="colors"
        luxHint="Hier kann eine Farbe aus der Farbpalette aus luxstyles.scss ausgewählt werden."
        [(luxSelected)]="newMessage.color"
      >
      </lux-select-ac>
      <lux-button
        luxIconName="lux-interface-add-1"
        luxColor="primary"
        (luxClicked)="add()"
        [luxRounded]="true"
        [luxDisabled]="!newMessage.text"
        luxTagId="example-msg-add"
        class="lux-mt-4 lux-mb-4"
      >
      </lux-button>
    </div>

    <h3>Einzelne Messages</h3>
    <lux-accordion [luxMulti]="false" luxMode="flat" luxExpandedHeaderHeight="65px" luxCollapsedHeaderHeight="65px">
      <lux-panel [luxHideToggle]="true" *ngFor="let message of messages; let i = index">
        <lux-panel-header-title>
          <div class="lux-flex lux-flex-basis-full lux-justify-between lux-items-center lux-pt-2">
            <span>{{ message.text }}</span>
            <lux-button luxLabel="ENTFERNEN" (luxClicked)="remove(i)" luxColor="warn" luxTagId="example-msg-remove-{{ i }}"></lux-button>
          </div>
        </lux-panel-header-title>
        <lux-panel-header-description> </lux-panel-header-description>
        <lux-panel-content>
          <div class="lux-flex lux-flex-col lux-pt-3 lux-gap-2">
            <lux-textarea-ac
              luxName="message-box_text"
              luxLabel="text"
              luxHint="Die Property bestimmt den Text für die Nachricht."
              [(luxValue)]="message.text"
            >
            </lux-textarea-ac>
            <lux-input-ac
              luxName="message-box_iconName"
              luxLabel="iconName"
              luxHint="Über diese Property wird optional ein Icon festgelegt."
              [(luxValue)]="message.iconName"
            >
            </lux-input-ac>
            <lux-select-ac
              luxLabel="color"
              [luxOptions]="colors"
              luxHint="Hier kann eine Farbe aus der Farbpalette aus luxstyles.scss ausgewählt werden."
              [(luxSelected)]="message.color"
            >
            </lux-select-ac>
          </div>
        </lux-panel-content>
      </lux-panel>
    </lux-accordion>
  </example-base-advanced-options>
  <example-base-options-actions>
    <lux-button
      luxLabel="Messages zurücksetzen"
      (luxClicked)="setMessages()"
      [luxFlat]="true"
      luxColor="primary"
      luxTagId="example-msg-reset"
    >
    </lux-button>
  </example-base-options-actions>
</example-base-structure>
