<lux-master-detail
  [luxEmptyIconDetail]="configuration.emptyIconDetail"
  [luxEmptyIconMaster]="configuration.emptyIconMaster"
  [luxEmptyIconDetailSize]="configuration.emptyIconDetailSize"
  [luxEmptyIconMasterSize]="configuration.emptyIconMasterSize"
  [luxEmptyLabelDetail]="configuration.emptyLabelDetail"
  [luxEmptyLabelMaster]="configuration.emptyLabelMaster"
  [luxOpen]="configuration.opened"
  [luxTitleLineBreak]="configuration.lineBreak"
  [luxMasterIsLoading]="configuration.masterIsReloading"
  [luxMasterList]="masterEntries"
  [luxSelectedDetail]="selectedDetail"
  [luxCompareWith]="compareFn"
  luxTagIdMaster="masterTagId"
  luxTagIdDetail="detailTagId"
  (luxScrolled)="onLoadListTest()"
  (luxSelectedDetailChange)="loadDetail($event)"
  fxFill
>
  <lux-master-header-content>
    <lux-accordion>
      <lux-panel>
        <lux-panel-header-title>Filter</lux-panel-header-title>
        <lux-panel-content>
          <lux-select
            luxLabel="Fälligkeit"
            [luxOptions]="options"
            [luxSelected]="options[0]"
            luxOptionLabelProp="label"
            (luxSelectedChange)="changeFilter($event)"
          >
          </lux-select>
        </lux-panel-content>
      </lux-panel>
    </lux-accordion>
  </lux-master-header-content>

  <lux-master-simple luxTitleProp="title" luxSubTitleProp="subtitle">
    <!-- Zugriff auf jedes einzelne Master-Element ueber "master" -->
    <ng-template #luxSimpleIcon let-master>
      <lux-icon [luxIconName]="master.icon"></lux-icon>
    </ng-template>
    <ng-template #luxSimpleContent let-master>
      {{ master.content }}
      <p>
        Fällig <b>{{ master.timestamp | luxRelativeTimestamp: 'TIMESTAMP NULL' }}</b>
      </p>
    </ng-template>
  </lux-master-simple>

  <lux-detail-view>
    <!-- Zugriff auf das aktuell selektierte Element ueber "detail" -->
    <ng-template let-detail>
        <lux-tabs [luxTabAnimationActive]="false" [luxActiveTab]="0">
          <lux-tab luxTitle="Konfiguration" luxIconName="lux-interface-setting-tool-box">
            <ng-template>
              <detail-example [masterDetailConfig]="configuration" [selectedDetail]="detail"></detail-example>
            </ng-template>
          </lux-tab>
          <lux-tab luxTitle="Scroll-Example" luxIconName="lux-amount-down-asc">
            <ng-template>
              <text-example [title]="detail.title"></text-example>
            </ng-template>
          </lux-tab>
          <lux-tab luxTitle="Deaktiviert" luxIconName="lux-interface-block" [luxDisabled]="true">
            <ng-template>
            </ng-template>
          </lux-tab>
        </lux-tabs>
    </ng-template>
  </lux-detail-view>

  <lux-master-footer>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
        <lux-button
          luxLabel="#1"
          [luxRaised]="true"
          luxColor="primary"
          (luxClicked)="selectedDetail = masterEntries[0]"
        >
        </lux-button>
        <lux-button
          luxLabel="#5"
          [luxRaised]="true"
          luxColor="primary"
          (luxClicked)="selectedDetail = masterEntries[4]"
        >
        </lux-button>
        <lux-menu luxIconName="lux-interface-setting-menu-1" luxTagId="master_footer_menu">
          <lux-menu-item
            luxLabel="Liste umkehren"
            luxIconName="lux-interface-arrows-turn-backward"
            [luxDisabled]="masterEntries.length === 0"
            (luxClicked)="reverseList()"
          >
          </lux-menu-item>
          <lux-menu-item
            luxLabel="Liste leeren"
            luxIconName="lux-interface-delete-bin-5"
            [luxDisabled]="masterEntries.length === 0"
            (luxClicked)="clearList()"
          >
          </lux-menu-item>
          <lux-menu-item luxLabel="Liste füllen" luxIconName="lux-interface-edit-layer-add-2" (luxClicked)="fillList()"> </lux-menu-item>
          <lux-menu-item
            luxLabel="Liste füllen (erste 10 Elemente)"
            luxIconName="lux-interface-edit-layer-add-2"
            (luxClicked)="fillListFirstTenItems()"
          >
          </lux-menu-item>
          <lux-menu-item
            luxLabel="Liste füllen (letzte 10 Elemente)"
            luxIconName="lux-interface-edit-layer-add-2"
            (luxClicked)="fillListLastTenItems()"
          >
          </lux-menu-item>
        </lux-menu>
      </div>
    </div>
  </lux-master-footer>
</lux-master-detail>
