<!-- Vertikaler Stepper, die Konfiguration stammt aus dem LuxStepper und wird hier angewandt -->
<mat-vertical-stepper
  [linear]="luxStepperConfig?.luxLinear"
  [selectedIndex]="luxStepperConfig?.luxCurrentStepNumber"
  [ngClass]="{
    'lux-ignore-mat-step-icons': luxStepperConfig?.luxUseCustomIcons,
    'lux-block-pointer-events': luxStepperConfig?.luxDisabled,
    'lux-linear-stepper': luxStepperConfig?.luxLinear
  }"
  [disableRipple]="true"
  (selectionChange)="luxStepChanged.emit($event)"
  (click)="onStepClicked($event)"
  (keydown.enter)="onStepClicked($event)"
  #stepper
>
  <ng-container *ngFor="let luxStep of luxStepperConfig?.luxSteps; let i = index">
    <mat-step [completed]="luxStep.isCompleted()" [optional]="luxStep.luxOptional" [editable]="luxStep.luxEditable">
      <!-- Header des Steps -->
      <ng-template matStepLabel>
        <div class="lux-flex lux-place-content-start lux-items-center">
          <ng-template #matStepLabel></ng-template>
          <ng-container *ngTemplateOutlet="luxStep.headerTemplate"></ng-container>
        </div>
      </ng-template>
      <!-- Content des Steps, wenn Animationen aktiviert sind -->
      <ng-container *ngTemplateOutlet="luxStep.contentTemplate"></ng-container>
      <!-- Nav-Buttons, wenn aktiviert -->
      <lux-stepper-nav-buttons
        [luxIndex]="i"
        [luxStep]="luxStep"
        [luxStepperConfig]="luxStepperConfig"
        (luxPrevClick)="luxPrevButtonClicked.emit()"
        (luxNextClick)="luxNextButtonClicked.emit()"
        (luxFinClick)="luxFinButtonClicked.emit()"
        *ngIf="luxStepperConfig?.luxShowNavigationButtons"
      >
      </lux-stepper-nav-buttons>
    </mat-step>
  </ng-container>

  <!-- Überschreiben der default Material-Icons -->
  <ng-template matStepperIcon="edit">
    <lux-icon luxIconName="lux-interface-edit-pencil" luxIconSize="1.25rem"></lux-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <lux-icon luxIconName="lux-interface-validation-check" luxIconSize="1.25rem"></lux-icon>
  </ng-template>
  <ng-template matStepperIcon="error">
    <lux-icon luxIconName="lux-interface-delete-1" luxIconSize="1.25rem"></lux-icon>
  </ng-template>
  <ng-template matStepperIcon="home">
    <lux-icon luxIconName="lux-interface-home-3" luxIconSize="1.25rem"></lux-icon>
  </ng-template>
</mat-vertical-stepper>
