:host {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 32px);
}

.example-base-structure {
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;

  .example-base-components-list {
    overflow-y: auto;
    border-right: 1px solid;
    padding: 16px 8px;
    height: 100% !important;

    lux-panel {
      padding: 0 0 16px 0;

      ::ng-deep {
        mat-expansion-panel {
          box-shadow: unset;
        }

        mat-expansion-panel-header {
          font-size: 16px;
        }

        mat-expansion-panel-header,
        .mat-expansion-panel-body {
          padding: 0 12px;
        }

        .mat-expansion-panel-body {
          padding: 0;
        }

        lux-panel-content {
          display: block;
        }
      }
    }

    .example-component-list-item {
      cursor: pointer;
      font-size: 16px;
      padding: 2px 0 2px 32px;
    }
  }

  .example-base-content {
    padding: 16px 8px;
    position: relative;
    display: flex;
    flex: 0 0 calc(100% - 270px);
    max-height: 100%;
    height: 100%;

    router-outlet + ::ng-deep * {
      width: 100%;
    }
  }

  .example-base-options {
    max-height: 100%;
  }

  &.example-mobile {
    ::ng-deep .example-base-options {
      max-height: unset;
    }
  }
}
