.main-container {
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.icon-container {
  padding: 12px;
  width: 100px;
  min-height: 100px;
  border: 1px solid var(--lux-theme-form-border-color);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #000 inset;
  }
  &.selected-item {
    border-color: var(--lux-theme-primary-color);
    box-shadow: 0 0 0 1px var(--lux-theme-primary-color) inset;
    background-image: var(--lux-theme-app-gradient);
  }

  .icon-name {
    text-align: center;
    margin-bottom: 0;
  }
}

.left-container,
.right-container {
  max-height: 100vh;
  overflow: auto;

  lux-card ::ng-deep {
    width: 100%;
  }
}

.chip-container {
  display: flex;
  width: 100%;
  min-height: 116px;
}

.icon-preview {
  width: 100%;
  min-height: 50px;
}

lux-card-info lux-icon.copy-icon {
  padding: 4px;
  border-radius: 2px;
  height: 24px;
  &:hover {
    color: var(--lux-theme-hover-color);
    cursor: pointer;
  }
}

.snippet {
  font-size: 0.8rem;
  margin: 0;
}

lux-chips {
  margin-bottom: 0;
}
