<div class="lux-flex lt-md:lux-flex-col lux-gap-4 main-container">
  <div class="lux-flex lux-flex-basis-4/10" *ngIf="mobileView">
    <ng-container *ngTemplateOutlet="search"></ng-container>
  </div>

  <div
    class="lux-flex lux-flex-col lux-gap-12 lux-flex-basis-6/10 gt-lg:lux-flex-basis-8/10 left-container"
    luxInfiniteScroll
    [luxScrollPercent]="75"
    [luxImmediateCallback]="false"
    (luxScrolled)="onScroll()"
    #scrollContainer
  >
    <lux-card luxTitle="LUX-Icons" [luxHeading]="1" class="result-container">
      <lux-card-content class="lux-flex lux-flex-col lux-gap-4 lux-flex-auto">
        <div class="chip-container" class="lux-flex lux-flex-col lt-md:lux-display-none">
          <lux-chips-ac [luxInputAllowed]="false" [luxHideBorder]="true" *ngIf="chipLabels.length > 0; else emptyLabelsBlock">
            <ng-container *ngFor="let label of chipLabels">
              <lux-chip-ac (luxChipRemoved)="onChipRemoved($event)" *ngIf="label.length > 0">
                {{ label }}
              </lux-chip-ac>
            </ng-container>
          </lux-chips-ac>
          <ng-template #emptyLabelsBlock>
            <lux-chips-ac [luxInputAllowed]="false" [luxHideBorder]="true">
              <lux-chip-ac [luxRemovable]="false">alle</lux-chip-ac>
            </lux-chips-ac>
          </ng-template>
          <div>Icons (gefiltert / gesamt): {{ filteredIcons.length + displayedIcons.length }} / {{ allIcons.length }}</div>
        </div>
        <div class="lux-flex lux-flex-wrap lux-gap-8 icon-list" *ngIf="displayedIcons.length > 0; else noItems">
          <div class="lux-flex" *ngFor="let icon of displayedIcons">
            <div
              class="lux-flex lux-flex-col lux-col-gap-3 lux-items-center icon-container"
              (click)="onIconClicked(icon)"
              [ngClass]="{ 'selected-item': icon === previewItem }"
            >
              <lux-icon [luxIconName]="icon.iconName.split('--')[0].toLocaleLowerCase()" class="lux-color-blue" luxIconSize="2x"></lux-icon>
              <p class="icon-name">{{ icon.iconName.split('--')[0].toLocaleLowerCase() }}</p>
            </div>
          </div>
        </div>
      </lux-card-content>
    </lux-card>

    <ng-template #noItems>
      <div class="lux-flex lux-flex-col lux-gap-3 lux-content-start lux-items-center">
        <lux-icon luxIconName="lux-interface-block" luxIconSize="4x" class="lux-color-blue"></lux-icon>
        <h3>Sorry, keine passenden Icons gefunden!</h3>
      </div>
    </ng-template>
  </div>

  <div *ngIf="!mobileView" class="lux-flex lux-flex-col lux-gap-4 lux-flex-basis-4/10 gt-lg:lux-flex-basis-2/10 right-container">
    <lux-card luxTitle="Suche">
      <lux-card-content>
        <ng-container *ngTemplateOutlet="search"></ng-container>
      </lux-card-content>
    </lux-card>

    <lux-card luxTitle="Vorschau" *ngIf="previewItem" [luxSubTitle]="previewItem.iconName.split('--')[0].toLowerCase()">
      <lux-card-content class="lux-flex lux-flex-col lux-gap-4">
        <div class="icon-preview">
          <ng-container *ngIf="previewItem && !isBgColor">
            <lux-icon luxIconName="{{ previewItem.iconName.split('--')[0].toLowerCase() }}" [luxIconSize]="iconSize" [class]="iconClass">
            </lux-icon>
          </ng-container>
          <ng-container *ngIf="previewItem && isBgColor">
            <lux-icon
              luxIconName="{{ previewItem.iconName.split('--')[0].toLowerCase() }}"
              [luxIconSize]="iconSize"
              [luxColor]="iconColor"
            ></lux-icon>
          </ng-container>
          <ng-container *ngIf="!previewItem">
            <p>Für die Vorschau ein Icon anklicken.</p>
          </ng-container>
        </div>

        <lux-select-ac
          luxLabel="Icongröße"
          [(luxSelected)]="iconSize"
          [luxOptions]="iconSizesOptions"
          [luxNoBottomLabel]="true"
        ></lux-select-ac>

        <lux-select-ac
          luxLabel="Farbwert"
          [luxOptions]="iconColorOptions"
          [luxSelected]="iconColorOptions[0]"
          luxOptionLabelProp="label"
          (luxSelectedChange)="onColorChanged($event)"
          [luxNoBottomLabel]="true"
        ></lux-select-ac>

        <lux-radio-ac
          luxTagId="Farbe"
          luxAriaLabel="Farbe"
          [luxNoLabels]="false"
          [luxOptions]="fgBgOptions"
          luxOptionLabelProp="label"
          [luxSelected]="fgBgOptions[0]"
          [luxOrientationVertical]="false"
          (luxSelectedChange)="onBgChanged($event)"
        ></lux-radio-ac>
      </lux-card-content>
    </lux-card>

    <lux-card luxTitle="Codesnippet" *ngIf="previewItem">
      <lux-card-info>
        <lux-icon
          luxIconName="lux-clone"
          luxIconSize="1x"
          class="lux-color-blue copy-icon"
          luxTooltip="{{ copiedToClipboard ? 'Kopiert!' : 'In die Zwischenablage kopieren.' }}"
          (click)="onCopyToClipboard()"
        ></lux-icon>
      </lux-card-info>
      <lux-card-content>
        <pre class="snippet">{{ codeSnippet }}</pre>
      </lux-card-content>
    </lux-card>
  </div>
</div>

<ng-template #search>
  <div class="lux-flex lux-flex-col lux-gap-2">
    <lux-input-ac
      luxTagId="Suchbegriff"
      luxAriaLabel="Suchbegriff"
      [luxNoTopLabel]="true"
      luxPlaceholder="Suchbegriff eingeben"
      [(luxValue)]="inputValue"
      luxAutocomplete="off"
      luxHint="Suchbegriffe auf Englisch eingeben. Z.B. arrow, desktop,..."
    >
      <lux-input-ac-prefix class="lux-mr-3" luxTagId="searchInput">
        <lux-icon luxIconName="lux-interface-search"></lux-icon>
      </lux-input-ac-prefix>
      <lux-input-ac-suffix>
        <lux-icon luxIconName="lux-interface-delete-circle" class="reset-icon lux-color-blue" (click)="onResetInput()"></lux-icon>
      </lux-input-ac-suffix>
    </lux-input-ac>
    <lux-radio-ac
      [luxNoTopLabel]="true"
      luxTagId="Suchbegriffverknüpfung"
      luxAriaLabel="Suchbegriffverknüpfung"
      luxOptionLabelProp="label"
      luxHint="Suchbegriffverknüpfung"
      luxGroupName="search-radios"
      [luxOptions]="searchBindingOptions"
      [(luxSelected)]="selectedSearchBinding"
      [luxOrientationVertical]="false"
      (luxSelectedChange)="onSearchBindingChanged()"
    ></lux-radio-ac>
  </div>
</ng-template>
