<example-base-structure
  exampleTitle="Link-Plain"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90link"
>
  <example-base-content [exampleCentered]="false">
    <div fxLayout="column" fxLayoutGap="32px">
    <span class="lux-mt-5">Dies ist ein  
      <lux-link-plain
        [luxLabel]="label"
        [luxDisabled]="disabled"
        luxTagId="demo-link"
        [luxHref]="href"
        [luxBlank]="blank"
      ></lux-link-plain>
      im normalen Fließtext.
    </span>
    <br>
    <h2>Dies ist ein 
      <lux-link-plain
        [luxLabel]="label"
        [luxIconName]="iconName"
        [luxDisabled]="disabled"
        [luxIconShowRight]="iconShowRight"
        luxTagId="demo-link"
        [luxHref]="href"
        [luxBlank]="blank"
      ></lux-link-plain>
      in einer H2 mit einem Icon!
    </h2>
    <div>
      Und hier ist eine Liste mit mehreren Links
      <ul>
        <li>
          <lux-link-plain
            luxLabel="Formulare"
            luxIconName="lux-interface-arrows-right"
            [luxIconShowRight]="true"
            luxTagId="demo-link"
            [luxBlank]="false"
            (luxClicked)="goTo('Form')"
          ></lux-link-plain>
        </li>
        <li>
          <lux-link-plain
            luxLabel="Komponenten"
            luxIconName="lux-interface-arrows-right"
            [luxIconShowRight]="true"
            luxTagId="demo-link"
            [luxBlank]="false"
            (luxClicked)="goTo('Components')"
          ></lux-link-plain>
        </li>
        <li>
          <lux-link-plain
            luxLabel="Baseline"
            luxIconName="lux-interface-arrows-right"
            [luxIconShowRight]="true"
            luxTagId="demo-link"
            [luxBlank]="false"
            (luxClicked)="goTo('Baseline')"
          ></lux-link-plain>
        </li>
        <li>
          <lux-link-plain
            luxLabel="Konfiguration"
            luxIconName="lux-interface-arrows-right"
            [luxIconShowRight]="true"
            luxTagId="demo-link"
            [luxBlank]="false"
            (luxClicked)="goTo('configuration')"
          ></lux-link-plain>
        </li>
      </ul>
    </div>
    <h2>Beispiel für eine Breadcrump-Komponente</h2>
    <div fxLayout="row" class="breadcrump" fxLayoutAlign="start end">
      <span>
        <lux-link-plain
          luxLabel="Home"
          luxIconName="lux-interface-arrows-button-right"
          [luxIconShowRight]="true"
          luxTagId="breadcrump-item"
          luxHref="/home"
          class="lux-mr-3 breadcrump-item"
        ></lux-link-plain>
      </span>
      <span>
        <lux-link-plain
          luxLabel="Components"
          luxIconName="lux-interface-arrows-button-right"
          [luxIconShowRight]="true"
          luxTagId="breadcrump-item"
          luxHref="/components-overview"
          class="lux-mr-3 breadcrump-item"
        ></lux-link-plain></span>
      <span>
        <lux-link-plain
          luxLabel="Link-Plain"
          luxTagId="breadcrump-item"
          [luxDisabled]="true"
          class="lux-mr-3 breadcrump-item"
        ></lux-link-plain>
      </span>
    </div>
  </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input luxName="link_luxHref" class="lux-highlight-section" [(luxValue)]="href" luxLabel="luxHref">
      <lux-form-hint>
        Bestimmt die URL, zu der der Link routet.<br />
        Wenn die URL nicht mit <i>http</i> beginnt, wird automatisch der Angular-Router für Routing innerhalb der
        Applikation genommen.
      </lux-form-hint>
    </lux-input>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="blank"
      luxLabel="luxBlank"
      luxHint="Diese Property bestimmt ob (externe) Links in einem neuen Tab geöffnet werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>

    <lux-input
      class="lux-highlight-section"
      [(luxValue)]="label"
      luxLabel="luxLabel"
      luxHint="Bestimmt den Text, der für den Link angezeigt wird."
    ></lux-input>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-input
        luxName="button_luxIconName"
        [(luxValue)]="iconName"
        luxLabel="luxIconName"
      >
        <lux-form-hint>
          Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
          <i>luxLabel</i> gesetzt ist).<br />
          Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
        </lux-form-hint>
      </lux-input>
      <lux-toggle luxLabel="luxIconShowRight" luxName="button_luxIconShowRight" [(luxChecked)]="iconShowRight">
        <lux-form-hint>
          Diese Property definiert, ob das Icon links oder rechts vom Label-Text angezeigt wird. 
        </lux-form-hint>
      </lux-toggle>
    </div>

    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Diese Property deaktiviert den Link."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="Label Uppercase"
      [(luxChecked)]="config.labelConfiguration.allUppercase"
      (luxCheckedChange)="updateConfiguration()"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Über den <i>LuxComponentsConfigService</i> kann für alle LuxLinks applikationsweit eine Uppercase-Darstellung
        forciert werden.
      </lux-form-hint>
    </lux-toggle>
  </example-base-advanced-options>
</example-base-structure>

