<example-base-structure
  exampleTitle="Link-Plain"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90link%E2%80%90plain"
>
  <example-base-content [exampleCentered]="false">
    <div fxLayout="column" fxLayoutGap="32px">
      <span class="lux-mt-5"
        >Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxDisabled]="disabled"
          [luxIconShowRight]="iconShowRight"
          luxIconName="lux-interface-arrows-bend-down-right-2"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
        ></lux-link-plain>
        mit Icon im normalen Fließtext.
      </span>
      <h3>
        Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxIconName]="iconName"
          [luxDisabled]="disabled"
          [luxIconShowRight]="iconShowRight"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
        ></lux-link-plain>
        in einer H3 mit einem Icon!
      </h3>
      <div>
        Und hier ist eine Liste mit mehreren Links
        <ul>
          <li>
            <lux-link-plain
              luxLabel="Formulare"
              luxIconName="lux-interface-arrows-right"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Form')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Komponenten"
              luxIconName="lux-interface-arrows-right"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Components')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Baseline"
              luxIconName="lux-interface-arrows-right"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Baseline')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Konfiguration"
              luxIconName="lux-interface-arrows-right"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('configuration')"
            ></lux-link-plain>
          </li>
        </ul>
      </div>
      <h2>Beispiel für einen Link-Plain mit einer Custom-Class</h2>
      <span
        >Das folgende Beispiel zeigt einen Link-Plain mit einer Custom-Style-Class. Mit dieser Klasse wurden color, font-size, font-family,
        font-weight und font-style überschrieben. Hover-Effekt und Disabled-Zustand bleiben, wenn sie nicht expliziet überschrieben werden,
        erhalten.</span
      >
      <span
        >Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxDisabled]="disabled"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
          luxCustomClass="demo-extra-class"
          [luxIconShowRight]="true"
          luxIconName="lux-programming-web"
        ></lux-link-plain>
        im Fließtext mit einer Custom-Style-Class.
      </span>

      <h2>Beispiel für eine Breadcrump-Komponente</h2>
      <span
        >Dieses Beispiel wurde mit Link-Plain-Komponenten mit einem Custom-Styling gebaut. Es ist ein Prototyp für eine
        Bread-Crump-Komponente, die als zweite Navigationsebene unterhalb des Lux-App-Headers platziert werden kann.</span
      >
      <div class="breadcrump">
        <lux-link-plain
          luxLabel="Startseite"
          luxIconName="lux-interface-arrows-button-right"
          [luxIconShowRight]="true"
          luxTagId="breadcrump-item"
          luxHref="/home"
          luxCustomClass="breadcrump-item"
        ></lux-link-plain>
        <lux-link-plain
          luxLabel="Komponenten"
          luxIconName="lux-interface-arrows-button-right"
          [luxIconShowRight]="true"
          luxTagId="breadcrump-item"
          luxHref="/components-overview"
          luxCustomClass="breadcrump-item"
        ></lux-link-plain>
        <lux-link-plain
          luxLabel="Lux-Link-Plain"
          luxTagId="breadcrump-item"
          [luxDisabled]="true"
          luxCustomClass="breadcrump-item"
        ></lux-link-plain>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle-ac
      class="lux-highlight-section"
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input-ac luxName="link_luxHref" class="lux-highlight-section" [(luxValue)]="href" luxLabel="luxHref">
      <lux-form-hint>
        Bestimmt die URL, zu der der Link routet.<br />
        Wenn die URL nicht mit <i>http</i> beginnt, wird automatisch der Angular-Router für Routing innerhalb der Applikation genommen.
      </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac
      class="lux-highlight-section"
      [(luxChecked)]="blank"
      luxLabel="luxBlank"
      luxHint="Diese Property bestimmt ob (externe) Links in einem neuen Tab geöffnet werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>

    <lux-input-ac
      class="lux-highlight-section"
      [(luxValue)]="label"
      luxLabel="luxLabel"
      luxHint="Bestimmt den Text, der für den Link angezeigt wird."
    ></lux-input-ac>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-input-ac luxName="button_luxIconName" [(luxValue)]="iconName" luxLabel="luxIconName">
        <lux-form-hint>
          Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
          <i>luxLabel</i> gesetzt ist).<br />
          Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
        </lux-form-hint>
      </lux-input-ac>
      <lux-toggle-ac luxLabel="luxIconShowRight" luxName="button_luxIconShowRight" [(luxChecked)]="iconShowRight">
        <lux-form-hint> Diese Property definiert, ob das Icon links oder rechts vom Label-Text angezeigt wird. </lux-form-hint>
      </lux-toggle-ac>
    </div>

    <lux-toggle-ac
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Diese Property deaktiviert den Link."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
  </example-base-simple-options>
</example-base-structure>
