<example-base-structure
  exampleTitle="Link-Plain"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90link%E2%80%90plain-v18"
>
  <example-base-content [exampleCentered]="false">
    <div class="lux-flex lux-flex-col lux-gap-6">
      <span class="lux-mt-5"
        >Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxDisabled]="disabled"
          [luxIconShowRight]="iconShowRight"
          luxIconName="lux-interface-arrows-bend-down-right-2"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
        ></lux-link-plain>
        mit Icon im normalen Fließtext.
      </span>
      <h3>
        Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxIconName]="iconName"
          [luxDisabled]="disabled"
          [luxIconShowRight]="iconShowRight"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
        ></lux-link-plain>
        in einer H3 mit einem Icon!
      </h3>
      <div>
        Und hier ist eine Liste mit mehreren Links
        <ul>
          <li>
            <lux-link-plain
              luxLabel="Formulare"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Form')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Komponenten"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Components')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Baseline"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('Baseline')"
            ></lux-link-plain>
          </li>
          <li>
            <lux-link-plain
              luxLabel="Konfiguration"
              [luxIconShowRight]="true"
              luxTagId="demo-link"
              [luxBlank]="false"
              (luxClicked)="goTo('configuration')"
            ></lux-link-plain>
          </li>
        </ul>
      </div>
      <h2>Beispiel für einen Link-Plain mit einer Custom-Class</h2>
      <span
        >Das folgende Beispiel zeigt einen Link-Plain mit einer Custom-Style-Class. Mit dieser Klasse wurden color, font-size, font-family,
        font-weight und font-style überschrieben. Hover-Effekt und Disabled-Zustand bleiben, wenn sie nicht expliziet überschrieben werden,
        erhalten.</span
      >
      <span
        >Dies ist ein
        <lux-link-plain
          [luxLabel]="label"
          [luxDisabled]="disabled"
          luxTagId="demo-link"
          [luxHref]="href"
          [luxBlank]="blank"
          luxCustomClass="demo-extra-class"
          [luxIconShowRight]="true"
          luxIconName="lux-programming-web"
        ></lux-link-plain>
        im Fließtext mit einer Custom-Style-Class.
      </span>

    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-input-ac luxName="link_luxHref" [(luxValue)]="href" luxLabel="luxHref">
      <lux-form-hint>
        Bestimmt die URL, zu der der Link routet.<br />
        Wenn die URL nicht mit <i>http</i> beginnt, wird automatisch der Angular-Router für Routing innerhalb der Applikation genommen.
      </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac
      [(luxChecked)]="blank"
      luxLabel="luxBlank"
      luxHint="Diese Property bestimmt ob (externe) Links in einem neuen Tab geöffnet werden."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>

    <lux-input-ac [(luxValue)]="label" luxLabel="luxLabel" luxHint="Bestimmt den Text, der für den Link angezeigt wird."></lux-input-ac>
    <lux-input-ac luxName="button_luxIconName" [(luxValue)]="iconName" luxLabel="luxIconName">
      <lux-form-hint>
        Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
        <i>luxLabel</i> gesetzt ist).<br />
        Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
      </lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac luxLabel="luxIconShowRight" luxName="button_luxIconShowRight" [(luxChecked)]="iconShowRight">
      <lux-form-hint> Diese Property definiert, ob das Icon links oder rechts vom Label-Text angezeigt wird. </lux-form-hint>
    </lux-toggle-ac>

    <lux-toggle-ac [(luxChecked)]="disabled" luxLabel="luxDisabled" luxHint="Diese Property deaktiviert den Link." [luxNoTopLabel]="true">
    </lux-toggle-ac>
  </example-base-simple-options>
</example-base-structure>
