.row-title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.row-content-container {
  max-width: 100%;
}

.row-item-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

:host ::ng-deep {
  .row-item-container {
    & lux-card {
      display: flex;
      flex: 1 1 auto;
      min-width: 200px;

      mat-card {
        display: flex;
        flex: 1 1 auto;
        min-width: 0;
      }

      mat-card-content {
        display: flex;
        flex: 1 1 auto;
        min-width: 0;
      }
    }
  }
}
