<div class="lux-gap-5 lux-flex lux-justify-start lux-items-center lux-snackbar-content">
  <div class="lux-snackbar-icon lux-flex lux-flex-none lux-border-box">
    <lux-icon [ngClass]="iconFontColor" [luxIconName]="config.iconName" [luxIconSize]="config.iconSize"> </lux-icon>
  </div>
  <div [ngClass]="textFontColor" class="lux-hyphenate lux-flex lux-flex-auto lux-borderbox">
    {{ config.text }}
  </div>

  <div class="lux-flex lux-flex-none lux-border-box" *ngIf="config.action">
    <button class="snackbar-action" [ngClass]="actionFontColor" mat-button [disableRipple]="true" (click)="actionClick()">
      {{ config.action }}
    </button>
  </div>
</div>
