<div class="lux-app-header" [luxAriaRole]="luxAriaRoleHeaderLabel ? 'banner' : undefined" [luxAriaLabel]="luxAriaRoleHeaderLabel">
  <!-- ausklappbares Side-Nav (linksbündig) -->
  <div class="lux-header-side-nav lux-flex lux-flex-grow-0 lux-flex-shrink-0 lux-flex-basis-auto">
    <div>
      <lux-button
        class="lux-side-nav-trigger"
        [ngClass]="{ 'lux-side-nav-trigger-active': sideNav.sideNavExpanded }"
        (luxClicked)="sideNav.toggle()"
        luxIconName="lux-interface-setting-menu-1"
        luxTagId="lux-side-nav-trigger"
        [luxAriaExpanded]="sideNav.sideNavExpanded"
        [luxAriaLabel]="luxAriaAppMenuButtonLabel"
        *ngIf="sideNav"
      ></lux-button>

      <span class="lux-nowrap lux-header-title lux-flex lux-place-content-center lux-flex-grow-1 lux-flex-shrink-1 lux-flex-basis-auto">
        <lux-icon
          style="padding: 6px 5px"
          [luxAriaLabel]="luxAriaTitleIconLabel"
          [luxIconName]="luxIconName"
          [ngClass]="{ 'lux-cursor': hasOnClickedListener, focused: hasOnClickedListener }"
          (click)="onClicked($event)"
          (keydown.enter)="onClicked($event)"
          (keydown.space)="onClicked($event)"
          [attr.role]="hasOnClickedListener ? 'link' : null"
          [attr.tabindex]="hasOnClickedListener ? '0' : null"
          *ngIf="luxIconName && !sideNav && !mobileView"
        ></lux-icon>
        <lux-image
          style="padding: 0 5px"
          [luxAriaLabel]="luxAriaTitleImageLabel"
          [luxImageSrc]="luxImageSrc"
          [luxImageHeight]="luxImageHeight"
          [luxImageWidth]="'auto'"
          [ngClass]="{ 'lux-cursor': hasOnClickedListener, focused: hasOnClickedListener }"
          (click)="onClicked($event)"
          (keydown.enter)="onClicked($event)"
          (keydown.space)="onClicked($event)"
          [attr.role]="hasOnClickedListener ? 'link' : null"
          [attr.tabindex]="hasOnClickedListener ? '0' : null"
          *ngIf="luxImageSrc && !sideNav && !mobileView"
        ></lux-image
        ><span
          class="lux-app-header-title-label"
          [luxAriaLabel]="luxAriaTitleLinkLabel ? luxAriaTitleLinkLabel : luxAppTitle"
          (click)="onClicked($event)"
          (keydown.enter)="onClicked($event)"
          (keydown.space)="onClicked($event)"
          [attr.role]="hasOnClickedListener ? 'link' : null"
          [attr.tabindex]="hasOnClickedListener ? '0' : null"
          [ngClass]="{ 'lux-cursor': hasOnClickedListener, focused: hasOnClickedListener }"
          >{{ mobileView ? luxAppTitleShort : luxAppTitle }}</span
        >
      </span>
    </div>
  </div>
  <!-- Action-Menu (mittig) -->
  <div class="lux-header-action">
    <ng-container [ngTemplateOutlet]="actionNav.templateRef" *ngIf="actionNav"></ng-container>
  </div>
  <!-- Lang-Menu (rechtsbündig) -->
  <div class="lux-lang-select-menu lux-header-action" *ngIf="luxLocaleSupported && (luxLocaleSupported?.length ?? 0) > 1">
    <lux-lang-select
      [luxLocaleSupported]="luxLocaleSupported"
      [luxLocaleBaseHref]="luxLocaleBaseHref"
      class="lux-flex-grow-0 lux-flex-shrink-0 lux-flex-basis-auto"
    ></lux-lang-select>
  </div>
  <!-- User-Menu (rechtsbündig) -->
  <div
    [luxAriaLabel]="luxAriaUserMenuButtonLabel"
    class="lux-header-user lux-pr-2 lux-pl-2"
    [ngClass]="{ 'lux-show-border': !!actionNav }"
    *ngIf="rightNav"
  >
    <lux-menu
      class="lux-header-menu"
      [ngClass]="{ 'lux-header-menu-mobile': mobileView }"
      [luxDisplayExtended]="false"
      (luxMenuClosed)="onMenuClosed()"
      luxClassName="lux-right-nav-menu"
      luxTagId="app_header_menu"
    >
      <ng-container *ngFor="let menuItem of rightNav.menuItemComponents">
        <lux-menu-item
          [luxLabel]="menuItem.luxLabel"
          [luxIconName]="menuItem.luxIconName"
          [luxTagId]="menuItem.luxLabel"
          [luxAlwaysVisible]="menuItem.luxAlwaysVisible"
          [luxDisabled]="menuItem.luxDisabled"
          [luxRaised]="menuItem.luxRaised"
          [luxColor]="menuItem.luxColor"
          [luxRounded]="menuItem.luxRounded"
          (luxClicked)="menuItem.luxClicked.emit($event)"
        >
        </lux-menu-item>
      </ng-container>
      <lux-menu-trigger>
        <button
          mat-button
          class="lux-right-nav-trigger lux-flex lux-justify-end lux-items-center"
          luxAriaLabel="Benutzermenü"
          i18n-luxAriaLabel="@@luxc.app-header.user.menu.trigger"
          aria-haspopup="true"
          #customTrigger
        >
          <span *ngIf="luxUserName">
            <span class="lux-nowrap lux-header-username" [ngClass]="{ 'lux-display-none': mobileView }">
              {{ luxUserName }}
            </span>
            <span class="lux-nowrap lux-header-user-short" [ngClass]="{ 'lux-block': mobileView, 'lux-display-none': !mobileView }">
              <span>{{ userNameShort }}</span>
            </span>
          </span>

          <lux-icon
            class="lux-icon-menu-0"
            luxIconSize="1x"
            luxIconName="lux-interface-user-single"
            luxMargin="0 0 0 8px"
            [ngClass]="{ 'lux-display-none': luxUserName && mobileView }"
          >
          </lux-icon>
          <lux-icon class="lux-icon-menu-1" luxIconSize="1x" luxIconName="lux-interface-arrows-button-down" luxPadding="0" luxMargin="0">
          </lux-icon>
        </button>
      </lux-menu-trigger>
    </lux-menu>
  </div>
</div>

<ng-content select="lux-app-header-right-nav"></ng-content>
<ng-content select="lux-side-nav"></ng-content>
