<div class="example-container">
  <lux-card luxTitle="Die neuen Form-Controls in einer Spalte" luxSubTitle="Theme-Authentic">
    <lux-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="50">
        <lux-autocomplete-ac luxLabel="Autocomplete-Authentic" luxPlaceholder="Platzhalter" luxHint="Wenn sie dies lesen können..." [luxOptions]="options"></lux-autocomplete-ac>
        <lux-input-ac luxLabel="Input-Authentic" luxPlaceholder="Hallo du lieber Mensch" luxHint="Vorschau für das neue Theme" luxAutocomplete="off" [luxHintShowOnlyOnFocus]="false"></lux-input-ac>
        <lux-select-ac luxLabel="Select-Authentic" luxPlaceholder="Platzhalter" luxHint="Wähle ein Bundesland aus." [luxOptions]="options" luxOptionLabelProp="label" [luxMultiple]="true" [luxDisabled]="true"></lux-select-ac>
        <lux-toggle-ac [luxChecked]="false" luxLabel="Toggle-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true" [luxDisabled]="true"></lux-toggle-ac>
        <lux-toggle-ac [luxChecked]="true" luxLabel="Toggle-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true" [luxDisabled]="true"></lux-toggle-ac>
        <lux-checkbox-ac  [luxChecked]="false" luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true" [luxDisabled]="true"></lux-checkbox-ac>
        <lux-checkbox-ac  [luxChecked]="true" luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true" [luxDisabled]="true"></lux-checkbox-ac>
        <lux-radio-ac luxLabel="Radio-Buttons-Authentic" [luxOptions]="optionsRadio" [luxSelected]="optionsRadio[0]"[luxOrientationVertical]="true" luxHint="Auch Radio-Buttons haben einen Hinweis">
          <ng-template let-optionsRadio>{{ optionsRadio.label }}</ng-template>
        </lux-radio-ac>
      </div>
    </lux-card-content>

  </lux-card>
  <lux-card luxTitle="Die neuen Form-Controls in einer Reihe" luxSubTitle="Theme-Authentic">
    <lux-card-content>
      <div fxLayout="row wrap" fxLayoutGap="20px grid" class="test-row">
        <lux-autocomplete-ac luxLabel="Autocomplete-Authentic" luxPlaceholder="Platzhalter" luxHint="Wenn sie dies lesen können..." [luxOptions]="options"></lux-autocomplete-ac>
        <lux-input-ac luxLabel="Input-Authentic" luxPlaceholder="Hallo du lieber Mensch" luxHint="Vorschau für das neue Theme" luxAutocomplete="off" [luxHintShowOnlyOnFocus]="false"></lux-input-ac>
        <lux-checkbox-ac luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="false"></lux-checkbox-ac>
        <lux-select-ac luxLabel="Select-Authentic" luxPlaceholder="Platzhalter" luxHint="Wähle ein Bundesland aus." [luxOptions]="options" luxOptionLabelProp="label" [luxMultiple]="true"></lux-select-ac>
        <lux-toggle-ac luxLabel="Toggle-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="false"></lux-toggle-ac>
        <lux-checkbox-ac luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="false"></lux-checkbox-ac>
        <lux-radio-ac luxLabel="Radio-Buttons-Authentic" [luxOptions]="optionsRadio" [luxSelected]="optionsRadio[0]" [luxOrientationVertical]="false" luxHint="Auch Radio-Buttons haben einen Hinweis">
          <ng-template let-optionsRadio>{{ optionsRadio.label }}</ng-template>
        </lux-radio-ac>
      </div>
    </lux-card-content>

  </lux-card>
</div>