<div class="example-container">
  <lux-card luxTitle="Die neuen Form-Controls in einer Spalte" luxSubTitle="Theme-Authentic">
    <lux-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="50">
        <lux-input-ac luxLabel="Input-Authentic" luxPlaceholder="Hallo du lieber Mensch" luxHint="Vorschau für das neue Theme" luxAutocomplete="false" [luxHintShowOnlyOnFocus]="false"></lux-input-ac>
        <lux-toggle-ac luxLabel="Toggle-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true"></lux-toggle-ac>
        <lux-checkbox-ac luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="true"></lux-checkbox-ac>
      </div>
    </lux-card-content>

  </lux-card>
  <lux-card luxTitle="Die neuen Form-Controls in einer Reihe" luxSubTitle="Theme-Authentic">
    <lux-card-content>
      <div fxLayout="row" fxLayoutGap="20px">
        <lux-input-ac luxLabel="Input-Authentic" luxPlaceholder="Hallo du lieber Mensch" luxHint="Vorschau für das neue Theme" luxAutocomplete="false" [luxHintShowOnlyOnFocus]="false"></lux-input-ac>
        <lux-toggle-ac luxLabel="Toggle-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="false"></lux-toggle-ac>
        <lux-checkbox-ac luxLabel="Checkbox-Authentic" luxHint="Vorschau für das neue Theme" [luxNoTopLabel]="false"></lux-checkbox-ac>
      </div>
    </lux-card-content>

  </lux-card>
</div>