<example-base-structure
  exampleTitle="Autocomplete"
  exampleIconName="fas fa-font"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90autocomplete"
>
  <example-base-content>
    <div fxLayout="column">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-autocomplete
        [luxLabel]="label"
        [luxPlaceholder]="placeholder"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxOptionLabelProp]="renderProperty"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption"
        [luxOptions]="options"
        [luxPickValue]="usePickValueFn && strict ? pickValueFn : undefined"
        [(luxValue)]="value"
        [luxSelectAllOnClick]="selectAllOnClick"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [luxStrict]="strict"
        [luxLookupDelay]="delay"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents, 'luxOptionSelected', $event)"
        luxTagId="autocomplete-non-reactive"
      >
      </lux-autocomplete>
      <div class="example-highlight-config-option" fxLayout="row" fxLayoutGap="5px" *ngIf="value">
        <span fxFlex="0 0 auto">Auswahl:</span>
        <span fxFlex="auto">{{ value | json }}</span>
      </div>
    </div>
    <div fxLayout="column" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-autocomplete
        [luxLabel]="label"
        [luxPlaceholder]="placeholder"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxOptionLabelProp]="renderProperty"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption"
        [luxOptions]="options"
        [luxPickValue]="usePickValueFn && strict ? pickValueFn : undefined"
        [luxSelectAllOnClick]="selectAllOnClick"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxStrict]="strict"
        [luxLookupDelay]="delay"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlBinding]="controlBinding"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents, 'luxOptionSelected', $event)"
        luxTagId="autocomplete-reactive"
      >
      </lux-autocomplete>
      <div
        class="example-highlight-config-option"
        fxLayout="row"
        fxLayoutGap="5px"
        *ngIf="form.get(controlBinding).value"
      >
        <span fxFlex="0 0 auto">Auswahl:</span>
        <span fxFlex="auto">{{ form.get(controlBinding).value | json }}</span>
      </div>
    </div>
    <div fxLayout="column" class="example-highlight-config-option">
      <div fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="0 0 auto">Optionen:</span>
        <span fxFlex="auto" fxLayout="column" fxLayoutGap="5px">
          <span *ngFor="let option of options">
            {{ option | json }}
          </span>
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
        <div fxFlex="30" fxLayout="row wrap" fxLayoutGap="5px">
          <span fxFlex="35px">Valid:</span>
          <span fxFlex="30px">{{ form.valid }}</span>
        </div>
        <div fxFlex="30" fxLayout="row">
          <span fxFlex="0 0 auto">Dirty:</span>
          <span fxFlex="30px">{{ form.dirty }}</span>
        </div>
        <div fxFlex="30" fxLayout="row">
          <span fxFlex="0 0 auto">Touched:</span>
          <span fxFlex="30px">{{ form.touched }}</span>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="example-highlight-config-option"
      luxName="autocomplete_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input>
    <div fxLayout="column" class="example-highlight-config-option">
      <lux-input
        luxName="autocomplete_luxHint"
        luxLabel="luxHint"
        luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
        [(luxValue)]="hint"
      >
      </lux-input>
      <lux-toggle
        luxName="autocomplete_luxHintShowOnlyOnFocus"
        luxLabel="luxHintShowOnlyOnFocus"
        luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
        [(luxChecked)]="hintShowOnlyOnFocus"
      ></lux-toggle>
    </div>
    <lux-input
      class="example-highlight-config-option"
      luxName="autocomplete_luxPlaceholder"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input>
    <lux-select
      class="example-highlight-config-option"
      [luxSelected]="renderProperties[0]"
      (luxSelectedChange)="onRenderProperty($event)"
      [luxOptions]="renderProperties"
      luxOptionLabelProp="label"
      luxLabel="luxOptionLabelProp"
      luxHint="Über die Property wird eingestellt, woraus der anzuzeigende Label bezogen wird."
    >
    </lux-select>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Erlaubt es, die Component zu deaktivieren."
    >
    </lux-toggle>
    <div class="example-highlight-config-option" fxLayout="column">
      <div fxLayout="row wrap">
        <lux-button
          luxLabel="Enable"
          (luxClicked)="form.get(controlBinding).enable()"
          [luxDisabled]="!form.get(controlBinding).disabled"
        ></lux-button>
        <lux-button
          luxLabel="Disable"
          (luxClicked)="form.get(controlBinding).disable()"
          [luxDisabled]="form.get(controlBinding).disabled"
        ></lux-button>
      </div>
      <div class="lux-hint lux-p-2">Erlaubt es, die Component über das Formular zu deaktivieren.</div>
    </div>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
    >
    </lux-toggle>
    <lux-toggle
      class="example-highlight-config-option"
      luxLabel="luxRequired"
      (luxCheckedChange)="changeRequired($event)"
    >
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer
        Reactive-Form sind.<br />
        <b
          >In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das
          Form-Control gesetzt.</b
        >
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle class="example-highlight-config-option" [(luxChecked)]="strict" luxLabel="luxStrict">
      <lux-form-hint>
        Dieses Flag aktiviert den strikten Modus dieser Component´.<br />
        Das bedeutet, dass nur Eingaben die einer Option entsprechen als valide gelten.
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle class="example-highlight-config-option" [(luxChecked)]="usePickValueFn" luxLabel="luxPickValue" [luxDisabled]="!strict">
      <lux-form-hint>
        Dieses Flag aktiviert die PickValue-Funktion. Erfordert luxStrict = true. <br />
        Das bedeutet, es wird der von der PickValue-Funktion zurückgelieferte Wert selektiert und nicht die Option als ganzes.
      </lux-form-hint>
    </lux-toggle>
  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="selectAllOnClick"
      luxLabel="luxSelectAllOnClick"
      luxHint="Mit diesem Flag kann aktiviert werden, dass beim Klick auf das Feld der
                  gesamte Eingabewert direkt selektiert wird."
    >
    </lux-toggle>
    <lux-input
      class="example-highlight-config-option"
      luxName="autocomplete_luxDelay"
      luxLabel="luxDelay"
      luxHint="Über diese Property kann die zeitliche Verzögerung für die Filterung eingestellt werden."
      [(luxValue)]="delay"
      luxType="number"
    >
    </lux-input>
    <div fxLayout="column" class="example-highlight-config-option">
      <lux-input
        luxName="autocomplete_luxErrorMessageNotAnOption"
        luxLabel="luxErrorMessageNotAnOption"
        luxHint="Die Property kann die Fehlermeldung für invalide Optionen einstellen."
        [(luxValue)]="errorMessageNotAnOption"
        *ngIf="strict"
      >
        <lux-form-hint>
          Die Property kann die Fehlermeldung für invalide Optionen einstellen.
        </lux-form-hint>
      </lux-input>

      <lux-toggle
        luxLabel="luxErrorMessage verwenden"
        luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
        [(luxChecked)]="useErrorMessage"
      >
      </lux-toggle>
      <lux-input
        luxName="autocomplete_luxErrorMessage"
        luxLabel="luxErrorMessage"
        luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
        [(luxValue)]="errorMessage"
        *ngIf="useErrorMessage"
      >
      </lux-input>
      <pre class="lux-label" *ngIf="!useErrorMessage">{{ errorCallbackString }}</pre>
    </div>
    <lux-select
      class="example-highlight-config-option"
      [luxOptions]="validatorOptions"
      luxOptionLabelProp="label"
      [luxMultiple]="true"
      [luxPickValue]="pickValidatorValueFn"
      luxLabel="luxControlValidators"
      [(luxSelected)]="controlValidators"
    >
      <lux-form-hint>
        Diese Property ermöglicht es einer Component die <b>nicht in einer Reactive-Form</b> ist, auf einfache Art und
        Weise trotzdem Validatoren zu übergeben.<br />
        Diese Property funktioniert nicht für Components in Reactive-Forms, da diese ihre Validatoren über die
        entsprechende FormControl setzen.
      </lux-form-hint>
    </lux-select>
  </example-base-advanced-options>
</example-base-structure>
