<example-base-structure
  exampleTitle="Storage"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/util#luxstorageservice"
>
  <example-base-content fxLayout="column">
    <div class="example-storage-list">
      <h3>Aktuelle LocalStorage-Einträge</h3>
      <div
        class="lux-highlight-section"
        fxLayout="column"
        fxLayoutGap="8px"
        *ngFor="let item of [].constructor(storageLength); let i = index"
      >
        <span><b>Key:</b> {{ localStorage.key(i) }} </span>
        <span><b>Value:</b> {{ luxStorageService.getItemAsObservable(localStorage.key(i)!) | async }} </span>
        <br>
        <div
          fxLayout.gt-sm="row"
          fxLayout.lt-md="column"
          fxLayoutAlign.gt-sm="space-between end"
          fxLayoutAlign.lt-md="space-between stretch"
          fxLayoutGap.gt-sm="16px"
          fxLayoutGap.lt-md="8px"
          *ngIf="!localStorage.key(i)!.endsWith('sensitive')"
        >
          <lux-input-ac  fxFlex.gt-sm="0 1 calc(100%-114px)" luxLabel="Neuer Value" #luxInput [luxNoBottomLabel]="true"></lux-input-ac>
          <div
            fxLayout="row"
            fxLayoutAlign.gt-sm="end center"
            fxLayoutAlign.lt-md="center center"
            fxFlex.gt-sm="1 1 98px"
            fxLayoutGap="8px"
          >
            <lux-button
              luxIconName="lux-interface-arrows-synchronize"
              luxColor="accent"
              luxTagId="refresh-storage-entry-btn"
              [luxRounded]="true"
              [luxDisabled]="!luxInput.luxValue"
              luxAriaLabel="Wert speichern"
              (luxClicked)="updateExisting(localStorage.key(i)!, luxInput)"
            >
            </lux-button>
            <lux-button
              luxIconName="lux-interface-delete-1"
              luxColor="warn"
              luxTagId="remove-storage-entry-btn"
              [luxRounded]="true"
              (luxClicked)="luxStorageService.removeItem(localStorage.key(i)!)"
              luxAriaLabel="Wert löschen"
            >
            </lux-button>
          </div>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <div class="lux-highlight-section" fxLayout="column">
      Im Chrome kann der Storage wie folgt geändert werden: <br>
      <ol>
        <li>mit F12 die Developer Tools öffnen</li>
        <li>auf den Reiter 'Application' wechseln</li>
        <li>links den 'Local Storage' aufklappen</li>
        <li>die URL der App anklicken</li>
        <li>den Wert des gesuchten Schlüssels ändern (Doppelklick auf den Wert)</li>
        <li>mit Return den neuen Wert übernehmen</li>
      </ol>
    </div>
    <div class="lux-highlight-section column">
      <lux-input-ac
        luxLabel="key"
        luxHint="Hier kann ein Key für einen Storage-Eintrag gesetzt werden."
        luxAutocomplete="off"
        [(luxValue)]="key"
      >
      </lux-input-ac>
      <lux-input-ac
        luxLabel="value"
        luxHint="Hier kann der Wert für den Key {{ key }} eingetragen werden."
        luxAutocomplete="off"
        [(luxValue)]="value"
      >
      </lux-input-ac>
      <lux-toggle-ac luxLabel="sensitive" [(luxChecked)]="sensitive" [luxNoTopLabel]="true">
        <lux-form-hint>
          Dieser Wert bestimmt, ob der eingetragene Schlüssel als 'empfindlicher' Datensatz gilt.<br />
          Sensible Datensätze können über den <i>LuxStorageService</i> gezielt entfernt werden.
        </lux-form-hint>
      </lux-toggle-ac>
      <div fxLayout="row" fxLayoutAlign="start" class="lux-mt-4">
        <lux-button
          luxIconName="lux-interface-add-1"
          luxColor="primary"
          [luxRounded]="true"
          (luxClicked)="submit()"
          [luxDisabled]="!key"
          luxTagId="add-new-storage-entry-btn"
          luxAriaLabel="Wert hinzufügen"
        >
        </lux-button>
      </div>
    </div>
  </example-base-simple-options>
  <example-base-options-actions>
    <lux-menu
      fxFlex="1 1 250px"
      luxMenuIconName="lux-interface-setting-menu-vertical"
      [luxDisplayExtended]="true"
      [luxMaximumExtended]="2"
      [luxDisplayMenuLeft]="false"
    >
      <lux-menu-item
        luxLabel="Sensible Daten löschen"
        [luxStroked]="true"
        [luxDisabled]="storageLength === 0"
        luxColor="warn"
        (luxClicked)="clearSensitiveItems()"
        luxTagId="menu-sensible-data"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Alle Daten löschen"
        [luxStroked]="true"
        [luxDisabled]="storageLength === 0"
        luxColor="warn"
        (luxClicked)="clearAll()"
        luxTagId="menu-all-data"
      >
      </lux-menu-item>
    </lux-menu>
  </example-base-options-actions>
</example-base-structure>
