@import '../../../../theming/luxtheme';

mat-chip-list {
  //outline: none;
  display: block;
}

.mat-chip-list-stacked {
  display: flex;

  ::ng-deep {
    mat-chip {
      width: auto !important;
    }

    .mat-chip-input {
      flex: unset;
    }

    //lux-chip-group,
    .mat-chip-list-wrapper {
      display: flex;
      flex-direction: column !important;
      width: 100%;
    }
  }
}

.lux-chips {
  input {
    margin-bottom: 10px;
    width: auto;
  }

  mat-chip.mat-chip-disabled {
    background-color: $dark-disabled-text !important;
    color: white !important;
    pointer-events: none;

    lux-icon ::ng-deep {
      i,
      mat-icon {
        color: white;
      }
    }
  }

  .lux-chips-list-offset {
    mat-chip {
      margin-bottom: 10px;
    }
  }
}
