:host {
  position: relative;
  height: 100%;
  display: block;
  overflow-y: auto;
  box-sizing: content-box;
}

.lux-list-empty-icon,
.lux-list-empty-icon-text {
  opacity: 0.6;
  padding: 0 8px;
}
