::ng-deep .demo-year-2017 {
  background: rgba(46, 84, 125, 0.5);
}

::ng-deep .demo-year-2018 {
  background: rgba(209, 174, 194, 0.5);
}

.aktion-button ::ng-deep button {
  width: 250px;
}

lux-button.lux-table-example {
  width: 45px;
  ::ng-deep {
    button {
      width: 45px;
      min-width: 45px;
      padding: 0;
      margin: 0;
    }

    lux-icon {
      i,
      mat-icon:not(.lux-lx-icon-no-size) {
        font-size: 1.5em;
      }
    }

    .mat-button-wrapper {
      padding: 0;
    }
  }
}

$icon-shift: 42px;

@mixin messagebox {
  border-left: 8px solid var(--lux-theme-primary-400);
  border-radius: 4px;
  background-color: var(--lux-theme-primary-50);
  padding: 24px 24px;
  margin: 32px 0;

  .box-header {
    i {
      padding-top: 0;
    }
    h2,
    h3 {
      margin: 0 0 0 8px;
    }
    h3 {
      color: var(--lux-theme-dark-secondary-text);
    }
  }
  p {
    margin-top: 32px;
    margin-left: $icon-shift;
  }
  .code-section {
    margin-left: $icon-shift;
    overflow: auto;
  }
}

.message-box {
  @include messagebox();
}

.message-box-small {
  @include messagebox();
  padding: 24px 12px;

  p,
  .code-section {
    margin-left: 4px;
  }
}
