<example-base-structure
  exampleTitle="Tabelle"
  exampleIconName="fas fa-table"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90table"
>
  <example-base-content>
    <div [ngStyle]="{ height: calculateProportions ? tableHeightPx + 'px' : 'unset' }" class="lux-table-example">
      <lux-table
        [luxMinWidthPx]="minWidthPx"
        [luxData]="dataSource"
        [luxShowPagination]="pagination"
        [luxColWidthsPercent]="columnWidthOption"
        [luxShowFilter]="filter"
        [luxFilterText]="filterText"
        [luxPageSize]="pageSize"
        [luxClasses]="cssClass"
        [luxPageSizeOptions]="pageSizeOption"
        [luxMultiSelect]="multiSelect"
        [luxMultiSelectOnlyCheckboxClick]="multiSelectOnlyCheckboxClick"
        [luxMultiSelectDisabledProperty]="multiSelectDisabledProperty"
        [luxNoDataText]="noDataText"
        [(luxSelected)]="selected"
        [luxCompareWith]="compareFn"
        (luxSelectedChange)="onSelectedChange($event)"
        (luxSelectedAsArrayChange)="onSelectedAsArrayChange($event)"
        [luxHideBorders]="hideBorders"
        [luxAutoPaginate]="autoPagination"
        [luxPagerDisabled]="pagerDisabled"
        [luxPagerTooltip]="pagerTooltip"
      >
        <lux-table-column
          luxColumnDef="name"
          [luxSortable]="nameConfig.sortable"
          [luxSticky]="nameConfig.sticky"
          [luxResponsiveAt]="nameConfig.responsiveAt"
          [luxResponsiveBehaviour]="nameConfig.responsiveBehaviour?.value"
        >
          <lux-table-column-header>
            <ng-template><span [luxTooltip]="'Tooltip Spalte \'Name\''">Name</span></ng-template>
          </lux-table-column-header>
          <lux-table-column-content>
            <ng-template let-element>
              <span *ngIf="!element.editable">{{ element.name }}</span>
              <lux-input
                *ngIf="element.editable"
                luxAriaLabel="Name"
                luxTagId="table.row.control.name"
                class="lux-table-no-label"
                [(luxValue)]="element.name"
                [luxNoLabels]="true"
              ></lux-input>
            </ng-template>
          </lux-table-column-content>
          <lux-table-column-footer>
            <ng-template> Name Footer </ng-template>
          </lux-table-column-footer>
        </lux-table-column>
        <lux-table-column
          luxColumnDef="symbol"
          [luxSortable]="symbolConfig.sortable"
          [luxSticky]="symbolConfig.sticky"
          [luxResponsiveAt]="symbolConfig.responsiveAt"
          [luxResponsiveBehaviour]="symbolConfig.responsiveBehaviour?.value"
        >
          <lux-table-column-header>
            <ng-template>
              <span [luxTooltip]="'Tooltip Spalte \'Symbol\''">Symbol</span>
            </ng-template>
          </lux-table-column-header>
          <lux-table-column-content>
            <ng-template let-element>
              <span *ngIf="!element.editable">{{ element.symbol | lowercase }}</span>
              <div fxLayout="row wrap">
                <lux-input
                  *ngIf="element.editable"
                  luxAriaLabel="Symbol"
                  luxTagId="table.row.control.symbol"
                  fxFlex="1 1 30%"
                  class="lux-table-no-label"
                  [(luxValue)]="element.symbol"
                  [luxNoLabels]="true"
                ></lux-input>
              </div>
            </ng-template>
          </lux-table-column-content>
          <lux-table-column-footer>
            <ng-template> Symbol Footer </ng-template>
          </lux-table-column-footer>
        </lux-table-column>
        <lux-table-column
          *ngIf="!multiSelect || !multiSelectOnlyCheckboxClick"
          luxColumnDef="date"
          [luxSortable]="dateConfig.sortable"
          [luxSticky]="dateConfig.sticky"
          [luxResponsiveAt]="dateConfig.responsiveAt"
          [luxResponsiveBehaviour]="dateConfig.responsiveBehaviour?.value"
        >
          <lux-table-column-header>
            <ng-template>Datum</ng-template>
          </lux-table-column-header>
          <lux-table-column-content>
            <ng-template let-element
              ><span>{{ element.date | date: 'dd.MM.yyyy' }}</span></ng-template
            >
          </lux-table-column-content>
          <lux-table-column-footer>
            <ng-template> Datum Footer </ng-template>
          </lux-table-column-footer>
        </lux-table-column>
        <lux-table-column *ngIf="multiSelect && multiSelectOnlyCheckboxClick" luxColumnDef="Aktion" [luxSortable]="false">
          <lux-table-column-header>
            <ng-template>Aktion</ng-template>
          </lux-table-column-header>
          <lux-table-column-content>
            <ng-template let-element>
              <lux-button
                *ngIf="!element.editable"
                luxAriaLabel="Editieren"
                luxTagId="table.row.action.edit"
                class="lux-table-example"
                luxColor="primary"
                luxIconName="fas fa-edit"
                (luxClicked)="onEdit(element)"
              ></lux-button>
              <lux-button
                *ngIf="element.editable"
                luxAriaLabel="Speichern"
                luxTagId="table.row.action.save"
                class="lux-table-example"
                luxColor="primary"
                luxIconName="fas fa-save"
                (luxClicked)="onSave(element)"
              ></lux-button>
              <lux-button
                *ngIf="element.editable"
                luxAriaLabel="Abbrechen"
                luxTagId="table.row.action.cancel"
                class="lux-table-example"
                luxColor="primary"
                luxIconName="fas fa-undo"
                (luxClicked)="onCancel(element)"
              ></lux-button>
            </ng-template>
          </lux-table-column-content>
          <lux-table-column-footer>
            <ng-template> Aktion Footer </ng-template>
          </lux-table-column-footer>
        </lux-table-column>
      </lux-table>
    </div>
    <div ngClass="message-box" ngClass.lt-md="message-box-small">
      <div fxLayout="row" fxLayoutAlign="start start" class="box-header">
        <lux-icon luxIconName="far fa-hand-point-right" luxIconSize="2x"></lux-icon>
        <div fxLayout="column">
          <h2>Tipp</h2>
          <h3>Formcontrols in editierbaren Tabellen anpassen</h3>
        </div>
      </div>
      <p>
        Die Lux-Form-Controls haben standardmäßig einen Label- und einen Hint/Error-Container. In editierbaren Tabellen werden diese jedoch nicht benötigt. <br>
        Für diesen Anwendungsfall kann ab Version 13.0.0 das Attribut <strong>luxNoLabels</strong> bei den Form-Controls genutzt werden. Dabei werden die unnötigen Container ausgeblendet
        und das Formcontrol in der Zelle zentriert angezeigt.
      </p>
      <div class="code-section">
        <lux-markdown [luxData]="markdownData"></lux-markdown>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <table-example-simple-options [tableExample]="this"></table-example-simple-options>
  </example-base-simple-options>
  <example-base-advanced-options>
    <table-example-advanced-options [tableExample]="this"></table-example-advanced-options>
  </example-base-advanced-options>
  <example-base-options-actions>
    <lux-menu
      fxFlex="0 0 250px"
      luxMenuIconName="fas fa-ellipsis-v"
      [luxDisplayExtended]="true"
      [luxDisplayMenuLeft]="false"
      [luxMaximumExtended]="4"
    >
      <lux-menu-item
        luxLabel="Ersten 5 auswählen"
        [luxRaised]="true"
        [luxDisabled]="!multiSelect"
        (luxClicked)="preselect()"
        luxTagId="menu-select-5"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Tabelle leeren"
        luxColor="warn"
        [luxDisabled]="dataSource.length === 0"
        [luxRaised]="true"
        (luxClicked)="clearData()"
        luxTagId="menu-clear"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Tabelle befüllen (300)"
        luxColor="accent"
        (luxClicked)="loadData(true)"
        [luxRaised]="true"
        luxTagId="menu-fill-300"
      >
      </lux-menu-item>
      <lux-menu-item
        luxLabel="Tabelle befüllen (30)"
        luxColor="accent"
        (luxClicked)="loadData(false)"
        [luxRaised]="true"
        luxTagId="menu-fill-30"
      >
      </lux-menu-item>
    </lux-menu>
  </example-base-options-actions>
</example-base-structure>
