<div
  class="lux-master-detail"
  fxLayout="row"
  fxFlex="grow"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  fxFill
>
  <div
    [fxFlex]="flexMaster"
    fxLayout="column"
    class="lux-master-container"
    tabindex="1"
    luxTagIdHandler
    [luxTagId]="luxTagIdMaster"
    [ngClass]="{
      'lux-hidden': !luxOpen && mobileHelperService.isMobile(),
      'lux-0-width': !luxOpen && mobileHelperService.isMobile(),
      'lux-master-container-mobile': mobileHelperService.isMobile(),
      'lux-empty-elements-aligned': alignEmptyIndicators
    }"
    #masterContainer
  >
    <!-- Header Element über der Master-Liste -->
    <lux-master-header
      (luxOpened)="toggleList($event)"
      [luxToggleHidden]="
        (mobileHelperService.isMobile() && !this.luxSelectedDetail && !luxOpen) || mobileHelperService.isMobile()
      "
      [ngClass]="{
        'lux-not-open': !luxOpen,
        'lux-hidden': !luxOpen && mobileHelperService.isMobile()
      }"
    >
      <ng-content select="lux-master-header-content" *ngIf="luxOpen"></ng-content>
    </lux-master-header>

    <!-- Master Simple Component gesetzt? -> Standard Lux Liste als Master nutzen  (window:keydown)="handleMasterKeyInput($event)" -->
    <lux-master-view fxFlex="grow" [ngClass]="{ 'lux-hidden': !luxOpen && !mobileHelperService.isMobile() }">
      <lux-list
        fxFlex="grow"
        class="lux-overflow-y-auto lux-overflow-wrap-break-word"
        luxInfiniteScroll
        [luxScrollPercent]="85"
        [luxImmediateCallback]="true"
        [luxIsLoading]="luxMasterIsLoading"
        [luxEmptyIconSize]="luxEmptyIconMasterSize"
        [luxEmptyLabel]="luxEmptyLabelMaster"
        [luxEmptyIconName]="luxEmptyIconMaster"
        [luxSelectedPosition]="selectedPosition"
        (luxSelectedPositionChange)="onSelectedChange($event)"
        (luxScrolled)="onInfiniteScrollingLoad()"
      >
        <lux-list-item
          *ngFor="let masterElement of luxMasterList"
          [luxTitleLineBreak]="luxTitleLineBreak"
          luxTitle="{{ masterElement | luxPropertyFromObject: masterSimple?.luxTitleProp ?? '' }}"
          luxSubTitle="{{ masterElement | luxPropertyFromObject: masterSimple?.luxSubTitleProp ?? '' }}"
        >
          <lux-list-item-icon>
            <ng-container
              *ngTemplateOutlet="masterSimple?.iconTempRef ?? null; context: { $implicit: masterElement }"
            ></ng-container>
          </lux-list-item-icon>
          <lux-list-item-content>
            <ng-container
              *ngTemplateOutlet="masterSimple?.contentTempRef ?? null; context: { $implicit: masterElement }"
            ></ng-container>
          </lux-list-item-content>
        </lux-list-item>

        <div
          fxLayout="row"
          fxLayoutAlign="center"
          #masterSpinnerCard
          [@masterIsLoadingChanged]="luxMasterIsLoading"
          [ngClass]="{ 'lux-spinner-hidden': !luxMasterIsLoading }"
        >
          <br *ngIf="luxMasterIsLoading" />
          <mat-progress-spinner class="lux-m-3" color="primary" mode="indeterminate" diameter="48" fxFlex="0 0 auto">
          </mat-progress-spinner>
          <br *ngIf="luxMasterIsLoading" />
        </div>
      </lux-list>
    </lux-master-view>

    <!-- Kein Master Simple Component gesetzt? -> Von Aufrufer eingegebenen Content als Master nutzen -->
    <ng-content *ngIf="!masterSimple" select="lux-master-view"></ng-content>

    <!-- Footer Element unter der Master-Liste -->
    <ng-content select="lux-master-footer" *ngIf="luxOpen"></ng-content>
  </div>

  <div
    [fxFlex]="flexDetail"
    fxFill
    luxTagIdHandler
    class="lux-detail-container lux-overflow-y-auto"
    [ngClass]="{ 'lux-display-none': isDetailInvisible() }"
    [luxTagId]="luxTagIdDetail"
    tabindex="2"
  >
    <ng-template #detailViewContainerRef></ng-template>

    <!-- Das Empty-Icon und Empty-Label, wenn kein Detail gegeben ist -->
    <div
      class="lux-detail-empty"
      [ngClass]="{ 'lux-display-none': isDetailInvisible() || selectedPosition > -1 }"
      fxLayout="column"
      fxLayoutAlign="center center"
      #detailEmpty
    >
      <lux-icon class="lux-detail-empty-icon" [luxIconName]="luxEmptyIconDetail" [luxIconSize]="luxEmptyIconDetailSize">
      </lux-icon>
      <span class="lux-detail-empty-icon-text">
        <strong>{{ luxEmptyLabelDetail }}</strong>
      </span>
    </div>
  </div>
</div>
