@import '../../../../theming/luxcommon';

:focus {
  outline: none;
}

.lux-master-detail {
  max-width: 100%;
  z-index: 10;
}

.lux-master-container {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 0 2px 2px 2px;
  min-width: 60px;
  position: relative;

  .lux-not-open {
    padding: 10px 4px;
  }

  // Wenn das passende Flag gesetzt ist und keine Mobilansicht vorliegt,
  // für die Zentrierung der Empty-Elemente der Masterliste die relative Position des Master-Containers nutzen
  // Folge: Empty-Elemente von Master und Detail sind gleich hoch
  &:not(.lux-master-container-mobile).lux-empty-elements-aligned  {
    lux-list {
      position: static !important;
    }
  }
}

lux-master-view {
  border-top: 2px solid rgba(0, 0, 0, 0.12);;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);;
  z-index: 100
}

.lux-spinner-hidden {
  display: none !important;
}

lux-list-item {
  margin-bottom: 1px;

  ::ng-deep {
    lux-card {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      mat-card {
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset !important;

        &:hover {
          background: $lux-hover-color;
        }
      }
    }
  }
}

lux-list-item,
lux-list-item-content {
  display: block;
}

.lux-display-none {
  display: none !important;
}

.lux-0-width {
  width: 0;
  min-width: 0;
}

.lux-detail-container {
  position: relative;

  .lux-detail-empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .lux-detail-empty-icon,
  .lux-detail-empty-icon-text {
    opacity: 0.6;
    color: $dark-primary-text;
    padding: 0 8px;
  }
}
