<lux-form-control-wrapper
  [luxFormComponent]="this"
  [luxNoInputRow]="true"
  [luxLabelLongFormat]="luxLabelLongFormat"
  [formGroup]="formGroup"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  luxTagId="luxRadioWrapper"
  *ngIf="formGroup"
>
  <mat-radio-group
    luxTagIdHandler
    [luxTagId]="luxTagId"
    [name]="luxGroupName"
    [formControl]="formControl"
    [ngClass]="{ 'lux-vertical': isVertical, 'lux-horizontal': !isVertical }"
    [required]="luxRequired"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
    [luxAriaLabelledby]="uid + '-label'"
    [id]="uid"
  >
    <mat-radio-button
      [value]="luxPickValue ? _luxOptionsPickValue[i] : option"
      [disableRipple]="true"
      color="primary"
      [luxAriaDescribedby]="descripedBy()"
      luxAriaDescribedbySelector=".mat-radio-input"
      [luxAriaRequired]="luxRequired"
      [disabled]="option?.hasOwnProperty('disabled') && option.disabled === true"
      luxAriaRequiredSelector=".mat-radio-input"
      [luxAriaInvalid]="'' + formControl.invalid"
      luxAriaInvalidSelector=".mat-radio-input"
      *ngFor="let option of luxOptions; let i = index"
    >
      <ng-container
        *ngTemplateOutlet="tempRef && !luxOptionLabelProp ? tempRef : noTemplateRefTemplate; context: { $implicit: option }"
      ></ng-container>
    </mat-radio-button>
  </mat-radio-group>
  <ng-content select="lux-form-hint"></ng-content>
</lux-form-control-wrapper>

<ng-template #noTemplateRefTemplate let-option>
  <ng-container *ngIf="option && luxOptionLabelProp && option[luxOptionLabelProp]; else showObjectTemplate">
    {{ option | luxRenderProperty: luxOptionLabelProp }}
  </ng-container>
  <ng-template #showObjectTemplate>
    <ng-container *ngIf="!!option">
      {{ option }}
    </ng-container>
  </ng-template>
</ng-template>
