@import './../lux-lookup-model/lux-lookup-component';

::ng-deep .lux-select-panel {
  padding: $outline-width !important;

  mat-option:not(:last-of-type) {
    // Wenn man den Wert von "margin-bottom" verändert, muss man auch die Höhenberechnung in der
    // LuxSelectOptionHeightDirective anpassen.
    margin-bottom: 2px;
  }
}

mat-select {
  &[aria-disabled="true"] ::ng-deep .mat-select-arrow {
    border-width: 7px;
    margin: 0;
    color: $dark-disabled-text;
  }

  &[aria-disabled="false"] ::ng-deep .mat-select-arrow {
    border-width: 7px;
    margin: 0;
    color: map-get($lux-palette_darkblue, 500);
  }
}

.option-height {
  // Wenn man den Wert von "height" verändert, muss man auch die Höhenberechnung in der
  // LuxSelectOptionHeightDirective anpassen.
  height: 46px !important;
}
