<ng-template>
  <div class="lux-side-nav-item-container">
    <div
      class="lux-side-nav-item lux-nowrap lux-flex lux-place-content-center lux-align-items-center"
      [ngClass]="{
        'lux-side-nav-item-expandable': luxExpandable,
        'lux-side-nav-item-selected': luxSelected && !luxDisabled,
        'lux-side-nav-disabled': luxDisabled
      }"
    >
      <lux-icon
        (click)="onClick($event)"
        [luxIconName]="luxIconName"
        luxIconSize="40px"
        luxMargin="0 0 0 4px"
        luxPadding="9px"
        class="lux-side-nav-item-icon"
        [ngClass]="{ 'lux-side-nav-disabled': luxDisabled }"
      >
      </lux-icon>

      <lux-button
        (luxClicked)="onClick($event)"
        [luxLabel]="luxLabel"
        [luxTagId]="luxTagId"
        [luxDisabled]="luxDisabled"
        class="lux-side-nav-item-button lux-flex lux-flex-grow-1 lux-flex-shrink-1 lux-flex-basis-auto"
        [luxAriaExpanded]="luxExpandable ? luxExpanded : undefined"
      ></lux-button>

      <ng-container *ngIf="luxExpandable">
        <lux-icon
          (click)="onClick($event)"
          class="lux-side-nav-item-expansion-icon lux-flex lux-flex-grow-0 lux-flex-shrink-0 lux-align-self-center"
          luxIconSize="1x"
          [luxIconName]="luxExpanded ? 'lux-interface-arrows-button-up' : 'lux-interface-arrows-button-down'"
          [ngClass]="{ 'lux-side-nav-disabled': luxDisabled }"
        >
        </lux-icon>
      </ng-container>
    </div>
    <ng-container *ngIf="luxExpanded">
      <ng-container *ngFor="let sideNavItem of sideNavItems; let i = index">
        <div class="lux-side-nav-sub-item" *ngIf="i >= 0">
          <ng-container [ngTemplateOutlet]="sideNavItem.templateRef ?? null"></ng-container>
        </div>
      </ng-container>
      <div
        *ngIf="sideNavItems.last && (sideNavItems.last.sideNavItems.length <= 0 || !sideNavItems.last.luxExpanded)"
        class="lux-side-nav-sub-item-last-child"
      ></div>
    </ng-container>
  </div>
  <ng-content select="lux-divider"></ng-content>
</ng-template>
<ng-content select="lux-side-nav-item"></ng-content>
