<example-base-structure
  exampleTitle="App Footer"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90app%E2%80%90footer"
>
  <example-base-simple-options>
    <!-- Optionen für LuxAppFooterButtons -->
    <div class="lux-flex lux-flex-col">
      <div class="lux-mr-3 lux-ml-3 lux-flex xs:lux-flex-col lux-gap-3 lux-place-content-between">
        <h3>lux-app-footer-buttons</h3>
        <div class="lux-flex lux-gap-3">
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-add-1"
            luxColor="primary"
            [luxRaised]="true"
            [luxRounded]="true"
            (luxClicked)="addFooterButton()"
            luxTagId="btn-add"
          >
          </lux-button>
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-delete-1"
            luxColor="warn"
            [luxRaised]="true"
            [luxRounded]="true"
            (luxClicked)="removeFooterButton()"
            luxTagId="btn-remove"
            [luxDisabled]="buttonService.buttonInfos.length === 0"
          >
          </lux-button>
        </div>
      </div>
      <lux-accordion class="lux-mr-3 lux-ml-3 lux-mb-3" [luxMulti]="false" luxMode="flat">
        <lux-panel *ngFor="let buttonInfo of buttonService.buttonInfos">
          <lux-panel-header-title> Button "{{ buttonInfo.label }}" </lux-panel-header-title>
          <lux-panel-content class="lux-flex lux-flex-col lux-gap-4 lux-mt-3">
            <lux-input-ac
              luxName="app-footer_cmd"
              luxLabel="cmd"
              luxHint="Diese Property ist eine ID, anhand derer der einzelne Button identifiziert werden kann."
              [(luxValue)]="buttonInfo.cmd"
            >
            </lux-input-ac>
            <lux-input-ac
              luxName="app-footer_label"
              luxLabel="label"
              luxHint="Mit dieser Property wird das Label des Footer-Buttons festgelegt."
              [(luxValue)]="buttonInfo.label"
            >
            </lux-input-ac>
            <lux-input-ac
              luxName="app-footer_prio"
              luxLabel="prio"
              luxType="number"
              [luxNumberAlignLeft]="true"
              luxHint="Mit dieser Property wird die Priorität des Footer-Buttons festgelegt."
              [(luxValue)]="buttonInfo.prio"
            >
            </lux-input-ac>
            <lux-input-ac luxName="app-footer_tooltip" luxLabel="Tooltip (wenn Button)" [(luxValue)]="buttonInfo.tooltip"> </lux-input-ac>
            <lux-input-ac luxName="app-footer_tooltip_menu" luxLabel="Tooltip (im Menu)" [(luxValue)]="buttonInfo.tooltipMenu">
            </lux-input-ac>
            <lux-input-ac
              luxName="app-footer_iconName"
              luxLabel="iconName"
              luxHint="Diese Property ermöglicht es, ein Icon für den Footer-Button einzurichten."
              [(luxValue)]="buttonInfo.iconName"
            >
            </lux-input-ac>
            <lux-select-ac
              luxLabel="color"
              [(luxSelected)]="buttonInfo.color"
              luxHint="Mithilfe der Property wird die Farbpalette des Buttons definiert."
              [luxOptions]="['primary', 'warn', 'accent']"
            >
            </lux-select-ac>
            <lux-toggle-ac
              luxLabel="raised"
              luxHint="Dieser Flag hebt den Button hervor."
              [(luxChecked)]="buttonInfo.raised"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="flat"
              luxHint="Dieser Flag zeigt einen Button ohne Hervorhebung."
              [(luxChecked)]="buttonInfo.flat"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="stroked"
              luxHint="Dieser Flag zeigt einen Button mit Umrandung."
              [(luxChecked)]="buttonInfo.stroked"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="disabled"
              luxHint="Mit diesem Flag kann der Button deaktiviert werden."
              [(luxChecked)]="buttonInfo.disabled"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="hidden"
              luxHint="Mit diesem Flag kann der Button ausgeblendet werden."
              [(luxChecked)]="buttonInfo.hidden"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
            <lux-toggle-ac luxLabel="alwaysVisible" [(luxChecked)]="buttonInfo.alwaysVisible" [luxNoTopLabel]="true">
              <lux-form-hint>
                Dieses Flag stellt sicher, das dieser Button immer außerhalb des Menus dargestellt wird, solange der Platz noch
                ausreicht.<br />Andere Buttons, die dieses Flag nicht gesetzt haben, werden dann zuerst ausgeblendet.
              </lux-form-hint>
            </lux-toggle-ac>
          </lux-panel-content>
        </lux-panel>
      </lux-accordion>
    </div>
    <!-- Optionen für LuxAppFooterLinks -->
    <div class="lux-flex lux-flex-col lux-mt-6">
      <div class="lux-mr-3 lux-ml-3 lux-flex xs:lux-flex-col lux-gap-3 lux-place-content-between">
        <h3>lux-app-footer-links</h3>
        <div class="lux-flex lux-gap-3">
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-add-1"
            luxColor="primary"
            [luxRaised]="true"
            [luxRounded]="true"
            luxTagId="link-add"
            (luxClicked)="addFooterLink()"
          >
          </lux-button>
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-delete-1"
            luxColor="warn"
            [luxRaised]="true"
            [luxRounded]="true"
            luxTagId="link-remove"
            (luxClicked)="removeFooterLink()"
            [luxDisabled]="linkService.linkInfos.length === 0"
          >
          </lux-button>
        </div>
      </div>
      <lux-accordion class="lux-mr-3 lux-ml-3 lux-mb-3" [luxMulti]="false" luxMode="flat">
        <lux-panel *ngFor="let linkInfo of linkService.linkInfos">
          <lux-panel-header-title> Link "{{ linkInfo.label }}" </lux-panel-header-title>
          <lux-panel-content class="lux-flex lux-flex-col lux-gap-4 lux-mt-3">
            <lux-input-ac
              luxName="app-footer_label"
              luxLabel="label"
              luxHint="Mit dieser Property wird das Label des Link-Buttons festgelegt."
              [(luxValue)]="linkInfo.label"
            >
            </lux-input-ac>
            <lux-input-ac
              luxName="app-footer_path"
              luxLabel="path"
              luxHint="Mit dieser Property wird der Pfad des Links bestimmt."
              [(luxValue)]="linkInfo.path"
            >
            </lux-input-ac>
            <lux-toggle-ac luxLabel="alwaysVisible" [(luxChecked)]="linkInfo.alwaysVisible" [luxNoTopLabel]="true">
              <lux-form-hint>
                Dieses Flag stellt sicher, das dieser Link immer außerhalb des Menus dargestellt wird, solange der Platz noch ausreicht.<br />Andere
                Links, die dieses Flag nicht gesetzt haben, werden dann zuerst ausgeblendet.
              </lux-form-hint>
            </lux-toggle-ac>
            <lux-toggle-ac
              luxLabel="blank"
              luxHint="Dieser Flag aktiviert das Öffnen des Links in einem neuen Tab (wenn externer Link)."
              [(luxChecked)]="linkInfo.blank"
              *ngIf="linkInfo.path.startsWith('http')"
              [luxNoTopLabel]="true"
            >
            </lux-toggle-ac>
          </lux-panel-content>
        </lux-panel>
      </lux-accordion>
    </div>
  </example-base-simple-options>
</example-base-structure>
