<example-base-structure
  exampleTitle="App Footer"
  exampleIconName="fas fa-shoe-prints"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90app%E2%80%90footer"
>
  <example-base-simple-options>
    <!-- Optionen für LuxAppFooterButtons -->
    <div class="lux-highlight-section" fxLayout="column">
      <div
        class="lux-mr-3 lux-ml-3"
        fxLayout="row"
        fxLayoutGap="5px"
        fxLayoutAlign="space-between"
        fxLayout.xs="column"
      >
        <h3>lux-app-footer-buttons</h3>
        <div fxLayout="row" fxLayoutGap="5px">
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="fas fa-plus"
            luxColor="primary"
            [luxRaised]="true"
            [luxRounded]="true"
            (luxClicked)="addFooterButton()"
            luxTagId="btn-add"
          >
          </lux-button>
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-delete-1"
            luxColor="warn"
            [luxRaised]="true"
            [luxRounded]="true"
            (luxClicked)="removeFooterButton()"
            luxTagId="btn-remove"
            [luxDisabled]="buttonService.buttonInfos.length === 0"
          >
          </lux-button>
        </div>
      </div>
      <lux-accordion class="lux-mr-3 lux-ml-3 lux-mb-3" [luxMulti]="false" luxMode="flat">
        <lux-panel *ngFor="let buttonInfo of buttonService.buttonInfos">
          <lux-panel-header-title> Button "{{ buttonInfo.label }}" </lux-panel-header-title>
          <lux-panel-content>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_cmd"
              luxLabel="cmd"
              luxHint="Diese Property ist eine ID, anhand derer der einzelne Button identifiziert werden kann."
              [(luxValue)]="buttonInfo.cmd"
            >
            </lux-input>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_label"
              luxLabel="label"
              luxHint="Mit dieser Property wird das Label des Footer-Buttons festgelegt."
              [(luxValue)]="buttonInfo.label"
            >
            </lux-input>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_prio"
              luxLabel="prio"
              luxType="number"
              [luxNumberAlignLeft]="true"
              luxHint="Mit dieser Property wird die Priorität des Footer-Buttons festgelegt."
              [(luxValue)]="buttonInfo.prio"
            >
            </lux-input>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_tooltip"
              luxLabel="Tooltip"
              luxHint="Mit dieser Property wird der Tooltip des Footer-Buttons festgelegt."
              [(luxValue)]="buttonInfo.tooltip"
            >
            </lux-input>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_iconName"
              luxLabel="iconName"
              luxHint="Diese Property ermöglicht es, ein Icon für den Footer-Button einzurichten."
              [(luxValue)]="buttonInfo.iconName"
            >
            </lux-input>
            <lux-select
              class="lux-highlight-section"
              luxLabel="color"
              [(luxSelected)]="buttonInfo.color"
              luxHint="Mithilfe der Property wird die Farbpalette des Buttons definiert."
              [luxOptions]="['primary', 'warn', 'accent']"
            >
            </lux-select>
            <lux-toggle
              class="lux-highlight-section"
              luxLabel="raised"
              luxHint="Dieser Flag hebt den Button hervor."
              [(luxChecked)]="buttonInfo.raised"
              [luxNoTopLabel]="true"
            >
            </lux-toggle>
            <lux-toggle
            class="lux-highlight-section"
            luxLabel="flat"
            luxHint="Dieser Flag hebt den Button hervor."
            [(luxChecked)]="buttonInfo.flat"
            [luxNoTopLabel]="true"
          >
          </lux-toggle>
            <lux-toggle
              class="lux-highlight-section"
              luxLabel="disabled"
              luxHint="Mit diesem Flag kann der Button deaktiviert werden."
              [(luxChecked)]="buttonInfo.disabled"
              [luxNoTopLabel]="true"
            >
            </lux-toggle>
            <lux-toggle
              class="lux-highlight-section"
              luxLabel="hidden"
              luxHint="Mit diesem Flag kann der Button ausgeblendet werden."
              [(luxChecked)]="buttonInfo.hidden"
              [luxNoTopLabel]="true"
            >
            </lux-toggle>
            <div class="lux-highlight-section" fxLayout="column">
              <lux-toggle luxLabel="alwaysVisible" [(luxChecked)]="buttonInfo.alwaysVisible" [luxNoTopLabel]="true">
                <lux-form-hint>
                  Dieses Flag stellt sicher, das dieser Button immer außerhalb des Menus dargestellt wird, solange der
                  Platz noch ausreicht.<br />Andere Buttons, die dieses Flag nicht gesetzt haben, werden dann zuerst
                  ausgeblendet.
                </lux-form-hint>
              </lux-toggle>
            </div>
          </lux-panel-content>
        </lux-panel>
      </lux-accordion>
    </div>
    <!-- Optionen für LuxAppFooterLinks -->
    <div class="lux-highlight-section" fxLayout="column">
      <div
        class="lux-mr-3 lux-ml-3"
        fxLayout="row"
        fxLayoutGap="5px"
        fxLayoutAlign="space-between"
        fxLayout.xs="column"
      >
        <h3>lux-app-footer-links</h3>
        <div fxLayout="row" fxLayoutGap="5px">
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="fas fa-plus"
            luxColor="primary"
            [luxRaised]="true"
            [luxRounded]="true"
            luxTagId="link-add"
            (luxClicked)="addFooterLink()"
          >
          </lux-button>
          <lux-button
            class="lux-mt-2 lux-mb-2"
            luxIconName="lux-interface-delete-1"
            luxColor="warn"
            [luxRaised]="true"
            [luxRounded]="true"
            luxTagId="link-remove"
            (luxClicked)="removeFooterLink()"
            [luxDisabled]="linkService.linkInfos.length === 0"
          >
          </lux-button>
        </div>
      </div>
      <lux-accordion class="lux-mr-3 lux-ml-3 lux-mb-3" [luxMulti]="false" luxMode="flat">
        <lux-panel *ngFor="let linkInfo of linkService.linkInfos">
          <lux-panel-header-title> Link "{{ linkInfo.label }}" </lux-panel-header-title>
          <lux-panel-content>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_label"
              luxLabel="label"
              luxHint="Mit dieser Property wird das Label des Link-Buttons festgelegt."
              [(luxValue)]="linkInfo.label"
            >
            </lux-input>
            <lux-input
              class="lux-highlight-section"
              luxName="app-footer_path"
              luxLabel="path"
              luxHint="Mit dieser Property wird der Pfad des Links bestimmt."
              [(luxValue)]="linkInfo.path"
            >
            </lux-input>
            <lux-toggle
              class="lux-highlight-section"
              luxLabel="alwaysVisible"
              [(luxChecked)]="linkInfo.alwaysVisible"
              [luxNoTopLabel]="true"
            >
              <lux-form-hint>
                Dieses Flag stellt sicher, das dieser Link immer außerhalb des Menus dargestellt wird, solange der Platz
                noch ausreicht.<br />Andere Links, die dieses Flag nicht gesetzt haben, werden dann zuerst ausgeblendet.
              </lux-form-hint>
            </lux-toggle>
            <lux-toggle
              class="lux-highlight-section"
              luxLabel="blank"
              luxHint="Dieser Flag aktiviert das Öffnen des Links in einem neuen Tab (wenn externer Link)."
              [(luxChecked)]="linkInfo.blank"
              *ngIf="linkInfo.path.startsWith('http')"
              [luxNoTopLabel]="true"
            >
            </lux-toggle>
          </lux-panel-content>
        </lux-panel>
      </lux-accordion>
    </div>
  </example-base-simple-options>
</example-base-structure>
