.lux-app-header-action-nav {
  margin-right: 8px;
}

.lux-app-header-action-nav-mobile {
  margin-right: 4px;
}
::ng-deep .lux-app-header .lux-menu-trigger button  {
    display: inline-block;
    .mat-button-wrapper {
      height: 40px !important;
    }
  }
