<example-base-structure
  exampleTitle="Input"
  exampleIconName="fas fa-text-width"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90input"
>
  <example-base-content>
    <div fxLayout="column">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-input
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [(luxValue)]="value"
        [luxAutocomplete]="autocomplete"
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxMaxLength]="maxLength"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators"
        [luxType]="inputType"
        [luxNumberAlignLeft]="numberLeft"
        [luxHideCounterLabel]="hideCounterLabel"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
      >
        <lux-input-prefix *ngIf="showPrefix">
          <lux-icon [luxIconName]="'fas fa-cogs'"></lux-icon>&nbsp;
        </lux-input-prefix>
        <lux-input-suffix *ngIf="showSuffix"> .00 EUR </lux-input-suffix>
      </lux-input>
      <div
        class="lux-highlight-section"
        fxLayout="row"
        fxLayoutGap="5px"
        *ngIf="value !== null && value !== undefined"
      >
        <span fxFlex="0 0 auto">Wert:</span>
        <span fxFlex="auto">{{ value | json }}</span>
      </div>
    </div>
    <div fxLayout="column" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-input
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxAutocomplete]="autocomplete"
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxMaxLength]="maxLength"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlBinding]="controlBinding"
        [luxType]="inputType"
        [luxNumberAlignLeft]="numberLeft"
        [luxHideCounterLabel]="hideCounterLabel"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
      >

        <lux-input-prefix *ngIf="showPrefix">
          <lux-icon [luxIconName]="'fas fa-cogs'"></lux-icon>&nbsp;
        </lux-input-prefix>
        <lux-input-suffix *ngIf="showSuffix"> .00 EUR </lux-input-suffix>
      </lux-input>
      <div fxLayout="column" class="lux-highlight-section">
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <span fxFlex="35px">Wert:</span>
          <span fxFlex="auto">{{ form.get(controlBinding).value | json }}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <div fxFlex="30" fxLayout="row wrap" fxLayoutGap="5px">
            <span fxFlex="35px">Valid:</span>
            <span fxFlex="30px">{{ form.valid }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Dirty:</span>
            <span fxFlex="30px">{{ form.dirty }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Touched:</span>
            <span fxFlex="30px">{{ form.touched }}</span>
          </div>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="lux-highlight-section"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-input
        luxLabel="luxHint"
        luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
        [(luxValue)]="hint"
      >
      </lux-input>
      <lux-toggle
        luxLabel="luxHintShowOnlyOnFocus"
        luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
        [(luxChecked)]="hintShowOnlyOnFocus"
      ></lux-toggle>
    </div>
    <lux-input
      class="lux-highlight-section"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Erlaubt es, die Component zu deaktivieren."
    >
    </lux-toggle>
    <div class="lux-highlight-section" fxLayout="column">
      <div fxLayout="row wrap">
        <lux-button
          luxLabel="Enable"
          (luxClicked)="form.get(controlBinding).enable()"
          [luxDisabled]="!form.get(controlBinding).disabled"
        ></lux-button>
        <lux-button
          luxLabel="Disable"
          (luxClicked)="form.get(controlBinding).disable()"
          [luxDisabled]="form.get(controlBinding).disabled"
        ></lux-button>
      </div>
      <div class="lux-hint lux-p-2">Erlaubt es, die Component über das Formular zu deaktivieren.</div>
    </div>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxRequired"
      (luxCheckedChange)="changeRequired($event)"
    >
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer
        Reactive-Form sind.<br />
        <b
          >In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das
          Form-Control gesetzt.</b
        >
      </lux-form-hint>
    </lux-toggle>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-select
        luxLabel="luxType"
        luxHint="Über diese Property kann der erwartete Eingabewert für das Feld definiert werden."
        [(luxSelected)]="inputType"
        [luxOptions]="typeOptions"
      >
      </lux-select>
      <lux-input
        luxLabel="luxMaxLength"
        luxHint="Über diese Property kann die maximale Länge angegeben werden. Vorsicht funktioniert nicht für den Type 'number'"
        luxType="number"
        [luxDisabled]="inputType === 'number'"
        luxNumberAlignLeft="true"
        [(luxValue)]="maxLength"
      >
      </lux-input>
      <lux-toggle
        luxLabel="luxNumberAlignLeft"
        luxHint="Mithilfe dieses Flags kann eingestellt werden, ob Zahlen links- oder rechtsbündig dargestellt werden."
        [(luxChecked)]="numberLeft"
        *ngIf="inputType === 'number'"
      >
      </lux-toggle>
      <lux-toggle
        luxLabel="luxHideCounterLabel"
        luxHint="Mithilfe dieses Flags kann eingestellt werden, ob das Counterlabel ausgeblendet werden soll."
        [(luxChecked)]="hideCounterLabel"
        *ngIf="inputType === 'text' && maxLength"
      >
      </lux-toggle>
    </div>
    <lux-select
      class="lux-highlight-section"
      luxLabel="luxAutocomplete"
      luxHint="Dieser Flag schaltet die Einblendung früherer Eingabungen für dieses Feld durch den Browser ein."
      [luxOptions]="autocompleteOptions"
      [(luxSelected)]="autocomplete"
    >
    </lux-select>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-toggle
        [(luxChecked)]="showPrefix"
        luxLabel="Präfix einblenden"
        luxHint="Blendet einen 'lux-input-prefix' ein."
      >
      </lux-toggle>
      <lux-toggle
        [(luxChecked)]="showSuffix"
        luxLabel="Suffix einblenden"
        luxHint="Blendet einen 'lux-input-suffix' ein."
      >
      </lux-toggle>
    </div>
  </example-base-simple-options>
  <example-base-advanced-options>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-toggle
        luxLabel="luxErrorMessage verwenden"
        luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
        [(luxChecked)]="useErrorMessage"
      >
      </lux-toggle>
      <lux-input
        luxLabel="luxErrorMessage"
        luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
        [(luxValue)]="errorMessage"
        *ngIf="useErrorMessage"
      >
      </lux-input>
      <pre class="lux-label" *ngIf="!useErrorMessage">{{ errorCallbackString }}</pre>
    </div>
    <lux-select
      class="lux-highlight-section"
      [luxOptions]="validatorOptions"
      luxOptionLabelProp="label"
      [luxMultiple]="true"
      [luxPickValue]="pickValidatorValueFn"
      luxLabel="luxControlValidators"
      [(luxSelected)]="controlValidators"
    >
      <lux-form-hint>
        Diese Property ermöglicht es einer Component die <b>nicht in einer Reactive-Form</b> ist, auf einfache Art und
        Weise trotzdem Validatoren zu übergeben.<br />
        Diese Property funktioniert nicht für Components in Reactive-Forms, da diese ihre Validatoren über die
        entsprechende FormControl setzen.
      </lux-form-hint>
    </lux-select>
  </example-base-advanced-options>
</example-base-structure>
