.container {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  max-width: 1000px;
  box-sizing: border-box;
}

.message-box {
  border: 2px solid var(--lux-theme-primary-color);
  border-radius: 4px;
  background-color: var(--lux-theme-primary-50);
  background: var(--lux-theme-app-gradient);
  padding: 12px 24px;
  margin: 32px 0;
}

.form-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  row-gap: 2em;
}
.grid-col-span-2 {
  grid-column: span 2;
}

@media (max-width: 599px) {
  .form-grid-container {
    grid-template-columns: 1fr;
    row-gap: 1em;
  }
  .grid-col-span-2 {
    grid-column: 1/-1;
  }
}
