<lux-accordion luxMode="flat" [luxMulti]="false">
  <lux-panel>
    <lux-panel-header-title>
      luxUploadActionConfig
    </lux-panel-header-title>
    <lux-panel-content class="lux-simple-form column">
        <lux-input
          luxLabel="iconName"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Hochladen von Dateien genutzt wird."
          [(luxValue)]="fileExample.uploadActionConfig.iconName"
        >
        </lux-input>
        <lux-input
          luxLabel="iconNameHeader"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Hochladen von Dateien im Header genutzt wird."
          [(luxValue)]="fileExample.uploadActionConfig.iconNameHeader"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-input>
        <lux-input
          luxLabel="label"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Hochladen von Dateien genutzt wird."
          [(luxValue)]="fileExample.uploadActionConfig.label"
        >
        </lux-input>
        <lux-input
          luxLabel="labelHeader"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Hochladen von Dateien im Header genutzt wird."
          [(luxValue)]="fileExample.uploadActionConfig.labelHeader"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-input>
        <lux-toggle
          luxLabel="hidden"
          luxHint="Diese Property bestimmt ob etwaige Upload-Buttons angezeigt werden."
          [(luxChecked)]="fileExample.uploadActionConfig.hidden"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="hiddenHeader"
          luxHint="Diese Property bestimmt ob der Upload-Button für den Header angezeigt wird."
          [(luxChecked)]="fileExample.uploadActionConfig.hiddenHeader"
          *ngIf="showHeaderConfigProperties"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabled"
          luxHint="Diese Property bestimmt ob Upload-Buttons deaktiviert sind oder nicht."
          [(luxChecked)]="fileExample.uploadActionConfig.disabled"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabledHeader"
          luxHint="Diese Property bestimmt ob der Upload-Button für den Header deaktiviert ist oder nicht."
          [(luxChecked)]="fileExample.uploadActionConfig.disabledHeader"
          [luxNoTopLabel]="true"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-toggle> 
    </lux-panel-content>
  </lux-panel>
  <lux-panel>
    <lux-panel-header-title>
      luxDeleteActionConfig
    </lux-panel-header-title>
    <lux-panel-content>
      <div class="lux-simple-form column">
        <lux-input
          luxLabel="iconName"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Löschen von Dateien genutzt wird."
          [(luxValue)]="fileExample.deleteActionConfig.iconName"
        >
        </lux-input>
        <lux-input
          luxLabel="iconNameHeader"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Löschen von Dateien im Header genutzt wird."
          [(luxValue)]="fileExample.deleteActionConfig.iconNameHeader"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-input>
        <lux-input
          luxLabel="label"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Löschen von Dateien genutzt wird."
          [(luxValue)]="fileExample.deleteActionConfig.label"
        >
        </lux-input>
        <lux-input
          luxLabel="labelHeader"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Löschen von Dateien im Header genutzt wird."
          [(luxValue)]="fileExample.deleteActionConfig.labelHeader"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-input>
        <lux-toggle
          luxLabel="hidden"
          luxHint="Diese Property bestimmt ob etwaige Delete-Buttons angezeigt werden."
          [(luxChecked)]="fileExample.deleteActionConfig.hidden"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="hiddenHeader"
          luxHint="Diese Property bestimmt ob der Delete-Button im Header angezeigt wird."
          [(luxChecked)]="fileExample.deleteActionConfig.hiddenHeader"
          [luxNoTopLabel]="true"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabled"
          luxHint="Diese Property bestimmt ob Delete-Buttons deaktiviert sind oder nicht."
          [luxNoTopLabel]="true"
          [(luxChecked)]="fileExample.deleteActionConfig.disabled"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabledHeader"
          luxHint="Diese Property bestimmt ob der Delete-Button im Header deaktiviert wird oder nicht."
          [(luxChecked)]="fileExample.deleteActionConfig.disabledHeader"
          [luxNoTopLabel]="true"
          *ngIf="showHeaderConfigProperties"
        >
        </lux-toggle>
      </div>
    </lux-panel-content>
  </lux-panel>
  <lux-panel>
    <lux-panel-header-title>
      luxViewActionConfig
    </lux-panel-header-title>
    <lux-panel-content>
      <div class="lux-simple-form column">
        <lux-input
          luxLabel="iconName"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Anzeigen von Dateien genutzt wird."
          [(luxValue)]="fileExample.viewActionConfig.iconName"
        >
        </lux-input>
        <lux-input
          luxLabel="label"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Anzeigen von Dateien genutzt wird."
          [(luxValue)]="fileExample.viewActionConfig.label"
        >
        </lux-input>
        <lux-toggle
          luxLabel="hidden"
          luxHint="Diese Property bestimmt ob etwaige View-Buttons angezeigt werden."
          [(luxChecked)]="fileExample.viewActionConfig.hidden"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabled"
          luxHint="Diese Property bestimmt ob View-Buttons deaktiviert sind oder nicht."
          [(luxChecked)]="fileExample.viewActionConfig.disabled"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
      </div>
    </lux-panel-content>
  </lux-panel>
  <lux-panel>
    <lux-panel-header-title>
      luxDownloadActionConfig
    </lux-panel-header-title>
    <lux-panel-content>
      <div class="lux-simple-form column">
        <lux-input
          luxLabel="iconName"
          luxHint="Diese Eigenschaft legt das Icon fest, welches für das Downloaden von Dateien genutzt wird."
          [(luxValue)]="fileExample.downloadActionConfig.iconName"
        >
        </lux-input>
        <lux-input
          luxLabel="label"
          luxHint="Diese Eigenschaft legt das Label fest, welches für das Downloaden von Dateien genutzt wird."
          [(luxValue)]="fileExample.downloadActionConfig.label"
        >
        </lux-input>
        <lux-toggle
          luxLabel="hidden"
          luxHint="Diese Property bestimmt ob etwaige Download-Buttons angezeigt werden."
          [(luxChecked)]="fileExample.downloadActionConfig.hidden"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
        <lux-toggle
          luxLabel="disabled"
          luxHint="Diese Property bestimmt ob Download-Buttons deaktiviert sind oder nicht."
          [(luxChecked)]="fileExample.downloadActionConfig.disabled"
          [luxNoTopLabel]="true"
        >
        </lux-toggle>
      </div>
    </lux-panel-content>
  </lux-panel>
</lux-accordion>
