<lux-dialog-structure>
  <lux-dialog-title i18n="@@luxc.file-preview.filter-load-dialog.title">Filter</lux-dialog-title>
  <lux-dialog-content fxLayout="column" class="filter-content">
    <lux-card *ngFor="let filter of filterArr; let i = index">
      <lux-card-content>
        {{ filter.name }}
      </lux-card-content>
      <lux-card-actions>
        <lux-button
          luxLabel="Laden"
          i18n-luxLabel="@@luxc.file-preview.filter-load-dialog.load.lbl"
          [luxRaised]="true"
          [luxColor]="luxDialogRef.data.luxButtonDialogLoad"
          (luxClicked)="luxDialogRef.closeDialog(filter.name)"
        ></lux-button>
        <lux-button
          luxLabel="Löschen"
          i18n-luxLabel="@@luxc.file-preview.filter-load-dialog.delete.lbl"
          [luxRaised]="false"
          [luxColor]="luxDialogRef.data.luxButtonDialogDelete"
          (luxClicked)="onDelete(i)"
        ></lux-button>
      </lux-card-actions>
    </lux-card>

    <div *ngIf="filterArr.length === 0">Keine Filter vorhanden.</div>
  </lux-dialog-content>
  <lux-dialog-actions fxLayout="row" fxLayoutGap="12px grid">
    <lux-button
      luxLabel="Schließen"
      i18n-luxLabel="@@luxc.file-preview.filter-load-dialog.close.lbl"
      [luxColor]="luxDialogRef.data.luxButtonDialogClose"
      [luxRaised]="true"
      (luxClicked)="luxDialogRef.closeDialog(false)"
    ></lux-button>
  </lux-dialog-actions>
</lux-dialog-structure>
