<lux-form-control-wrapper
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [formGroup]="formGroup"
  [luxLabelLongFormat]="luxLabelLongFormat"
  luxTagId="luxLookupAutocompleteWrapper"
>
  <div class="lux-input-row-authentic">
    <input
      type="text"
      [placeholder]="luxPlaceholder"
      matInput
      [matAutocomplete]="auto"
      (click)="onClick($event)"
      autocomplete="off"
      luxTagIdHandler
      [luxTagId]="luxTagId"
      [required]="luxRequired"
      [readonly]="luxReadonly"
      [formControl]="formControl"
      [errorStateMatcher]="stateMatcher"
      (blur)="luxBlur.emit($event)"
      (focus)="luxFocus.emit($event)"
      (focusin)="luxFocusIn.emit($event)"
      (focusout)="luxFocusOut.emit($event)"
      [id]="uid"
      [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
      #autoCompleteInput
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      [class]="!luxDense ? 'lux-autocomplete-panel-ac' : 'lux-autocomplete-panel-dense-ac'"
      [displayWith]="displayFn.bind(this)"
      [disableRipple]="true"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngIf="entriesCount !== 1 && entriesCount > luxMaximumDisplayed && latestSearchValue"
        [disabled]="true"
        class="information-option"
      >
        <div class="lux-flex">
          <div>{{ entriesCount - luxMaximumDisplayed }} Treffer werden nicht angezeigt. <br />Bitte verfeinern Sie Ihre Suche.</div>
        </div>
      </mat-option>
      <ng-container *ngFor="let entry of filtered">
        <mat-option
          [value]="entry"
          [ngClass]="{ invalid: entry.isUngueltig}"
          [ngStyle]="getStyles(entry.isUngueltig)"
          [disabled]="entry.isUngueltig && disableUngueltige()"
          *ngIf="!entry.isUngueltig || (entry.isUngueltig && showUngueltige())"
        >
          <span>{{ getLabel(entry) }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </div>
</lux-form-control-wrapper>
