<div fxLayout="column">
  <!-- Top-Bar -->
  <div
    fxLayout="row"
    class="lux-app-header-top-bar"
    fxFlex="100"
  >
    <!-- Brand-Logo -->
    <div  fxFlex="33" fxLayoutAlign="start center">
      <lux-image 
        [luxImageSrc]="luxBrandLogoSrc" 
        luxImageHeight="3em"
        class="brand-logo"
        (click)="onClicked($event)"
      ></lux-image>
    </div>
    <!-- App-Logo -->
    <div  fxFlex="fill" fxLayoutAlign="center center" class="app-logo">
      <lux-button
        [luxIconName]="luxAppIconName"
        luxColor="primary"
        (click)="onClicked($event)"
      ></lux-button>
    </div>
    <!-- User-Menu (rechtsbündig) -->
    <div 
      fxLayout="row" 
      fxFlex="0 0 33%" 
      fxLayoutAlign="end center" 
      class="user-menu lux-header-user" 
      [luxAriaLabel]="luxAriaUserMenuButtonLabel" 
      *ngIf="userMenu"> 

      <!-- Greeting -->
      <div *ngIf="luxUserName" fxFlex="0 0 75%" fxLayoutAlign="end center">
        <span class="lux-nowrap lux-header-username" [fxShow.lt-md]="false">
          {{ greetingLabel }} {{ luxUserName }}
        </span>
        <span
          class="lux-nowrap lux-header-user-short"
          ngClass.gt-sm="lux-display-none"
          ngClass.lt-md="lux-display-block"
        >
          <span>{{ userNameShort }}</span>
        </span>
      </div>
      <!-- User-Menu -->
      <lux-menu
        class="lux-header-menu"
        ngClass.lt-md="lux-header-menu-mobile"
        [luxDisplayExtended]="false"
        (luxMenuClosed)="onMenuClosed()"
        luxClassName="lux-header-right-nav"
        luxTagId="app_header_menu"
      >
        <ng-container *ngFor="let menuItem of userMenu.menuItemComponents">
          <lux-menu-item
            [luxLabel]="menuItem.luxLabel"
            [luxIconName]="menuItem.luxIconName"
            [luxTagId]="menuItem.luxLabel"
            [luxAlwaysVisible]="menuItem.luxAlwaysVisible"
            [luxDisabled]="menuItem.luxDisabled"
            [luxRaised]="menuItem.luxRaised"
            [luxColor]="menuItem.luxColor"
            [luxRounded]="menuItem.luxRounded"
            (luxClicked)="menuItem.luxClicked.emit($event)"
          >
          </lux-menu-item>
        </ng-container>
        <lux-menu-trigger>
          <button
            mat-button
            fxLayout="row"
            fxLayoutAlign="end center"
            class="user-menu-trigger"
            luxAriaLabel="Benutzermenü {{ luxUserName }}"
            i18n-luxAriaLabel="@@luxc.app-header.user.menu.trigger"
            aria-haspopup="true"
            #customTrigger
          >
            <lux-icon
              class="lux-icon-menu-0"
              luxIconName="person_outline"
              [fxShow.xs]="!luxUserName"
              [fxShow.sm]="!luxUserName"
            >
            </lux-icon>
            <lux-icon
              class="lux-icon-menu-1"
              luxIconName="keyboard_arrow_down"
              luxPadding="0"
            >
            </lux-icon>
          </button>
        </lux-menu-trigger>
      </lux-menu>
    <!-- </div> -->
  </div>

  </div>
  <!-- Nav-Bar -->
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="lux-app-header-nav-bar"
    fxFlex="100"
  >
  <div class="lux-app-title">{{ luxAppTitle }}</div>
 
  <div fxFlex="auto" fxLayoutAlign="end center" class="lux-app-nav-menu">
    <ng-container [ngTemplateOutlet]="navMenu.templateRef" *ngIf="navMenu"></ng-container>
  </div>

</div>

</div>