<div fxLayout="column">
  <!-- Top-Bar -->
  <div
    fxLayout="row"
    class="lux-app-header-top-bar"
    ngClass.lt-md="lux-mobile"
    fxFlex="100"
  >
    <!-- Brand-Logo -->
    <div fxFlex.gt-sm="33" fxFlex.lt-md="50" fxLayoutAlign="start center" fxLayoutAlign.lt-md="space-between center">
      <lux-image 
        [luxImageSrc]="luxBrandLogoSrc" 
        luxImageHeight="3em"
        class="brand-logo"
        (click)="onClicked($event)"
        *ngIf="luxBrandLogoSrc"
      ></lux-image>
    </div>
    <!-- App-Logo -->
    <div fxFlex="fill" fxLayoutAlign="center center" class="app-logo" *ngIf="!mobileView">
      <lux-button
        [luxIconName]="luxAppIconName"
        luxColor="primary"
        (click)="onClicked($event)"
      ></lux-button>
    </div>
    <!-- User-Menu -->
    <div 
      fxLayout="row" 
      fxFlex="0 0 33%" 
      fxFlex.lt-md="0 0 50"
      fxLayoutAlign="end center" 
      class="user-menu lux-header-user" 
      [luxAriaLabel]="luxAriaUserMenuButtonLabel" 
      *ngIf="userMenu"> 

      <!-- Greeting -->
      <div *ngIf="luxUserName" fxFlex="0 0 75%" fxLayoutAlign="end center" [fxShow.lt-md]="false">
        <span class="lux-nowrap lux-header-username">
          {{ greetingLabel }} {{ luxUserName }}
        </span>
      </div>
      <!-- User-Menu -->
      <lux-menu
        class="lux-user-menu"
        ngClass.lt-md="lux-user-menu-mobile"
        [luxDisplayExtended]="false"
        (luxMenuClosed)="onMenuClosed()"
        luxClassName="lux-header-user-menu"
        luxTagId="app_header_user_menu"
      >
        <ng-container *ngFor="let menuItem of userMenu.menuItemComponents">
          <lux-menu-item
            [luxLabel]="menuItem.luxLabel"
            [luxIconName]="menuItem.luxIconName"
            [luxTagId]="menuItem.luxLabel"
            [luxAlwaysVisible]="menuItem.luxAlwaysVisible"
            [luxDisabled]="menuItem.luxDisabled"
            [luxRaised]="menuItem.luxRaised"
            [luxColor]="menuItem.luxColor"
            [luxRounded]="menuItem.luxRounded"
            (luxClicked)="menuItem.luxClicked.emit($event)"
          >
          </lux-menu-item>
        </ng-container>
        <lux-menu-trigger>
          <button
            mat-button
            fxLayout="row"
            fxLayoutAlign="end center"
            class="user-menu-trigger"
            ngClass.lt-md="user-menu-trigger-mobile"
            luxAriaLabel="Benutzermenü {{ luxUserName }}"
            i18n-luxAriaLabel="@@luxc.app-header.user.menu.trigger"
            aria-haspopup="true"
            #customTrigger
          >
            <lux-icon
              class="lux-icon-menu-0"
              luxIconName="person_outline"
            >
            </lux-icon>
            <lux-icon
              class="lux-icon-menu-1"
              luxIconName="keyboard_arrow_down"
              luxPadding="0"
              [fxShow.lt-md]="false"
            >
            </lux-icon>
          </button>
        </lux-menu-trigger>
      </lux-menu>
    <!-- </div> -->
  </div>

  </div>
  <!-- Nav-Bar -->
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="lux-app-header-nav-bar"
    ngClass.lt-md="lux-mobile"
    fxFlex="100"
  >
    <div class="lux-app-title">{{ luxAppTitle }}</div>

    <div fxFlex="fill"  class="lux-app-nav-menu">
      <ng-content select="lux-app-header-next-nav-menu" *ngIf="navMenu"></ng-content>
    </div>

  </div>
  
</div>