/*
  Dieses Partial-SCSS dient der Verwaltung der Styles für Fokus, Hover und Selected für die LUX-Components und
  die ihnen zugrunde liegenden Material Components.
*/

$lux-hover-color: rgba(black, 0.20);
$lux-hover-color-non-transparent: #cfcfcf;
$lux-focused-color: rgba(mat-color($lux-primary, 300), 0.20);
$lux-selected-bg-color: rgba(mat-color($lux-primary, 300), 0.20);
$lux-selected-border-color: mat-color($lux-primary, A400);

@mixin lux-focused-mixin {
  outline-width: 0 !important;
  outline-style: unset;
  background-color: $lux-focused-color !important;
  border-radius: 4px;
}

@mixin lux-focused-round-pseudo-class-mixin {
  &:after {
    content: "";
    border: 1px solid $lux-selected-bg-color;
    background-color: $lux-selected-bg-color;
    display: block;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 15px;
    z-index: 1;
    position: absolute;
  }
}

@mixin lux-selectable-mixin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin lux-selected-mixin {
  background-color: $lux-selected-bg-color !important;
  position: relative;
  border-radius: 4px;

  &:after {
    content: '';
    left: 0;
    width: 6px;
    top: 0;
    bottom: 0;
    position: absolute;
    border-left: 6px solid $lux-selected-border-color;
    border-radius: 4px 0 0 4px;
  }
}

@mixin lux-hovered-mixin {
  background-color: $lux-hover-color !important;
  border-radius: 4px;
}

/** ########## Side-Nav ########## **/
lux-side-nav {
  lux-link,
  .lux-side-nav-item {
    @include lux-selectable-mixin;

    &.lux-side-nav-item-selected {
      @include lux-selected-mixin;
    }

    button {
      .mat-button-focus-overlay {
        display: none;
      }

      &:focus {
        @include lux-focused-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }
}

/** ########## List ########## **/
lux-list {
  border: 4px solid transparent;

  &:focus {
    outline-width: 0;
    border: 4px solid $lux-focused-color !important;
  }

  lux-list-item {
    &:focus {
      outline-width: 0;
      mat-card {
        @include lux-focused-mixin;
      }
    }

    lux-card {
      &.lux-list-item-selected {
        mat-card {
          @include lux-selected-mixin;
        }
      }

      mat-card {
        @include lux-selectable-mixin;

        &:hover {
          @include lux-hovered-mixin;
        }
      }
    }
  }
}

/** ########## Form-Control ########## **/
lux-form-control {
  .lux-form-control:not(.lux-form-control-disabled).lux-focused {
    .lux-form-control-label {
      > * {
        color: $lux-primary-color;
      }
    }

    .cdk-focused .mat-radio-container,
    .mat-checkbox-inner-container,
    .mat-slide-toggle-thumb {
      position: relative;
      @include lux-focused-round-pseudo-class-mixin;
    }

    .lux-form-control-container:after {
      content: '';
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: 0;
      right: 0;
      position: absolute;
      height: 2px;
      border-bottom: 2px solid $lux-selected-border-color;
    }
  }
}

/** ########## Datepicker ########## **/
lux-datepicker {
  mat-datepicker-toggle {
    button:focus {
      @include lux-focused-round-pseudo-class-mixin;
    }

    .mat-button-focus-overlay {
      display: none;
    }
  }
}

// Class, welche das aufgeklappte Panel referenziert
.lux-datepicker-panel {
  .mat-calendar-header {
    button {
      .mat-button-focus-overlay {
        display: none;
      }

      &:focus {
        @include lux-focused-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }

  .mat-calendar-content {
    td.mat-calendar-body-cell {
      &:hover > div {
        @include lux-hovered-mixin;
        border-radius: 999px;
      }

      &.mat-calendar-body-active > div {
        @include lux-focused-mixin;
        border-radius: 999px;
      }
    }
  }

}

/** ########## Table ########## **/
lux-table {

  tr:hover {
    > td,
    > th {
      @include lux-hovered-mixin;
      // Wir nutzen hier die hover-Farbe ohne Alpha-Wert, da bei Sticky-Columns sonst unschöne Überlagerungen entstehen können
      background-color: $lux-hover-color-non-transparent !important;
      border-radius: 0;
    }
  }

  tr:focus {
    background-color: $lux-hover-color-non-transparent !important;
    outline: none;
  }

  .lux-row-selected:focus {
    background-color: $lux-hover-color-non-transparent !important;
    outline: none;
  }

  th button.mat-sort-header-button:focus {
    @include lux-focused-mixin;
  }
}

/** ########## Select ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-select-panel {
  mat-option {
    border-left: 0;
    @include lux-selectable-mixin;

    &.mat-selected {
      @include lux-selected-mixin;
    }

    &:focus {
      @include lux-focused-mixin;
    }

    &.mat-active,
    &:hover {
      @include lux-hovered-mixin;
    }
  }
}

/** ########## Button ########## **/
lux-button {
  button:not([disabled]) {
    .mat-button-focus-overlay {
      display: none;
    }

    &:not(.mat-fab):not(.mat-raised-button) {
      &:focus {
        background-color: $lux-focused-color !important;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }

    &.mat-fab:focus,
    &.mat-raised-button:focus {
      background-color: $lux-focused-color !important;

      &.mat-accent {
        background-color: lighten(mat-color($lux-accent), 15) !important;
      }

      &.mat-warn {
        background-color: lighten(mat-color($lux-warn), 15) !important;
      }

      &.mat-primary {
        background-color: lighten(mat-color($lux-primary), 15) !important;
      }
    }
  }
}

/** ########## Autocomplete ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-autocomplete-panel {
  mat-option {
    border-left: 0;
    @include lux-selectable-mixin;

    &:focus {
      @include lux-focused-mixin;
    }

    &.mat-active,
    &:hover {
      @include lux-hovered-mixin;
    }
  }
}

/** ########## Tabs ########## **/
lux-tabs {
  mat-ink-bar {
    background-color: $lux-selected-border-color !important;
  }

  .mat-tab-label {
    &:focus {
      @include lux-focused-mixin;
    }
  }
}

/** ########## Stepper ########## **/
lux-stepper {
  mat-step-header:hover {
    @include lux-hovered-mixin;
  }

  mat-step-header:focus,
  mat-step-header[aria-selected="true"] {
    @include lux-focused-mixin;
  }
}

/** ########## Tile ########## **/
lux-tile {
  mat-card {
    &:focus {
      @include lux-focused-mixin;
    }
  }
}

/** ########## Panel ########## **/
lux-panel {
  mat-expansion-panel-header {
    &:focus {
      @include lux-focused-mixin;
    }

    &:hover {
      @include lux-hovered-mixin;
    }
  }
}

/** ########## Master-Detail ########## **/
lux-master-detail {
  lux-master-header {
    .lux-master-header-collapse {
      button.lux-button {
        // Wir benötigen hier die spezielle CSS-Abfrage um die für die Buttons zu überschreiben
        // Wir nutzen $lux-hover-color, weil sich die normale lux-focus-color hier nicht genug abhebt
        &:not(.mat-fab):not(.mat-raised-button):focus {
          background-color: $lux-hover-color !important;
        }
      }
    }
  }
}

/** ########## File-List ########## **/
lux-file-list {
  .lux-file-list {
    border: 4px solid transparent;

    &:focus {
      outline-width: 0;
      border: 4px solid $lux-focused-color !important;
    }

    .lux-file-list-entry {
      border: 4px solid transparent;

      &:focus {
        outline-width: 0;
        border: 4px solid $lux-focused-color !important;
      }
    }

    mat-card {
      margin: 4px;
    }
  }
}

/** ########## Menu ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-menu-panel {
  .lux-menu-item {
    &:not([disabled="true"]) {
      &:focus {
        @include lux-focused-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }
}

/** ########## Dialog ########## **/
lux-dialog-structure {
  lux-dialog-title,
  lux-dialog-content {
    &:focus {
      @include lux-focused-mixin;
    }
  }
}

/** ########## Example-Root ########## **/
example-root {
  .example-base-components-list {

    mat-expansion-panel-header,
    .example-component-list-item {
      @include lux-selectable-mixin;

      &.example-component-list-item-selected {
        @include lux-selected-mixin;
      }

      &:focus {
        @include lux-focused-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }
}
