/*
  Dieses Partial-SCSS dient der Verwaltung der Farb-Paletten für die LUX-Components.
*/

$lux-palette_darkblue: (
  50 : #e7ebf0,
  100 : #c6d1dc,
  200 : #99aec2,
  300 : #708daa,
  400 : #527497,
  500 : #335c85,
  600 : #2e547d,
  700 : #274a72,
  800 : #204168,
  900 : #143055,
  A100 : #b5d5e8,
  A200 : #4d9dca,
  A400 : #0073b3,
  A700 : #00569a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lux-palette_accentgreen: (
  50 : #e6ebe3,
  100 : #c0ceb9,
  200 : #96ad8b,
  300 : #6c8c5c,
  400 : #4d7339,
  500 : #2d5a16,
  600 : #285213,
  700 : #224810,
  800 : #1c3f0c,
  900 : #112e06,
  A100 : #9ae288,
  A200 : #5cff35,
  A400 : #33ff02,
  A700 : #2de700,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lux-palette_darkred: (
  50 : #F6E3E2,
  100 : #e7b8b8,
  200 : #d88988,
  300 : #c85958,
  400 : #bc3635,
  500 : #b01211,
  600 : #a9100f,
  700 : #a00d0c,
  800 : #970a0a,
  900 : #870505,
  A100 : #eccaca,
  A200 : #ff8181,
  A400 : #ff4e4e,
  A700 : #ff3535,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$lux-primary: mat-palette($lux-palette_darkblue);
$lux-accent: mat-palette($lux-palette_accentgreen);
$lux-warn: mat-palette($lux-palette_darkred);

$lux-warn-color: map-get($lux-palette_darkred, 500);
$lux-primary-color: map-get($lux-palette_darkblue, 500);
$lux-accent-color: map-get($lux-palette_accentgreen, 500);
