/*
  Dieses Partial-SCSS dient der Verwaltung der Themekonstanten für die LUX-Components.
*/

@import 'luxpalette';

// Allgemein
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.65);
$dark-disabled-text: rgba(black, 0.40);
$dark-dividers: rgba(black, 0.20);
$dark-focused: rgba(black, 0.12);

$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.20);
$light-focused: rgba(white, 0.12);

$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

// App
$app-header-bg: #335c85;
$app-content-bg: #f0f0f2;
$app-footer-bg: #c6d1dc;
$app-data-bg: #ffffff;
$app-font-family: Roboto, Helvetica Neue, sans-serif;

// Fokus
$outline-color-bright: #ffffff;
$outline-color-dark: #000000;
$outline-width: 2px;
$outline-style: dotted;

// Hover
$lux-hover-color: #f2f2f2;
$lux-hover-color-for-dark-background: #335c85;

// Selektion
$lux-selected-border-color: map-get($lux-palette_darkblue, A400);
$lux-selected-bg-color: #e2e8ee;

// Hintergrundfarben (z.B. Badge oder Progress)
$componentBgColors: (
  "red": #b01211,
  "green": #3e8320,
  "purple": #9900B8,
  "blue": #00569a,
  "gray": $dark-secondary-text,
  "orange": #c75000,
  "brown": #783f04,
  "black": $dark-primary-text,
  "white": #ffffff
);

// Vordergrundfarben (z.B. Badge)
$componentFontColors: (
  black: #000000,
  white: #ffffff
);

// Farben für einen dunklen Hintergrund (z.B. Snackbar).
$colorsForDarkBg: (
  "red": #f17474,
  "green": #53b12b,
  "purple": #e561ff,
  "blue": #729eca,
  "gray": #c8c8c8,
  "orange": #ec9c1b,
  "brown": #eb7c05,
  "white": #ffffff
);
