<lux-form-control-wrapper
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [formGroup]="formGroup"
  [luxLabelLongFormat]="luxLabelLongFormat"
  luxTagId="luxLookupComboboxWrapper"
>
  <mat-select
    luxSelectOptionHeight
    [placeholder]="luxPlaceholder"
    [multiple]="luxMultiple"
    [required]="luxRequired"
    [formControl]="formControl"
    luxTagIdHandler
    [luxTagId]="luxTagId"
    [panelClass]="'lux-select-panel-ac'"
    [errorStateMatcher]="stateMatcher"
    [compareWith]="compareByKey"
    (focusin)="luxFocusIn.emit($event)"
    (focusout)="luxFocusOut.emit($event)"
    [id]="uid"
    [luxAriaDescribedby]="uid + '-error ' + uid + '-hint'"
    [attr.aria-invalid]="formControl.invalid"
    [attr.aria-required]="luxRequired"
  >
    <ng-container *ngIf='luxWithEmptyEntry && !luxMultiple'>
      <mat-option [value]="undefined" class="option-height"></mat-option>
    </ng-container>
    <ng-container *ngFor="let entry of displayedEntries">
      <mat-option
        class="option-height"
        [value]="entry"
        [ngClass]="{ invalid: entry.isUngueltig }"
        [ngStyle]="getStyles(entry.isUngueltig)"
        [disabled]="entry.isUngueltig && disableUngueltige()"
        *ngIf="!entry.isUngueltig || (entry.isUngueltig && showUngueltige())"
      >
        <span>{{ getLabel(entry) }}</span>
      </mat-option>
    </ng-container>
  </mat-select>
</lux-form-control-wrapper>

