<example-base-structure
  exampleTitle="Button"
  exampleIconName="fas fa-bullseye"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90button"
>
  <example-base-content>
    <div fxLayout="column" fxLayoutGap="24px">
      <div
        fxLayout="column"
        class="lux-app-data-bg lux-highlight-section"
        [ngStyle]="{ backgroundColor: backgroundColor }"
      >
        <h3 class="lux-highlight-section-label">Default</h3>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="grid 12px">
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors; let i = index"
              style="height: 60px"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button-default{{ i }}"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors; let i = index"
              style="height: 60px"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="false"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button-hover{{ i }}"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors; let i = index"
              style="height: 60px"
              [luxLabel]="iconName ? '' : '??'"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRounded]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button-focus{{ i }}"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="lux-hover-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Hover</h3>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="grid 12px">
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="false"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="iconName ? '' : '??'"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRounded]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="lux-selected-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Focus</h3>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="grid 12px">
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="label"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRaised]="false"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
          <div fxFlex="0 1 calc(33% - 12px)" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <lux-button
              *ngFor="let color of colors"
              [luxLabel]="iconName ? '' : '??'"
              [luxColor]="color.value"
              [luxIconName]="iconName"
              [luxRounded]="true"
              [luxIconAlignWithLabel]="align"
              [luxDisabled]="disabled"
              luxTagId="demo-button"
              (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
              (luxAuxClicked)="log(showOutputEvents, 'Aux-Button clicked', $event)"
            >
            </lux-button>
          </div>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="lux-highlight-section"
      [(luxValue)]="label"
      luxName="button_luxLabel"
      luxLabel="luxLabel"
      luxHint="Bestimmt den Text, der in dem Button angezeigt wird."
    ></lux-input>
    <lux-input
      luxName="button_luxIconName"
      class="lux-highlight-section"
      [(luxValue)]="iconName"
      luxLabel="luxIconName"
    >
      <lux-form-hint>
        Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
        <i>luxLabel</i> gesetzt ist).<br />
        Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
      </lux-form-hint>
    </lux-input>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Diese Property deaktiviert den Button."
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="align"
      luxLabel="luxIconAlignWithLabel"
      luxHint="Mithilfe dieser Property werden Icon und Schrift auf einer Baseline ausgerichtet."
      [luxDisabled]="!iconName"
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="Label Uppercase"
      [(luxChecked)]="config.labelConfiguration.allUppercase"
      (luxCheckedChange)="updateConfiguration()"
    >
      <lux-form-hint>
        Über den <i>LuxComponentsConfigService</i> kann für alle LuxButtons applikationsweit eine Uppercase-Darstellung
        forciert werden.
      </lux-form-hint>
    </lux-toggle>
    <lux-input
      luxName="button_background_Color"
      class="lux-highlight-section"
      [(luxValue)]="backgroundColor"
      luxLabel="Hintergrundfarbe"
    >
      <lux-form-hint>Kontrast zwischen Element und Hintergrund prüfen.</lux-form-hint>
    </lux-input>
  </example-base-simple-options>
</example-base-structure>
