<example-base-structure
  exampleTitle="Button"
  exampleIconName="fas fa-bullseye"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90button"
>
  <example-base-content [exampleCentered]="true">
    <lux-button
      [luxLabel]="label"
      [luxColor]="color"
      [luxIconName]="iconName"
      [luxRaised]="raised"
      [luxRounded]="round"
      [luxIconAlignWithLabel]="align"
      [luxDisabled]="disabled"
      luxTagId="demo-button"
      (luxClicked)="log(showOutputEvents, 'Button clicked', $event)"
    >
    </lux-button>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
    ></lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="example-highlight-config-option"
      [(luxValue)]="label"
      luxName="button_luxLabel"
      luxLabel="luxLabel"
      luxHint="Bestimmt den Text, der in dem Button angezeigt wird."
    ></lux-input>
    <lux-input luxName="button_luxIconName" class="example-highlight-config-option" [(luxValue)]="iconName" luxLabel="luxIconName">
      <lux-form-hint>
        Diese Property definiert das Icon, welches in dem Button (linksbündig, wenn zusätzlich auch noch
        <i>luxLabel</i> gesetzt ist).<br />
        Für Font-Awesome-Icons mit 'fa|fas|fab|far|fal' präfixen, Material-Icons ohne Präfix
      </lux-form-hint>
    </lux-input>
    <lux-select
      class="example-highlight-config-option"
      [(luxSelected)]="color"
      [luxOptions]="colors"
      luxLabel="luxColor"
      [luxPickValue]="pickValue"
      luxOptionLabelProp="label"
    >
      <lux-form-hint>
        Bestimmt die Farbe des Buttons.<br />
        Die möglichen Werte sind 'primary', 'warn', 'accent', 'default' / undefined.
      </lux-form-hint>
    </lux-select>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="raised"
      luxLabel="luxRaised"
      luxHint="Über diese Property kann der Button hervorgehoben dargestellt werden."
    >
    </lux-toggle>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="round"
      luxLabel="luxRounded"
      luxHint="Diese Property aktiviert eine runde Darstellung des Buttons."
    >
    </lux-toggle>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Diese Property deaktiviert den Button."
    >
    </lux-toggle>
  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-toggle
      class="example-highlight-config-option"
      [(luxChecked)]="align"
      luxLabel="luxIconAlignWithLabel"
      luxHint="Mithilfe dieser Property werden Icon und Schrift auf einer Baseline ausgerichtet."
      [luxDisabled]="!iconName"
    >
    </lux-toggle>
    <lux-toggle
      class="example-highlight-config-option"
      luxLabel="Label Uppercase"
      [(luxChecked)]="config.labelConfiguration.allUppercase"
      (luxCheckedChange)="updateConfiguration()"
    >
      <lux-form-hint>
        Über den <i>LuxComponentsConfigService</i> kann für alle LuxButtons applikationsweit eine Uppercase-Darstellung
        forciert werden.
      </lux-form-hint>
    </lux-toggle>
  </example-base-advanced-options>
</example-base-structure>
