<lux-form-control-wrapper
  *ngIf="formGroup"
  [luxFormComponent]="this"
  [formGroup]="formGroup"
  [luxNoLabels]="luxNoLabels"
  [luxNoBottomLabel]="luxNoBottomLabel"
  [luxNoTopLabel]="luxNoTopLabel"
  [luxLabelLongFormat]="luxLabelLongFormat"
  luxTagId="luxDatepickerWrapper"
  #datepickerFormControl
>
  <div class="lux-input-row-authentic">
    <input
      matInput
      luxTagIdHandler
      [luxTagId]="luxTagId"
      [matDatepicker]="datepicker"
      [min]="min"
      [max]="max"
      [matDatepickerFilter]="_luxCustomFilter"
      [placeholder]="luxPlaceholder"
      [required]="luxRequired"
      [readonly]="luxReadonly"
      [formControl]="formControl"
      [autocomplete]="luxAutocomplete"
      (blur)="luxBlur.emit($event)"
      (focus)="onFocus($event)"
      (focusin)="onFocusIn($event)"
      (focusout)="onFocusOut($event)"
      [id]="uid"
      [luxAriaDescribedby]="descripedBy()"
      #datepickerInput
    />
    <mat-datepicker-toggle [disabled]="luxDisabled || luxReadonly" [for]="datepicker" [disableRipple]="true" *ngIf="luxShowToggle">
      <lux-icon matDatepickerToggleIcon luxIconName="lux-interface-calendar" class="lux-datepicker-toggle-icon lux-color-blue"></lux-icon>
    </mat-datepicker-toggle>
    <mat-datepicker
      [startView]="luxStartView"
      [startAt]="start"
      [touchUi]="luxTouchUi"
      [disabled]="luxDisabled || luxReadonly"
      [panelClass]="'lux-datepicker-panel'"
      [calendarHeaderComponent]="getHeaderByTheme()"
      #datepicker
    >
    </mat-datepicker>
  </div>
</lux-form-control-wrapper>
