<lux-layout>
  <lux-layout-card-row luxTitle="2 Karten pro Zeile">
    <lux-card luxTitle="Kunde" *luxLayoutRowItem="{}">
      <lux-card-content>
        <form [formGroup]="myGroup">
          <lux-layout formGroupName="customerDetails">
            <lux-layout-form-row>
              <lux-input-ac luxName="name" luxLabel="Name" luxControlBinding="name" *luxLayoutRowItem="{ colSpan: 3 }"></lux-input-ac>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-input-ac
                luxName="postal-code"
                luxLabel="PLZ"
                luxType="number"
                [luxNumberAlignLeft]="true"
                luxControlBinding="zip"
                *luxLayoutRowItem="{ colSpan: 1 }"
              ></lux-input-ac>
              <lux-input-ac
                luxName="form-dual-Stadt"
                luxLabel="Stadt"
                luxType="text"
                luxControlBinding="town"
                *luxLayoutRowItem="{ colSpan: 2 }"
              ></lux-input-ac>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-autocomplete-ac
                [luxOptions]="countries"
                luxOptionLabelProp="name"
                luxLabel="Land"
                [luxLookupDelay]="100"
                luxHint="Wählen Sie ein Land aus"
                [luxSelectAllOnClick]="false"
                luxControlBinding="country"
                *luxLayoutRowItem="{ colSpan: 3 }"
              >
              </lux-autocomplete-ac>
            </lux-layout-form-row>
            <div fxFlex="1 1 auto" formArrayName="streets" class="lux-mt-4">
              <lux-layout-form-row luxWrapAt="none" *ngFor="let street of streetsFormArray.controls; let i = index" [formGroupName]="i">
                <lux-input-ac
                  luxName="street-address"
                  luxLabel="Straße"
                  luxType="text"
                  luxControlBinding="streetName"
                  *luxLayoutRowItem="{ colSpan: 2 }"
                ></lux-input-ac>
                <lux-input-ac
                  luxName="form-dual-Nr"
                  luxLabel="Nr"
                  luxType="number"
                  [luxNumberAlignLeft]="true"
                  luxControlBinding="nr"
                  *luxLayoutRowItem="{}"
                ></lux-input-ac>
                <lux-button
                  luxIconName="lux-interface-delete-bin-5"
                  (luxClicked)="removeStreet(i)"
                  luxTagId="btnRemoveStreet"
                  [luxDisabled]="!myGroup.enabled"
                  [luxRounded]="true"
                  luxColor="warn"
                  *luxLayoutRowItem="{ flex: 'none' }"
                >
                </lux-button>
              </lux-layout-form-row>
              <lux-layout-form-row luxWrapAt="none">
                <div *luxLayoutRowItem="{ empty: true, colSpan: 3 }"></div>
                <lux-button
                  luxIconName="lux-interface-add-1"
                  (luxClicked)="addStreet()"
                  [luxRounded]="true"
                  [luxDisabled]="!latestStreetGroupValid()"
                  luxColor="primary"
                  style="min-height: 70px"
                  luxTagId="btnAddStreet"
                  *luxLayoutRowItem="{ flex: 'none' }"
                >
                </lux-button>
              </lux-layout-form-row>
            </div>
          </lux-layout>
        </form>
      </lux-card-content>
    </lux-card>
    <lux-card luxTitle="Bestellung" *luxLayoutRowItem="{}">
      <lux-card-content>
        <form [formGroup]="myGroup">
          <lux-layout formGroupName="orderDetails">
            <lux-layout-form-row>
              <lux-input-ac luxName="form-dual-Bestellnr" luxLabel="Bestellnr." luxControlBinding="orderNo" *luxLayoutRowItem="{}"></lux-input-ac>
              <lux-input-ac
                luxName="form-dual-Bestellwert"
                luxLabel="Bestellwert"
                luxType="text"
                luxControlBinding="value"
                *luxLayoutRowItem="{}"
              ></lux-input-ac>
            </lux-layout-form-row>
            <lux-layout-form-row>
              <lux-datepicker-ac luxLabel="Gültig ab" luxControlBinding="validDate" *luxLayoutRowItem="{}"></lux-datepicker-ac>
              <lux-input-ac
                luxLabel="Uhrzeit"
                luxType="time"
                luxControlBinding="validTime"
                luxAutocomplete="off"
                *luxLayoutRowItem="{}"
              ></lux-input-ac>
            </lux-layout-form-row>
          </lux-layout>
        </form>
      </lux-card-content>
    </lux-card>
  </lux-layout-card-row>
  <lux-layout-card-row>
    <lux-card luxTitle="Formulardaten" *luxLayoutRowItem="{}">
      <lux-card-content>
        <lux-layout>
          <lux-layout-form-row>
            <div *luxLayoutRowItem="{}">
              <pre>{{ myGroup.value | json }}</pre>
            </div>
          </lux-layout-form-row>
        </lux-layout>
      </lux-card-content>
    </lux-card>
  </lux-layout-card-row>
</lux-layout>
