<example-base-structure
  exampleTitle="Lookup-Combobox"
  exampleIconName="fas fa-binoculars"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90lookup%E2%80%90combobox"
>
  <example-base-content>
    <div fxLayout="column">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-lookup-combobox
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxCustomStyles]="customStyle"
        [luxCustomInvalidStyles]="customInvalidStyle"
        [luxRenderProp]="useRenderFn ? renderFn : renderProp"
        [luxParameters]="parameters"
        [luxBehandlungUngueltige]="behandlungUngueltige"
        [luxTableNo]="tableNo"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [(luxValue)]="value"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators"
        [luxEntryBlockSize]="entryBlockSize"
        [luxWithEmptyEntry]="bLuxWithEmptyEntry"
        [luxLabelLongFormat]="labelLongFormat"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        luxLookupId="normalcombobox"
        luxTagId="lkpexample1"
      >
      </lux-lookup-combobox>
      <div class="lux-highlight-section" fxLayout="row" fxLayoutGap="5px" *ngIf="value">
        <span fxFlex="0 0 auto">Wert:</span>
        <span fxFlex="auto">{{ value | json }}</span>
      </div>
    </div>
    <div fxLayout="column">
      <h3>Multiselect Beispiel</h3>
      <lux-lookup-combobox
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxCustomStyles]="customStyle"
        [luxCustomInvalidStyles]="customInvalidStyle"
        [luxRenderProp]="useRenderFn ? renderFn : renderProp"
        [luxParameters]="parameters"
        [luxBehandlungUngueltige]="behandlungUngueltige"
        [luxTableNo]="tableNo"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxRequired]="required"
        [luxEntryBlockSize]="entryBlockSize"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators"
        [(luxValue)]="multiValue"
        [luxMultiple]="true"
        [luxWithEmptyEntry]="bLuxWithEmptyEntry"
        [luxLabelLongFormat]="labelLongFormat"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        luxLookupId="multicombobox"
        luxTagId="lkpexample2"
      >
      </lux-lookup-combobox>
      <div class="lux-highlight-section" fxLayout="row" fxLayoutGap="5px" *ngIf="multiValue">
        <span fxFlex="0 0 auto">Wert:</span>
        <span fxFlex="auto">{{ multiValue | json }}</span>
      </div>
    </div>
    <div fxLayout="column" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-lookup-combobox
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxCustomStyles]="customStyle"
        [luxCustomInvalidStyles]="customInvalidStyle"
        [luxRenderProp]="useRenderFn ? renderFn : renderProp"
        [luxParameters]="parameters"
        [luxBehandlungUngueltige]="behandlungUngueltige"
        [luxTableNo]="tableNo"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxEntryBlockSize]="entryBlockSize"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxControlBinding]="controlBinding"
        [luxWithEmptyEntry]="bLuxWithEmptyEntry"
        [luxLabelLongFormat]="labelLongFormat"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        luxLookupId="reactivecombobox"
        luxTagId="lkpexample3"
      >
      </lux-lookup-combobox>
      <div fxLayout="column" class="lux-highlight-section">
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <span fxFlex="35px">Wert:</span>
          <span fxFlex="auto">{{ form.get(controlBinding).value | json }}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <div fxFlex="30" fxLayout="row wrap" fxLayoutGap="5px">
            <span fxFlex="35px">Valid:</span>
            <span fxFlex="30px">{{ form.valid }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Dirty:</span>
            <span fxFlex="30px">{{ form.dirty }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Touched:</span>
            <span fxFlex="30px">{{ form.touched }}</span>
          </div>
        </div>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle class="lux-highlight-section" luxLabel="Output-Events loggen" luxHint="(Console --> F12/CMD+ALT+I)" [(luxChecked)]="showOutputEvents" [luxNoTopLabel]="true">
    </lux-toggle>
    <lux-divider [luxInset]="true"></lux-divider>
    <lux-input
      class="lux-highlight-section"
      luxName="lookup-combobox_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input>
    <div class="lux-highlight-section column">
      <lux-input
        luxName="lookup-combobox_luxHint"
        luxLabel="luxHint"
        luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
        [(luxValue)]="hint"
      >
      </lux-input>
      <lux-toggle
        luxName="lookup-combobox_luxHintShowOnlyOnFocus"
        luxLabel="luxHintShowOnlyOnFocus"
        luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
        [(luxChecked)]="hintShowOnlyOnFocus"
        [luxNoTopLabel]="true"
      ></lux-toggle>
    </div>
    <lux-input
      class="lux-highlight-section"
      luxName="lookup-combobox_luxPlaceholder"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Erlaubt es, die Component zu deaktivieren."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <div class="lux-highlight-section column">
      <div fxLayout="row wrap" fxLayoutGap="8px">
        <lux-button
          luxLabel="Enable"
          luxColor="primary"
          (luxClicked)="form.get(controlBinding).enable()"
          [luxDisabled]="!form.get(controlBinding).disabled"
        ></lux-button>
        <lux-button
          luxLabel="Disable"
          luxColor="primary"
          (luxClicked)="form.get(controlBinding).disable()"
          [luxDisabled]="form.get(controlBinding).disabled"
        ></lux-button>
      </div>
      <div class="lux-hint lux-p-2">Erlaubt es, die Component über das Formular zu deaktivieren.</div>
    </div>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxRequired"
      (luxCheckedChange)="changeRequired($event)"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer
        Reactive-Form sind.<br />
        <b
          >In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das
          Form-Control gesetzt.</b
        >
      </lux-form-hint>
    </lux-toggle>
  </example-base-simple-options>
  <example-base-advanced-options>
    <lux-input
      class="lux-highlight-section"
      luxName="lookup-combobox_luxEntryBlockSize"
      luxLabel="luxEntryBlockSize"
      (luxBlur)="start()"
      [(luxValue)]="entryBlockSize"
      luxType="number"
    >
      <lux-form-hint>
        Mit dieser Property wird die Anzahl der maximal dargestellten Optionen bestimmt.<br />
        Wenn mehr Datensätze vorhanden sind und der User in der Liste scrollt, wird der nächste Block gerendert.
      </lux-form-hint>
    </lux-input>
    <div class="lux-highlight-section column">
      <lux-toggle
        luxLabel="Render-Funktion nutzen"
        luxHint="Wenn 'true' wird für 'luxRenderProp' anstelle einer Render-Property (z.B. 'label') eine Callback-Funktion übergeben."
        [(luxChecked)]="useRenderFn"
        [luxNoTopLabel]="true"
      >
      </lux-toggle>
      <pre class="lux-label" *ngIf="useRenderFn"><b>renderFn</b> = {{ renderFnString }}</pre>
      <lux-input
        [(luxValue)]="renderProp"
        luxName="lookup-combobox_luxRenderProp"
        luxLabel="luxRenderProp"
        luxHint="Hier kann die Property festgelegt werden, welche zur Darstellung der einzelnen Einträge genutzt wird."
        *ngIf="!useRenderFn"
      >
      </lux-input>
    </div>
    <div class="lux-highlight-section column">
      <lux-toggle
        luxLabel="Leereintrag erlauben"
        luxHint="Wenn 'true' wird 'luxWithEmptyEntry' auf 'true' gesetzt."
        [(luxChecked)]="bLuxWithEmptyEntry"
        [luxNoTopLabel]="true"
      >
      </lux-toggle>
    </div>
    <div class="lux-highlight-section column">
      <lux-toggle
        luxLabel="luxCustomStyles übergeben"
        luxHint="Wenn 'true', wird der Component ein Objekt mit Styles für valide Elemente übergeben."
        (luxCheckedChange)="changeCustomStyle($event)"
        [luxNoTopLabel]="true"
      >
      </lux-toggle>
      <pre class="lux-label" *ngIf="customStyle"><b>customStyles</b> = {{ customStyle | json }}</pre>
      <lux-toggle
        luxLabel="luxCustomInvalidStyles übergeben"
        luxHint="Wenn 'true', wird der Component ein Objekt mit Styles für invalide Elemente übergeben."
        (luxCheckedChange)="changeCustomInvalidStyle($event)"
        [luxNoTopLabel]="true"
      >
      </lux-toggle>
      <pre
        class="lux-label"
        *ngIf="customInvalidStyle"
      ><b>customInvalidStyles</b> = {{ customInvalidStyle | json }}</pre>
    </div>

    <lux-select
      class="lux-highlight-section"
      luxLabel="luxBehandlungUngueltige"
      luxOptionLabelProp="label"
      [luxOptions]="options"
      [luxSelected]="options[1]"
      (luxSelectedChange)="changeOptionUngueltig($event)"
    >
      <lux-form-hint>
        Über diese Property wird definiert, wie ungültige Einträge behandelt werden.<br />
        Diese können ausgeblendet, deaktiviert oder dargestellt werden.
      </lux-form-hint>
    </lux-select>

    <div class="lux-highlight-section column">
      <lux-toggle
        luxLabel="luxErrorMessage verwenden"
        luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
        [(luxChecked)]="useErrorMessage"
        [luxNoTopLabel]="true"
      >
      </lux-toggle>
      <pre class="lux-label" *ngIf="!useErrorMessage"><b>luxErrorCallback</b> = {{ errorCallbackString }}</pre>
      <lux-input
        luxName="lookup-combobox_luxErrorMessage"
        luxLabel="luxErrorMessage"
        luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
        [(luxValue)]="errorMessage"
        *ngIf="useErrorMessage"
      >
      </lux-input>
    </div>
    <lux-select
      class="lux-highlight-section"
      [luxOptions]="validatorOptions"
      luxOptionLabelProp="label"
      [luxMultiple]="true"
      [luxPickValue]="pickValidatorValueFn"
      luxLabel="luxControlValidators"
      [(luxSelected)]="controlValidators"
    >
      <lux-form-hint>
        Diese Property ermöglicht es einer Component die <b>nicht in einer Reactive-Form</b> ist, auf einfache Art und
        Weise trotzdem Validatoren zu übergeben.<br />
        Diese Property funktioniert nicht für Components in Reactive-Forms, da diese ihre Validatoren über die
        entsprechende FormControl setzen.
      </lux-form-hint>
    </lux-select>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="Lange Labeltexte mit Zeilenumbruch zulassen"
      luxHint="Nur für die Darstellung in Spalten empfohlen, da eine Ausrichtung im Raster nicht gewährleistet werden kann."
      [(luxChecked)]="labelLongFormat"
    >
    </lux-toggle>
  </example-base-advanced-options>
</example-base-structure>
