<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="calc(100% - 55px)">
    <ng-content></ng-content>
  </div>

  <lux-button
    (luxClicked)="clicked(toggleButton)"
    [luxIconName]="iconName"
    class="lux-master-header-collapse"
    luxTagId="master-detail.toggle"
    fxFlex="none"
    fxFlexAlign="start"
    #toggleButton
    luxAriaLabel="{{ getAriaLabelForOpenCloseButton(iconName) }}"
    luxAriaLabelSelector="button"
    [luxAriaExpanded]="iconName === 'lux-interface-arrows-button-left'"
    luxAriaExpandedSelector="button"
    *ngIf="!luxToggleHidden"
  >
  </lux-button>
</div>
