<div
  class="tour-hint"
  [ngStyle]="dynamicArrowStyle"
  [style.left.px]="tourHintPosLeft"
  [style.top.px]="tourHintPosTop"
  tabindex="0"
  *ngIf="luxTarget"
  #tourHintContainer
>
  <div class="arrow" [ngClass]="arrowClass"></div>

  <ng-content></ng-content>
</div>

<div
  class="tour-hint-overlay content"
  [style.left.px]="bgLeftSize"
  [style.top.px]="bgTopSize"
  [style.right.px]="bgRightSize"
  [style.bottom.px]="bgBottomSize"
></div>

<div class="tour-hint-overlay top" [style.height.px]="bgTopSize"></div>

<div class="tour-hint-overlay bottom" [style.height.px]="bgBottomSize"></div>

<div class="tour-hint-overlay left" [style.width.px]="bgLeftSize" [style.top.px]="bgTopSize" [style.height.px]="bgContentHeight"></div>

<div class="tour-hint-overlay right" [style.width.px]="bgRightSize" [style.top.px]="bgTopSize" [style.height.px]="bgContentHeight"></div>
