<example-base-structure
  exampleTitle="Checkbox"
  exampleIconName="fas fa-check-square"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90checkbox"
>
  <example-base-content fxFlex="column">
    <div fxLayout="column" fxLayoutGap="20px">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-checkbox-ac
        [(luxChecked)]="value"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
      >
      </lux-checkbox-ac>
      <div class="lux-highlight-section" fxLayout="row" fxLayoutGap="5px" *ngIf="value !== undefined" style="margin-top: 16px">
        <span fxFlex="0 0 auto">Wert:</span>
        <span fxFlex="auto">{{ value | json }}</span>
      </div>
    </div>
    <div fxLayout="column" [formGroup]="form" fxLayoutGap="20px">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-checkbox-ac
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxControlBinding]="controlBinding"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
      >
      </lux-checkbox-ac>
      <div fxLayout="column" class="lux-highlight-section">
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <span fxFlex="35px">Wert:</span>
          <span fxFlex="auto">{{ form.get(controlBinding).value | json }}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="lux-p-2">
          <div fxFlex="30" fxLayout="row wrap" fxLayoutGap="5px">
            <span fxFlex="35px">Valid:</span>
            <span fxFlex="30px">{{ form.valid }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Dirty:</span>
            <span fxFlex="30px">{{ form.dirty }}</span>
          </div>
          <div fxFlex="30" fxLayout="row">
            <span fxFlex="0 0 auto">Touched:</span>
            <span fxFlex="30px">{{ form.touched }}</span>
          </div>
        </div>
      </div>
    </div>
    <h3>Baseline-Vergleich mit einem Input-Authentic</h3>
    <div fxLayout="row" fxLayoutGap="20px">
      <lux-checkbox-ac fxFlex="50" [(luxChecked)]="value">
        <lux-form-label>Dieses ist ein lux-form-label</lux-form-label>
        <lux-form-hint>Dieses ist ein lux-form-hint</lux-form-hint>

      </lux-checkbox-ac>
      <lux-input-ac fxFlex="50" luxLabel="Testinput" luxHint="Dies ist ein Hinweis" luxPlaceholder="Halllo lieber Mensch"></lux-input-ac>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
      <lux-checkbox-ac fxFlex="100" luxLabel="Testbox mal schauen ob es umbricht oder wie viel Text benötigt wird" luxHint="Hallo Hinweis" [(luxChecked)]="value"></lux-checkbox-ac>
      <lux-input-ac fxFlex="100" luxLabel="Testinput" luxHint="Dies ist ein Hinweis" luxPlaceholder="Halllo lieber Mensch"></lux-input-ac>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-input
      class="lux-highlight-section"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input>
    <div fxLayout="column" class="lux-highlight-section">
      <lux-input
        luxName="checkbox_luxHint"
        luxLabel="luxHint"
        luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
        [(luxValue)]="hint"
      >
      </lux-input>
      <lux-toggle
        luxName="checkbox_luxHintShowOnlyOnFocus"
        luxLabel="luxHintShowOnlyOnFocus"
        luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
        [(luxChecked)]="hintShowOnlyOnFocus"
        [luxNoTopLabel]="true"
      ></lux-toggle>
    </div>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="disabled"
      luxLabel="luxDisabled"
      luxHint="Erlaubt es, die Component zu deaktivieren."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <div class="lux-highlight-section column">
      <div fxLayout="row wrap">
        <lux-button
          luxLabel="Enable"
          (luxClicked)="form.get(controlBinding).enable()"
          [luxDisabled]="!form.get(controlBinding).disabled"
          luxColor="primary"
        ></lux-button>
        <lux-button
          luxLabel="Disable"
          (luxClicked)="form.get(controlBinding).disable()"
          [luxDisabled]="form.get(controlBinding).disabled"
          luxColor="primary"
        ></lux-button>
      </div>
      <div class="lux-hint lux-p-2">Erlaubt es, die Component über das Formular zu deaktivieren.</div>
    </div>
    <lux-toggle
      class="lux-highlight-section"
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle>
    <lux-toggle
      class="lux-highlight-section"
      luxLabel="luxRequired"
      (luxCheckedChange)="changeRequired($event)"
      [luxNoTopLabel]="true"
    >
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer
        Reactive-Form sind.<br />
        <b
          >In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das
          Form-Control gesetzt.</b
        >
      </lux-form-hint>
    </lux-toggle>
  </example-base-simple-options>
</example-base-structure>

