<example-base-structure
  exampleTitle="Checkbox-Authentic"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90checkbox-v18"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-checkbox-ac
        [(luxChecked)]="value"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [luxDense]="denseFormat"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxNoTopLabel]="true"
      >
      </lux-checkbox-ac>
      <example-value [value]="value"></example-value>
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-checkbox-ac
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxControlBinding]="controlBinding"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxNoTopLabel]="true"
        [luxDense]="denseFormat"
      >
      </lux-checkbox-ac>
      <example-form-value [form]="form" [controlBinding]="controlBinding"></example-form-value>
    </div>
    <div class="lux-mt-5">
      <lux-textbox luxTitle="Anwendungsbeispiel für luxNoTopLabel" luxIcon="lux-interface-favorite-like-1" luxColor="blue">
        <div [formGroup]="agb" class="lux-mt-4 demo-form">
          <h4>Bitte bestätigen Sie, dass Sie die folgenden Bedingungen gelesen haben:</h4>
          <lux-checkbox-ac
            [luxNoTopLabel]="true"
            luxControlBinding="checkbox1"
            luxLabel="{{ exampleText }}"
            [luxDense]="denseFormat"
          ></lux-checkbox-ac>
          <lux-checkbox-ac
            [luxNoTopLabel]="true"
            luxControlBinding="checkbox2"
            luxLabel="{{ exampleText }}"
            [luxDense]="denseFormat"
          ></lux-checkbox-ac>
          <lux-checkbox-ac
            [luxNoTopLabel]="true"
            luxControlBinding="checkbox3"
            luxLabel="{{ exampleText }}"
            [luxDense]="denseFormat"
          ></lux-checkbox-ac>
        </div>
        <div class="demo-button-row">
          <lux-button
            [luxStroked]="true"
            luxColor="primary"
            luxLabel="Formular zurücksetzen"
            (luxClicked)="exampleValidator(false)"
          ></lux-button>
          <lux-button [luxFlat]="true" luxColor="primary" luxLabel="Weiter" (luxClicked)="exampleValidator(true)"></lux-button>
        </div>
      </lux-textbox>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac luxLabel="luxLabel" luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen." [(luxValue)]="label">
    </lux-input-ac>
    <lux-input-ac
      luxName="checkbox_luxHint"
      luxLabel="luxHint"
      luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
      [(luxValue)]="hint"
    >
    </lux-input-ac>
    <lux-toggle-ac
      luxName="checkbox_luxHintShowOnlyOnFocus"
      luxLabel="luxHintShowOnlyOnFocus"
      luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
      [(luxChecked)]="hintShowOnlyOnFocus"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieser Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle-ac>
    <example-form-disable [form]="form" [controlBinding]="controlBinding" [(disabled)]="disabled"></example-form-disable>
  </example-base-simple-options>
</example-base-structure>
