<example-base-structure
  exampleTitle="Timestamp"
  exampleIconName="fas fa-clock"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/luxRelativeTimestamp"
>
  <example-base-content [exampleCentered]="true">
    <div fxLayout="column" class="lux-highlight-section" fxLayoutGap="4px">
      <div fxLayout="row" fxLayoutGap="4px">
        <span fxFlex="0 0 175px">
          mit luxRelativeTimestamp:
        </span>
        <span fxFlex="auto">
          <b>
            {{ now | luxRelativeTimestamp: defaultText:prefix }}
          </b>
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="4px">
        <span fxFlex="0 0 175px">
          nur Timestamp:
        </span>
        <span fxFlex="auto">
          <b>
            {{ now }}
          </b>
        </span>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <div class="lux-highlight-section" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" >
      <lux-datepicker
        luxLabel="timestamp"
        [(luxValue)]="nowISO"
        (luxValueChange)="updateNow($event)"
        fxFlex="0 1 calc(80%-16px)"
      >
        <lux-form-hint>
          Hier kann ein Datum für das Beispiel eingetragen werden.<br />
          Das Beispiel nimmt dann den Timestamp aus dem Date-Objekt.
        </lux-form-hint>
      </lux-datepicker>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 1 20%" fxLayoutGap="8px">
        <lux-button
          luxIconName="lux-interface-delete-1"
          luxColor="warn"
          luxTagId="timestamp.btn.clear"
          [luxRounded]="true"
          (luxClicked)="clearNow()"
        ></lux-button>
        <lux-button
          luxIconName="fas fa-undo"
          luxColor="primary"
          luxTagId="timestamp.btn.undo"
          [luxRounded]="true"
          (luxClicked)="resetNow()"
        ></lux-button>
      </div>
     
    </div>
    <lux-input
      class="lux-highlight-section"
      luxAutocomplete="off"
      luxName="timestamp_defaultText"
      luxLabel="defaultText"
      luxHint="Dieser Parameter bestimmt den Standard-Text welcher wiedergegeben wird wenn der Timestamp nicht gegeben ist."
      [(luxValue)]="defaultText"
    >
    </lux-input>
    <lux-input luxName="timestamp_prefix" class="lux-highlight-section" luxAutocomplete="off" luxLabel="prefix" [(luxValue)]="prefix">
      <lux-form-hint>
        Dieser Parameter legt den Präfix für die relativen Zeitangaben fest.<br />
        Standardmäßig werden die Präfixe 'in' und 'vor' benutzt.
      </lux-form-hint>
    </lux-input>
  </example-base-simple-options>
</example-base-structure>
