<example-base-structure
  exampleTitle="Timestamp"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/luxRelativeTimestamp"
>
  <example-base-content [exampleCentered]="true">
    <div fxLayout="column" class="lux-highlight-section" fxLayoutGap="4px" fxFlex="100">
      <div fxLayout="row" fxLayoutGap="4px">
        <span fxFlex="0 0 175px">
          mit luxRelativeTimestamp:
        </span>
        <span fxFlex="auto">
          <b>
            {{ now | luxRelativeTimestamp: defaultText:prefix }}
          </b>
        </span>
      </div>
      <div fxLayout="row" fxLayoutGap="4px">
        <span fxFlex="0 0 175px">
          nur Timestamp:
        </span>
        <span fxFlex="auto" *ngIf="now">
          <b>
            {{ now }}
          </b>
        </span>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <div
      class="lux-highlight-section"
      fxLayout.gt-sm="row"
      fxLayout.lt-md="column"
      fxLayoutAlign.gt-sm="space-between start"
      fxLayoutAlign.lt-md="space-between stretch"
      fxLayoutGap.gt-sm="16px"
      fxLayoutGap.lt-md="8px" >
      <lux-datepicker-ac
        luxLabel="timestamp"
        [(luxValue)]="nowISO"
        (luxValueChange)="updateNow($event)"
        fxFlex.gt-sm="0 1 calc(100%-114px)"
      >
        <lux-form-hint>
          Hier kann ein Datum für das Beispiel eingetragen werden.<br />
          Das Beispiel nimmt dann den Timestamp aus dem Date-Objekt.
        </lux-form-hint>
      </lux-datepicker-ac>
      <div
        fxLayout="row"
        fxLayoutAlign.gt-sm="end center"
        fxLayoutAlign.lt-md="center center"
        fxFlex.gt-sm="1 1 98px"
        fxLayoutGap="8px"
        class="lux-mt-4">
        <lux-button
          luxIconName="lux-interface-delete-1"
          luxColor="warn"
          luxTagId="timestamp.btn.clear"
          [luxRounded]="true"
          (luxClicked)="clearNow()"
        ></lux-button>
        <lux-button
          luxIconName="lux-interface-arrows-turn-backward"
          luxColor="primary"
          luxTagId="timestamp.btn.undo"
          [luxRounded]="true"
          (luxClicked)="resetNow()"
        ></lux-button>
      </div>
    </div>
    <lux-input-ac
      class="lux-highlight-section"
      luxAutocomplete="off"
      luxName="timestamp_defaultText"
      luxLabel="defaultText"
      luxHint="Dieser Parameter bestimmt den Standard-Text welcher wiedergegeben wird wenn der Timestamp nicht gegeben ist."
      [(luxValue)]="defaultText"
    >
    </lux-input-ac>
    <lux-input-ac luxName="timestamp_prefix" class="lux-highlight-section" luxAutocomplete="off" luxLabel="prefix" [(luxValue)]="prefix">
      <lux-form-hint>
        Dieser Parameter legt den Präfix für die relativen Zeitangaben fest.<br />
        Standardmäßig werden die Präfixe 'in' und 'vor' benutzt.
      </lux-form-hint>
    </lux-input-ac>
  </example-base-simple-options>
</example-base-structure>
