<example-base-structure
  exampleTitle="Progress"
  exampleIconName="fas fa-battery-half"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components/wiki/lux%E2%80%90progress"
>
  <example-base-content>
    <div fxLayout="column" fxLayoutGap="24px">
      <div
        fxLayout="column"
        fxLayoutGap="12px"
        class="lux-app-data-bg lux-highlight-section"
        [ngStyle]="{ backgroundColor: backgroundColor }"
      >
        <h3 class="lux-highlight-section-label">Default</h3>
        <lux-progress
          *ngFor="let color of colors; let i = index"
          luxType="Progressbar"
          luxTagId="pb-example-default{{ i }}"
          [luxColor]="color"
          [luxValue]="value"
          [luxMode]="mode"
          [luxSize]="size"
        >
        </lux-progress>
      </div>
      <div fxLayout="column" fxLayoutGap="12px" class="lux-hover-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Hover</h3>
        <lux-progress
          *ngFor="let color of colors; let i = index"
          luxType="Progressbar"
          luxTagId="pb-example-hover{{ i }}"
          [luxColor]="color"
          [luxValue]="value"
          [luxMode]="mode"
          [luxSize]="size"
        >
        </lux-progress>
      </div>
      <div fxLayout="column" fxLayoutGap="12px" class="lux-selected-bg lux-highlight-section">
        <h3 class="lux-highlight-section-label">Focus</h3>
        <lux-progress
          *ngFor="let color of colors; let i = index"
          luxType="Progressbar"
          luxTagId="pb-example-focus{{ i }}"
          [luxColor]="color"
          [luxValue]="value"
          [luxMode]="mode"
          [luxSize]="size"
        >
        </lux-progress>
      </div>
    </div>
  </example-base-content>
  <example-base-simple-options>
    <lux-select class="example-highlight-config-option" [luxOptions]="sizes" [(luxSelected)]="size" luxLabel="luxSize">
      <lux-form-hint>
        Diese Property legt die Größe der Component fest.<br />
        Dabei sind die Eingaben 'small', 'medium' und 'large' erlaubt.
      </lux-form-hint>
    </lux-select>
    <div class="example-highlight-config-option" fxLayout="column">
      <lux-select
        [luxOptions]="modes"
        [(luxSelected)]="mode"
        luxLabel="luxMode"
        luxHint="Die Property bestimmt ob die ProgressBar im Modus 'determinate' (= endlich) oder 'indeterminate' (= endlos) ist."
      >
      </lux-select>
      <ng-container *ngIf="mode === 'determinate'">
        <lux-input
          luxLabel="luxValue"
          luxHint="Diese Property setzt den Wert in dem ProgressBar, vorausgesetzt es ist im Modus 'determinate'"
          luxType="number"
          [(luxValue)]="value"
        >
        </lux-input>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
          <lux-button luxLabel="+10" (luxClicked)="addBarProgress()" [luxRaised]="true"></lux-button>
          <lux-button luxLabel="-10" (luxClicked)="subtractBarProgress()" [luxRaised]="true"></lux-button>
        </div>
      </ng-container>
    </div>
    <lux-input
      luxName="button_background_Color"
      class="example-highlight-config-option"
      [(luxValue)]="backgroundColor"
      luxLabel="Hintergrundfarbe"
    >
      <lux-form-hint>Kontrast zwischen Element und Hintergrund prüfen.</lux-form-hint>
    </lux-input>
  </example-base-simple-options>
</example-base-structure>
