<lux-panel
  [luxExpanded]="luxExpanded"
  [luxHideToggle]="luxHideToggle"
  [luxDisabled]="luxDisabled"
  [luxExpandedHeaderHeight]="luxExpandedHeaderHeight"
  [luxCollapsedHeaderHeight]="luxCollapsedHeaderHeight"
  (luxOpened)="log(showOutputEvents, 'luxOpened', $event)"
  (luxClosed)="log(showOutputEvents, 'luxClosed', $event)"
  (luxExpandedChange)="log(showOutputEvents, 'luxExpandedChange', $event)"
  [luxTogglePosition]="luxTogglePosition"
>
  <lux-panel-header-title>Panel #4 - Custom Panel</lux-panel-header-title>
  <lux-panel-header-description>Lorem ipsum dolor sit amet, consetetur sadipscing elitr </lux-panel-header-description>
  <lux-panel-content>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
      est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
      labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
  </lux-panel-content>
</lux-panel>
