:host {
  display: block;
  overflow: hidden;

  .lux-message-box {
    margin-bottom: 2px;
  }

  .lux-display-none {
    display: none;
  }

  ::ng-deep {
    /* Anpassungen an den Styles der LuxButtons und der zugrunde liegenden LuxIcons */
    lux-button {
      & ::ng-deep {
        button,
        lux-icon {
          width: 32px;
          max-width: 32px;
          min-width: 32px;
          font-size: 0.75em;
          padding: 0;
        }

        .mat-button-ripple,
        .mat-button-focus-overlay {
          display: none;
        }
      }
    }

    .lux-message-container {
      padding: 0 24px;
    }

    .lux-hidden {
      visibility: hidden;
    }
  }

  mat-paginator {
    ::ng-deep .mat-paginator-container {
      padding: 0 20px !important;
    }
  }
}
