:host {
  display: block;
  overflow: hidden;
  margin: 10px 20px 20px 10px;

  .lux-message-box-content {
    margin: var(--lux-theme-outline-width);
  }

  .lux-display-none {
    display: none;
  }

  ::ng-deep {

    .lux-message-container {
      padding: var(--lux-theme-outline-width) 24px;
    }

    .lux-hidden {
      visibility: hidden;
    }
  }

  mat-paginator {
    ::ng-deep .mat-paginator-container {
      padding: 0 20px !important;
    }
  }
}
