@import '../../../../theming/luxcommon';

.lux-highlight {
  color: $dark-primary-text;
}

mat-card-subtitle {
  color: $dark-secondary-text;
}

.lux-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 400;
  padding: 0 8px 0 0;
}

.lux-icon-padding {
  padding-left: 42px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: 500;
  margin-block-start: 1.2em;
  margin-block-end: 14px;
}

::ng-deep .lux-icon lux-icon > i,
::ng-deep .lux-icon lux-icon > mat-icon,
.lux-card-title {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
}

::ng-deep {
  /*
    Setze den Margin (links und rechts) auf 1px, damit sich die LUX-CARDS, welche sich innerhalb eines Tabs befinden,
    korrekt an der Y-Achse (Kartentitel, Tab und Inhalt) ausrichten. 1px damit der Schatten bzw. die Begrenzung links
    sichtbar bleibt. Bei 0px würde der Schatten bzw. die Begrenzung links fehlen.
  */
  .lux-tab-content .lux-card {
    margin-right: 1px;
    margin-left: 1px;
  }

  lux-card-info {
    lux-icon {
      > i,
      > mat-icon {
        padding: 0 !important;
      }
    }
  }

  mat-card-actions.lux-card-actions {
    margin-right: 0;
    margin-left: 0;
  }

  .lux-card-content,
  .lux-card-content-expanded {
    width: 100%;
    display: block;
  }

  .lux-card-content-expanded {
    background: white;
  }

  .lux-card-content-expanded {
    overflow: hidden;
  }
}

.lux-card-title-container {
  overflow-y: hidden;
  margin: 0 10px 0 0;
}

.lux-card-content-container {
  padding: 4px;
  > * {
    margin-bottom: 0;
  }
}

.lux-expanded-button {
  ::ng-deep button {
    min-width: 30px;
    height: 30px;
    padding: 0;

    i {
      padding: 0;
    }
  }
}
