<mat-card
  appearance="outlined"
  (click)="clicked($event)"
  (keydown.enter)="clicked($event)"
  (keydown.space)="clicked($event)"
  [attr.tabindex]="!showButtons && hasCardAction && !luxDisabled && luxUseTabIndex ? '0' : null"
  luxTagIdHandler
  [luxTagId]="luxTagId"
  class="lux-card"
  [ngClass]="{ 'lux-cursor': !showButtons && hasCardAction && !luxDisabled }"
>
  <div class="lux-overflow-y-hidden lux-card-content-container lux-flex lux-flex-col">
    <div class="lux-card-header">
      <div class="lux-card-icon-container" *ngIf="showIcon">
        <ng-content select="lux-icon"></ng-content>
      </div>

      <ng-container [ngSwitch]="luxHeading">
        <h1
          *ngSwitchCase="1"
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h1>
        <h2
          *ngSwitchDefault
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h2>
        <h3
          *ngSwitchCase="3"
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h3>
        <h4
          *ngSwitchCase="4"
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h4>
        <h5
          *ngSwitchCase="5"
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h5>
        <h6
          *ngSwitchCase="6"
          class="lux-card-title"
          [ngClass]="{
            'lux-hyphenate': luxTitleLineBreak,
            'lux-crop': !luxTitleLineBreak,
            'lux-display-none': (!luxTitle || luxTitle.length === 0) && !infoComponent
          }"
          title="{{ luxTitleTooltip ? luxTitleTooltip : luxTitleLineBreak ? '' : luxTitle }}"
        >
          {{ luxTitle }}
        </h6>
      </ng-container>

      <div class="lux-card-info-container lux-justify-self-end" *ngIf="infoComponent">
        <ng-content select="lux-card-info"></ng-content>
      </div>
      <div
        title="{{ luxSubTitleTooltip ? luxSubTitleTooltip : luxTitleLineBreak ? '' : luxSubTitle }}"
        class="lux-card-subtitle"
        [ngClass]="{
          'lux-hyphenate': luxTitleLineBreak,
          'lux-crop': !luxTitleLineBreak,
          'lux-display-none': !luxSubTitle || luxSubTitle.length === 0
        }"
      >
        {{ luxSubTitle }}
      </div>
    </div>
    <!--Ende Card-header-->
    <mat-card-content class="lux-flex lux-flex-col" [ngClass]="{ 'lux-pt-4': contentComponent }">
      <!-- Der normale Card-Content ist immer sichtbar. -->
      <div class="lux-card-content lux-flex lux-flex-col lux-gap-3">
        <ng-content select="lux-card-content"></ng-content>
        <lux-button
          *ngIf="showExpandedToggle"
          luxColor="primary"
          [luxIconName]="luxExpanded ? 'lux-interface-arrows-button-up' : 'lux-interface-arrows-button-down'"
          [luxLabel]="luxExpanded ? luxExpandedLabelClose : luxExpandedLabelOpen"
          [luxIconShowRight]="false"
          (luxClicked)="changeContentExpansion($event)"
          [luxThrottleTime]="250"
          luxTagId="expandedButton"
          class="lux-expanded-button"
        ></lux-button>
      </div>
      <!-- Der expanded Card-Content ist nur sichtbar, wenn der Ausklapp-Button geklickt wurde. -->
      <div class="lux-card-content-expanded lux-mt-4" *ngIf="luxExpanded && contentExpandedComponent">
        <ng-content select="lux-card-content-expanded"></ng-content>
      </div>
    </mat-card-content>

    <mat-card-actions class="lux-card-actions lux-mt-4" [ngClass]="{ 'lux-display-none-important': !showButtons }" #luxActionButtons>
      <ng-content select="lux-card-actions"></ng-content>
    </mat-card-actions>
  </div>
</mat-card>
